@charset "utf-8";

/* header, footer, subpage 공통 네비게이션 ui */

/* 퍼블리싱 알림 */
.zodiac_banner {
	position: fixed; bottom: 0; left: 0; z-index: 60;
	display: flex;	
	padding: 12px 0;
	width: 100%; min-height: 50px;
	justify-content: center; align-items: center;
	color: #f5f5f5; font-size: 1.8rem; word-break: keep-all;
	background: #1a1a1a;
	transition: 0.4s;
}
.zodiac_banner div {
	padding: 0 60px;
	width: 100%;
	text-align: center;
}
.zodiac_banner .btn_close {
	position: absolute; top: 50%; right: 20px;
	display: inline-block;
	width: 22px; height: 22px;
	font-size: 0; line-height: 0;
	background: url(../../images/client/popup/btn_banner_close.png) no-repeat center; background-size: contain;
	transform: translateY(-50%);
}

/* 로딩중 */
#loading {
	width: 100%; height: 100%;
	position: fixed; top: 0; bottom: 0;
	background: rgba(255,255,255,0.6);
	z-index: 1000;
}
#loading #loading_image{
	position: absolute; top: 50%; left: 50%;
	text-align: center;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
#loading #loading_image span {
	display: block;
	padding: 0px 5px;
	font-weight: bold; font-size: 1.2rem;
}

/* 브라우저 버전 알림 */
.lt-ie11 #browser_alert {
	display: block;
}
#browser_alert {
	display: none;
	position: fixed; z-index: 2000;
	padding: 10px;
	width: 100%; 
	color: #fff; font-size: 14px; line-height: 1.5em; vertical-align: middle; text-align:center; 
	background-color: #db4c3b;
}
#browser_alert a {
	color: #f9c461;
}
.btn_browseralert_close {
	display: inline-block; 
	margin-top: -2px; margin-left: 10px; 
	width: 13px; height: 13px; 
	font-family: sans-serif; line-height: 1.5em; vertical-align: middle; text-indent: -9999px; 
	background: url(../../images/client/common/btn_browseralert_close.png) no-repeat center; background-size: contain; 
	outline: none; border: none;
}

/* 에러페이지 */
.error_wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 20px 0;
	width: 100%; min-height: 100%; 
	justify-content: center; align-items: center;
	background-color: #f1f1f1;
}
.error_box {
	padding: 20px 280px 20px 20px;
	width: 720px; min-height: 200px;
	text-align: left; color: #727272;
	background: url(../../images/client/common/bg_err.png) no-repeat right 40%; background-size: auto 200px;
}
.error_box strong {
	display: block;
	margin-bottom: 20px;
	font-size: 2.8rem; color: #464646;
}
.error_box p {
	margin-bottom: 20px;
	font-size: 1.7rem; line-height: 1.8em;
}
.error_box a {
	display: inline-block;
	padding: 10px 20px;
	font-size: 1.6rem; color: #fff;
	background: #727272;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

/* skip-nav */
.skip_nav a {
	position: absolute; top: -200px; left: 50%; z-index: 1000;
	display: inline-block;
	padding: 0.8em 1.5em;
	color: #fff; font-size: 1.7rem; text-align: center;
	background-color: #265097;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 4px 10px rgba(0,0,0,0.5);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	outline: none;
}
.skip_nav a:focus {
	top: 0;
}

/* 페이지 전체 영역 */
body { overflow: visible; }
.page_wrap {
	padding-top: 100px;
	width: 100%; min-height: 100%;
	position: relative;
}

/* header */
.header_wrap {
	position: fixed; top: 0; z-index: 100;
	margin-top: 20px;
	width: 100%; height: 80px; 
	text-align: right; 
	background-color: #fff;
	border: 1px solid #e1e1e1;
	box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
.header_wrap::before {
	position: absolute; top: -20px; left: 0;
	content: "";
	display: block;
	width: 100%; height: 20px;
	background: #32437c;
}
.header_wrap > .grid_content {
	position: relative;
	height: 100%;
}
.header_logo {
	position: absolute; top: 50%; left: 0;
	height: 46px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.header_logo a {
	display: block;
	height: 100%;
}
.header_logo img {
	height: 100%;
	vertical-align: top;
}
.gnb_wrap {
	position: absolute; top: 50%; left: 35%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.gnb_1depth {
	display: inline-block;
	padding: 0 35px;
}
.gnb_1depth a {
	display: block;
	color: #3a3a3a; font-family: GyeonggiTitle, sans-serif; font-size: 1.9rem; font-weight: 600;
	-webkit-transform: skew(-0.03deg);
	-moz-transform: skew(-0.03deg);
	-o-transform: skew(-0.03deg);
	transform: skew(-0.03deg);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.user_info {
	display: inline-block;
	margin-top: 28px;
	vertical-align: top;
}
.user_info::before {
	content: "";
	display: inline-block;
	margin-right: 2px;
	width: 13px; height: 16px;
	vertical-align: middle;
	background: url(../../images/client/common/icon_user_data.png) no-repeat center;
}
.user_info span {
	font-weight: 600; vertical-align: top;
}
.btn_log {
	display: inline-block;
	margin-top: 22px; margin-left: 20px; padding: 0 18px;
	height: 34px;
	color: #fff; font-size: 1.5rem; line-height: 34px;
	background: #83b4e2;
	-webkit-border-radius: 17px;
	-moz-border-radius: 17px;
	border-radius: 17px;
}
.btn_log::before {
	content: "";
	display: inline-block;
	margin-right: 8px; margin-bottom: 5px;
	width: 18px; height: 21px;
	vertical-align: middle;
	background-repeat: no-repeat; background-position: center;
}
.btn_login::before {
	background-image: url(../../images/client/common/btn_login.png);
}
.btn_logout::before {
	background-image: url(../../images/client/common/btn_logout.png);
}

.info_link {
	position: relative;
	display: inline-block;
	margin-top: 27px; margin-left: 20px;
	vertical-align: top; text-align: center;
}
.btn_infolink {
	display: block;
	width: 24px; height: 24px;
	font-size: 0; line-height: 0; 
	background: url(../../images/client/common/btn_infolink.png) no-repeat center;
}
.info_link ul {
	display: none;
	position: absolute; top: 46px; left: 50%;
	margin-left: -110px; padding: 22px 0;
	width: 220px;
	background: #fff;
	border: 1px solid #e1e1e1;
}
.info_link ul::before {
	position: absolute; top: -14px; left: 50%;
	content: "";
	display: inline-block;
	margin-left: -12px;
	width: 24px; height: 14px;
	background: url(../../images/client/common/bg_infolink.png) no-repeat center;
}
.info_link li a {
	display: block;
	padding: 14px 0;
	color: #303030; font-weight: 500;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.btn_menu {
	display: none;
}


/* footer */
.footer_wrap {
	padding: 15px 0;
	color: #848484; font-size: 0; line-height: 0; 
	background: #f2f2f2;
}
.footer_top {
	margin-bottom: 15px;
}
.footer_top a {
	position: relative;
	font-size: 1.5rem; line-height: 1.5em;
}
.footer_top a:first-child {
	font-weight: 500;
}
.footer_top a:first-child::after {
	content: "|";
	margin: 0 20px;
	font-weight: 400;
}
.footer_info dl {
	display: inline-block; 
	margin-bottom: 15px;
	width: 50%;
	font-size: 1.5rem; line-height: 1.5em; vertical-align: top; letter-spacing: -0.05em;
}
.footer_info dl:first-child {
	padding-right: 0.5%;
}
.footer_info dl:last-child {
	padding-left: 0.5%;
}
.footer_info dt {
	margin-bottom: 5px;
	font-weight: 500;
}
.footer_info dd {
	display: inline-block;
	line-height: 1.6em;
}
.footer_info dd:first-of-type {
	display: block;
}
.footer_info dd::after {
	content: "/";
	margin: 0 3px;
}
.footer_info dd:last-child::after {
	display: none;
}
.copyright {
	font-size: 1.5rem;
}

/* 서브페이지 전체 영역 */
.contents_wrap {
	position: relative;
	padding: 50px 0;
	overflow: hidden;
}

/* lnb */
.lnb_wrap {
	position: relative; z-index: 90;
	width: 100%;
	background-color: #fbfbfb;
}
.lnb_wrap ul {
	font-size: 0; line-height: 0;
}
.lnb_wrap li {
	display: inline-block;
}
.lnb_wrap li a {
	display: block;
	padding: 0 30px;
	height: 50px;
	color: #828996; font-family: GyeonggiTitle, sans-serif; font-size: 1.9rem; line-height: 50px;
	-webkit-transform: skew(-0.03deg);
	-moz-transform: skew(-0.03deg);
	-o-transform: skew(-0.03deg);
	transform: skew(-0.03deg);
}
.lnb_wrap li.on a {
	color: #265097;
	background: #e9ebf1;
}

/* 교외활동 내 그래프 */
.multigraph {
	width: 100%; height: 30px;
	font-size: 0; line-height: 0;
}
.multigraph p {
	display: inline-block;
	position: relative;
}

@media screen and (max-width:1480px) {
	
	/* header 1480 */
	.info_link ul {
		left: auto; right: -10px;
	}
	.info_link ul::before {
		left: auto; right: 10px;
		margin-left: 0;
	}
}

@media screen and (max-width:1280px) {
	
	/* header 1280 */
	.info_link {
		margin-left: 15px;
	}
	.info_link ul {
		padding: 10px 0;
	}
	.btn_log {
		margin-left: 10px;
	}
	.gnb_1depth {
		padding: 0 20px;
	}
	
	/* footer 1280 */
	.footer_info dd:first-of-type {
		display: inline;
	}
	
	/* lnb 1280 */
	.lnb_wrap li a {
		height: 45px;
		font-size: 1.7rem; line-height: 45px;
	}
	
}

@media screen and (max-width: 1079px) {
	
	
	
}

/* ========================= hover ========================= */
@media screen and (min-width:1025px) {

	/* 에러페이지 hover */
	.error_box a:hover {
		background-color: #454545;
	}
	
	/* header hover */
	.gnb_1depth a:hover {
		color: #265097;	
	}
	.info_link li a:hover {
		color: #193296;
		background: #e2ecf3;
	}

}
/* ========================= //hover ========================= */

@media screen and (max-width:1024px) {

	/* header 1024 */
	.page_wrap {
		padding-top: 60px;
	}
	.header_wrap {
		margin-top: 0;
		height: 60px;
		border: 0;
	}
	.header_wrap::before {
		display: none;
	}
	.header_wrap > .grid_content {
		width: 100%;
	}
	.user_info, .btn_infolink {
		display: none;
	}
	
	.info_link {
		display: block;
		margin: 0;
		text-align: left;
	}
	.info_link ul {
		position: static;
		display: block;
		margin-left: 0; padding: 0;
		width: 100%;
		border: none;
	}
	.info_link ul::before {
		display: none;
	}
	.info_link li {
		margin-bottom: 2px;
	}
	.info_link li a {
		padding: 15px 4.5%;
		color: #525b6c; font-family: GyeonggiTitle, sans-serif; font-size: 1.6rem; font-weight: 600;
		-webkit-transform: skew(-0.03deg);
		-moz-transform: skew(-0.03deg);
		-o-transform: skew(-0.03deg);
		transform: skew(-0.03deg);
		background: #e9edf0;
	}
	
	
	.header_logo {
		left: 50%;
		height: 40px;
		-webkit-transform: translate(-50%,-50%);
		-moz-transform: translate(-50%,-50%);
		-o-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
	}
	
	.gnb_wrap {
		top: 60px; left: -100%;
		display: block;
		width: 80%; height: calc( 100vh - 55px );
		background: #fff;
		transform: none;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}
	.gnb_list li {
		display: block;
	}
	.gnb_list a {
		padding: 10px 4.5%;
		font-size: 1.6rem; font-weight: 500; text-align: left;
	}
	.gnb_1depth {
		margin-bottom: 2px; padding: 0;
	}
	.gnb_1depth > a {
		padding: 15px 4.5%;
		background: #f5f2ed;
	}
	
	.btn_log {
		position: absolute; right: 3%; top: 50%; 
		margin-top: -12px; padding: 0;
		width: 22px; height: 24px;
		font-size: 0; line-height: 0;
		background-color: rgba(0,0,0,0); background-repeat: no-repeat; background-position: center; background-size: contain;
		border-radius: 0;
	}
	.btn_login {
		padding-left: 0;
		background-image: url(../../images/client/common/icon_login_mobile.png);
	}
	.btn_logout {
		padding-left: 0;
		background-image: url(../../images/client/common/icon_logout_mobile.png);
	}
	.btn_login::before, .btn_logout::before {
		display: none;
	}
	
	.btn_menu {
		position: absolute; left: 3%; top: 50%;
		display: block;
		width: 23px; height: 14px;
		background: rgba(0,0,0,0);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.btn_menu span {
		display: block;
		width: 23px; height: 2px;
		margin: 0 auto 4px;
		background-color: #231f20;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	.btn_menu span:last-child {
		margin-bottom: 0;
	}
	
	body.on { overflow: hidden; }
	body.on .gnb_wrap {
		left: 0;
	}
	body.on .gnb_wrap::after {
		content: "";
		position: fixed; top: 60px; left: 0; z-index: -1;
		width: 100vw; height: calc( 100vh - 60px );
		background: rgba(0,0,0,0.3);
	}
	body.on .btn_menu span:first-child, body.on .btn_menu span:last-child {
		display: none;
	}
	body.on .btn_menu span:nth-child(2){
		position: absolute; top: 50%; left: 50%; margin-left: -15px;
		width: 26px;
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	body.on .btn_menu span:nth-child(2):after {
		content: "";
		position: absolute; left: 50%;
		margin-left: -13px;
		width: 26px; height: 2px;
		background: #231f20;
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	
	/* 서브페이지 전체 영역 1024 */
	.contents_wrap {
		padding: 35px 0;
	}
	
	/* lnb 1024 */
	.lnb_wrap > .grid_content {
		white-space: nowrap;
		overflow-x: auto;
		-ms-overflow-style: none;
	}
	.lnb_wrap > .grid_content::-webkit-scrollbar {
		display: none;
	}
	.lnb_wrap li a {
		padding: 0 20px;	
	}
	
	
}
@media screen and (max-width:768px) {
	
	.page_wrap {
		padding-bottom: 140px;
	}
	
	/* header 768 */
	.view_admin {
		padding: 8px 10px 8px 30px;
		font-size: 1rem;
		background-position: 10px center;
		background-size: 15px;
	}
	
	/* footer 768 */
	.footer_top a:first-child::after {
		margin: 0 10px;
	}
	.footer_info dd {
		display: block;
	}
	.footer_info dd::after {
		display: none;
	}
	
	/* 서브페이지 전체 영역 768 */
	.contents_wrap {
		padding: 25px 0;
	}
	
	/* 에러페이지 768 */
	.error_box {
		padding: 180px 20px 0 20px;
		width: auto;
		text-align: center;
		background-size: auto 160px; background-position: center top;
	}
	.error_box strong {
		margin-bottom: 10px;
		font-size: 2.4rem;
	}
	
	
}
@media screen and (max-width:480px) {
	
	.page_wrap {
		padding-bottom: 150px;
	}
	
	/* footer 480 */
	.footer_wrap {
		text-align: center;	
	}
	.footer_info dl {
		width: 100%;
	}
	.footer_info dl:first-child, .footer_info dl:last-child {
		padding: 0;
	}
	

	/* 서브페이지 - 상단 비주얼 */
	.subpage_visual {
		height: 80px;
	}
	.subpage_visual h2 {
		padding: 1em 0 0 1em;
		font-size: 1.6rem;
	}
	.subpage_visual h2 span {
		display: none;
	}
}