@charset "utf-8";

/* 색상데이터
그린 : #5ad925, rgba(90,217,37,0.1)
그레이화이트 : #f8f7f4

딥블루 : #0050ff, rgba(0,80,255,0.1)
라이트블루 : #007bff, rgba(0,123,255,0.1)
블루화이트 : #f9fafb
*/

/* =================== 공통 컴포넌트 =================== */
.hidden {
    display: none;
}
.contents_wrap {
	position: relative; z-index: 5;
    margin: 0 auto;
    width: 1280px;
}
.btn {
	display: inline-block;
	margin-right: 12px; padding: 12px 30px;
	font-size: 1.7rem; font-weight: 200; text-align: center;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	transition: 0.2s;
}
.btn_white {
	color: #f9fafb;
	border: 1px solid #f9fafb;
}
.btn_link {
	display: inline-block;
	width: 19px; height: 19px;
	font-size: 0; line-height: 0; vertical-align: top;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.btn_link::before {
	content: "";
	display: inline-block;
	width: 25px; height: 1px;
	background: #fff;
	transform: rotate(-45deg) translate(-8px, 3px);
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.round_tab {
    font-size: 0; line-height: 0;
}
.round_tab li {
    display: inline-block;
    margin-top: 10px; margin-right: 14px; 
}
.round_tab a {
    display: block;
    padding: 12px 30px;
	color: #007bff; font-size: 1.7rem; line-height: 1.5em;
    border: 1px solid #007bff;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	transition: 0.2s;
}
.round_tab li.on a {
    background: rgba(0,123,255,0.1);
}
.tabcnt_js > div {
    display: none;
}

/* =================== //공통 컴포넌트 =================== */
/* =================== 스크롤 패럴럭스 =================== */
.fadeup {
	opacity: 0;
	-webkit-transform: translateY(100px);
	-moz-transform: translateY(100px);
	-o-transform: translateY(100px);
	transform: translateY(100px);
	-webkit-transition-duration: 1.5s;
	-moz-transition-duration: 1.5s;
	-o-transition-duration: 1.5s;
	transition-duration: 1.5s;
}
.fadeup.on {
	opacity: 1;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}
/* =================== //스크롤 패럴럭스 =================== */

html {
	overflow-x: hidden;
}
.zodiac_banner {
	display: none;
}
.wrapper {
    color: #f9fafb; font-family: Pretendard, sans-serif; font-size: 1.8rem; 
    background: #1a1a1a;
}
.pf_title {
    width: 100vw; height: 200vh;
}
.canvas_area {
	position: fixed; top: 0; left: 0;
	display: flex;
	width: 100%; height: 100vh;
	align-items: center; justify-content: center;
}
.shape_outer {
	position: absolute; top: 50%; left: 50%;
	border-radius: 50%;
	transform: translate(-50%,-50%);
	box-shadow: 0 10px 100px rgba(0,123,255,0.2);
	overflow: hidden;
}
#canvas {
	position: absolute; top: 50%; left: 50%;
	display: flex;
	width: 100vw; height: 100vh;
	align-items: center; justify-content: center;
	background: url(../img/bg_water.jpg) no-repeat center; background-size: cover;
	transform: translate(-50%,-50%);
}
.shape_inner {
	position: relative; z-index: 2;
	display: block;
	background: #1a1a1a;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	box-shadow: inset 0 10px 50px rgba(0,123,255,0.2);
}
.canvas_area p {
	position: absolute; top: 50%; left: 50%;
    font-family: Karla, sans-serif; font-size: 8.6rem; font-weight: 600; line-height: 1.1em; letter-spacing: -0.03em; text-align: center; white-space: nowrap;
	text-shadow: 0 0 30px rgba(0,0,0,0.8);
	transform: translate(-50%,-50%);
}
.canvas_area p br:first-child {
	display: none;
}
.canvas_area p strong {
    color: #007bff; font-weight: 700; line-height: inherit; vertical-align: top;
}
.canvas_area p span {
    display: block;
    margin-top: 30px;
    font-family: Pretendard, sans-serif; font-size: 2rem;
}
.canvas_area p span i {
    margin: 0 10px;
    color: #007bff; vertical-align: top;
}

.pf_about {
	display: flex;
    margin-bottom: 20vh;
	align-items: start; justify-content: space-between;
}
.pf_about > strong {
	display: block;
	flex-shrink: 0;
	color: #007bff; font-size: 10rem; font-weight: 500; line-height: 1;
}
.pf_about p {
	margin-top: 10px;
	font-size: 1.8rem; font-weight: 200; line-height: 2em;
}
.pf_about p .br {
	display: none;
}
.pf_about p strong {
	display: block;
	margin: 12px 0 20px;
	font-weight: 500; 
	font-family: Karla, sans-serif; font-weight: 600; line-height: inherit; line-height: inherit; letter-spacing: 2px; white-space: nowrap;
}
.pf_about p strong small {
	display: block;
	margin-top: 4px;
	font-family: Pretendard, sans-serif; font-weight: 400; letter-spacing: 3px;
}
.pf_about ul {
	margin-top: 10px;
}
.pf_about li {
	position: relative;
	margin-bottom: 4px; padding-left: 16px;
	font-size: 1.8rem; font-weight: 200; line-height: 2em;
}
.pf_about li:last-child {
	margin-bottom: 0;
}
.pf_about li::before {
	content: "";
	position: absolute; top: 16px; left: 0;
	display: block;
	width: 4px; height: 4px;
	background: #f9fafb;
	border-radius: 50%;
}
.pf_about .btn_white {
    margin-top: 32px;
	min-width: 140px;
}

.pf_skills {
    margin-bottom: 14vh;
}
h2 {
    position: relative;
    margin-bottom: 10px;
    color: #007bff; font-size: 6rem; font-weight: 500;
}
.pf_skills dl {
    display: flex;
	padding: 0 10%;
	color: #f9fafb;
	align-items: stretch;
}
.pf_skills dl > div {
	margin-right: -60px; padding: 50px 60px;
	width: calc(33.333% + 60px); 
	font-size: 1.8rem; text-align: center;
	border: 1px solid #007bff;
	border-radius: 50%;
}
.pf_skills dl > div:last-child {
	margin-right: 0;
}
.pf_skills dt {
	display: block;
	margin-bottom: 36px;
	color: #007bff; font-weight: 500; letter-spacing: 1px;
}
.pf_skills dd {
	margin-bottom: 10px;
	font-weight: 200;
}
.pf_skills dd:last-child {
	margin-bottom: 0;
}
.highlighted {
	background: rgba(0,123,255,0.1);
}
.pf_projects .btn_link {
	margin-top: 34px; margin-left: 20px;
}
.pf_projects .round_tab {
    margin-bottom: 40px;
}
.project_list {
    font-size: 0; line-height: 0;
}
.project_list > li {
    display: inline-block;
	margin-bottom: 10vh; padding-right: 4%;
	width: 50%;
	font-size: 1.5rem; line-height: 1.5em; vertical-align: top;
}
.project_list > li:nth-child(even) {
	padding-right: 0; padding-left: 4%;
}
.preview_box {
	position: relative;
	margin: 0 auto; 
	width: 100%; height: 360px;
	border: 14px solid #eeede8; 
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	overflow: hidden; overflow-y: auto;
}
.preview_box::before {
	content: "";
	position: absolute; top: 0; left: 0;
	display: block;
	width: 100%; height: 100%;
}
.preview_box.pc {
	width: 100%; 
}
.preview_box.tablet {
	width: 50%; 
}
.preview_box.mobile {
	width: 38%;
}
.preview_box img {
	display: none;
	width: 100%; height: auto;
}
.tab_except img {
	display: block;
}
.preview_box.pc img.pc, .preview_box.tablet img.tablet, .preview_box.mobile img.mobile {
	display: block;
}
.no_preview {
	display: flex;
	align-items: center; justify-content: center;
	font-size: 3rem;
}
.responsive_type {
	display: inline-block;
}
.responsive_type li {
	display: inline-block;
	margin-right: 14px;
	vertical-align: bottom;
}
.responsive_type li a {
	display: block;
	font-size: 0; line-height: 0;
	border: 1px solid #eeede8;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	transition: 0.2s;
	opacity: 0.4;
}
.responsive_type li.on a {
	opacity: 1;
}
.responsive_type li a::before {
	content: "";
	display: block;
	height: 100%;
	background: url(../img/icon_check.png) no-repeat center;
	opacity: 0;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.responsive_type li.on a::before {
	opacity: 1;
}
.responsive_type .pc {
	width: 50px; height: 32px;
}
.responsive_type .laptop {
	width: 40px; height: 28px;
}
.responsive_type .tablet {
	width: 30px; height: 32px;
}
.responsive_type .mobile {
	width: 20px; height: 28px;
}
.pf_projects .period {
	display: inline-block;
	margin-top: 32px;
	vertical-align: bottom;
	opacity: 0.5;
}
.pf_projects .period::before {
	content: "|";
	margin-right: 15px;
}
.pf_projects dl {
    margin-top: 25px;
}
.pf_projects dt {
	margin-bottom: 25px;
	font-size: 2.6rem; font-weight: 500;
}
.pf_projects dt a {
	font-size: inherit; font-weight: inherit; vertical-align: top;
}
.pf_projects dd {
	display: inline-block;
	margin-right: 20px; margin-bottom: 10px; 
	color: #007bff; font-size: 1.6rem; line-height: 1.5em;
}
.pf_projects dd::before {
	content: "#";
	margin-right: 3px;
}
.img_wrap {
	display: flex;
	margin: 0 auto; 
	width: 100%; height: 360px;
	justify-content: center; align-items: center;
	background: url(../img/grid.gif);
	border: 14px solid #eeede8; 
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	overflow: hidden; 
}
#canvas_smile {
	max-width: 100%;
}
#canvas_dots {
	position: relative;
	width: 100%; height: 100%;
	background: radial-gradient(farthest-corner at 40px 40px, #2C5364, #0F2027 70%);
}
.project_overflow {
	padding: 20px;
	text-align: center;
	color: #979797;
	background: rgba(255,255,255,0.05);
	border-radius: 8px;
}
.copy {
	padding: 10vh 0;
	text-align: center;
	opacity: 0.4;
}

@media screen and (max-width:1279px){
	/* =================== 공통 컴포넌트 1279 =================== */
	/* =================== //공통 컴포넌트 1279 =================== */
	.canvas_area p {
		font-size: 7.6rem;
	}
	.canvas_area p span {
		margin-top: 20px;
	}
	.contents_wrap {
		width: 90%;
	}
	.pf_skills dl {
		padding: 0 5%;
	}
}
@media screen and (max-width:1079px){
	/* =================== 공통 컴포넌트 1079 =================== */
	/* =================== //공통 컴포넌트 1079 =================== */
	.canvas_area p {
		font-size: 6.5rem;
	}
	.canvas_area p span {
		margin-top: 14px;
	}
	.contents_wrap {
		width: 90%;
	}
	h2 {
		font-size: 5rem;
	}
	.pf_skills dl {
		padding: 0;
	}
	.pf_skills dd {
		margin-bottom: 8px;
	}
	.project_list > li {
		padding-right: 3%;
	}
	.project_list > li:nth-child(even) {
		padding-left: 3%;
	}
	.preview_box {
		height: 300px;
	}
	.img_wrap {
		height: 300px;
	}
	.responsive_type li {
		margin-right: 10px;
	}
	.pf_projects dt {
		font-size: 2.2rem;
	}

}
/*=================== hover ===================*/
@media screen and (min-width:1025px){
	/* =================== 공통 컴포넌트 hover =================== */
	.btn_white:hover {
		background: rgba(255,255,255,0.1);
	}
	.btn_link:hover {
		border-color: #007bff;
	}
	.btn_link:hover::before {
		background: #007bff;
	}
	.round_tab a:hover {
		background: rgba(0,123,255,0.1);
	}
	.pf_projects dt a:hover {
		text-decoration: underline;
	}
	/* =================== //공통 컴포넌트 hover =================== */
	
	.responsive_type li a:hover {
		opacity: 1;
	}
	.responsive_type li a:hover::before {
		opacity: 1;
	}

}
/*=================== //hover ===================*/
@media screen and (max-width:1024px){
	/* =================== 공통 컴포넌트 1024 =================== */
	/* =================== //공통 컴포넌트 1024 =================== */
	.zodiac_banner {
		position: fixed; bottom: 0; left: 0; z-index: 10;
		display: flex;	
		padding: 12px 0;
		width: 100%; min-height: 60px;
		justify-content: center; align-items: center;
		font-size: 1.8rem; color: #1a1a1a;
		background: #007bff;
		transition: 0.4s;
	}
	.zodiac_banner div {
		padding: 0 60px;
		width: 100%;
		text-align: center;
	}
	.zodiac_banner .btn_close {
		position: absolute; top: 50%; right: 20px;
		display: inline-block;
		width: 22px; height: 22px;
		font-size: 0; line-height: 0;
		background: url(../img/btn_close.png) no-repeat center; background-size: contain;
		transform: translateY(-50%);
	}
	.canvas_area p {
		font-size: 5.4rem;
	}
	.pf_skills dl > div {
		margin-right: -30px; padding: 40px 30px;
	}
	.pf_skills dt {
		margin-bottom: 20px;
	}
	.preview_box {
		height: 260px;
	}
	.img_wrap {
		height: 260px;
	}
}
@media screen and (max-width:768px){
	/* =================== 공통 컴포넌트 768 =================== */
	/* =================== //공통 컴포넌트 768 =================== */
	.pf_title {
		height: 180vh;
	}
	.canvas_area p {
		font-size: 4.8rem; line-height: 1.3em;
	}
	h2 {
		font-size: 4rem;
	}
	.pf_about {
		display: block;
	}
	.pf_about > strong {
		margin-bottom: 30px;
		font-size: 7rem;
	}
	.pf_about p {
		margin-top: 0;
	}
	.pf_about ul {
		margin-top: 0;
	}
	.pf_skills dd {
		margin-bottom: 6px;
	}
	.project_list > li {
		margin-bottom: 60px; padding-right: 0;
		min-width: 420px; width: auto; max-width: 420px;
	}
	.project_list > li:nth-child(even) {
		padding-left: 0;
	}
	.preview_box {
		border-width: 8px;
	}
	.canvas_smile {
		border-width: 8px;
	}
	.pf_projects dl {
		margin-top: 20px;
	}
	.pf_projects dt {
		margin-bottom: 15px;
	}

}
@media screen and (max-width:690px){
	/* =================== 공통 컴포넌트 690 =================== */
	/* =================== //공통 컴포넌트 690 =================== */
	.canvas_area p {
		font-size: 4rem;
	}
	.pf_about p .br {
		display: block;
	}
	.pf_about p strong small {
		margin-top: 10px;
		line-height: inherit;
	}
	.pf_skills dl {
		display: block;
	}
	.pf_skills dl > div {
		margin-right: 0; margin-bottom: -20px;
		width: 100%;
	}
	.pf_skills dl > div:first-child {
		padding-top: 30px;
	}
	.pf_skills dl > div:last-child {
		padding-bottom: 30px;
	}
}
@media screen and (max-width:480px){
	/* =================== 공통 컴포넌트 480 =================== */
	.btn {
		padding: 8px 24px;
	}
	.round_tab a {
		padding: 8px 24px;
	}
	/* =================== //공통 컴포넌트 480 =================== */
	.canvas_area p {
		/* margin-top: 20px; */
		font-size: 3.4rem; 
	}
	.canvas_area p br:first-child {
		display: block;
	}
	.contents_wrap {
		width: 88%;
	}
	.pf_about p {
		line-height: 1.8em;
	}
	.pf_about p br {
		display: none;
	}
	.pf_about li {
		line-height: 1.8em;
	}
	.pf_about .btn_white {
		margin-top: 40px;
		min-width: 120px;
	}
	.project_list > li {
		max-width: none; min-width: 100%;
	}
	.preview_box {
		height: 220px;
	}
	.canvas_smile {
		height: 220px;
	}

}
@media screen and (max-width:320px){
	.canvas_area p {
		/* margin-top: 30px; */
		font-size: 3rem;
	}
	.canvas_area p span {
		margin-top: 10px;
		font-size: 1.8rem;
	}
	h2 {
		font-size: 3.4rem;
	}
	.pf_about > strong {
		font-size: 5.4rem;
	}
	.pf_about p {
		font-size: 1.7rem;
	}
	.pf_about ul {
		font-size: 1.7rem;
	}
}