@charset "utf-8";
/* fonts */
@font-face {
	font-family: 'NanumGothic';
	font-weight: normal;
	src: url('../../fonts/NanumGothic.eot');
	src: url('../../fonts/NanumGothic.eot?#iefix') format('embedded-opentype'),
		local(NanumGothic), url('../../../fonts/NanumGothic.woff') format('woff'),
		url('../../../fonts/NanumGothic.ttf') format('truetype');
}
@font-face {
	font-family: 'sandollB';
	font-weight: normal;
	src: url("../../fonts/SandolGothicB.eot"); 
	src: url("../../fonts/SandolGothicB.eot?#iefix") format("embedded-opentype"), url("../../fonts/SandolGothicB.otf") format("opentype"), url("../../fonts/SandolGothicB.woff") format("woff"),
		local(sandollB), url('../../fonts/SandolGothicB.woff') format('woff'),
		url('../../fonts/SandolGothicB.ttf') format('truetype'); 
}
@font-face {
	font-family: 'sandollM';
	font-weight: normal;
	src: url("../../fonts/SandolGothicM.eot"); 
	src: url("../../fonts/SandolGothicM.eot?#iefix") format("embedded-opentype"), url("../../fonts/SandolGothicM.otf") format("opentype"), url("../../fonts/SandolGothicM.woff") format("woff"),
		local(sandollM), url('../../fonts/SandolGothicM.woff') format('woff'),
		url('../../fonts/SandolGothicM.ttf') format('truetype'); 
}
@font-face {
	font-family: 'lora';
	font-weight: normal;
	src: url("../../fonts/Lora.eot"); 
	src: url("../../fonts/Lora.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lora.woff") format("woff"),
		local(lora), url('../../fonts/Lora.woff') format('woff'),
		url('../../fonts/Lora.ttf') format('truetype'); 
}


/* print */
@media print {
	@page {
		size: landscape;
		margin: 0;
	}
	body, html {
		height: 99%;
		overflow: hidden;
	}
	div.print_banner {
		display: none;
	}
	div.page { 
		width: initial; min-height: initial;
		margin: 0;
		box-shadow: initial; background: initial; border: initial;
		page-break-after: avoid;	
		border: none;
	}
}
@media print and (color) {
	-webkit-print-color-adjust: exact;
	print-color-adjust: exact;
}

/* style */
* {
	margin: 0; padding: 0; border: 0;	
	line-height: 130%;
	font-weight: normal;
	word-break: keep-all;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
img {
	outline: 0;
	border: 0;
}
ul li{list-style: none;}

.print_banner {
	position: relative;
	margin-bottom: 60px;
	width: 100%; height: 50px;
	background: #ebf4f8;
}
.print_banner button {
	position: absolute; top: 50%; right: 10px;
	padding: 8px 20px 8px 44px;
	color: #fff; font-size: 15px;
	background: #289dd3 url(../../images/client/sub/btn_allprint.png) no-repeat 16px 10px; background-size: 20px; 
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	cursor: pointer;
}
.page {
	width: 29.7cm;
	height: 21cm;
	padding: 0.5cm 0.6cm;
	margin: 0 auto;
	background: #fff;
	border: 1px solid #3a3a3a;
}
.page_wrapper {
	overflow: hidden;
	font-family: 'lora', serif; font-size: 18px; text-align: center;
}
.prin_no {
	font-size: 12px; text-align: left;
}
.prin_logo {
	width: 340px; height: 100px;
	margin: 30px 0 0 340px;
	text-indent: -9999px;
	background: url('../../images/client/print/img_logo.jpg') no-repeat center; background-size: contain;
}
.prin_title h2 {
	margin: 30px 0;
	font-size: 34px; 
}
.prin_profile h3 {
	margin: 70px 0 20px;
	font-size: 26px;
}

.prin_day_title {
	margin-top: 50px;
}
.prin_day_title p {
	display: inline-block;
	margin: 0 4px;
}
.prin_stamp img {
	margin: 60px 0 10px;
	width: 200px;
}
.prin_stamp p {
	font-size: 13px;
}


















