@charset "utf-8";

/* 메인 화면 초기화 */
.pp_main_wrap {
	padding-top: 105px;
	background-image: url('../../images/edu/bg_round_ring01.png'), url('../../images/edu/bg_round_ring02.png');
	background-repeat: no-repeat;
	background-position: 130% 190px, -24% 600px;
	background-size: 640px, auto;
}

/* 로그인 화면 */
.pp_loginbg_wrap {
	padding-bottom: 180px;
	min-height: 1000px; height: 100%;
	background: #fff;
	overflow: hidden;
}
.pp_loginform_box {
	position: relative;
	width: 100%; height: 100%;
}
.pp_login_form {
	position: absolute; top: 50%; left: 50%;
	width: 580px;
	background: #fff;
	border: 1px solid #ddd;
	-webkit-box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
	-moz-box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
	-o-box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
	box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
	overflow: hidden;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.pp_fill_form {
	padding: 0 40px 40px;
}
.pp_login_form h1 {
	margin-bottom: 30px; padding: 25px 0 15px 0;
	font-size: 30px; line-height: 1.2em; color: #c61065; font-family: NotokrB;
	background: url(../../images/edu/bg_login_header.jpg) no-repeat right bottom;
	border-bottom: 1px solid #c61065;
}
.pp_login_form p {
	position: relative;
	padding-left: 65px;
	width: 75%;
}
.pp_login_form p label {
	position: absolute; left: 0;
	font-size: 15px; font-family: NotokrM; line-height: 40px; color: #999999;
}
.pp_login_form input {
	padding: 10px;
	width: 100%;
	font-size: 15px;
	background-repeat: no-repeat;
	background-position: 10px center;
	border: 1px solid #e8e5e2;
}
.pp_login_form p .pp_idbox {
	border-bottom: 0;
}

.pp_login_form p input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #a5a5a5;
}
.pp_login_form p input::-moz-placeholder { /* Firefox 19+ */
	color: #a5a5a5;
}
.pp_login_form p input:-ms-input-placeholder { /* IE 10+ */
	color: #a5a5a5;
}
.pp_login_form p input:-moz-placeholder { /* Firefox 18- */
	color: #a5a5a5;
}
.pp_login_form p input:focus {
	outline: 0;
	background-color: #fff;
}
.pp_login_form div {
	position: relative;
	padding-bottom: 30px;
	border-bottom: 1px dashed #ddd;
}
.pp_login_form .pp_login_button {
	position: absolute; right: 40px; top: 110px;
	display: block;
	width: 20%; height: 77px;
	text-align: center; font-size: 20px; color: #fff; line-height: 77px;
	background: #333333;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.pp_login_form .pp_login_button:hover, .pp_login_button:focus {
	color: #fff;
	background: #ca0465;
}

.pp_login_form .pp_loginimg1 {
	margin-top: -40px; padding-left: 0; padding: 0 40px;
	width: 100%;
	text-align: center;
}
.pp_login_form .pp_loginimg1 img {
	max-width: 100%;
}
.pp_login_form .pp_loginimg2 {
	margin-bottom: 15px; padding-left: 0;
	width: 100%;
	text-align: center;
}
.pp_login_form .pp_loginimg2 img {
	max-width: 100%;
}
.pp_login_form .pp_save {
	position: static;
	margin-top: 10px; padding-left: 0;
	width: 100%;
}
.pp_login_form .pp_save label {
	position: relative;
	padding-left: 25px;
	line-height: 20px;
}
.pp_login_form .pp_save label:before {
	position: absolute; top: 0; left: 0;
	content: "";
	display: block;
	width: 20px; height: 20px;
	background: url(../../images/edu/icon_checkbox_gold.png) no-repeat left bottom;
}
.pp_login_form .pp_save input {
	display: none;
}
.pp_login_form .pp_save input:checked + label:before {
	background-position: left top;
}
.pp_login_form .pp_notice {
	position: static;
	margin-top: 10px; padding: 0;
	width: 100%;
}
.pp_login_form .btn_admin {
	position: absolute; top: 0; right: 0;
	background-color: #666;
}

/* 메인 비주얼 */
.pp_main_visual_wrap {
	position: relative;
	margin: 0 auto 30px;
	background: #f2f2f2;
	-webkit-box-shadow: 0 6px 10px #bbb;
	-moz-box-shadow: 0 6px 10px #bbb;
	box-shadow: 0 6px 10px #bbb;
}
.pp_main_visual_wrap > dt {
	position: relative;
	padding: 20px;
	font-size: 18px; font-weight: 600;
}
.pp_main_visual_wrap > dt .arrow {
	position: absolute; right: 30px; top: 50%;
	display: inline-block;
	margin-top: -13px;
	width: 12px; height: 26px;
	background-repeat: no-repeat;
	background-image: url(../../images/edu/icon_arrow_pink.png);
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-o-transform: rotate(0);
	transform: rotate(0);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.pp_main_visual_wrap > dt.on .arrow {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
.pp_main_visual_wrap > dd {
	display: none;
}
.pp_main_bd {
	position: absolute; left: 0;
	display: inline-block;
	width: 100%; height: 6px;
	background: -webkit-linear-gradient(to right, #ffb300 28%, #c61065 28%, #c61065 72%, #66665c 72%, #66665c 100%);
	background: -moz-linear-gradient(to right, #ffb300 28%, #c61065 28%, #c61065 72%, #66665c 72%, #66665c 100%);
	background: -o-linear-gradient(to right, #ffb300 28%, #c61065 28%, #c61065 72%, #66665c 72%, #66665c 100%);
	background: -ms-linear-gradient(to right, #ffb300 28%, #c61065 28%, #c61065 72%, #66665c 72%, #66665c 100%);
	background: linear-gradient(to right, #ffb300 28%, #c61065 28%, #c61065 72%, #66665c 72%, #66665c 100%);
}
.pp_main_bd:nth-of-type(2) {
	bottom: 0;
}
.pp_main_visual {
	position: relative;
	padding: 2%;
	height: 340px;
}
.pp_main_visual > div {
	float: left;
	margin-right: 2%; padding: 0 20px;
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.pp_main_visual div:nth-child(3n) {
	margin-right: 0;
}
.pp_main_visual1 {
	width: 25%; height: 100%;
}
.pp_main_visual1 .pp_user_info {
	margin: 16px 0;
	font-size: 1.2rem; text-align: center;
}
.pp_main_visual1 .pp_user_info strong {
	font-weight: 600;
}
.pp_main_visual1 .pp_user_major {
	position: relative;
	display: inline-block;
	margin-bottom: 10px;
	width: 100%; height: 160px;
	background: #f2f2f2;
}
.pp_main_visual1 strong img {
	position: absolute; top: 50%; left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.pp_main_visual1 dl div {
	display: block;
	font-size: 1.1rem;
}
.pp_main_visual1 dt, .pp_main_visual1 dd {
	display: inline-block;
}
.pp_main_visual1 dt {
	position: relative;
	padding-right: 10px; margin-right: 6px;
}
.pp_main_visual1 dt:after {
	position: absolute; right: 0;
	content: "|";
}
.pp_main_visual2 {
	width: 46%; height: 100%;
}
.pp_main_visual2 > div {
	float: left;
	padding: 0 2%;
	width: 50%; height: 100%;
	text-align: center;
}
.pp_main_visual2 h3 {
	margin: 30px 0 10px;
	font-size: 1.2rem;
}
.pp_main_visual2 .pp_graph_box {
	padding: 10px;
	height: 226px;
}
.pp_main_visual2 img {
	width: 100%; height: auto;
}
.pp_main_visual3 {
	width: 25%; height: 100%;
	text-align: center;
}
.pp_main_visual3 .pp_showpam {
	position: relative;
	height: 250px;
}
.pp_main_visual3 .pp_showpam img {
	position: absolute; top: 50%; left: 50%;
	height: 170px;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.pp_main_visual3 p {
	font-size: 1.7rem;
}
.pp_main_visual3 p i {
	color: #42939a;
}

/* 메인 공통 */
.pp_main_row {
	position: relative;
	margin-bottom: 30px;
}
.pp_mainshow_wrap {
	position: relative;
	overflow: visible;
}
.pp_mainshow_wrap .swiper_control {
	position: absolute; top: 0; right: 0;
}
.pp_mainshow_wrap .btn_more {
	float: left;
}

/* 포스테키안 활동 */
.pp_mainshow_wrap .pp_tab_list {
	margin-bottom: 14px;
}
.pp_program_wrap {
	width: 100%;
}
.pp_program_list {
	float: left;
	overflow: hidden;
}
.pp_program_listbox {
	position: relative;
	width: 100%;
	background-color: #fff;
	overflow: hidden;
}
.pp_program_listbox > a {
	display: block;
	overflow: hidden;
}
.pp_program_label {
	position: absolute; top: 10px; right: 10px; z-index: 2;
	padding: 5px 12px;
	text-align: center; vertical-align: middle;
	font-size: 1rem; line-height: 1.2rem;
	font-family: 'NotokrM', sans-serif;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
}
.pp_previewimg_box {
	position: relative;
	width: 100%; height: 220px;
	background-color: #fff;
	border: 1px solid #d7d7d7;
	overflow: hidden;
}
.pp_previewimg_box img {
	position: absolute; top: 50%; left: 50%;
	display: block;
	height: 100%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.pp_program_infolist {
	display: block;
	padding: 4px 10px;
	width: 100%;
	text-overflow: ellipsis; word-break: keep-all;
	overflow: hidden;
}
.pp_program_infolist .infolist_top {
	text-overflow: ellipsis; white-space: nowrap;
	overflow: hidden;
}
.pp_program_infolist strong {
	display: inline-block;
	margin-right: 6px;
	color: #75aebb;
}
.pp_program_infolist h3 {
	display: inline-block;
	margin-top: 2px;
	width: 100%;
	font-family: NotokrM; line-height: 1.2em;
	text-overflow: ellipsis; white-space: nowrap;
	overflow: hidden;
}
.pp_program_listbox a:hover h3 {
	color: #c51168;
}
.pp_program_infolist i {
	display: block;
	color: #909090; line-height: 1.2em;
}
.pp_program_infolist .details {
	margin-top: 5px;
}
.pp_program_infolist .details > * {
	margin-right: 7px;
}
.pp_program_infolist .details > *:last-child {
	margin-right: 0;
}
.pp_program_infolist .details span {
	display: inline-block;
	vertical-align: top;
}

.pp_program_infolist .details .pamColor {
	color: #a98146;
}
.pp_program_infolist .details .pam_count {
	color: #a98146; 
}
.pp_program_infolist .details .reply_count {
	padding-left: 22px;
	background: url(../../images/edu/sub/icon_reply.png) no-repeat center;
	background-position: left center;
	background-size: auto;
}

/* 포스테키안활동 - 활동 없을때 */
.pp_nopost {
	text-align: center;
	border: 2px dashed #d7d7d7;
}
.pp_nopost p {
	display: inline-block;
	padding-left: 90px;
	/*height: 285px; line-height: 285px;*/ height: 150px;
	color: #c6c8cf; line-height: 150px; font-size: 2rem;
	background: url('../../images/edu/icon_nopost.png') no-repeat left center;
}

/* 학업활동 */
.pp_main_subjbox {
	float: left;
	margin-right: 1%; padding: 30px;
	width: 32.666%; height: 290px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.pp_main_subjbox:nth-of-type(3n) {
	margin-right: 0;
}
.pp_main_subjbox h4 {
	margin-bottom: 20px;
	font-size: 1.4rem;
}
.pp_main_subjbox p {
	margin-bottom: 20px;
	word-break: keep-all;
}
.pp_main_subjbox1 {
	background: #f7f5ef url('../../images/edu/bg_subject01.png') no-repeat right bottom;
}
.pp_main_subjbox2 {
	background: #fff url('../../images/edu/bg_subject02.png') no-repeat right bottom;
	border: 1px solid #d7d7d7;
}
.pp_main_subjbox3 {
	background: #e9efee url('../../images/edu/bg_subject03.png') no-repeat right bottom;
}
.pp_main_subjbox h5 {
	margin-bottom: 10px;
	font-size: 1.3rem; font-weight: 600;
}
/*.pp_main_subjbox2 p {
	margin-bottom: 10px;
}
.pp_main_subjbox strong {
	display: block;
	margin-bottom: 10px;
	color: #909090;
}
.pp_main_subjbox .pp_link_more {
	padding-right: 32px;
	color: #c4944d;
	background: url('../../images/edu/icon_half_arrow_brown.png') no-repeat 76px center;
	-webkit-transition: background 0.3s ease;
	-moz-transition: background 0.3s ease;
	-o-transition: background 0.3s ease;
	-ms-transition: background 0.3s ease;
	transition: background 0.3s ease;
}
.pp_main_subjbox .pp_link_more:hover {
	background-position: 82px center;
}*/

/* 학습전략진단 + 학습전략 TIP */
.pp_main_examin {
	padding: 20px 0;
	background: #ebf4f8;
}
.pp_main_examin .grid_content {
	overflow: visible;
}

/* 학습전략진단 */
.pp_main_test:first-child {
	display: block;
}
.pp_main_test_list {
	width: 100%; height: 400px;
}
.pp_main_test {
	padding: 50px;
	width: 100%; height: 100%;
	color: #fff;
	background: url(../../images/edu/img_maintest01.jpg) no-repeat center;
}
.pp_main_test:nth-child(2) {
	background-image: url(../../images/edu/img_maintest02.jpg);
}
.pp_main_test:nth-child(3) {
	background-image: url(../../images/edu/img_maintest03.jpg);
}
.pp_main_test:nth-child(4) {
	background-image: url(../../images/edu/img_maintest04.jpg);
}
.pp_main_test h3 {
	margin-bottom: 40px;
	font-size: 1.7rem; font-weight: bold;
}
.pp_main_test p {
	margin-bottom: 40px;
	line-height: 2rem; font-size: 1.1rem;
}
.pp_main_test .btn_goto {
	color: #fff;
	background-color: rgba(0,0,0,0.4);
	background-image: url('../../images/edu/icon_half_arrow_white.png');
}
.pp_main_test_wrap .swiper-pagination {
	left: auto; right: 70px;
	width: auto;
}
.pp_main_test_wrap .play_control {
	position: absolute; bottom: 9px; right: 16px; z-index: 20;
}
.pp_main_test_wrap .play_control .slide_start {
	width: 14px; height: 14px;
	text-indent: -9999px;
	background: url('../../images/edu/slide_start_on.png') no-repeat center; background-size: 14px;
}
.pp_main_test_wrap .play_control .slide_start.on {
	background-image: url('../../images/edu/slide_start.png');
}
.pp_main_test_wrap .play_control .slide_stop {
	margin-left: 6px;
	width: 14px; height: 14px;
	text-indent: -9999px;
	background: url('../../images/edu/slide_stop_on.png') no-repeat center; background-size: 14px;
}
.pp_main_test_wrap .play_control .slide_stop.on {
	background-image: url('../../images/edu/slide_stop.png');
}

/* 학습전략 TIP */
.pp_main_tip_wrap .pp_nopost p {
	height: 396px;
	line-height: 396px;
}
.pp_main_tip_list {
	width: 100%; height: 400px;
}
.pp_main_tip {
	position: relative;
	float: left;
	/*padding: 50px 20px 10px 140px;*/
	width: 25%; height: 50%;
	background: #fff;
	border-top: 1px solid #c1c6ca;
	border-bottom: 1px solid #c1c6ca;
	border-right: 1px solid #c1c6ca;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
	cursor: pointer;
}
.pp_main_tip:nth-child(5), .pp_main_tip:nth-child(6), .pp_main_tip:nth-child(7), .pp_main_tip:nth-child(8) {
	border-top: 0;
}
.pp_main_tip:nth-child(1), .pp_main_tip:nth-child(4n+1) {
	border-left: 1px solid #c1c6ca;
}
.pp_main_tip:hover {
	z-index: 5;
	border: none;
	box-shadow: 0 4px 10px #666;
}
.pp_main_tip .pp_img_box {
	position: absolute; top: 50%; left: 50%;
	width: 108px; height: 140px;
	background: #f2f2f2;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.pp_main_tip .pp_img_box img {
	position: absolute; top: 50%; left: 50%;
	width: 100%; height: auto;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.pp_main_tip h4 {
	/*margin: 16px 0 30px;*/ 
	margin-bottom: 10px;
	font-size: 1.2rem;
}
.pp_main_tip i {
	position: absolute; top: 14px; right: 14px;
	display: inline-block;
	width: 30px; height: 30px;
	background: url('../../images/edu/icon_seemore.png') no-repeat; background-size: cover;
}
.pp_main_tip:hover i {
	background-image: url('../../images/edu/icon_seemore_on.png');
}

/* 공유 및 확산 */
/* 메인 공유 및 확산 */
.pp_main_share_wrap {
	padding: 30px 0;
}
.pp_main_share_wrap .section_tit {
	margin-bottom: 20px;
}
.pp_main_gallery > div {
	float: left;
	width: 50%;
}
.pp_main_gallery > .pp_nopost {
	width: 100%; height: 276px;
	line-height: 276px;
}
.pp_tab_gallery li {
	position: relative;
	height: 70px;
}
.pp_tab_gallery li a {
	display: inline-block;
	padding: 0 130px 0 30px;
	width: 100%; height: 100%;
	font-size: 1.1rem; line-height: 70px;
	text-overflow: ellipsis; white-space: nowrap;
	overflow: hidden;
	background: #fff url('../../images/edu/icon_arrow_right.png') no-repeat 95% 28px;
	border-top: 1px solid #c1c6ca;
	border-left: 1px solid #c1c6ca;
	border-right: 1px solid #c1c6ca;
}
.pp_tab_gallery li:last-child a {
	border-bottom: 1px solid #c1c6ca;
}
.pp_tab_gallery li a:hover, .pp_tab_gallery li a.on {
	color: #c61065;
	background-image: url('../../images/edu/icon_arrow_right_on.png');
	border: 2px solid #c61065;
}
.pp_tab_gallery .date {
	position: absolute; top: 23px; right: 12%;
	color: #c1c6ca;
}
.pp_panel_gallery > div {
	display: none;
}
.pp_panel_gallery div {
	padding: 25px 30px 0;
	background: url('../../images/edu/icon_linetit.png') no-repeat 30px top;
}
.pp_panel_gallery div h3 {
	margin-bottom: 20px;
	font-size: 1.2rem;
}
.pp_panel_gallery div div {
	position: relative;
	width: 100%; height: 210px;
	background: #ededed;
	overflow: hidden;
}
.pp_panel_gallery div img {
	position: absolute; top: 50%; left: 50%;
	width: 100%; height: auto;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.pp_main_share div {
	padding: 30px;
	height: 280px;
	background: #ebf4f8 url('../../images/edu/bg_share.png') no-repeat right bottom;
	background-size: 140px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.pp_main_share div p {
	margin-bottom: 20px;
}

/* 공지사항 + 대외홍보 공통 */
.pp_maininfo_box .pp_nopost {
	border-color: #770239;
}
.pp_maininfo_box .pp_nopost p {
	height: 182px;
	color: #770239; line-height: 182px;
	background-image: url(../../images/edu/icon_nopost_brick.png);
}
.pp_main_info {
	background: -webkit-linear-gradient(left, #f2f2f2 50%, #eee8e2 50%);
	background: -moz-linear-gradient(left, #f2f2f2 50%, #eee8e2 50%);
	background: -ms-linear-gradient(left, #f2f2f2 50%, #eee8e2 50%);
	background: linear-gradient(left, #f2f2f2 50%, #eee8e2 50%);
}
.pp_maininfo_box {
	position: relative;
	float: left;
	padding: 20px 0;
	background-repeat: no-repeat;
}
.pp_maininfo_box h2 {
	color: #c61065; text-align: left;
}
.pp_maininfo_box .pp_faqlist_wrap .pp_faqlist div {
	margin-bottom: 10px;
}
.pp_maininfo_box .pp_faqlist_wrap .pp_faqlist dt {
	position: relative;
	display: block;
	padding: 9px 65px 9px 100px;
	width: 100%; height: 54px;
	color: #3e3e3e; line-height: 100%;
	background-color: #fff;
	border: 1px solid #fff;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	cursor: pointer;
}
.pp_maininfo_box .pp_faqlist_wrap .pp_faqlist dt:hover {
	box-shadow: 0 4px 4px #ddd;
}
.pp_maininfo_box .pp_faqlist_wrap .pp_faqlist dt.on {
	box-shadow: none;
}
.pp_maininfo_box .pp_faqlist_wrap .pp_faqlist dt p {
	font-size: 1rem; font-weight: bold; line-height: 36px;
	text-overflow: ellipsis; white-space: nowrap;
	overflow: hidden;
}
.pp_maininfo_box .pp_faqlist_wrap .pp_faqlist dt strong {
	position: absolute; top: 0; left: 6px;
	display: block;
	padding-top: 6px;
	width: 70px; height: 50px;
	text-align: center; font-size: 1.4rem; font-weight: 600;
}
.pp_maininfo_box .pp_faqlist_wrap .pp_faqlist dt strong span {
	display: block;
	margin: 1px auto 0;
	font-size: 1rem; line-height: 1em; color: inherit; font-weight: 400;
	background: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.pp_maininfo_box .pp_faqlist_wrap .pp_faqlist dt i {
	position: absolute; top: 13px; right: 24px;
	display: block; 
	width: 12px; height: 26px;
	background-image: url(../../images/edu/icon_arrow_pink.png);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.pp_maininfo_box .pp_faqlist_wrap .pp_faqlist dt.on i {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.pp_maininfo_box .pp_faqlist_wrap .pp_faqlist dd {
	display: none;
	padding: 10px;
	height: 80px;
	color: #3e3e3e; white-space: normal;
	background-color: #fff;
	border: 1px solid #c1c6ca;
	overflow-y: auto;
}
.pp_mainnfaq_box .pp_faqlist_wrap .pp_faqlist dt {
	color: #3a3a3a;
	background-color: #fff;
	border: 1px solid #d7d7d7;
}
.pp_mainnfaq_box .pp_faqlist_wrap .pp_faqlist dt:hover {
	color: #3a3a3a;
	background-color: #fff;
}
.pp_mainnfaq_box .pp_faqlist_wrap .pp_faqlist dt.on {
	color: #3a3a3a;
	background-color: #fff;
}
.pp_mainnfaq_box .pp_faqlist_wrap .pp_faqlist dd {
	color: #3a3a3a;
	background-color: #c3d6e6;
}

/* 공지사항 */
.pp_main_info .pp_mainnotice_box {
	padding-right: 20px;
	background-image: url(../../images/edu/bg_text_notice.png);
	background-position: 10px 10px; background-size: auto 44px;
}

/* 대외홍보 */
.pp_main_info .pp_mainpromo_box {
	padding-left: 20px;
	background-image: url(../../images/edu/bg_text_promo.png);
	background-position: 20px 10px; background-size: auto 44px;
}
/*.pp_mainpromo_box .pp_faqlist_wrap .pp_faqlist dd {
	color: #393636;
	background: #e8dbcf;
}*/

/* PC-중간사이즈 */
@media only screen and (max-width:1279px) {

	/* 공지사항 + 대외홍보 공통 */
	.pp_maininfo_box .pp_nopost p {
		padding-left: 54px;
		font-size: 1.5rem;
		background-size: 40px;
	}

}
/* PC-작은사이즈 */
@media only screen and (max-width:1079px){


}
/* 태블릿, 모바일 공통 */
@media only screen and (max-width:1024px){

	/* 메인 화면 초기화 */
	.pp_main_wrap {
		padding-top: 0;
		background: none;
	}

	/* 메인 비주얼 */
	.pp_main_visual_wrap {
		margin: 20px auto 24px;
	}
	.pp_main_visual > div {
		padding: 0 10px;
	}
	.pp_main_visual1 {
		width: 30%;
	}
	.pp_main_visual1 .pp_user_info {
		font-size: 1.1rem;
	}
	.pp_main_visual1 dl div {
		font-size: 1rem;
	}
	.pp_main_visual2 {
		margin-bottom: 1%;
		width: 68%; height: 59%;
		overflow: hidden;
	}
	.pp_main_visual2 h3 {
		margin: 10px 0 0 0;
		font-size: 1.1rem;
	}
	.pp_main_visual2 .pp_graph_box {
		height: 160px;
	}
	.pp_main_visual2 img {
		width: auto; height: 100%;
	}
	.pp_main_visual div:nth-child(2n) {
		margin-right: 0;
	}
	.pp_main_visual3 {
		width: 68%; height: 38.5%;
		overflow: hidden;
	}
	.pp_main_visual3 .pp_showpam {
		display: inline-block;
		width: 40%; height: 110px;
	}
	.pp_main_visual3 .pp_showpam img {
		position: static;
		width: auto; height: 100%;
		-webkit-transform: translate(0);
		-moz-transform: translate(0);
		-o-transform: translate(0);
		transform: translate(0);
	}
	.pp_main_visual3 p {
		display: inline-block;
		width: 59%;
		font-size: 1.4rem; line-height: 126px;
	}

	/* 포스테키안 활동 */
	.pp_program_listbox > a {
		/* height: 340px; */
	}
	.pp_previewimg_box {
		height: 236px;
	}
	.reply_txt {
		top: 199px;
	}

	/* 학업활동 */
	.pp_main_subjbox {
		padding: 20px;
	}
	.pp_main_subjbox h5 {
		font-size: 1.2rem;
	}
	.pp_main_subjbox1 {
		background-size: 130px;
	}
	.pp_main_subjbox2 {
		background-size: 130px;
	}
	.pp_main_subjbox3 {
		background-size: 170px;
	}

	/* 학습전략진단 + 학습전략 TIP 공통 */
	.pp_main_examin {
		padding: 10px 0;
	}

	/* 학습전략진단 */
	.pp_main_test_wrap {
		margin-bottom: 20px;
	}
	.pp_main_test_list {
		height: 240px;
	}
	.pp_main_test {
		padding: 36px 40px 0;
	}
	.pp_main_test h3 {
		margin-bottom: 20px;
	}
	.pp_main_test p {
		margin-bottom: 20px;
	}

	/* 학습전략 TIP */
	.pp_main_tip_wrap .pp_nopost p {
		height: 176px;
		line-height: 176px;
	}

	/* 갤러리 */
	.pp_main_gallery > .pp_nopost {
		height: 176px;
		line-height: 176px;
	}

	/* 공유 및 확산 */
	.pp_main_share_wrap {
		padding: 10px 0;
	}
	.pp_panel_gallery div p {
		width: 100%;
	}
	.pp_main_share {
		margin-top: 20px;
	}
	.pp_main_share div {
		min-height: 130px; height: auto;
	}

	/* 공지사항 + 대외홍보 공통 */
	.pp_main_info .pp_maininfo_box {
		padding: 20px;
		background-size: auto 42px;
	}
	.pp_main_info .pp_mainnotice_box {
		background-position: 20px 10px
	}

	/* 공지사항 */
	.maininfo_box {
		padding: 20px;
		background-size: auto 54px;
	}

	/* 대외홍보 */
	.mainnotice_box {
		background-position: 20px 10px
	}

}
/* 모바일 */
@media only screen and (max-width:768px) {

	/* 로그인 화면 */
	.pp_loginbg_wrap {
		padding-bottom: 220px;
		min-height: 840px;
		background-size: cover;
		background-position: center bottom;
	}
	.pp_login_form {
		margin-top: 0; margin-left: 0;
		padding: 20px;
		width: 90%;
	}
	.pp_login_form h1 {
		margin-bottom: 14px; padding: 14px 0;
		font-size: 22px;
		background-size: auto 50px;
	}
	.pp_login_form .pp_loginimg1 {
		padding: 0;
		height: 200px;
	}
	.pp_login_form .pp_loginimg2 {
		margin-bottom: 10px;
	}
	.pp_login_form .pp_loginimg1 img {
		width: auto; height: 100%;
	}
	.pp_fill_form {
		padding: 0;
	}
	.pp_login_form div {
		padding-bottom: 0;
		border: 0;
	}
	.pp_login_form p {
		padding-left: 0;
		width: 100%;
	}
	.pp_login_form p label {
		display: none;
	}
	.pp_login_form input {
		padding: 10px;
		width: 100%;
		font-size: 15px;
		background-repeat: no-repeat;
		background-position: 10px center;
		border: 1px solid #e8e5e2;
	}
	/*.pp_login_form .pp_save {
		width: 100%;
		margin-top: 5px; margin-bottom: 20px;
		border-top: 0;
	}*/
	.pp_login_form .pp_save label {
		display: block;
		margin-bottom: 20px;
	}

	.pp_login_form .pp_login_button {
		position: relative; right: 0; top: 0;
		width: 100%; height: 40px;
		font-size: 20px; color: #fff; line-height: 39px;
	}
	/* 메인 비주얼 */
	.pp_main_visual_wrap {
		margin: 10px auto 20px;
	}
	.pp_main_visual_wrap > dt {
		padding: 15px;
		font-size: 16px;
	}
	.pp_main_visual_wrap > dt .arrow {
		right: 20px;
		margin-top: -11px;
		width: 10px; height: 22px;
		background-size: contain;
	}
	.pp_main_visual {
		height: auto;
	}
	.pp_main_visual > div {
		float: none;
		margin-bottom: 1%;
		width: 100%;
	}
	.pp_main_visual1 .pp_user_info {
		margin: 0; padding: 10px 0;
	}
	.pp_main_visual1 .pp_user_major {
		margin-bottom: 0;
	}
	.pp_main_visual1 dl {
		padding-bottom: 10px;
	}

	/* 포스테키안활동 - 활동 없을때 */
	.pp_nopost p {
		padding-left: 40px;
		height: 80px;
		font-size: 1.1rem; line-height: 80px;
		background-size: 34px;
	}

	/* 포스테키안 활동 */
	.pp_mainshow_wrap .pp_tab_list {
		margin-bottom: 10px;
	}
	.pp_main_row {
		margin-bottom: 20px;
	}
	.pp_program_infolist {
		padding: 6px 10px;
	}
	.pp_program_infolist h3 {
		margin-top: 6px;
		font-size: 1.1rem;
	}

	/* 학업활동 */
	.pp_main_subjbox {
		margin-right: 0; margin-bottom: 6px;
		width: 100%; height: auto;
	}
	.pp_main_subjbox h4 {
		margin-bottom: 10px;
		font-size: 1.2rem;
	}
	.pp_main_subjbox h5 {
		font-size: 1.1rem;
	}
	.pp_main_subjbox1 {
		background-size: 86px;
	}
	.pp_main_subjbox2 {
		background-size: 80px;
	}
	.pp_main_subjbox3 {
		background-size: 110px;
	}

	/* 학습전략진단 */
	.pp_main_test_list {
		height: 180px;
	}
	.pp_main_test {
		padding: 20px 20px 0;
	}
	.pp_main_test h3 {
		margin-bottom: 10px;
		font-size: 1.4rem;
	}
	.pp_main_test p {
		margin-bottom: 10px;
		line-height: 1.6rem; font-size: 1rem;
	}

	/* 공유 및 확산 */
	.pp_main_gallery > .pp_nopost {
		height: 80px;
		line-height: 80px;
	}
	.pp_main_gallery > div {
		width: 100%;
	}
	.pp_tab_gallery {
		border: 1px solid #c61065;
		-webkit-border-radius: 16px;
		-moz-border-radius: 16px;
		border-radius: 16px;
		overflow: hidden;
	}
	.pp_tab_gallery li {
		float: left;
		width: 50%; height: 50px;
	}
	.pp_tab_gallery li:nth-child(1), .pp_tab_gallery li:nth-child(3) {
		border-right: 1px solid #c61065;
	}
	.pp_tab_gallery li:nth-child(1), .pp_tab_gallery li:nth-child(2) {
		border-bottom: 1px solid #c61065;
	}
	.pp_tab_gallery li a {
		padding: 0 8%;
		line-height: 50px; font-size: 1rem; 
		text-overflow: ellipsis; white-space: nowrap;
		overflow: hidden;
	}
	.pp_tab_gallery li a, .pp_tab_gallery li a:hover, .pp_tab_gallery li a.on {
		background-image: none; border: none;
	}
	.pp_tab_gallery li a:hover, .pp_tab_gallery li a.on {
		color: #fff;
		background: #c61065;
	}
	.pp_tab_gallery .date {
		display: none;
	}
	.pp_panel_gallery div {
		padding: 14px 0 0;
		background: none;
	}
	.pp_panel_gallery div h3 {
		margin-bottom: 10px;
		font-size: 1.1rem;
	}
	.pp_main_share div {
		padding: 20px;
		min-height: 180px;
		background-size: 110px;
	}

	/* 공지사항 + 대외홍보 공통 */
	.pp_maininfo_box .pp_nopost p {
		padding-left: 40px;
		height: 80px;
		font-size: 1.1rem; line-height: 80px;
		background-size: 34px;
	}
	.pp_main_info .pp_maininfo_box {
		padding: 0;
	}
	.pp_main_info {
		padding: 14px 0;
		background: #eee8e2;
	}
	.pp_main_info  .pp_mainnotice_box, .pp_main_info  .pp_mainpromo_box  {
		background: none;
	}
	.pp_maininfo_box .pp_faqlist_wrap .pp_faqlist div {
		margin-bottom: 4px;
	}
	.pp_maininfo_box .pp_faqlist_wrap .pp_faqlist dt {
		padding: 5px 65px 5px 100px;
		height: 46px;
	}
	.pp_maininfo_box .pp_faqlist_wrap .pp_faqlist dt strong {
		font-size: 1.2rem;
	}
	.pp_maininfo_box .pp_faqlist_wrap .pp_faqlist dt strong span {
		font-size: 0.9rem;
	}
	.pp_maininfo_box .pp_faqlist_wrap .pp_faqlist dt i {
		top: 11px;
		width: 10px; height: 22px;
		background-size: 10px auto;
	}
	.pp_maininfo_box h2 {
		margin-bottom: 10px;
	}
	/* 대외홍보 */
	.pp_mainpromo_box {
		margin-top: 10px;
	}

}
/* 모바일-작은사이즈 */
@media only screen and (max-width:479px) {

	/* 메인 비주얼 */
	.pp_main_visual2 div {
		padding: 10px 0;
	}
	.pp_main_visual2 h3 {
		vertical-align: middle;
	}
	.pp_main_visual2 .pp_graph_box {
		margin: 0 auto; padding: 0;
		vertical-align: middle;
	}
	.pp_main_visual3 {
		display: block;
	}
	.pp_main_visual3 .pp_showpam {
		display: block;
		padding: 10px 0;
		width: 100%; height: 130px;
	}
	.pp_main_visual3 p {
		display: block;
		margin-bottom: 10px;
		width: 100%;
		line-height: 1.5em;
		background-position: 14% center;
	}

	/* 포스테키안 활동 - swiper controls */
	.swiper_prev, .swiper_next {
		display: none;
	}
	.pp_main_visual2 > div {
		width: 100%;
	}

	/* 학습전략진단 */
	.pp_main_test_list {
		height: 220px;
	}
	.pp_main_test_wrap .swiper-pagination {
		right: auto;
		width: 100%;
	}
	.pp_main_test_wrap .play_control {
		position: absolute; bottom: 9px; right: 16px; z-index: 20;
	}
	.pp_main_test_wrap .play_control .slide_start {
		width: 16px; height: 16px;
		background-size: 16px;
	}
	.pp_main_test_wrap .play_control .slide_stop {
		margin-left: 14px;
		width: 16px; height: 16px;
		background-size: 16px;
	}
	/* 학습전략 TIP */
	.pp_main_tip {
		width: 50%;
		border-left: 1px solid #c1c6ca; border-top: 0; border-right: 0;
	}
	.pp_main_tip:nth-child(1), .pp_main_tip:nth-child(2) {
		border-top: 1px solid #c1c6ca;
	}
	.pp_main_tip:nth-child(2n) {
		border-right: 1px solid #c1c6ca;
	}

}