@charset "utf-8";

/*  scrollbar */
.mCSB_horizontal.mCSB_inside > .mCSB_container{
	margin-bottom: 8px;
}

/* 모바일에서 세로방향 터치불가 fix */
.mCustomScrollbar,
.mCustomScrollbar.mCS_touch_action,
.mCustomScrollbar.mCS_touch_action .mCS-aviva.mCSB_scrollTools {
	-ms-touch-action: auto;
	touch-action: auto;
}
.mCustomScrollBox {
	-ms-touch-action: pan-x;
	touch-action: pan-x;
}
.mCustomScrollBox.mCSB_vertical_horizontal {
	-ms-touch-action: auto;
	touch-action: auto;
}
.mCustomScrollBox.mCSB_horizontal {
	-ms-touch-action: pan-y;
	touch-action: pan-y;
}
.mCustomScrollBox.mCSB_horizontal { touch-action: pan-y pinch-zoom; }

/* input -  공통 스타일 */
.pp_formbox{
	color: #717171;
	background: #fff;
	font-size: 14px;
	border: 1px solid #cdc9c6;
	-webkit-transition: border-color ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s;
}
input.pp_formbox {
	width: 100%; padding: 10px;
}

.pp_select{
	display: inline-block;
	height: 40px;
	position: relative;
}
.pp_select::after {
	content: '';
	display: block;
	width: 21px; height: 40px;
	position: absolute; top: 0; right: 0; bottom: 0;
	background: url(../../images/edu/sub/icon_arrowfull_grey.png) no-repeat right center;
	pointer-events: none;
}
.pp_searchbox_wrap .pp_select::after {
	background-image: url(../../images/edu/sub/icon_arrowfull_pink.png);
}
select.pp_formbox {
	height: 100%;
	padding:10px 50px 10px 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
}
select.pp_formbox::-ms-expand {
	display: none;
}
.pp_searchbox_wrap .pp_formbox {
	border: 1px solid #c51168;
}
select.pp_formbox option{
	height: 30px;
}
/* check, hover 스타일 설정 IE, Chrome */
select.pp_formbox option:checked, select.pp_formbox option:hover {
	background: #555555;
	color: #fff;
}
/* check, hover 스타일 설정 FireFox */
select.pp_formbox option:checked, select.pp_formbox option:hover {
	box-shadow: 0 0 10px 100px #555555 inset;
	color: #fff;
}

textarea.pp_formbox{
	padding: 8px;
}
.pp_formbox:focus{
	outline: 0;
	border: 1px solid #787878;
}

/* checkbox, radio, radioqna, radiono */
.pp_input_wrapper{
	display: inline-block;
	padding: 4px 3px; line-height: 1.2em;
	vertical-align: middle;
}
.check{
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height:1px;
	width:1px;
	margin:-1px;
}
.check + label.check_label {
	padding-left:23px;
	height:20px;
	display:block;
	line-height:20px;
	background-repeat:no-repeat;
	background-position: 0 -20px;
	vertical-align:middle;
	cursor:pointer;
}
.check:checked + label.check_label {
	background-position: 0 0px;
}

/*.check_default{
	background-image:url(../../images/edu/icon_checkbox.gif);
}*/
.check_default{
	background-image:url(../../images/edu/icon_checkbox.png);
}
.check_disable{
	background-image:url(../../images/edu/icon_checkbox_disable.gif);
}

.radio{
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height:1px;
	width:1px;
	margin:-1px;
}
.radio + label.radio_label {
	padding-left:23px;
	height:20px;
	display: block;
	line-height:20px;
	background-repeat:no-repeat;
	background-position: 0 -20px;
	vertical-align:middle;
	cursor:pointer;
}
.radio + label.radio_label_hidden{
	width:19px; height:20px;
	display: block;
	line-height:20px;
	text-indent: -9999px;
	background-repeat:no-repeat;
	background-position: 0 -20px;
	vertical-align:middle;
	cursor:pointer;
}
.radio:checked + label.radio_label {
	background-position: 0 0;
}
.radio:checked + label.radio_label_hidden {
	background-position: 0 0;
}

/*.radio_default{
	background-image:url(../../images/edu/icon_radio.gif);
}*/
.radio_default{
	background-image:url(../../images/edu/icon_radio.png);
}
.radio_disable{
	background-image:url(../../images/edu/icon_radio_disable.gif);
}

.radioqna{
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height:1px;
	width:1px;
	margin:-1px;
}
.radioqna + label.radioqna_label {
	display:block;
	padding-left: 20px;
	line-height:20px;
	vertical-align:middle;
	cursor:pointer;
}
.radioqna + label.radioqna_label i {
	margin-left: -20px; margin-right: 6px;
}
.radioqna:checked + label.radioqna_label {
	color: #ca0465; font-weight: 600;
}

.radiono{
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height:1px;
	width:1px;
	margin:-1px;
}
.radiono + label.radiono_label {
	display: inline-block;
	width: 20px; height: 20px;
	text-align: center; font-size: 0.86rem; font-weight: 600; color: #ca0465;
	background: #fff;
	border: 1px solid #c51168;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	cursor:pointer;
}
.radiono + label.radiono_label i {
	margin-left: -20px; margin-right: 6px;
}
.radiono:checked + label.radiono_label {
	color: #fff;
	background: #ca0465;
}

/* form style */
.pp_form_wrapper{
	height: 40px;
	position: relative;
}
.pp_form_wrapper .pp_formbox{
	width: 100%; height: 100%;
	padding-right: 84px;
}
.pp_form_wrapper .pp_formbox:focus{
	border: 1px solid #cdc9c6;
}
.pp_form_wrapper .btn_reset{
	right: 110px; top: 12px;
}
.pp_form_wrapper .btn_fileupload {
	height: 100%;
	position: absolute; right: 0; top: 0;
	line-height: 30px; text-align: center;
}
/*.pp_chart_select .pp_form_wrapper .btn_fileupload, .pp_thumbnail_wrap .pp_form_wrapper .btn_fileupload{
	height: 100%;
	position: absolute; right: 0; top: 0;
	line-height: 30px; text-align: center;
}*/

.pp_searchrow_wrap {
	overflow: hidden;
	padding: 10px;
	background: #f1f1f1;
	border: 1px solid #cdc9c6;
}
.pp_searchrow_wrap .pp_select {
	width: 20%; height: 40px;
	vertical-align: middle;
}
.pp_searchrow_wrap input[type="text"] {
	width: 79%;
}

.pp_searchbox_wrap {
	padding: 20px;
	background: #ececf3;
}

.pp_thumbnail_wrap {
	position: relative;
	padding: 10px;
	min-height: 47px;
	text-align: left;
	background: #e5f0f7;
}
.pp_thumbnail_wrap h4 {
	padding-bottom: 12px;
	font-weight: 600; color: #4c4c4c;
}
.pp_thumbnail_wrap .btn_fileupload {
	position: absolute; top: 8px; right: 8px;
}
.pp_thumbnail_wrap .pp_form_wrapper .btn_fileupload {
	position: absolute; top: 0; right: 0;
}

/* border */
.bo_default{ border: 1px solid #ca0465; }
.bo_black{ border: 1px solid #555555; }
.bo_gray{ border: 1px solid #c9ced1; }
.bo_lightgray{ border: 1px solid #eae7e4; }
.bo_deepgray{ border: 1px solid #999; }
.bo_blue{ border: 1px solid #0066b1; }
.bo_red{ border: 1px solid #f0505a; }
.bo_orange{ border: 1px solid #f9a61a; }
.bo_green{ border: 1px solid #43939a; }
.bo_brown{ border: 1px solid #c4944d; }
.bo_white{ border: 1px solid #fff; }

/* border - 교과목 이수 체계도 테이블 */
.bo_chart_blue { border: 4px solid #8ac5d7 !important; }
.bo_chart_yellow { border: 4px solid #fcc15e !important; }
.bo_chart_pink { border: 4px solid #efa3af !important; }
.bo_chart_orange { border: 4px solid #fe7e05 !important; }
.bo_chart_purple { border: 4px solid #c5a5ca !important; }
.bo_chart_red { border: 4px solid #ca0465 !important; }
.bo_chart_green { border: 4px solid #79ce24 !important; }

/* bg - 교과목 이수 체계도 테이블 */
.bg_chart_blue { background-color: #8ac5d7; }
.bg_chart_yellow { background-color: #fcc15e; }
.bg_chart_pink { background-color: #efa3af; }
.bg_chart_orange { background-color: #fe7e05; }
.bg_chart_purple { background-color: #c5a5ca; }
.bg_chart_red { background-color: #ca0465; }
.bg_chart_green { background-color: #79ce24; }

/* btn size */
.btn{
	display: inline-block;
	min-width: 80px;
	line-height: 1em; text-align: center; vertical-align: middle;
	cursor: pointer;
	background-repeat: no-repeat;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	-o-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
	/*border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;*/
}
.btn_border{
	display: inline-block;
	min-width: 80px;
	line-height: 1em; text-align: center; vertical-align: middle;
	background-repeat: no-repeat;
	border-width: 2px;
	border-style: solid;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.btn_bo_rd {
	display: inline-block;
	min-width: 80px;
	line-height: 1em; text-align: center; vertical-align: middle;
	background-repeat: no-repeat;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
}

.btn_free{
	min-width: 20px;
}
.btn_disable {
	background-color: #c2c2c2 !important;
	color:#898989 !important;
	border-color:#c2c2c2 !important;
	cursor:default;
}
.btn_xs{ padding: 4px; font-size: 12px; }
.btn_sm{ padding: 5px 7px 4px 7px; font-size: 13px; }
.btn_md{ padding: 8px 10px 7px 10px; font-size: 14px; }
.btn_lg{ padding: 13px 25px 12px 25px; font-size: 15px; }
.btn_xl{ padding: 12px 25px; font-size: 16px;}

.btn_bo_xs{ padding: 3px; font-size: 12px; }
.btn_bo_sm{ padding: 4px 6px 3px 6px; font-size: 13px; }
.btn_bo_md{ padding: 6px 9px 5px 9px; font-size: 14px; }
.btn_bo_lg{ padding: 11px 23px 10px 23px; font-size: 15px; }
.btn_bo_xl{ padding: 11px 24px; font-size: 16px; }

/* btn-color */
.btn_default{ color: #fff !important; background-color: #ca0465 !important; }
.btn_black{ color: #fff !important; background-color: #555555 !important; }
.btn_gray{ color: #fff !important; background-color: #c9ced1 !important; }
.btn_deepgray{ color: #fff !important; background-color: #999 !important; }
.btn_blue{ color: #fff !important; background-color: #0066b1 !important; }
.btn_skyblue{ color: #fff !important; background-color: #38b9da !important; }
.btn_red{ color: #fff !important; background-color: #f0505a !important; }
.btn_orange{ color: #fff !important; background-color: #f9a61a !important; }
.btn_brown{ color: #fff !important; background-color: #c4944d !important; }
.btn_green{ color: #fff !important; background-color: #43939a !important; }
.btn_white{ color:#77314c; background-color:#fff !important;}
.btn_pink { color:#fff !important; background-color:#f0788c !important; }

.btn_default:hover{ background-color: #a50150 !important; }
.btn_black:hover{ background-color: #434242 !important; }
.btn_gray:hover{ background-color: #b4b9bb !important; }
.btn_deepgray:hover{ background-color: #838383 !important; }
.btn_blue:hover{ background-color: #015a9b !important; }
.btn_skyblue:hover{ background-color: #32a7c5 !important; }
.btn_red:hover { background-color: #da4952 !important; }
.btn_orange:hover{ background-color: #e69918 !important; }
.btn_brown:hover{ background-color: #a0712b !important; }
.btn_green:hover{ background-color: #3d8288 !important; }
.btn_white:hover { 
	-webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
	box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
}
.btn_pink:hover { 
	-webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
	box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
}
/* btn-bordercolor */
.btn_bo_default{ color: #ca0465 !important; background-color: #fff; border-color:#ca0465; }
.btn_bo_black{ color: #555555 !important; background-color: #fff; border-color:#555555; }
.btn_bo_gray{ color: #c9ced1 !important; background-color: #fff; border-color:#c9ced1; }
.btn_bo_deepgray{ color: #999 !important; background-color: #fff; border-color:#999; }
.btn_bo_blue{ color: #0066b1 !important; background-color: #fff; border-color:#0066b1; }
.btn_bo_skyblue{ color: #5fcae5 !important; background-color: #fff; border-color:#5fcae5; }
.btn_bo_red{ color: #f0505a !important; background-color: #fff; border-color:#f0505a; }
.btn_bo_orange{ color: #f9a61a !important; background-color: #fff; border-color:#f9a61a; }
.btn_bo_green{ color: #43939a !important; background-color: #fff; border-color:#43939a; }
.btn_bo_brown{ color: #c4944d !important; background-color: #fff; border-color:#c4944d; }

.btn_bo_default:hover{ color: #fff !important; background-color: #ca0465; }
.btn_bo_black:hover{ color: #fff !important; background-color: #555555; }
.btn_bo_gray:hover{ color: #fff !important; background-color: #c9ced1; }
.btn_bo_deepgray:hover{ color: #fff !important; background-color: #999; }
.btn_bo_blue:hover{ color: #fff !important; background-color: #0066b1; }
.btn_bo_skyblue:hover{ color: #fff !important; background-color: #5fcae5; }
.btn_bo_red:hover{ color: #fff !important; background-color: #f0505a; }
.btn_bo_orange:hover{ color: #fff !important; background-color: #f9a61a; }
.btn_bo_green:hover{ color: #fff !important; background-color: #43939a; }
.btn_bo_brown:hover{ color: #fff !important; background-color: #c4944d; }


/* btn 기능 */
.btn_admin {
	display: block;
	padding: 9px 10px 9px 38px;
	color: #fff;
	background: url('../../images/edu/icon_admin.png') no-repeat 10px center; background-size: 20px;
}
.btn_reset{
	display: block;
	width: 15px; height: 15px;
	position: absolute; top: 13px; right: 50px;
	font-size: 8px; color: #fff; line-height: 0.9em;
	background: #999;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.btn_fileupload{ /* btn_search와 같음. 파일 검색용 버튼이라 크기가 작음. */
	display: inline-block;
	padding: 5px 15px 5px 35px;
	color: #fff;
	background: #555555 url(../../images/edu/btn_search.png)13px center no-repeat;
	cursor: pointer;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	-o-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
}
.btn_fileupload:hover{
	background-color: #434242;
}
.pp_file_linkbox{
	display: inline-block;
	width: auto;
	padding: 3px 0; margin-top: 2px;
	position: relative;
}
.pp_file_linkbox .btn_reset{
	display: inline-block;
	position: static;
	margin-left: 3px;
	color: #f0505a; font-size: 12px; font-weight: 600; line-height: 16px;
	background: none;
}

.btn_search{
	min-width: 80px;
	padding: 12px 15px 12px 38px;
	color: #fff; font-size: 15px;
	background: #ca0465 url(../../images/edu/btn_search.png) no-repeat 15px center;
}
.btn_search:hover{
	background-color: #a50150;
}
.btn_listback{
	padding: 11px 15px 10px 35px;
	color: #999;
	background: url(../../images/edu/btn_list.png) 12px center no-repeat;
	border-color: #999999;
}
.btn_listback:hover{
	color: #fff;
	background:#555 url(../../images/edu/btn_list_on.png) 12px center no-repeat;
	border-color: #555555;
}
.pp_svbe{
	line-height: 1.3em;
}

.btn_submit{
	min-width: 80px;
	padding: 12px 15px 12px 40px;
	color: #fff; font-size: 15px; line-height: 1em;
	background-position: 12px center;
	background-image: url(../../images/edu/btn_submit.png);
}
.btn_edit{
	display: inline-block;
	min-width: 80px;
	padding: 12px 20px 12px 50px;
	color: #fff; font-size: 15px; line-height: 1em;
	background: #c4944d url(../../images/edu/sub/icon_edit.png) no-repeat 20px center;
}
.btn_edit:hover {
	background-color: #a0712b;
}
.btn_remove {
	display: inline-block;
	min-width: 80px;
	padding: 12px 15px 12px 38px;
	color: #fff; font-size: 15px; line-height: 1em;
	background: #4c4c4c url(../../images/edu/sub/icon_remove.png) no-repeat 15px center;
}
.btn_remove:hover {
	background-color: #434242;
}
.btn_cancle{
	min-width: 80px;
	padding: 12px 15px 12px 36px;
	color: #fff; font-size: 15px; line-height: 1em;
	background-position: 15px center;
	background-image: url(../../images/edu/btn_cancle.png); background-size: 16px;
}
.btn_send{
	min-width: 80px;
	padding: 12px 15px 12px 60px;
	color: #fff; font-size: 15px; line-height: 1em;
	background-position: 15px center;
	background-image: url(../../images/edu/btn_send.png);
}
.btn_print{
	min-width: 80px;
	padding: 12px 15px 12px 40px;
	color: #fff; font-size: 15px; line-height: 1em;
	background-position: 15px center;
	background-image: url(../../images/edu/btn_print.png);
}
.btn_certi{
	padding-left: 35px;
	background-image: url(../../images/edu/btn_print.png);
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: 12px center;
}
.btn_videodown {
	display: inline-block;
	padding: 6px 6px 6px 30px;
	color: #ca0465; line-height: 1em;
	background: url(../../images/edu/sub/icon_download.png) 6px center no-repeat;
	background-size: 18px;
	border: 2px solid #ca0465;
}
.btn_more {
	display: inline-block;
	padding: 9px 34px 10px 14px;
	color: #a98146; line-height: 1em;
	background: #fff url('../../images/edu/icon_more.png') no-repeat 86% center;
	border: 1px solid #a98146;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.btn_more:hover {
	color: #fff;
	background-color: #a98146; background-image: url('../../images/edu/icon_more_on.png');
}
.btn_close {
	display: inline-block;
	width: 14px; height: 14px;
	text-indent: -9999px;
	background: url('../../images/edu/sub/btn_close.png') no-repeat center; background-size: 14px;
}
.btn_save {
	display: inline-block;
	min-width: 80px;
	/*padding: 10px 14px 10px 40px;*/
	padding: 12px 20px 12px 54px;
	color: #fff; font-size: 1.1rem; line-height: 1em;
	background: #c51168 url(../../images/edu/sub/icon_savefile.png) no-repeat 20px center;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.btn_save:hover {
	background-color: #a50150;
}
.btn_store {
	display: inline-block;
	min-width: 80px;
	padding: 12px 20px 12px 54px;
	color: #fff; font-size: 1.1rem; line-height: 1em;
	background: #c51168 url(../../images/edu/sub/icon_store.png) no-repeat 20px center;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.btn_store:hover {
	background-color: #a50150;
}
.btn_list {
	display: inline-block;
	min-width: 80px;
	padding: 12px 20px 12px 54px;
	color: #fff; font-size: 1.1rem; line-height: 1em;
	background: #c51168 url(../../images/edu/icon_list.png) no-repeat 20px center;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.btn_list:hover {
	background-color: #a50150;
}
.btn_test {
	display: inline-block;
	min-width: 80px;
	padding: 12px 20px 12px 54px;
	color: #fff; font-size: 1.1rem; line-height: 1em;
	background: #c51168 url(../../images/edu/sub/icon_test.png) no-repeat 20px center;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.btn_test:hover {
	background-color: #a50150;
}
/*진단하기*/
.btn_examine {
	padding: 12px 16px 12px 48px;
	font-size: 1.1rem; font-weight: 600;
	background: #fff url(../../images/edu/sub/icon_examine01.png) no-repeat 16px center;
	border-width: 1px; border-style: solid;
}
.btn_examine:hover {
	background-image:  url(../../images/edu/sub/icon_examine01_on.png);
}
/*이어하기*/
.btn_continue {
	padding: 12px 16px 12px 48px;
	font-size: 1.1rem; font-weight: 600;
	background: #fff url(../../images/edu/sub/icon_examine02.png) no-repeat 20px center;
	border-width: 1px; border-style: solid;
}
.btn_continue:hover {
	background-image:  url(../../images/edu/sub/icon_examine02_on.png);
}
/*결과보기*/
.btn_result {
	padding: 12px 16px 12px 48px;
	font-size: 1.1rem; font-weight: 600;
	background: #fff url(../../images/edu/sub/icon_examine03.png) no-repeat 16px center;
	border-width: 1px; border-style: solid;
}
.btn_result:hover {
	background-image:  url(../../images/edu/sub/icon_examine03_on.png);
}
/*진단대기*/
.btn_standby {
	padding: 12px 16px 12px 48px;
	font-size: 1.1rem; font-weight: 600;
	background: #fff url(../../images/edu/sub/icon_examine04.png) no-repeat 20px center;
	border-width: 1px; border-style: solid;
}
.btn_standby:hover {
	background-image:  url(../../images/edu/sub/icon_examine04_on.png);
}
/*신청하기*/
.btn_apply {
	padding: 12px 16px 12px 48px;
	font-size: 1.1rem; font-weight: 600;
	background: #fff url(../../images/edu/sub/icon_examine05.png) no-repeat 18px center;
	border-width: 1px; border-style: solid;
}
.btn_apply:hover {
	background-image: url(../../images/edu/sub/icon_examine05_on.png);
}
/*신청완료*/
.btn_done {
	padding: 12px 16px 12px 48px;
	font-size: 1.1rem; font-weight: 600;
	background: #fff url(../../images/edu/sub/icon_examine06.png) no-repeat 20px center;
	border-width: 1px; border-style: solid;
}
.btn_done:hover {
	background-image:  url(../../images/edu/sub/icon_examine06_on.png);
}
/*관리*/
.btn_manage {
	padding: 12px 14px 12px 40px;
	font-size: 1.1rem; font-weight: 600;
	background: #fff url(../../images/edu/sub/icon_examine07.png) no-repeat 14px center;
	border-width: 1px; border-style: solid;
}
.btn_manage:hover {
	background-image:  url(../../images/edu/sub/icon_examine07_on.png);
}
/*다운로드*/
.btn_download {
	padding: 12px 14px 12px 40px;
	font-size: 1.1rem; font-weight: 600;
	background: #fff url(../../images/edu/sub/icon_examine08.png) no-repeat 14px center;
	border-width: 1px; border-style: solid;
}
.btn_download:hover {
	color: #fff;
	background-color: #c51168; background-image:  url(../../images/edu/sub/icon_examine08_on.png);
}

/*컨설팅신청*/
.btn_reserve {
	display: inline-block;
	min-width: 80px;
	padding: 12px 15px 12px 42px;
	color: #fff; font-size: 15px; line-height: 1em;
	background: #c51168 url(../../images/edu/sub/icon_reserve.png) no-repeat 15px center;
}
.btn_reserve:hover {
	background-color: #a50150;
}
/*공유URL*/
.btn_share {
	display: inline-block;
	min-width: 80px;
	padding: 12px 20px 12px 54px;
	color: #fff; font-size: 1.1rem; line-height: 1em;
	background: url(../../images/edu/sub/icon_share.png) no-repeat 20px center;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/*전체출력*/
.btn_printall {
	display: inline-block;
	min-width: 80px;
	padding: 12px 15px 12px 50px;
	color: #fff; font-size: 1.1rem; line-height: 1em;
	background: url(../../images/edu/sub/icon_print.png) no-repeat 20px center;
}

/*선택출력*/
.btn_print_select {
	display: inline-block;
	min-width: 80px;
	padding: 12px 15px 12px 44px;
	color: #fff; font-size: 1.1rem; line-height: 1em;
	background: url(../../images/edu/sub/icon_print_select.png) no-repeat 18px center;
}

/*공개여부*/
.btn_show {
	display: inline-block;
	min-width: 80px;
	padding: 12px 15px 12px 44px;
	color: #fff; font-size: 1.1rem; line-height: 1em;
	background: url(../../images/edu/sub/icon_show.png) no-repeat 12px center;
}
/*바로가기*/
.btn_goto {
	display: inline-block;
	min-width: 80px;
	padding: 12px 52px 12px 15px;
	color: #555; font-size: 1.1rem; line-height: 1em;
	background: url(../../images/edu/icon_half_arrow_black.png) no-repeat 76px 14px; background-size: 32px;
}
.btn_goto:hover {
	background-position: 82px center;
}



/* 슬라이드 버튼 */
.swiper_prev, .swiper_next {
	float: left;
	margin-right: 6px;
	width: 35px; height: 35px;
	text-indent: -9999px;
	background-repeat: no-repeat;
	background-color: #fff;
	background-position: center center;
	border: 1px solid #a98146;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.swiper_prev {
	background-image: url(../../images/edu/btn_prev.png);
}
.swiper_prev:hover {
	color: #fff;
	background-color: #a98146; background-image: url(../../images/edu/btn_prev_on.png);
}
.swiper_next {
	background-image: url(../../images/edu/btn_next.png);
}
.swiper_next:hover {
	color: #fff;
	background-color: #a98146; background-image: url(../../images/edu/btn_next_on.png);
}

/* box style */
.pp_btn_area{
	width: 100%;
	padding: 5px 0;
	position: relative;
}
table td input[type="text"]{
	width: 100%;
}
table td textarea{
	width: 100%;
}
table td select{
	width: 100%;
}

/* title style */
.pp_section_tit_only {
	margin-bottom: 10px;
	font-size: 1.5rem;
}
.pp_section_tit_lg {
	margin-bottom: 0.5em;
	padding: 5px 0 5px 35px;
	font-size: 1.4rem;
	background: url(../../images/edu/sub/icon_liststyle1.png) 0 10px no-repeat;
	background-size: 24px;
}
.pp_section_tit {
	margin-bottom: 0.2em; padding: 5px 0 5px 24px;
	font-size: 1.4rem;
	background: url(../../images/edu/sub/icon_liststyle2.jpg) left 0.7em no-repeat; background-size: 12px;
}
.pp_section_stit {
	font-size: 1.14rem;
}


/* text style */
.pp_txtbox{
	padding: 5px 0; word-break: keep-all;
	line-height: 1.5em; color: #494949;
}
.pp_bullet_txt{
	padding: 5px 0 5px 20px;
	color: #555555; line-height: 1.4em;
}
.pp_bullet_txt span{
	display: inline-block;
	width: 18px; height: 18px;
	margin-left: -20px;
	margin-right: 4px;
	vertical-align: middle;
}

/* dot style */
.pp_dot_circle{
	/* 소제목 리스트 스타일로 사용중 */
	display: inline-block;
	width: 15px; height: 5px;
	margin-right: 8px;
	vertical-align: middle;
	background: -webkit-linear-gradient(left, #c51168 50%, #f18dbd 50%);
	background: -moz-linear-gradient(left, #c51168 50%, #f18dbd 50%);
	background: -ms-linear-gradient(left, #c51168 50%, #f18dbd 50%);
	background: linear-gradient(left, #c51168 50%, #f18dbd 50%);
}
.pp_rec_circle{
	display: inline-block;
	width: 4px; height: 18px;
	vertical-align: middle;
	margin-right: 6px;
	background: #ad8e62;
}
.pp_dot_rec{
	/* Total 컨텐츠 리스트 스타일로 사용중 */
	display: inline-block;
	width: 20px; height: 20px;
	margin-right: 6px;
	vertical-align: bottom;
	background: url('../../images/edu/sub/icon_total.png') no-repeat left center;
}


/* tab 공통 */
.pp_showtab, .pp_shapetab{
	width: 100%; height: 50px;
	margin-bottom: 30px;
	color: #494949; font-size: 16px;
	background: #f9f7f5;
}
.pp_showtab li, .pp_shapetab li{
	display: table; float: left;
	width: 50%; height: 100%;
	text-align: center; line-height: 1em;
}
.pp_showtab li:first-child, .pp_shapetab li:first-child{
	border-left: 0;
}
.pp_showtab li a, .pp_shapetab li a{
	display: table-cell;
	vertical-align: middle; word-break: keep-all;
	border: 1px solid #cdc9c6;
}
.pp_showtab li a:hover, .pp_shapetab li a:hover{
	color: #a98147;
}
.pp_showtab li a.on, .pp_shapetab li a.on{
	color: #a98147;
	background: #fff;
	border: 1px solid #a98147;
	border-bottom: 1px solid #fff;
}
.pp_showtab:after, .pp_shapetab:after{
	display: block;
	content: "";
	width: 0; height: 0; font-size: 0; line-height: 0;
	clear: both;
}

/* peerreview용 */
.shapetabPeerTab{
	width: 100%; height: 50px;
	margin-bottom: 30px;
	color: #494949; font-size: 16px;
	background: #f9f7f5;
}
.shapetabPeerTab li{
	display: table; float: left;
	width: 50%; height: 100%;
	text-align: center;
}
.shapetabPeerTab li:first-child{
	border-left: 0;
}
.shapetabPeerTab li a{
	display: table-cell;
	vertical-align: middle; word-break: keep-all;
	border: 1px solid #cdc9c6;
}
.shapetabPeerTab li a:hover{
	color: #a98147;
}
.shapetabPeerTab li a.on{
	color: #a98147;
	background: #fff;
	border: 1px solid #a98147;
	border-bottom: 1px solid #fff;
}
.shapetabPeerTab:after{
	display: block;
	content: "";
	width: 0; height: 0; font-size: 0; line-height: 0;
	clear: both;
}


/* tab 2단 */
.pp_showtab2 li{
	width: 50%;
}
/* tab 3단 */
.pp_showtab3 li{
	width: 33.33%;
}
.pp_showtab3 span{
	margin-right: 5px;
}
/* tab 4단 */
.pp_showtab4 li{
	width: 25%;
}
/* tab 6단 */
.pp_showtab6 li{
	width: 16.6666%;
}
/* tab 7단 */
.pp_showtab7 li{
	width: 14.28%;
}

/* 텍스트 탭 */
.pp_txttab{
	display: table;
	margin: 10px 0;
}
.pp_txttab li{
	display: table-cell;
	padding: 0 10px;
	line-height: 1em;
	border-left: 2px solid #cdc9c6;
}
.pp_txttab li:first-child{
	padding-left: 0;
	border-left: 0;
}
.pp_txttab li a{
	font-family: notokrM; color: #999; font-size: 15px;
}
.pp_txttab li a.on{
	color: #a98146;
}

/* 동그란 텝 */
.pp_tab_list {
	display: table;
	width: auto;
	font-size: 0; line-height: 0;
	background-color: #f7f0f2;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
.pp_tab_list li {
	display: inline-block;
}
.pp_tab_list li a{
	display: block;
	padding: 6px 14px;
	font-size: 1.1rem; line-height: 1.5em;
}
.pp_tab_list li:first-child a {
	-webkit-border-radius: 30px 0 0 30px;
	-moz-border-radius: 30px 0 0 30px;
	border-radius: 30px 0 0 30px;
}
.pp_tab_list li:last-child a {
	-webkit-border-radius: 0 30px 30px 0;
	-moz-border-radius: 0 30px 30px 0;
	border-radius: 0 30px 30px 0;
}
.pp_tab_list li a.on {
	color: #fff;
	background: #c51168;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	box-shadow: 2px 2px 4px #666;
}

/* 링크 */
.pp_hover_link:hover{
	color: #ca0465;
	cursor: pointer;
}
.pp_file_link{
	padding: 2px 0 2px 20px;
	color: #1075c9;
	background: url(../../images/edu/sub/icon_filelink.png) 0 4px no-repeat;
}
.pp_file_link:hover{
	text-decoration: underline;
}
.pp_openimg {
	display: block;
}
.pp_openimg img {
	width: 100%;
}

/* 팁 */
.pp_tipbox {
	margin-top: 40px; padding: 20px 26px 20px 90px;
	font-size: 1.1rem;
	background: #f9f7ef url('../../images/edu/sub/icon_tipbox.png') no-repeat 20px 20px;
	border-radius: 20px;
}
.pp_tip {
	margin: 6px 0; padding-left: 20px;
	background: url('../../images/edu/sub/icon_tip.png') no-repeat;
}

/* 리스트 넘버링 */
.pp_numbering li {
	padding-left: 60px;
}
.pp_numbering li i {
	margin-left: -20px; margin-right: 6px;
}

/* 소요시간 */
.pp_date {
	display: inline-block;
	padding-left: 20px;
	background: url('../../images/edu/sub/icon_day.png') no-repeat left center;
}

/* 날짜선택 버튼 */
.pp_calendar_sel{
	display: inline-block;
	width: 100%;
	position: relative;
}
.pp_calendar_sel input[type="text"]{
	padding-right: 45px;
}
.pp_calendar_sel .btn_reset{
	display: none;
	width: 15px; height: 15px;
	margin-top: -7px;
	position: absolute; top: 50%; right: 45px;
	font-size: 10px; color: #fff;
}
.pp_calendar_sel input:focus+.btn_reset{
	display: block;
}
.pp_calendar_img{
	display: block;
	width: 40px; height: 40px;
	position: absolute; right: 0px; top: 0px;
	text-indent: -9999px;
	background: url(../../images/edu/sub/icon_calender_on.png)center center no-repeat;
}
.pp_calendar_sel input[type="text"]:focus{
	background: #fff;
}
/*.pp_calendar_sel input[type="text"]:hover ~ .pp_calendar_img{
	background: url(../../images/admin/btn_calendar_on.png)center center no-repeat;
}
.pp_calendar_img:hover{
	background: url(../../images/admin/btn_calendar_on.png)center center no-repeat;
}
.pp_calendar_sel input[type="text"]:focus{
	background: #fff;
}
.pp_calendar_sel input[type="text"]:focus ~ .pp_calendar_img{
	background: url(../../images/admin/btn_calendar_on.png)center center no-repeat;
}*/

/* 시간선택 */
.pp_time{
	display: inline-block;
	width: 100%;
	position: relative;
}
td .pp_time input[type="text"] {
	margin-right: 1%;
	width: 80%;
}

/*paging*/
.paging_wrap {
	width: 100%;
	text-align: center;
	padding: 30px 0; line-height: 0; font-size: 0;
	vertical-align: top;
}
.paging_wrap a{
	display: inline-block;
	width: 40px; height: 40px;
	margin-left: 6px;
	vertical-align: top;
	font-size: 14px; line-height: 40px; color: #c51168;
	letter-spacing: -1px;
	cursor: pointer;
}
/*.paging_wrap a:hover{
	border: 1px solid #e8e5e2;
}*/
.paging_wrap a.active {
	font-weight: 600;
	background-color: #c3e2f0;
}
.paging_wrap a.page_con{
	text-indent: -9999px;
	background-color: #fff;
	background-position: center center;
	background-repeat: no-repeat;
	transition: all 0.3s;
}
.paging_wrap a.pre_page{
	background-color: #ebf4f8;
	background-image: url(../../images/edu/sub/icon_paging_pre1.png);
}
.paging_wrap a.first_page{
	background-color: #c51168;
	background-image: url(../../images/edu/sub/icon_paging_pre2.png);
}
.paging_wrap a.next_page{
	background-color: #ebf4f8;
	background-image: url(../../images/edu/sub/icon_paging_next1.png);
}
.paging_wrap a.last_page{
	background-color: #c51168;
	background-image: url(../../images/edu/sub/icon_paging_next2.png);
}


/* 캘린더 */
.calendar {
	width: 100%;
	position: relative;
}
.fc-view-container table {
	width: 100%;
}
.bg {
	padding: 0px 0 20px 0;
	margin: 30px 0 40px;
	border-bottom: 1px solid #ddd;
}
.calendar .bg .dib {
	margin: 0 30px;
	font-size: 20px; font-weight: 600;
	line-height: 40px;
}
.pp_counsel_title{
	overflow: hidden;
	display: block;
	width: 55%;
	position: absolute; top: 45px;
	white-space: nowrap; text-overflow: ellipsis;
}
.pp_counsel_title span{
	margin-right: 5px;
	color: #20a0e1;
}
.pp_calender_topbox{
	display: table;
	width: auto;
	position: absolute; right: 0; top: 70px;
}
.pp_calender_topbox li{
	display: inline-block;
	margin-left: 10px;
	line-height: 18px; font-size: 13px;
}
.pp_calender_topbox li span{
	display: block; float: left;
	width: 20px; height: 18px;
	margin-right: 5px;
}
.pp_calender_topbox li:first-child{
	margin-left: 0px;
}
.pp_calender_topbox li:nth-child(1) span{
	background: #fcb040;
}
.pp_calender_topbox li:nth-child(2) span{
	background: #85c43f;
}
.bg ul {
	width: 225px; height: 40px;
	margin: 0 auto;
	text-align: center;
}
.bg ul li {
	height: 40px;
	float: left;
	font-size: 15px;
}
.bg ul li .pre_m,.next_m {
	display: block;
	width: 40px; height: 40px;
	line-height: 20px; text-indent: -9999px;
}
.bg ul li .pre_m{
	background:#fff url(../../images/edu/sub/arrow_calendar_pre.gif) center center no-repeat;
}
.bg ul li .next_m{
	background:#fff url(../../images/edu/sub/arrow_calendar_next.gif) center center no-repeat;
}
.calendar.visit_advice.professor .stagebox .floatL .reserve {
	display: inline-block;
	width: 13px;
	height: 13px;
}
.stagebox {
	width: 100%;
	clear: both;
	padding: 20px 0;
}
.calendar.visit_advice.student .stagebox .floatL {
	font-weight: bold;
}
.fc-view,.fc-view > table {
	padding: 0px 0px !important;
	margin-right: 1px;
	position: relative;
	z-index: 1;
}
td.fc-widget-header > div.fc-widget-header {
	height:40px; line-height: 40px;
	color: #fff;
	background: #0062b3;
}
th.fc-widget-header {
	text-align: center;
	font-size: 14px; font-weight: 400;
}
.fc-row .fc-content-skeleton td,
.fc-row .fc-helper-skeleton td {
	background: none;
	border-color: transparent;
	border-bottom: 0;
}
td.fc-day-number {
	font-size: 14px;
	text-indent: 5px;
}
.fc-view-container {
	position: relative;
}
.fc-day-grid-event .fc-content {
	text-align: center;
}
.fc-day {
	text-align: right;
}
.fc-title {
	width: 100%;
	display: block;
	text-align: center !important;
	font-size: 13px;
	margin-top: 5px;
}
.fc-row .fc-bg input[type="checkbox"] {
	width: 15px;
	height: 15px;
	margin: 2px 5px 0 0;
}
.fc-ltr .fc-basic-view .fc-day-number {
	padding-bottom: 5px;
}
.pp_calenter_btnlist {
	width: 50%;
	margin-left: 50%;
	margin-bottom: -28px;
}
.fc-unthemed td.fc-today{
	background: #fffbda;
}
.fc-basic-view .fc-body .fc-row{
	min-height: 150px;
}
.fc-row:nth-child(even){
	background: #f4f5f9;
}
.fc-basic-view .fc-week-number, .fc-basic-view .fc-day-number{
	padding: 5px 2px;
}

/* 로딩 - 그래프박스용 */
.graph_wrap {
	overflow: hidden;
	width: 100%; min-height: 220px;
	position: relative;
	font-size: 1rem;
	line-height: 1.5em;
}
.graph_wrap .graph_box {
	position: relative;
	min-height: 220px;
}
.graph_wrap .graph_box img {
	position: absolute; top: 50%; left: 50%;
	width: auto;
	max-width: 100%;
	height: auto;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.graph_wrap .loading_box {
	width: 100%; height: 100%;
	position: absolute; top: 0; left: 0;
	background: rgba(255,255,255,0.8);
}
.graph_wrap .loading_box img {
	width: 60px; max-width: 80%; height: 60px;
	position: absolute; top: 50%; left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}


/* 태블릿,모바일 공통 */
@media only screen and (max-width:1024px){

	/* title style */
	.pp_section_tit_only {
		font-size: 1.4rem;
	}
	.pp_section_tit_lg {
		margin-bottom: 0.5em;
		padding: 5px 0 5px 30px;
		font-size: 1.3rem;
		background-size: 20px; background-position: 0 10px;
	}
	.pp_section_tit {
		font-size: 1.3rem;
	}

	/* 동그란 텝 */
	.pp_tab_list li a {
		font-size: 1rem; line-height: 1.5em;
	}

	/* 버튼 */
	.btn_more {
		padding: 8px 34px 9px 15px;
	}

	/* 슬라이드 버튼 */
	.swiper_prev, .swiper_next {
		width: 33px; height: 33px;
	}


	/* 캘린더 */
	.fc-title span.fst{
		display: block;
		width: 100%;
		white-space: normal;
	}

	/* 팁 */
	.pp_tipbox {
		margin-top: 20px; padding: 10px 14px 10px 50px;
		font-size: 1rem;
		background-size: 30px; background-position: 14px 14px;
	}

}

/* 모바일 사이즈 */
@media only screen and (max-width:767px) {

	/* title style */
	.pp_section_stit {
		font-size: 1.1rem;
	}

	/* input -  공통 스타일 */
	.pp_formbox{
		font-size: 13px;
	}
	input.pp_formbox {
		padding: 5px 8px;
	}
	.pp_select{
		height: 30px;
	}
	select.pp_formbox {
		padding:5px 20px 5px 8px;
	}
	.pp_select::after {
		width: 30px; height: 30px;
	}

	.pp_searchrow_wrap .pp_select{
		height: 30px;
	}
	.pp_form_wrapper{
		height: 30px;
	}
	.pp_form_wrapper .btn_reset{
		right: 95px; top: 8px;
	}
	.pp_form_wrapper .btn_fileupload {
		padding: 5px 10px 5px 30px;
		line-height: 20px;
		background-position: 10px center;
	}

	/* 날짜선택 버튼 */
	.pp_calendar_sel input[type="text"]{
		padding-right: 30px;
	}
	.pp_calendar_sel .btn_reset{
		right: 35px;
	}
	.pp_calendar_img{
		display: block;
		width: 30px; height: 30px;
	}

	/* btn size */
	.btn{
		min-width: 40px;
	}
	.btn_border{
		min-width: 40px;
	}

	.btn_md{ padding: 6px 9px 5px 9px; font-size: 13px; }
	.btn_lg{ padding: 9px 15px 8px 15px; font-size: 13px; }
	.btn_xl{ padding: 11px 24px; font-size: 15px;}

	.btn_bo_md{ padding: 5px 8px 4px 8px; font-size: 13px; }
	.btn_bo_lg{ padding: 7px 13px 6px 13px; font-size: 13px; }
	.btn_bo_xl{ padding: 10px 23px; font-size: 15px; }

	.btn_admin {
		padding: 8px 8px 8px 30px;
		font-size: 1rem;
		background-size: 16px; background-position: 8px center;
	}

	.btn_search{
		padding: 8px 14px 8px 30px;
		color: #fff; font-size: 1rem;
		background-size: 15px;
	}

	.btn_submit{
		padding: 8px 14px 8px 36px;
		color: #fff; font-size: 1rem;
		background-size: 15px;
	}
	.btn_cancle{
		padding: 8px 14px 8px 36px;
		color: #fff; font-size: 1rem;
		background-size: 14px;
	}

	.btn_listback{
		padding-left: 30px;
		font-size: 14px;
		background-position: 10px center;
		background-size: 15px;
	}
	.btn_listback:hover{
		background-position: 10px center;
		background-size: 15px;
	}

	.btn_send{
		padding: 8px 15px 8px 50px;
		font-size: 14px;
		background-position: 16px center;
		background-size: 28px;
	}

	.btn_print{
		padding: 8px 15px 8px 45px;
		font-size: 14px;
		background-size: 23px;
	}
	.btn_certi{
		padding-left: 28px;
		background-size: 14px;
		background-position: 10px center;
	}
	.btn_save {
		padding: 8px 14px 8px 36px;
		font-size: 1rem;
		background-size: 18px; background-position: 14px center;
	}
	.btn_store {
		padding: 8px 14px 8px 38px;
		font-size: 1rem;
		background-size: 18px; background-position: 14px center;
	}
	.btn_edit{
		padding: 8px 14px 8px 36px;
		font-size: 1rem;
		background-size: 18px; background-position: 14px center;
	}
	.btn_remove {
		padding: 8px 14px 8px 36px;
		font-size: 1rem;
		background-size: 16px; background-position: 14px center;
	}
	.btn_test {
		padding: 8px 14px 8px 36px;
		font-size: 1rem;
		background-size: 16px; background-position: 14px center;
	}
	.btn_list {
		padding: 8px 14px 8px 36px;
		font-size: 1rem;
		background-size: 16px; background-position: 14px center;
	}
	.btn_reserve {
		padding: 8px 14px 8px 38px;
		font-size: 1rem;
		background-size: 18px; background-position: 14px center;
	}
	.btn_share {
		padding: 8px 14px 8px 36px;
		font-size: 1rem;
		background-size: 16px; background-position: 14px center;
	}
	.btn_printall {
		padding: 8px 14px 8px 40px;
		font-size: 1rem;
		background-size: 20px; background-position: 14px center;
	}
	.btn_print_select {
		padding: 8px 14px 8px 36px;
		font-size: 1rem;
		background-size: 16px; background-position: 14px center;
	}
	.btn_show {
		padding: 8px 14px 8px 36px;
		font-size: 1rem;
		background-size: 18px; background-position: 12px center;
	}
	.btn_goto {
		padding: 8px 36px 8px 14px;
		font-size: 1rem;
		background-size: 18px; background-position: 72px center;
	}
	.btn_goto:hover {
		background-position: 76px center;
	}
	.btn_examine {
		padding: 9px 14px 9px 40px;
		font-size: 1rem;
		background-size: 18px; background-position: 14px center;
	}
	.btn_continue {
		padding: 9px 14px 9px 40px;
		font-size: 1rem;
		background-size: 18px; background-position: 14px center;
	}
	.btn_result {
		padding: 9px 14px 9px 40px;
		font-size: 1rem;
		background-size: 18px; background-position: 14px center;
	}
	.btn_standby {
		padding: 9px 14px 9px 40px;
		font-size: 1rem;
		background-size: 12px; background-position: 16px center;
	}
	.btn_apply {
		padding: 9px 14px 9px 40px;
		font-size: 1rem;
		background-size: 16px; background-position: 16px center;
	}
	.btn_done {
		padding: 9px 14px 9px 40px;
		font-size: 1rem;
		background-size: 15px; background-position: 16px center;
	}
	.btn_manage {
		padding: 9px 14px 9px 40px;
		font-size: 1rem;
		background-size: 18px; background-position: 14px center;
	}
	.btn_download {
		padding: 9px 14px 9px 40px;
		font-size: 1rem;
		background-size: 18px; background-position: 15px center;
	}

	/* title style */
	.pp_pop_content .pp_section_tit{
		font-size: 16px;
	}

	/* list style */
	.pp_dlstyle dd{
		font-size: 13px;
	}

	/* tab 공통 */
	.pp_showtab, .pp_shapetab{
		height: 40px;
		font-size: 15px;
	}
	.pp_showtab3{
		font-size: 14px; line-height: 1.3em;
	}
	.pp_showtab3 span{
		display: block; margin-right: 0;
	}

	/* tab 7단 */
	.pp_showtab7{
		height: 90px; word-break: keep-all;
	}
	.pp_showtab7 li{
		width: 16.60%; height: 50%;
	}
	.pp_showtab7 li:first-child{
		width: 100%;
		border-bottom: 1px solid #ddd;
	}

	/* s tab */
	.pp_s_showtab, .pp_s_shapetab{
		height: 35px;
	}
	.pp_s_showtab li, .pp_s_shapetab li{
		width: 110px; height: 35px;
	}
	.pp_s_showtab li a, .pp_s_shapetab li a{
		font-size: 14px;
		background-position: 80px center;
	}
	.pp_s_showtab li a:hover, .pp_s_shapetab li a:hover{
		background-position: 80px center;
	}
	.pp_s_showtab li a.on, .pp_s_shapetab li a.on{
		background-position: 80px center;
	}

	/* 동그란 텝 */
	.pp_tab_list.pp_tab4 {
		margin: 0 0 20px;
		width: 100%;
	}
	.pp_tab4 li {
		width: 50%;
		text-align: center;
	}
	.pp_tab4 li a {
		padding: 0.8em 0;
		font-size: 0.9rem;
	}

	/* form style */
	.pp_chart_select .pp_form_wrapper .btn_fileupload, .pp_thumbnail_wrap .pp_form_wrapper .btn_fileupload{
		line-height: 1.5rem;
	}


	/*paging*/
	.paging_wrap{
		padding: 20px 0;
	}
	.paging_wrap a{
		width: 20px; height: 20px;
		margin-left: 4px;
		font-size: 12px; line-height: 20px;
		background-size: 20px;
	}

	/* 캘린더 */
	.bg{
		padding-bottom: 10px;
		margin-bottom: 40px;
	}
	.pp_counsel_title{
		width: 100%;
		top: 75px;
	}
	.pp_calender_topbox{
		margin-right: -98px;
		right: 50%; top: 60px;
	}
	.pp_calender_topbox li span{
		width: 15px; height: 15px;
		margin-top: 2px;
	}
}

/* 모바일 작은 사이즈 */
@media only screen and (max-width:480px) {

	/* title style */
	.pp_section_tit {
		font-size: 1.2rem;
	}

	/* 버튼 */
	.btn_examine, .btn_continue, .btn_result, .btn_standby, .btn_apply, .btn_done, .btn_manage, .btn_download {
		padding: 0 0 0 30px;
		width: 100%;
		line-height: 34px; text-align: center;
		background-position: 60px center;
	}


	.pp_searchrow_wrap{
		padding: 5px;
	}
	.pp_searchrow_wrap .pp_formbox{
		height: 30px;
	}
	.pp_searchrow_wrap .pp_select{
		width: 100%;
		margin-bottom: 5px;
	}
	.pp_searchrow_wrap input[type="text"]{
		width: 100%;
	}

	/* tab 6단 */
	.pp_showtab6 li{
		font-size: 13px;
	}

	/* tab 7단 */
	.pp_showtab7 li{
		font-size: 13px;
	}

	/* text tab - lg */
	.pp_txtbox_showtab, .pp_txtbox_shapetab{
		padding: 10px 5px;
		font-size: 15px;
	}
	.pp_txtbox_showtab li, .pp_txtbox_shapetab li{
		display: inline-block;
		width: 33.33%;
		margin-bottom: 15px;
	}
	.pp_txtbox_showtab li:nth-child(4), .pp_txtbox_shapetab li:nth-child(4){
		margin-bottom: 0;
		border-left: 0;
	}
	.pp_txtbox_showtab li:nth-child(5), .pp_txtbox_shapetab li:nth-child(5){
		margin-bottom: 0;
	}
	.pp_txtbox_showtab li:nth-child(5), .pp_txtbox_shapetab li:nth-child(6){
		margin-bottom: 0;
	}

	/* 팁 */
	.pp_tipbox {
		margin-top: 20px; padding: 10px 14px 10px 30px;
		font-size: 1rem;
		background-size: 24px; background-position: 6px 14px;
	}

}
