@charset "utf-8";

@font-face {
	font-family: 'NanumSquareR';
	font-weight: normal;
	src:url('../../fonts/NanumSquareR.eot'); /* IE9 Compat Modes */
	src:url('../../fonts/NanumSquareR.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../../fonts/NanumSquareR.woff2') format('woff2'), /* Super Modern Browsers */
		url('../../fonts/NanumSquareR.woff') format('woff'), /* Pretty Modern Browsers */
		url('../../fonts/NanumSquareR.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
	font-family: 'NanumSquareB';
	font-weight: normal;
	src:url('../../fonts/NanumSquareB.eot');
	src:url('../../fonts/NanumSquareB.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/NanumSquareB.woff2') format('woff2'),
		url('../../fonts/NanumSquareB.woff') format('woff'),
		url('../../fonts/NanumSquareB.ttf')  format('truetype');
}
@font-face {
	font-family: 'NanumGothic';
	font-weight: normal;
	src:url('../../fonts/NanumGothic.eot'); /* IE9 Compat Modes */
	src:url('../../fonts/NanumGothic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../../fonts/NanumGothic.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
	font-family: 'NanumGothicBold';
	font-weight: normal;
	src:url('../../fonts/NanumGothicBold.eot'); /* IE9 Compat Modes */
	src:url('../../fonts/NanumGothicBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../../fonts/NanumGothicBold.woff') format('woff'), /* Pretty Modern Browsers */
}
@font-face {
	font-family: 'Notokr';
	font-style: normal;
	font-weight: 100;
	src: url('../../fonts/notokr-thin.eot');
	src: url('../../fonts/notokr-thin.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/notokr-thin.woff2') format('woff2'),
		url('../../fonts/notokr-thin.woff') format('woff'),
		url('../../fonts/notokr-thin.ttf') format('truetype');
}
@font-face {
	font-family: 'Notokr';
	font-style: normal;
	font-weight: 300;
	src: url('../../fonts/notokr-light.eot');
	src: url('../../fonts/notokr-light.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/notokr-light.woff2') format('woff2'),
		url('../../fonts/notokr-light.woff') format('woff'),
		url('../../fonts/notokr-light.ttf') format('truetype');
}
@font-face {
	font-family: 'Notokr';
	font-style: normal;
	font-weight: 400;
	src: url('../../fonts/notokr-regular.eot');
	src: url('../../fonts/notokr-regular.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/notokr-regular.woff2') format('woff2'),
		url('../../fonts/notokr-regular.woff') format('woff'),
		url('../../fonts/notokr-regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Notokr';
	font-style: normal;
	font-weight: 500;
	src: url('../../fonts/notokr-medium.eot');
	src: url('../../fonts/notokr-medium.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/notokr-medium.woff2') format('woff2'),
		url('../../fonts/notokr-medium.woff') format('woff'),
		url('../../fonts/notokr-medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Notokr';
	font-style: normal;
	font-weight: 700;
	src: url('../../fonts/notokr-bold.eot');
	src: url('../../fonts/notokr-bold.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/notokr-bold.woff2') format('woff2'),
		url('../../fonts/notokr-bold.woff') format('woff'),
		url('../../fonts/notokr-bold.ttf') format('truetype');
}
html,body{
	height: auto; min-height: 100%;
	font-family: NanumGothic,"나눔고딕", Apple SD Gothic Neo, Arial, Tahoma, sans-serif;
}
body {
	min-width: 320px;
	-ms-overflow-style: scrollbar;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	font-family: Notokr, Apple SD Gothic Neo, Arial, Tahoma, sans-serif;
	font-weight: 600;
}
ul, ol, li {
	padding: 0; margin: 0;
	list-style: none;
}
a {
	color: inherit;
}
a:active, a:focus {
	color: inherit;
}
p {
	margin: 0;
}
label {
	margin-bottom: 0;
	font-weight: normal;
}
textarea {
	resize: none;
}
input[type="text"]::-ms-clear{
	display: none;
}


/* header */
.main-header h1{
	margin: 0;
}
.main-header .logo {
	font-family: NanumGothic,"나눔고딕", Apple SD Gothic Neo, Arial, Tahoma, sans-serif;
	background: #fff url(../../images/admin/header_logo.svg) no-repeat center;
	background-size: auto 35px;
	border-bottom: 1px solid #e1e1e1;
}
.sidebar-mini.sidebar-collapse .main-header .logo {
	padding-left: 0;
}
.main-header .logo .logo-lg {
	line-height:  55px; color: #0d65d9;
}
.sidebar-mini.sidebar-collapse .main-header .logo .logo-mini {
	text-align: center;
	background: #fff;
}
.sidebar-mini.sidebar-collapse .main-header .logo .logo-mini img{
	width: 30px;
	margin-left: 15px;
}

/* tnb */
.main-header .navbar {
	background-color: #77314c;
}
.pp_username a:hover, .pp_username a:focus {
	color: #fff !important;
	background: #5d2037 !important;
	cursor: default;
}

.navbar-nav > li > a {
	color: #fff;
}
.navbar-nav > li > a:hover {
	color: #fff;
	background-color: #5d2037;
}
.navbar-nav > li > a:focus {
	color: #fff;
	background-color: #5d2037;
}
.main-header .sidebar-toggle {
	color: #fff;
}

.ad_user_txt {
	font-size: 14px;
}
.ad_footer_logo {
	margin-top: -5px;
}

/* gnb */
.fixed .main-header, .fixed .main-sidebar, .fixed .left-side {
	border-right: 1px solid #d2d6de;
}
.main-sidebar {
	height: 100%;
	overflow-y: auto;
}
:not(.sidebar-mini-expand-feature).sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right),
:not(.sidebar-mini-expand-feature).sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
	width: 200px;
}

.sidebar-expanded-on-hover .main-sidebar {
	background-color: #fff;
	box-shadow: 3px 0 8px rgba(0, 0, 0, 0.125);
}

.sidebar-menu li.menu-open > a {
	color: #571830;
}
.sidebar-menu li > a:hover, .sidebar-menu li > a:active {
	color: #571830;
}

.treeview-menu {
	padding-left: 0;
	color: #fff;
	background-color: #77314c;
}
.treeview-menu li > a{
	padding-left: 20px;
}
.treeview-menu li > a:hover {
	color: #160209;
}
.treeview-menu li.menu-open>a {
	/*color: #289dd3;*/
	color: #333333;
	background: #e9e1d3;
}

.treeview-menu .treeview-menu {
	padding-left: 0;
	color: #333333;
	background-color:#f2efea;
}
.treeview-menu .treeview-menu a {
	padding-left: 30px;
}
.treeview-menu .treeview-menu a:hover {
	/*color: #fff;
	background-color: #289dd3;*/
	color: #937364;
}
.treeview-menu li.menu-open .treeview-menu li.menu-open a {
	color: #fff;
	background: #289dd3;
}

/* gnb user info */
.user-panel > .info {
	padding-left: 10px;
}
.user-panel > .info > p {
	overflow: hidden;
	width: 150px;
	font-size: 14px; white-space: nowrap; text-overflow: ellipsis;
}
.user-panel > .info > span {
	font-size: 12px;
	font-weight: 400;
	color: #7b7b7b;
}

/* footer */
.pp_footer_logo {
	margin-top: -5px;
	width: 105px;
}
a:hover, a:active, a:focus {
	color: #114979;
}

/* 탑버튼 */
.back-to-top {
	display:none;
	position: fixed; bottom: 20px; right: 30px;
	cursor: pointer;
}

/* 로딩 */
#loading {
	display: none;
	width: 100%; height: 100%;
	position: absolute; top: 0; left: 0;
	text-align: center;
	background-color: rgba(255,255,255,0.5);
	z-index: 9999;
}
#loading_image {
	display: block;
	margin: 0 auto;
	margin-top: -50px; margin-left: -33px;
	position: absolute; top: 50%; left: 50%;
}
#loading_image span{
	display: inline-block;
	margin-top: 10px;
	font-weight: 600; font-size: 18px;
}

@media (max-width: 991px) {
	.navbar-custom-menu .navbar-nav > li > a {
		color: #fff;
	}
}

@media only screen and (max-width:767px) {

	.main-header h1 {
		background-color: #fff;
	}
	.main-header .navbar {
		min-height: 40px;
	}

	.main-header .navbar .nav > li > a {
		padding: 12px 20px 7px 20px;
		font-size: 24px; line-height: 1em;
	}
	.main-header .navbar .sidebar-toggle {
		padding: 10px 20px;
		font-size: 24px; line-height: 1em;
	}

	.main-header .navbar .nav > li > .pp_client_link {
		padding: 10px 14px 7px 14px;
	}

}