@charset "utf-8";

body {
	padding-right: 0 !important; /* 모달창 오픈시 padding-right 쌓이는 오류 제거 */
}
.modal-open, .modal {
	padding-right: 0px !important;
}
.modal-header {
	border-bottom-color: #ddd;
}
.modal-footer {
	border-top-color: #ddd;
}

.ad_tit_small{
	width: 100%;
	margin: 5px 0 3px 0; padding: 10px 0 0 3px;
	font-size: 14px; font-family: NanumGothic, "나눔고딕", Apple SD Gothic Neo, Arial, Tahoma, sans-serif;
	border-top: 1px dotted rgba(0,0,0,0.1);
}

.modal-xl {
	width: 1200px;
}

/* CAT 진단 결과 */
.ad_catresult_wrap {
	padding: 10px; border: 1px solid #ddd;
	font-size: 14px; line-height: 1.5em;
}

.ad_result_txt {
	padding: 10px; margin: 10px 0 30px;
	word-break: keep-all;
	border: 1px solid #ddd;
}
.ad_graphbar_wrap2 ul li {
	height: 40px;
	border: none;
}
.ad_graphbar_wrap2 ul li {
	opacity: 0.3;
}
.ad_graphbar_wrap2 p {
	top: 10px;
}

@media all and (max-width:1024px) {
	.modal-xl {
		width: 96%;
	}
}