@charset "utf-8";
/* CSS Document */

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #999;
}
input::-moz-placeholder { /* Firefox 19+ */
	color: #999;
}
input:-ms-input-placeholder { /* IE 10+ */
	color: #999;
}
input:-moz-placeholder { /* Firefox 18- */
	color: #999;
}

/* 타이틀 */
.ad_page_tit{
	width: 100%;
	padding: 10px 0;
	position: relative;
	font-size: 24px; line-height: 1.5em;
}
.ad_content_tit{
	width: 100%;
	margin-bottom: 10px; padding-bottom: 5px;
	font-size: 32px; line-height: 1.3em; vertical-align: middle;
	border-bottom: 2px solid #ddd;
}
.ad_content_tit span{
	display: block;
	margin-top: 5px;
	font-size: 14px; color: #939393; line-height: 1.3em;
}
.ad_content_tit .btn_border{
	height: auto;
	line-height: 1.2em;
}

.ad_section_tit{
	padding: 5px 0 5px 20px;
	background: url(../../images/admin/icon_tit.gif)0 center no-repeat;
	font-size: 17px; line-height: 1.5em;
}

.ad_section_stit{
	padding: 3px 0;
	font-size: 14px; line-height: 1.5em;
}
.ad_section_stit .stit_bullet{
	display: inline-block;
	width: 5px; height: 5px;
	margin-right: 5px;
	vertical-align: middle;
	background: #ad8e62;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

/* tab */
.pp_tab_list {
	display: table;
	width: auto;
	font-size: 0; line-height: 0;
	background-color: #f7f0f2;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
.pp_tab_list li {
	display: inline-block;
}
.pp_tab_list li a{
	display: block;
	padding: 0.7em 2em;
	font-size: 1rem; line-height: 1em;
}
.pp_tab_list li:first-child a {
	-webkit-border-radius: 30px 0 0 30px;
	-moz-border-radius: 30px 0 0 30px;
	border-radius: 30px 0 0 30px;
}
.pp_tab_list li:last-child a {
	-webkit-border-radius: 0 30px 30px 0;
	-moz-border-radius: 0 30px 30px 0;
	border-radius: 0 30px 30px 0;
}
.pp_tab_list li a.on {
	color: #fff;
	background: #c51168;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	box-shadow: 2px 2px 4px #666;
}

/* 별점 */
.pp_starlevel_wrap li {
	display: inline-block;
	margin: 0 10px;
	vertical-align: top;
}
.pp_starlevel_wrap strong {
	margin-right: 4px;
	vertical-align: top; line-height: 18px;
}
.pp_starlevel {
	display: inline-block;
	width: 18px; height: 18px;
	background: url('../../images/edu/sub/icon_star.png') no-repeat; background-size: 18px;
}
.pp_starlevel.on {
	background-image: url('../../images/edu/sub/icon_star_on.png');
}

/* 썸네일 파일 박스 */
.pp_thumbnail_wrap {
	position: relative;
	padding: 10px;
	min-height: 100px;
	text-align: left;
	background: #e5f0f7;
}
.pp_thumbnail_wrap h4 {
	padding-bottom: 12px;
	font-weight: 600; color: #4c4c4c;
}
.pp_file_linkbox{
	display: inline-block;
	width: auto;
	padding: 3px 0; margin-top: 2px;
	position: relative;
}
.pp_file_link{
	padding: 2px 0 2px 20px;
	color: #1075c9;
	background: url(../../images/edu/sub/icon_filelink.png) 0 4px no-repeat;
}
.pp_file_link:hover{
	text-decoration: underline;
}

/* btn-style */
button i{
	margin-right: 5px;
}
label i{
	margin-right: 5px;
}
.btn {
	display: inline-block;
	vertical-align: middle; text-align: center;
	line-height: 1.2em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
}
.btn_border {
	display: inline-block;
	vertical-align: middle; text-align: center;
	line-height: 1.2em;
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
}


/* btn-size */
.btn_xs{ padding: 4px; font-size: 11px; }
.btn_sm{ padding: 5px 7px 4px 7px; font-size: 13px; }
.btn_md{ padding: 7px 10px 6px 10px; font-size: 14px; }
.btn_lg{ padding: 10px 15px 9px 15px; font-size: 14px; }
.btn_xl{ padding: 12px 25px; font-size: 16px;}

.btn_bo_xs{ padding: 3px; font-size: 11px; }
.btn_bo_sm{ padding: 4px 6px 3px 6px; font-size: 13px; }
.btn_bo_md{ padding: 6px 9px 5px 9px; font-size: 14px; }
.btn_bo_lg{ padding: 9px 14px 8px 14px; font-size: 14px; }
.btn_bo_xl{ padding: 11px 24px; font-size: 16px; }

label.btn_bo_sm{
	padding: 4px 7px 4px 7px;
}

/* btn-color */
.btn_default{ color: #fff !important; background: #515151 !important; }
.btn_gray{ color: #fff !important; background: #c9ced1 !important; }
.btn_deepgray{ color: #fff !important; background: #999 !important; }
.btn_blue{ color: #fff !important; background: #39bedf !important; }
.btn_deepblue{ color: #fff !important; background: #1075c9 !important; }
.btn_red{ color: #fff !important; background: #e85c65 !important; }
.btn_pink{ color: #fff !important; background: #dc0d72 !important; }
.btn_orange{ color: #fff !important; background: #fcb040 !important; }
.btn_green{ color: #fff !important; background: #94c166 !important; }
.btn_deepgreen{ color: #fff !important; background: #00b59e !important; }
.btn_yellow{ color: #fff !important; background: #edc937 !important; }

/* btn-bordercolor */
.bo_default{ color: #515151 !important; background: #f5f5f5; border-color:#ddd; }
.bo_gray{ color: #c9ced1 !important; background: #fff; border-color:#c9ced1; }
.bo_deepgray{ color: #999 !important; background: #fff; border-color:#999; }
.bo_blue{ color: #39bedf !important; background: #fff; border-color:#39bedf; }
.bo_deepblue{ color: #017ac3 !important; background: #fff; border-color:#1075c9; }
.bo_red{ color: #e85c65 !important; background: #fff; border-color:#e85c65; }
.bo_orange{ color: #fca21f !important; background: #fff; border-color:#fcb040; }
.bo_green{ color: #94c166 !important; background: #fff; border-color:#94c166; }
.bo_deepgreen{ color: #00b59e !important; background: #fff; border-color:#00b59e; }
.btn_excel{ color: #00ac4f !important; background: #fff; border-color:#00ac4f; }
.bo_yellow{ color: #edc937 !important; background: #fff; border-color:#edc937; }

/* border - 교과목 이수 체계도 테이블 */
.bo_chart_blue { border: 4px solid #8ac5d7 !important; }
.bo_chart_yellow { border: 4px solid #fcc15e !important; }
.bo_chart_pink { border: 4px solid #efa3af !important; }
.bo_chart_orange { border: 4px solid #fe7e05 !important; }
.bo_chart_purple { border: 4px solid #c5a5ca !important; }
.bo_chart_red { border: 4px solid #ca0465 !important; }
.bo_chart_green { border: 4px solid #79ce24 !important; }

/* bg - 교과목 이수 체계도 테이블 */
.bg_chart_blue { background-color: #8ac5d7; }
.bg_chart_yellow { background-color: #fcc15e; }
.bg_chart_pink { background-color: #efa3af; }
.bg_chart_orange { background-color: #fe7e05; }
.bg_chart_purple { background-color: #c5a5ca; }
.bg_chart_red { background-color: #ca0465; }
.bg_chart_green { background-color: #79ce24; }

.pp_chart_color span {
	float: left;
	display: block;
	margin-right: 10px;
}
.pp_chart_color i {
	display: inline-block;
	margin-right: 4px;
	width: 16px; height: 16px;
	vertical-align: middle;
}

/* 교과목 이수 체계도 */
.pp_pop_content .pp_tbl_chart th {
	padding: 6px;
}
.pp_pop_content .pp_tbl_chart td p {
	padding: 2px 0;
	height: 59px;
	font-size: 0.8rem;
}

/* btn-function */
.btn_refresh {
	padding: 5px 8px 4px 8px;
	color: #fff; text-align: center;
	background: #999;
}
.btn_refresh i {
	margin-right: 0; text-overflow: ellipsis;
}
.btn_sort{
	padding: 0 5px;
	color: #3a3a3a; font-weight: 600; text-align: center !important;
	vertical-align: middle;
	background: #fff;
	border: 1px solid #ddd;
}
.btn_sort:hover{
	color: #fff;
	background: #00b59e;
	border: 1px solid #00b59e;
}
.btn_cancel {
	color: #e85c65;
	display: inline-block;
}
.btn_cancel i {
	margin: 0;
}
.pp_btn_updown_box{
	display: inline-block;
	width: 25px;
	line-height: 1em;
	vertical-align: middle;
}
.pp_btn_updown_box .btn_sort{
	display: inline-block;
	width: 25px; height: 13px;
	margin-top: 2px;
}
.pp_btn_updown_box .btn_sort:first-child{
	margin-top: 0px;
}

/* 토글버튼 */
.btn_toggle_input {
	width: 0px;
	height: 0px;
	position: absolute;
	outline: none;
}
.btn_toggle_input:focus {
	outline: none;
}
.btn_toggle_text {
	display: inline-block;
	position: relative;
	color: #FFF; text-align: center;
	background: #3a3a3a;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	cursor: pointer;
	transition: background-color 0.15s;
}
.btn_toggle_input:checked ~ .btn_toggle_text {
	background: #00b59e;
}

/* link style */
.ad_directlink{ text-decoration: underline !important; color:#1a93d2 !important; }
.ad_directlink:hover{ color: #3bbd77 !important;}
.ad_filelink{ color:#1a93d2 !important; }
.ad_filelink i{ margin-right: 3px; }
.ad_filelink:hover{ color: #3bbd77 !important;}
.ad_link:hover{ color:#43939a; }

/* form style- input, select, textarea등 기본설정 */
.ad_formstyle{
	font-size: 13px;
	border: 1px solid #ddd;
}
.ad_formstyle_s{
	border: 1px solid #ddd;
}
input.ad_formstyle{
	width: 100%;
	padding: 6px 8px;
}
select.ad_formstyle{
	padding: 5px 8px;
}
textarea.ad_formstyle{
	padding: 15px;
}
.ad_formstyle_s{
	font-size: 12px;
}
input.ad_formstyle_s{
	width: 100%;
	padding: 4px 7px;
}
select.ad_formstyle_s{
	padding: 3px 7px;
}
.ad_formstyle:focus{
	outline: 0;
	border-color: #00b59e;
}
.ad_formstyle_s:focus{
	outline: 0;
	border-color: #00b59e;
}
.ad_disable{
	background: #f1f1f1 !important;
}
.ad_disable:focus{
	border-color: #ddd !important;
}

/* form style- 검색박스: 셀렉조건1개 */
.ad_search_area{
	width: 100%;
	padding: 5px 5px 5px 125px;
	margin-bottom: 10px;
	vertical-align: middle;
	background: #f6f6f6;
	border: 1px solid #ddd;
}
.ad_btn_area{
	margin: 5px 0;
	position: relative;
	text-align: right; vertical-align: top;
}
.ad_btn_area_left{
	margin-bottom: 5px;
	position: relative;
	text-align: left; vertical-align: top;
}
.ad_btn_textbox{
	width: 100%; min-height: 30px;
	position: relative;
}
.ad_btn_textbox .ad_btn_area{
	text-align: right;
	position: absolute; right: 0; bottom: 0px;
}
.ad_search_box{
	overflow: hidden;
	width: 100%; height: 29px;
	position: relative;
}
.ad_search_box *{
	height: 100%;
}
.ad_search_area select{
	float: left;
	width: 115px;
	margin-left: -120px;
}
.ad_search_box input[type="text"]{
	width: 100%; height: 100%;
	position: relative;
	padding-right: 90px;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}
.ad_search_box .btn_search{
	display: block;
	width: 70px; height: 100%;
	position: absolute; right: 0px; top: 0px;
	text-align: center; line-height: 29px;
	background: #00b59e; color: #fff;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
}
.ad_search_box .btn_reset{
	width: 15px; height: 15px;
	position: absolute; top: 5px; right: 70px;
	font-size: 12px; color: #999; font-weight: normal;
}

/* form style- 검색박스: 셀렉조건2개 */
.select_2depth{
	width: 100%;
	padding: 5px 5px 5px 205px;
}
.select_2depth select{
	float: left;
	width: 95px; margin-left: -100px;
}
.select_2depth select:first-child{
	margin-left: -200px;
}

/* input text- reset버튼 있는거 */
.ad_inputtxt_reset{
	display: inline-block;
	width: 100%;
	position: relative;
}
.ad_inputtxt_reset input[type="text"]{
	width: 100%;
	padding-right: 30px;
}
.ad_inputtxt_reset .btn_reset{
	width: 15px; height: 15px;
	margin-top: -7px;
	position: absolute; top: 50%; right: 5px;
	font-size: 12px; color: #999;
}

/* multi selectbox */
.ad_multiselect{
	width: 100%; min-height: 460px;
	padding: 10px;
	border: 1px solid #ddd;
}
.ad_multiselect:focus{
	outline: 0;
}
.no_scroll::-webkit-scrollbar {display:none;}
.no_scroll::-moz-scrollbar {display:none;}
.no_scroll::-o-scrollbar {display:none;}
.no_scroll::-google-ms-scrollbar {display:none;}
.no_scroll::-khtml-scrollbar {display:none;}
.ad_multiselect option{
	padding: 3px;
	font-size: 12px; ;line-height: 1.5em;
}
.ad_multiselect[multiple]:focus option:checked {
	background: #00b59e linear-gradient(0deg, #00b59e 0%, #00b59e 100%);
}

/* input-style */
.ad_survey_list{
	display: inline-block;
	padding: 4px 3px; line-height: 1.2em;
	vertical-align: middle;
}
.check{
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height:1px;
	width:1px;
	margin:-1px;
}
.check + label.check_label {
	padding-left:18px;
	height:15px;
	display:block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	vertical-align:middle;
	cursor:pointer;
}
.check:checked + label.check_label {
	background-position: 0 -15px;
}

.check_green{
	background-image:url(../../images/common/icon_checkbox_green.jpg);
}
.check_black{
	background-image:url(../../images/common/icon_checkbox_black.jpg);
}
.check_orange{
	background-image:url(../../images/common/icon_checkbox_orange.jpg);
}
.check_blue{
	background-image:url(../../images/common/icon_checkbox_blue.jpg);
}
.check_gray{
	background-image:url(../../images/common/icon_checkbox_gray.jpg);
}

.radio{
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height:1px;
	width:1px;
	margin:-1px;
}
.radio + label.radio_label {
	padding-left:18px;
	height:15px;
	display: block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	vertical-align:middle;
	cursor:pointer;
}
.radio + label.radio_label_hidden{
	width:15px; height:15px;
	display: block;
	line-height:15px;
	text-indent: -9999px;
	background-repeat:no-repeat;
	background-position: 0 0;
	vertical-align:middle;
	cursor:pointer;
}
.radio:checked + label.radio_label {
	background-position: 0 -15px;
}
.radio:checked + label.radio_label_hidden {
	background-position: 0 -15px;
}

.radio_green{
	background-image:url(../../images/common/icon_radio_green.jpg);
}
.radio_orange{
	background-image:url(../../images/common/icon_radio_orange.jpg);
}
.radio_blue{
	background-image:url(../../images/common/icon_radio_blue.jpg);
}
.radio_black{
	background-image:url(../../images/common/icon_radio_black.jpg);
}
.radio_gray{
	background-image:url(../../images/common/icon_radio_gray.jpg);
}

.ad_btn_count{
	overflow: hidden;
	display: inline-block;
	width: auto; height: 24px;
	font-size: 0; line-height: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.ad_btn_count input[type="text"]{
	width: 50px; height: 23px;
	padding: 0 5px;
	text-align: center;
	border: 1px solid #ddd
}
.ad_btn_count .btn{
	width: 20px; height: 100%;
	color: #fff; font-size: 15px;
	background: #959595;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.ad_btn_count .btn:hover{
	background: #1075c9;
}
.ad_btn_count .btn:first-child:hover{
	background: #e85c65;
}


/* 달력 */
.ad_calendar_sel{
	display: inline-block;
	width: 100%;
	position: relative;
}
.ad_calendar_sel input[type="text"]{
	width: 100%;
	padding-right: 60px;
	background: #f1f1f1;
}
.ad_calendar_sel .btn_reset{
	width: 15px; height: 15px;
	margin-top: -7px;
	position: absolute; top: 50%; right: 27px;
	font-size: 12px; color: #999;
}
.ad_calendar_img{
	display: block;
	width: 20px; height: 20px;
	position: absolute; right: 5px; top: 5px;
	text-indent: -9999px;
	background: url(../../images/admin/btn_calendar_off.png)0 0 no-repeat;
	transition: background 0.3s;
}
.ad_calendar_sel input[type="text"]:hover ~ .ad_calendar_img{
	background: url(../../images/admin/btn_calendar_on.png)0 0 no-repeat;
}
.ad_calendar_img:hover{
	background: url(../../images/admin/btn_calendar_on.png)0 0 no-repeat;
}
.ad_calendar_sel input[type="text"]:focus{
	background: #fff;
}
.ad_calendar_sel input[type="text"]:focus ~ .ad_calendar_img{
	background: url(../../images/admin/btn_calendar_on.png)0 0 no-repeat;
}

/* 가로 스크롤 테이블 */
.pp_scrollx_tbl{
	width: 100%;
	overflow-x: auto;
}
.pp_scrollx_tbl table{
	min-width: 800px;
}
.pp_scrollx_tbl_xs{
	width: 100%;
	overflow-x: auto;
}
.pp_scrollx_tbl_xs table{
	min-width: 450px;
}
.pp_scrollx_tbl_sm{
	width: 100%;
	overflow-x: auto;
}
.pp_scrollx_tbl_sm table{
	min-width: 600px;
}
.pp_scrollx_tbl_md{
	width: 100%;
	overflow-x: auto;
}
.pp_scrollx_tbl_md table{
	min-width: 1000px;
}
.pp_scrollx_tbl_lg{
	width: 100%;
	overflow-x: auto;
}
.pp_scrollx_tbl_lg table{
	/*min-width: 1200px;*/
	min-width: 1600px;
}
.pp_scrollx_tbl_xl{
	width: 100%;
	overflow-x: auto;
}
.pp_scrollx_tbl_xl table{
	min-width: 1500px;
}

/* table style - common */
.ad_list_table_wrap {
	width: 100%;
	position: relative;
}
.ad_list_table_wrap table{
	border: 1px solid #ddd;
	border-top: 2px solid #555555;
}
.ad_list_table_wrap table th{
	padding: 10px 5px;
	font-size: 14px;
	line-height: 1.3em;
	background-color: #f6f6f6;
	border-bottom: 1px solid #ddd;
}
.ad_list_table_wrap table tbody tr:nth-of-type(1) th {
	border-top: 2px solid #555;
}
.ad_list_table_wrap table td{
	position: relative;
	padding: 10px 8px;
	font-size: 13px; line-height: 1.3em;
}
.ad_list_table_wrap tbody td{
	border-bottom: 1px solid #ddd;
}
.ad_list_table_wrap tfoot th{
	text-align: center;
}
.ad_list_table_wrap tfoot td{
	text-align: center;
	border-bottom: 1px solid #ddd;
}

/* table style - 기본 세로형 리스트 스타일 */
.ad_list_tbl {
	width: 100%;
	position: relative;
}
.ad_list_tbl thead th {
	text-align: center;
	background-image: url('../../images/admin/bar_util15.png');
	background-repeat: no-repeat;
	background-position: left center;
	border-top: 1px solid #ddd;
	border-left: none; border-right: none;
}
.ad_list_tbl thead th.tbl_bgno {
	background-image: none;
}
.ad_list_tbl tbody td {
	text-align: center;
}
.ad_list_table_wrap table td.nothing{
	padding: 0px 0px;
}

/* table style - 기본 세로형 리스트 스타일 thead row 2줄이상 */
.ad_multirow_list_tbl {
	width: 100%;
	position: relative;
}
.ad_multirow_list_tbl thead th {
	text-align: center;
	border-left: 1px solid #ddd;
}
.ad_multirow_list_tbl tbody th{
	text-align: center;
}
.ad_multirow_list_tbl tbody td {
	text-align: center;
	border-left: 1px solid #ddd;
}


/* table style - 가로형 스타일 */
.ad_vlist_tbl {
	width: 100%;
	position: relative;
	text-align: left;
}
.ad_vlist_tbl th {
	text-indent: 5px; line-height: 1.5em;
	border: 1px solid #ddd;
}
.ad_vlist_tbl th.bullet_orange {
	border: 1px solid #ddd;
}
.ad_vlist_tbl th.bullet_orange img{
	margin-left: 5px;
}

/* table style - 테이블 내부 테이블 */
.ad_inner_tbl {
	width: 100%;
	position: relative;
	text-align: left;
	border-top: 1px solid #ddd !important;
}
.ad_inner_tbl th {
	text-indent: 5px; line-height: 1.5em; text-align: center;
	border: 1px solid #ddd;
}
.ad_inner_tbl td{
	text-align: center;
	border: 1px solid #ddd;
}
.td_input{
	padding: 4px !important;
}
/* table style - 보더없음 */
.ad_list_table_wrap.border_not {
	border: 0;
}
.ad_list_table_wrap.border_not table {
	border: 0;
}
.ad_list_table_wrap.border_not tbody tr:nth-of-type(1) th {
	border: 0;
}
.ad_list_table_wrap.border_not th {
	position: relative;
	border: 0;
	padding: 2px;
	text-align: center;
	background: 0;
}
.ad_list_table_wrap.border_not tbody td {
	border: 0;
	padding: 2px;
	text-align: center;
}
/* hover table */
.ad_hover_tbl tbody tr:hover{
	background-color: #f6f6f6;
}

/* hover table - tab 기능 포함한 테이블 */
.ad_hover_tbl tbody tr.showtab_dt_js:hover{
	cursor: pointer;
}
.ad_hover_tbl tbody tr.showtab_dd_js:hover{
	background-color: #fff;
	cursor: default;
}

/* 가로스크롤 생성 테이블 */
.ad_scroll_table{
	overflow-x: auto;
}
.ad_scroll_table table{
	min-width: 1280px;
}

/* table style - 오름차순,내림차순 정렬 버튼 스타일 */
.arrow_all a {
	display: inline-block;
	width: 9px; height: 21px;
	position: absolute;
	background: url(../../images/admin/arrow_all.jpg) no-repeat;
	background-position: 0 top;
}

.arrow_ascending a {
	background: url(../../images/admin/arrow_ascending.png) no-repeat;
	background-position: 0 center;
	display: inline-block;
	width: 9px;
	height: 6px;
	position: absolute;
	margin-left: 5px;
	margin-top: 3px;
}

.arrow_descending a {
	background: url(../../images/admin/arrow_descending.png) no-repeat;
	background-position: 0 center;
	display: inline-block;
	width: 9px; height: 6px;
	position: absolute;
	margin-top: 11px;
	margin-left: 5px;
}

.arrow_ascending a:hover {
	background: url(../../images/admin/arrow_ascending_over.png) no-repeat;
	background-position: 0 center;
	display: inline-block;
	position: absolute;
}
.arrow_descending a:hover {
	background: url(../../images/admin/arrow_descending_over.png) no-repeat;
	background-position: 0 center;
	display: inline-block;
	position: absolute;
}
.arrow_upper a {
	background: url(../../images/admin/arrow_upper.png) no-repeat;
	background-position: 0 center;
	display: inline-block;
	width: 9px;
	height: 6px;
	position: absolute;
	margin-left: 5px;
}
.arrow_upper.on a {
	background-image: url(../../images/admin/arrow_ascending.png);
}
.arrow_lower a {
	background: url(../../images/admin/arrow_lower.png) no-repeat;
	background-position: 0 center;
	display: inline-block;
	width: 9px; height: 6px;
	position: absolute;
	margin-top: 8px;
	margin-left: 5px;
}
.arrow_lower.on a {
	background-image: url(../../images/admin/arrow_descending.png);
}


.menu_table {
	font: 12px "NanumGothic", NanumGothic, Dotum, "돋움", Arial, sans-serif;
	text-align: left;
	color: #505050 ! important;
}

.menu_table .line {
	border-top: 2px solid #7a7a7a;
}

.menu_table th.bullet_orange {
	text-align: left;
	background-color: #f6f6f6;
	background-image: url('../../images/admin/bullet_orange.png');
	background-repeat: no-repeat;
	background-position: 10px center;
	font: 12px "NanumGothicBold", NanumGothicBold, Dotum, "돋움", Arial, sans-serif;
	padding: 0 8px;
	border: 1px solid #d9d9d9;
	text-indent: 10px;
	line-height: 1.5em;
	height: 35px;
}

.menu_table td {
	padding: 0 8px;
	border: 1px solid #d9d9d9;
	height: 35px;
}

.menu_table th {
	text-align: left;
	background-color: #f6f6f6;
	background-image: url('../../images/admin/bullet_square.png');
	background-repeat: no-repeat;
	background-position: 10px center;
	font: 12px "NanumGothicBold", NanumGothicBold, Dotum, "돋움", Arial, sans-serif;
	padding: 0 8px;
	border: 1px solid #d9d9d9;
	text-indent: 10px;
	line-height: 1.5em;
	height: 35px;
}

.menu_table thead th {
	background-color: #f6f6f6;
	background-image: url('../../images/admin/bar_util15.png');
	background-repeat: no-repeat;
	background-position: left center;
	text-align: center;
	font: 12px "NanumGothicBold", NanumGothicBold, Dotum, "돋움", Arial, sans-serif;
}

table.tableList2 {
	border-top: 2px solid #7a7a7a;
	border-left: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
	/*width:470px;*/
}

.tableList2 {
	/*width:980px;*/
	font: 12px "NanumGothic", NanumGothic, Dotum, "돋움", Arial, sans-serif;
}

.tableList2 th {
	padding: 10px 0;
	font: 12px "NanumGothicBold", NanumGothicBold, Dotum, "돋움", Arial, sans-serif;
}

.tableList2 thead th {
	background-color: #f6f6f6;
	background-image: url('../../images/admin/bar_util15.png');
	background-repeat: no-repeat;
	background-position: left center;
	text-align: center;
	border-bottom: 1px solid #DCDCDC;
	font: 12px "NanumGothicBold", NanumGothicBold, Dotum, "돋움", Arial, sans-serif;
}

.tableList2 thead th.noBg {
	background-image: none;
}

.tableList2 tbody td {
	padding: 8px 8px;
	text-align: center;
	border-bottom: 1px solid #DCDCDC;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* 페이징 컨트롤 */
.paging_place {
	clear: both;
	padding: 25px 0 0 0;
	text-align: center;
}
.paging_place_line {
	text-align: center;
	border-bottom: 1px dotted #C7C7C7;
	padding: 30px 0 14px 0;
}
.paging_wrap {
	display: table;
	margin: 0 auto;
}
.paging_wrap a {
	overflow: hidden;
	display: block; float: left;
	min-width: 30px; height: 30px;
	padding: 0 5px;
	line-height: 29px; font-size: 13px;
	color: #6f757c; text-align: center;
	background: #fff;
	border: 1px solid #c7c7c7;
	border-left: 0;
}
.paging_wrap a:first-child{
	border-left: 1px solid #c7c7c7;
}
.paging_wrap a:hover {
	background-color: #f1f1f1;
}
.paging_wrap a:last-child {
	margin-right: 0;
}
.paging_wrap a.page_con{
	text-indent: -9999px;
	background-repeat: no-repeat;
	background-image: url(../../images/admin/ico_paging_con_black.png);
}
.paging_wrap a.first_page {
	background-position: -3px -3px;
	border-left: 1px solid #c7c7c7;
}
.paging_wrap a.pre_page {
	font-size: 18px;
	background-position: -3px -37px;
}
.paging_wrap a.next_page {
	font-size: 18px;
	background-position:-37px -37px;
}
.paging_wrap a.last_page {
	background-position: -37px -3px;
}
.paging_wrap a:focus{
	outline: 0;
}
.paging_wrap a.active {
	color: #fff; line-height: 30px;
	background: #ca0465;
	border: none;
}

/* 페이징 컨트롤 - 검색결과용 작은 페이징 */
.paging_wrap_s {
	display: table;
	margin: 0 auto; margin-bottom: 3px;
}
.paging_wrap_s a {
	overflow: hidden;
	display: block; float: left;
	min-width: 18px; height: 18px;
	margin-right: 4px;
	line-height: 17px; font-size: 11px;
	color: #6f757c; text-align: center;
	background: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.paging_wrap_s a:hover {
	background-color: #f1f1f1;
}
.paging_wrap_s a:last-child {
	margin-right: 0;
}
.paging_wrap_s a.page_con{
	text-indent: -9999px;
	background-repeat: no-repeat;
	background-image: url(../../images/admin/ico_paging_con_black.png);
}
.paging_wrap_s a.first_page {
	background-position: -9px -9px;
}
.paging_wrap_s a.pre_page {
	margin-right: 10px;
	background-position: -9px -43px;
}
.paging_wrap_s a.next_page {
	margin-left: 10px;
	background-position:-43px -43px;
}
.paging_wrap_s a.last_page {
	background-position: -43px -9px;
}
.paging_wrap_s a:focus{
	outline: 0;
}
.paging_wrap_s a.active {
	color: #fff; line-height: 18px;
	background: #ca0465;
	border: none;
}

/* 기타 영역관련 */
.ad_row_2box{
	width: 49%;
}

/* jqgrid */
.ui-jqgrid .ui-jqgrid-view{
	border-top: 2px solid #555;
}
.ui-widget-content{
	border: 1px solid #dadada;
}
.ui-jqgrid .ui-jqgrid-htable th{
	font-size: 13px;
}
.ui-jqgrid tr.ui-row-ltr td{
	font-size: 12px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	color: #3a3a3a;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #333333), color-stop(0.51, #292929), color-stop(1, #434343));
	background: #f1f1f1;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#434343', gradientType=0);
	border: 1px solid #ddd;
}
.ui-jqgrid .ui-jqgrid-toppager .ui-pager-control, .ui-jqgrid .ui-jqgrid-pager .ui-pager-control .ui-widget-header .ui-state-default{
	background: #fff !important;
}
.ui-state-default .ui-icon{
	background-image: url(../../images/admin/ui-icons_2e83ff.png);
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr{
	border-radius: 0;
}
/*.ui-jqgrid .ui-jqgrid-pager .ui-pg-div span.ui-icon, .ui-jqgrid .ui-jqgrid-toppager .ui-pg-div span.ui-icon{
	width: 25px !important; height: 25px;
}*/

/* jqgrid - dialog */
.ui-jqgrid .ui-jqgrid-htable th div{
	height: auto !important;
}
.ui-jqdialog{
	padding: 0; float: none !important;
}
.ui-jqdialog .ui-jqdialog-titlebar{
	padding: 8px 5px; height: auto;
	color: #555;
	background: #f1f1f1;
	border-color: #ddd;
}
.ui-search-table th{
	padding: 3px 2px;
}
.ui-search-table td{
	padding: 3px 2px;
}
.ui-search-table td.data input{
	width: 100% !important;
}
.fm-button{
	height: auto;
	padding: 8px 8px 8px 20px;
	border: 0;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.fm-button-icon-right .ui-icon{
	right: auto; left: 0.2em;
	background-image: url(../../images/admin/ui-icons_d8e7f3_256x240_w.png);
}
.fm-button-icon-left .ui-icon{
	background-image: url(../../images/admin/ui-icons_d8e7f3_256x240_w.png) !important;
}
.ui-widget .ui-widget{
	width: 100%;
}
.ui-search-table th{
	padding: 3px 2px !important;
}
.ui-search-table .first{
	display: none;
}

/* table - 합계 */
.ad_tbl_sum th, .ad_tbl_sum td {
	background: #f6f6f6;
}

/* no text box */
.ad_notxt_box {
	padding: 15px;
	border: 1px solid #d7d7d7;
	border-top: 1px solid #a98146;
}
.ad_notxt {
	color: #a7a7a7; text-align: center;
}

/* 로딩 - 그래프박스용 */
.graph_wrap {
	overflow: hidden;
	width: 100%; min-height: 220px;
	position: relative;
	font-size: 1rem;
	line-height: 1.5em;
	border: 1px solid #ddd;
}
.graph_wrap .graph_box {
	text-align: center;
}
.graph_wrap .graph_box img {
	width: auto;
	max-width: 100%;
	height: auto;
}
.graph_wrap .loading_box {
	width: 100%; height: 100%;
	position: absolute; top: 0; left: 0;
	background: rgba(255,255,255,0.8);
}
.graph_wrap .loading_box img {
	width: 60px; max-width: 80%; height: 60px;
	position: absolute; top: 50%; left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.graph_wrap.test {
	height: 480px;
	position: relative;
}
.graph_wrap.test img {
	position: absolute; top: 50%; left: 50%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
}
.graph_wrap.test .graph_box .loading_box img{
	position: absolute; top: 50%; left: 50%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
}
.graph_wrap.test2 img {
	position: static;
	transform:translate(0);
	-webkit-transform:translate(0);
	-moz-transform:translate(0);
	-o-transform:translate(0);
}
.graph_wrap .button_box {
	width: 480px;
	margin-top: 10px;
	position: relative;
	left: 50%;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-o-transform:translateX(-50%);
	margin-bottom: 20px;
}
.graph_wrap .button_box .btn{
	width: 157px;
	margin-bottom: 2px;
}
