@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: "NanumGothic";
	font-weight: normal;
	src: url("../../font/NanumGothic.eot");
	src: local(na), url("../../font/NanumGothic.woff") format('woff');
}

@page {
	size: A4;
	margin: 0cm;
}
* {
	margin: 0;
	padding: 0;
	line-height: 150%;
	font-weight: normal;
	color: #313131;
	font-family: '굴림', '굴림체', NanumGothic, sans-serif;
	box-sizing: border-box;
}
img {
	outline: 0;
	border: 0;
}
body {
	font-size: 16px;
	background: #fff;
}
table{ border-collapse:collapse; border-spacing:0; }
table caption{ font-size:0; height:0; text-indent:-9999px; }

.page{
	width: 21cm;
	height: 29.7cm;
	padding: 1cm;
	margin: 0cm auto;
}
.sub_page {
	overflow: hidden;
    padding: 1cm;
}

/* 공용장비 사용 신청서 */
.rental_form h1{
	margin-top: 20px;
	font-size: 40px; text-align: center; font-weight: 600;
}
.form_wrap{
	margin-top: 20px;
	border: 2px solid #3a3a3a;
}
.form_wrap table tr{
	border-bottom: 1px solid #3a3a3a;
}
.form_wrap table th{
	padding: 10px;
	font-weight: 600;
	border-left: 1px solid #3a3a3a;
	background: #f1f1f1;
}
.form_wrap table td{
	padding: 10px; font-size: 15px;
	text-align: center;
	border-left: 1px solid #3a3a3a;
	border-right: 1px solid #3a3a3a
}
th.bor_none{
	border-left: 0 !important;
}
td.bor_none{
	border-right: 0 !important;
}
.bottom_txt{
	padding: 20px;
	text-align: center;
}
.bottom_txt01{
	margin-top: 20px;
}
.name_txt{
	display: inline-block;
	padding-right: 40px;
	min-width: 100px;
}
.dear_txt{
	display: block;
	margin: 20px 0 30px 0;
	text-align: center; line-height: 1.5em; font-size: 32px; font-weight: 600;
}
.form_inline{
	display: inline;
	margin-right: 5px;
}
.form_inline input{
	display: none;
}
.form_inline label{
	display: inline-block;
	width: 15px; height: 18px;
	position: relative;
}
.form_inline input[type="checkbox"]:checked + label:after{
	display: block;
	content: '\2714'; 
	height: 18px;
	position: absolute; top: 0px; left: 2px;
	font-size: 15px;
}
.rental_content{
	min-height: 105px;
}
