@charset "utf-8";

/* placeholder */
/*Chrome, Firefox, Opera, Safari 20.1+*/
input::placeholder {
	color: #aeadae !important;
	opacity: 1; /*firefox*/
}
/*Firefox*/
input:-moz-input-placeholder {
	color: #aeadae !important;
}
/*IE 10-11*/
input:-ms-placeholder {
	color: #aeadae !important;
}
input:-ms-input-placeholder {
	color: #aeadae !important;
}
/*Microsoft Edge*/
input::-ms-placeholder {
	color: #aeadae !important;
}

/*Chrome, Firefox, Opera, Safari 20.1+*/
textarea::placeholder {
	color: #aeadae !important;
	opacity: 1; /*firefox*/
}
/*Firefox*/
textarea:-moz-input-placeholder {
	color: #aeadae !important;
}
/*IE 10-11*/
textarea:-ms-placeholder {
	color: #aeadae !important;
}
textarea:-ms-input-placeholder {
	color: #aeadae !important;
}
/*Microsoft Edge*/
textarea::-ms-placeholder {
	color: #aeadae !important;
}

/* 탭 */
.tab_list {
	margin-bottom: 30px;
	font-size: 0; line-height: 0;
	border-bottom: 1px solid #d0ccc9;
}
.tab_list li {
	position: relative;
	display: inline-block;
	vertical-align: top;
	border-top: 1px solid #d0ccc9;
	border-right: 1px solid #d0ccc9;
}
.tab_list li:first-child {
	border-left: 1px solid #d0ccc9;
}
.tab_list a {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 0 20px;
	min-width: 160px; height: 49px;
	align-items: center; justify-content: center;
	color: #929292; font-size: 1.8rem; font-weight: 500; line-height: 1.2rem; letter-spacing: -0.03em; text-align: center;
	background: #fff;
}
.tab_list li.on::before {
	content: "";
	position: absolute; top: 0; left: 0;
	display: block;
	width: 100%; height: 6px; 
	background: #034283;
}
.tab_list li.on::after {
	content: "";
	position: absolute; bottom: -1px; left: 0;
	display: block;
	width: 100%; height: 1px; 
	background: #fbfbfb;
}
.tab_list li.on a {
	color: #034283;
	background: #fbfbfb;
}

.tab_list2 {
	font-size: 0; list-style: 0;
}
.tab_list2 li {
	display: inline-block;
	margin-right: 10px;
}
.tab_list2 li:last-child {
	margin-right: 0;
}
.tab_list2 a {
	display: block;
	padding: 0 20px;
	height: 34px;
	color: #034283; font-size: 1.5rem; line-height: 34px; letter-spacing: -0.03em;	
	background: #e9eef7;
	-webkit-border-radius: 17px;
	-moz-border-radius: 17px;
	border-radius: 17px;
}
.tab_list2 li.on a {
	color: #fff;
	background: #034283;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.tab_list3 {
	display: flex;
}
.tab_list3 * {
	min-width: 0;
}
.tab_list3 li {
	margin-right: 8px;
	flex: 1; 
}
.tab_list3 li:last-child {
	margin-right: 0;
}
.tab_list3 a {
	display: block;
	height: 34px;
	color: #5e5e5e; font-size: 1.6rem; font-weight: 500; letter-spacing: -0.03em; line-height: 34px; text-align: center;
	background: #e9eef7;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.tab_list3 li.on a {
	color: #fff; 
	background: #034283;
	box-shadow: 0 2px 8px rgba(3,66,131,0.2);
}

.tabrow_wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.tabrow_wrap::after {
	content: ""; display: block; clear: both;
}
.tabrow_list {
	width: 300px;
	flex-shrink: 0;
	border-bottom: 1px solid #d0d2d4;
}
.tabrow_list li {
	height: 16.666%;
}
.tabrow_list li a {
	position: relative;
	display: inline-block;
	width: 100%; min-height: 60px; height: 100%;
	color: #909090; font-size: 1.8rem; 
	background-color: #fff;
	border: 1px solid #d0d2d4;
	border-bottom: 0;
	-webkit-transition: all 0.3;
	-moz-transition: all 0.3;
	-o-transition: all 0.3;
	transition: all 0.3;
}
.tabrow_list li.on a{
	margin-top: 0;
	color: #034283;
	border-top: 1px solid #d0d2d4;;
	border-right: 6px solid #034283;
}
.tabrow_list li a span {
	position: absolute; top: 50%; left: 0;
	padding: 0 30px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.tabrow_cnt {
	padding: 40px;
	width: 100%;
	background: #f2f2f2;
}


/* form 공통 */
.form_style {
	padding: 0 14px;
	line-height: 34px; font-size: 1.5rem; color: #464646;
	background-color: #fff;
	border: 1px solid #d0d2d4;
	box-sizing: border-box;
}
input[type="text"].form_style {
	height: 34px;
}
input[type="text"].form_style:read-only {
	background: #f2f2f2;
}

/* input 에러텍스트 (플러그인) */
.error {
	display: block;
	margin-top: 2px; padding-left: 2px;
	color: #e53c48 !important; font-size: 1.4rem; text-align: left;
}



/* checkbox */
.check_row {
	display: inline-block;
	margin: 2px 10px 2px 0;
	font-size: 1.5rem;
}
.check_row > input {
	display: none;
}
.check_row > label {
	padding: 2px 0 2px 22px;
	background-repeat: no-repeat;
	background-position: left 55%;
	background-image: url(../../images/client/formstyle/icon_check.png);
	cursor: pointer;
}
.check_row input:checked + label {
	background-image: url(../../images/client/formstyle/icon_check_on.png);
}
.check_row > input[disabled] + label {
	background-image: url(../../images/client/formstyle/icon_check_disabled.png);
	cursor: default;
}

/* checkbox - 동그라미체크 */
.check_only {
	display: inline-block;
	margin: 2px 0;
	font-size: 1.5rem;
}
.check_only label {
	display: inline-block;
	width: 24px; height: 24px;
	text-indent: -9999px;
	background: url(../../images/client/formstyle/icon_checkonly.png) no-repeat center; background-size: contain;
}
.check_only input:checked + label {
	background-image: url(../../images/client/formstyle/icon_checkonly_on.png);
}
.check_only input[disabled] + label {
	cursor: default;
}

/* checkbox - 버튼형태 */
.check_col_wrap {
	display: inline-block;
	font-size: 0; line-height: 0;
}
.check_col {
	display: inline-block;
	margin: 6px 6px 0 0;
	font-size: 1.5rem;
}
.check_col:last-child {
	margin-right: 0;
}
.check_col > input {
	display: none;
}
.check_col label {
	display: inline-block;
	padding: 0 16px; 
	min-width: 70px; height: 34px;
	color: #034283; line-height: 34px; text-align: center;
	background: #e9eef7;
	-webkit-border-radius: 17px;
	-moz-border-radius: 17px;
	border-radius: 17px;
}
.check_col input:checked + label {
	color: #fff;
	background: #034283;
	box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

/* radio */
.radio_row {
	display: inline-block;
	margin: 2px 10px 2px 0;
	font-size: 1.5rem;
}
.radio_row label {
	display: inline-block;
	padding: 2px 0 2px 22px;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 16px;
	background-image: url(../../images/client/formstyle/icon_radio.png);
	cursor: pointer;
}
.radio_row input:checked + label {
	background-image: url(../../images/client/formstyle/icon_radio_on.png);
}
.radio_row > input[disabled] + label {
	background-image: url(../../images/client/formstyle/icon_radio_disabled.png);
	cursor: default;
}
/* [pp] 비활성화시 체크표시 :
.radio_row > input[disabled] + label {
	background-image: url(../../images/client/formstyle/icon_radio.png);
}
.radio_row > input[disabled]:checked + label {
	background-image: url(../../images/client/formstyle/icon_radio_on.png);
} */


/* radio - 버튼형태 */
.radio_col_wrap {
	display: inline-block;
	font-size: 0; line-height: 0;
}
.radio_col {
	display: inline-block;
	margin: 6px 6px 0 0;
	font-size: 1.5rem;
}
.radio_col > input {
	display: none;
}
.radio_col label {
	display: inline-block;
	padding: 0 16px; 
	min-width: 70px; height: 34px;
	color: #034283; line-height: 34px; text-align: center;
	background: #e9eef7;
	-webkit-border-radius: 17px;
	-moz-border-radius: 17px;
	border-radius: 17px;
}
.radio_col input:checked + label {
	color: #fff;
	background: #034283;
	box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

.radio_col2 {
	display: inline-block;
	margin: 6px 6px 0 0;
	font-size: 1.5rem;
}
.radio_col2 > input {
	display: none;
}
.radio_col2 label {
	display: inline-block;
	padding: 0 16px; 
	min-width: 70px; height: 24px;
	color: #787878; font-size: 1.4rem; line-height: 22px; text-align: center;
	background: #fff;
	border: 1px solid #787878;
	-webkit-border-radius: 17px;
	-moz-border-radius: 17px;
	border-radius: 17px;
}
.radio_col2 input:checked + label {
	color: #fff;
	background: #3a93e5;
	border-color: #3a93e5;
}

/* radio - numbering */
.radio_no_row {
	display: inline-block;
	margin: 0 20px 6px 0;
	font-size: 1.5rem;
}
.radio_no_row label {
	display: inline-block;
}
.radio_no_row label span {
	display: block;
	width: 24px; height: 24px;
	color: #23316e; font-size: 1.2rem; font-weight: 600;
	line-height: 22px; text-align: center;
	border: 1px solid #23316e;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.radio_no_row label:hover {
	cursor: pointer;
}
.radio_no_row label:hover span {
	color: #fff;
	background: #23316e;
}
.radio_no_row input:checked + label span {
	color: #fff;
	background: #23316e;
}

/* 취업상담 - 방문상담/온라인상담 라디오 버튼 */
.radio_btn {
	display: inline-block;
	margin: 0 6px 6px 0;
	font-size: 1.5rem;
}
.radio_btn label {
	display: inline-block;
	padding: 0 12px 0 38px;
	color: #fff; line-height: 34px;
	background-repeat: no-repeat;
	background-position: 13px center;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.radio_btn.radio_offline label {
	background-color: #193296;
	background-image: url(../../images/client/sub/icon_radiobtn_off01.png);
}
.radio_btn.radio_online label {
	background-color: #0aaccc;
	background-image: url(../../images/client/sub/icon_radiobtn_off02.png);
}
.radio_btn.radio_offline label:hover {
	background-color: #01135b;
}
.radio_btn.radio_online label:hover {
	background-color: #088ea9;
}
.radio_btn input {
	display: none;
}
.radio_btn input:checked + label {
	background-image: url(../../images/client/sub/icon_radiobtn_on.png);
}

/* textarea */
textarea.form_style{
	display: block;
	width: 100%;
	padding: 8px 14px;
	line-height: 1.5em;
	border: 1px solid #d0d2d4;
}

/* select */
.select_form {
	position: relative;	z-index: 1;
	display: inline-block;
	margin: 2px 2px 2px 0;
	width: auto;
	line-height: 32px; vertical-align: top;
	background: #fff;
	border: 1px solid #d0d2d4;
}
.select_form label {
	position: absolute; top: 0; bottom: 0; left: 0px; z-index: -1;
	display: block;
	padding: 0 20px 0 14px;
	width: 100%; height: 100%;
	color: #034283; line-height: 32px; text-align: left;
	white-space: nowrap; text-overflow: ellipsis; 
	background: #fff url(../../images/client/formstyle/bg_select.png) right 10px center no-repeat;
	overflow: hidden;
}
.select_form label:active {
	border-color: #00427c;
}
.select_form .select_custom {
	padding-left: 4px;
	width: 100%; height: auto;
	font-size: inherit; line-height: 32px;
	border: 0;
	opacity: 0;
	filter:alpha(opacity=0);
	-webkit-appearance: none; 
	-moz-appearance: none;
	appearance: none;
}
.select_sm {
	width: 100px;
}
.select_md {
	width: 150px;
}
.select_lg {
	width: 200px;
}
.grid_col > .select_form {
	width: 100%;
	margin: 0;
}

/* select2 - 플러그인 */
.sel_search_row {
	display: inline-block;
	font-size: 1.5rem; text-align: left;
}
.grid_col > .sel_search_row {
	width: 100%;
}
.select2-container {
	width: 100%;
}
.select2-container .select2-choice {
	height: 34px;
	padding: 0 27px 0 10px;
	color: #193296; font-weight: 400;
	border: 1px solid #d0d2d4;
	background: #fff url(../../images/client/formstyle/bg_select.png) right 10px center no-repeat;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.select2-container .select2-choice > .select2-chosen {
	width: 100%;
	font-weight: 400; line-height: 32px; 
}
.select_lg .select2-container .select2-choice {
	background: #fff url(../../images/client/sub/bg_select.png)right center no-repeat;
}

.select2-container .select2-choice .select2-arrow {
	display: none;
}
.select2-drop {
	padding-top: 10px;
	color: #464646;
	background-color: #fff;
	border: 1px solid #d7d7d7;
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.6) inset;
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.6) inset;
	-o-box-shadow: 0px 1px 2px rgba(0,0,0,0.6) inset;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.6) inset;
}
.select2-search {
	margin-bottom: 5px;
}
.select2-results {
	padding: 0; margin: 0;
}
.select2-dropdown-open .select2-choice {
	-webkit-box-shadow: none;
	box-shadow: none; 
	background-color: #fff;
	background-image: none; 
	background-image: none;
	background-image: none;
	filter: none;
	background-image: none; 
}
.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
	border: 1px solid #d7d7d7;
	outline: none;
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.6) inset;
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.6) inset;
	-o-box-shadow: 0px 1px 2px rgba(0,0,0,0.6) inset;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.6) inset;
}

/* 버튼 영역 */
.btn_area {
	position: relative;
	font-size: 0; line-height: 0; text-align: center;
}
.btn_area a, .btn_area button {
	margin-right: 10px; margin-top: 10px;
}
.btn_area a:last-child, .btn_area button:last-child {
	margin-right: 0;
}

.btn_rowposition {
	position: relative;
	font-size: 0; line-height: 0;
}
.btn_rowposition .inner {
	position: absolute; top: -1px; right: 0;
}
.btn_rowposition .section_tit_md + .inner {
	top: -7px;
}
.btn_rowposition .btn, .btn_rowposition .btn_round, .btn_rowposition .btn_circle {
	margin: 8px 4px;
}

/* button */
.btn {
	display: inline-block;
	position: relative;
	font-size: 1.5rem; line-height: 34px; text-align: center;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
	cursor: pointer;
}
.btn_round {
	display: inline-block;
	position: relative;
	font-size: 1.5rem; line-height: 34px; text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
	cursor: pointer;
}
.btn_circle{
	display: inline-block;
	position: relative;
	font-size: 1.5rem; line-height: 34px; text-align: center;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
	cursor: pointer;
	/* ui guide 확정후 background-repeat 제거 */
	background-repeat: no-repeat;
}


/* 버튼 컬러 */
.btn_default {
	color: #fff !important;
	background-color: #3364c4 !important;
}
.btn_navy {
	color: #fff !important;
	background-color: #034283 !important;
}
.btn_red {
	color: #fff !important;
	background-color: #e85c65 !important;
}
.btn_gold {
	color: #fff !important;
	background-color: #c5a86f !important;
}
.btn_bo_gray {
	color: #787878;
	background: #fff;
	border: 1px solid #b7b7b7;
}
.btn_bo_blue {
	color: #3364c4; font-weight: 500;
	background: #fff;
	border: 1px solid #3364c4;
}
.btn_bo_navy {
	color: #034283; font-weight: 500;
	background: #fff;
	border: 1px solid #034283;
}
.btn_bo_red {
	color: #e85c65; font-weight: 500;
	background: #fff;
	border: 1px solid #e85c65;
}
.btn_bo_gray.btn_xs, .btn_bo_blue.btn_xs, .btn_bo_navy.btn_xs, .btn_bo_red.btn_xs {
	line-height: 28px;
}
.btn_bo_gray.btn_sm, .btn_bo_blue.btn_sm, .btn_bo_navy.btn_sm, .btn_bo_red.btn_sm {
	line-height: 28px;
}
.btn_bo_gray.btn_md, .btn_bo_blue.btn_md, .btn_bo_navy.btn_md, .btn_bo_red.btn_md {
	line-height: 32px;
}
.btn_bo_gray.btn_lg, .btn_bo_blue.btn_lg, .btn_bo_navy.btn_lg, .btn_bo_red.btn_lg {
	line-height: 38px;
}
.btn_disabled {
	color: #898989 !important;
	background-color: #d7d7d7 !important;
	border-color: #d7d7d7 !important;
	cursor: default;
}


/* 버튼 사이즈 */
.btn_xs {
	padding: 0 5px;
	line-height: 30px;
}
.btn_sm {
	padding: 0 10px;
	line-height: 30px;
}
.btn_md {
	padding: 0 15px;
	min-width: 70px;
	line-height: 34px;
}
.btn_lg {
	padding: 0 25px;
	line-height: 40px;
}

.btn_icon_xs {
	padding: 0 8px 0 25px;
	line-height: 25px; font-size: 0.9rem;
	background-size: 15px;
}
.btn_icon_sm {
	padding: 0 10px 0 30px;
	line-height: 30px;
}
.btn_icon_md {
	padding: 0 15px 0 40px;
	line-height: 35px;
	background-position: 15px center;
}
.btn_icon_lg {
	padding: 0 20px 0 40px;
	line-height: 40px;
	background-position: 15px center;
}

/* 버튼 종류 */
.btn_more {
	display: inline-block;
	padding: 0 12px;
	height: 30px;
	color:#403f3f; font-size: 1.8rem; font-weight: 500; letter-spacing: -0.03em; line-height: 30px;;
	background: #dae8f4;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.btn_addlike {
	display: inline-block;
}
.btn_addlike input {
	display: none;
}
.btn_addlike label {
	display: inline-block;
	width: 29px; height: 26px;
	font-size: 0; line-height: 0;
	background: url(../../images/client/formstyle/btn_addlike.png) no-repeat center;
}
.btn_addlike input:checked + label {
	background-image: url(../../images/client/formstyle/btn_addlike_on.png);
}
.btn_setbasic {
	display: inline-block;
}
.btn_setbasic input {
	display: none;
}
.btn_setbasic label {
	display: inline-block;
	width: 19px; height: 24px;
	font-size: 0; line-height: 0;
	background: url(../../images/client/formstyle/btn_setbasic.png) no-repeat center;
}
.btn_setbasic input:checked + label {
	background-image: url(../../images/client/formstyle/btn_setbasic_on.png);
}
.btn_search {
	position: relative;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	padding-left: 52px;
	width: 100px; height: 38px;
	color: #034283; font-size: 1.6rem; font-weight: 500; line-height: 1; letter-spacing: -0.03em; 
	background: url(../../images/client/formstyle/btn_search.png) no-repeat 20px center;
	align-items: center; 
}
.btn_search::before, .btn_search::after {
	content: "";
	position: absolute; 
	display: block;
}
.btn_search::before {
	top: 50%; left: 0; 
	margin-top: -10px;
	width: 1px; height: 20px;
	background: #c8cfd4;
}
.btn_search::after {
	bottom: 7px; left: 52px; 
	width: 1px; height: 1px;
	background: rgba(0,0,0,0);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.btn_refresh2 {
	padding: 0 !important;
	width: 90px;
}
.btn_refresh2::before {
	content: "";
	display: inline-block;
	margin-right: 8px; margin-top: -3px;
	width: 18px; height: 26px;
	vertical-align: middle;
	background: url(../../images/client/formstyle/btn_refresh2.png) no-repeat center;
}
.btn_addlike2 {
	width: 90px;
}
.btn_programcard, .btn_programlist {
	display: inline-block;
	padding-left: 22px;
	color: #898989; font-size: 1.6rem; font-weight: 600; line-height: 24px; letter-spacing: -0.05em;
	background-repeat: no-repeat; background-position: left center;
}
.btn_programcard {
	background-image: url(../../images/client/formstyle/btn_programcard.png);
}
.btn_programlist {
	background-image: url(../../images/client/formstyle/btn_programlist.png);
}
.btn_programcard.on, .btn_programlist.on {
	color: #034283;
}
.btn_programcard.on {
	background-image: url(../../images/client/formstyle/btn_programcard_on.png);
}
.btn_programlist.on {
	background-image: url(../../images/client/formstyle/btn_programlist_on.png);
}
.btn_del {
	width: 10px; height: 10px;
	font-size: 0; line-height: 0;
	background: url(../../images/client/formstyle/btn_del.png) no-repeat;
}
.btn_rowedit {
	position: relative;
	padding-left: 22px;
	color: #232323; font-size: 1.5rem;
	background-color: rgba(0,0,0,0);
}
.btn_rowedit::before {
	content: "";
	position: absolute; top: 50%; left: 0;
	margin-top: -8px;
	width: 16px; height: 16px;
	background-repeat: no-repeat;
	background-position: center;
}
.btn_rowedit.btn_rowadd::before {
	background-image: url(../../images/client/formstyle/btn_row_add.png);
}
.btn_rowedit.btn_rowdel::before {
	background-image: url(../../images/client/formstyle/btn_row_del.png);
}
.btn_refresh3 {
	padding-left: 22px;
	color: #232323; font-size: 1.5rem;
	background: rgba(0,0,0,0) url(../../images/client/formstyle/btn_refresh3.png) no-repeat left center;
}
.btn_edit {
	display: inline-block;
	padding-left: 31px; padding-right: 14px;
	height: 24px;
	color: #fff; font-size: 1.4rem; line-height: 24px;
	background: #034283 url(../../images/client/formstyle/btn_edit.png) no-repeat 13px center;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.btn_filedown {
	display: inline-block;
	width: 18px; height: 18px;
	font-size: 0; line-height: 0; vertical-align: middle;
	background: url(../../images/client/formstyle/icon_filedown_on.png) no-repeat center;
}
.btn_filedown[disabled] {
	background-image: url(../../images/client/formstyle/icon_filedown_off.png);
	cursor: default;
}
.btn_search2 {
	display: inline-block;
	padding-left: 28px; padding-right: 13px;
	height: 24px;
	color: #fff; font-size: 1.4rem; line-height: 24px;
	background: #323686 url(../../images/client/formstyle/btn_search2.png) no-repeat 10px 46%;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.btn_switch {
	position: relative;
    display: inline-block;
	width: 70px; height: 24px;
	/*background: #f5f5f5;*/
    background: #fff;
    border: 1px solid #787878;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	/*box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
	border: none;*/
}
.btn_switch::after {
	content: "";
	position: absolute; top: 3px; left: 4px; z-index: 1;
	display: inline-block;
	width: 16px; height: 16px;
	background: #787878;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.btn_switch span {
	position: absolute; top: 50%;
    margin-left: 0 !important;
    color: #787878; font-size: 1.3rem !important;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.btn_switch .switch_on {
	left: 7px;
    display: none;
    color: #3a93e5;
}
.btn_switch .switch_off {
	right: 7px;
}
.btn_switch.on {
    border-color: #3a93e5;
}
.btn_switch.on::after {
	left: 48px;
	background: #3a93e5;
}
.btn_switch.on .switch_on {
    display: block;
}
.btn_switch.on .switch_off {
	display: none;
}


/* 페이징 */
.paging_wrap {
	padding-top: 24px;
	font-size: 0; line-height: 0; text-align: center;
}
.grid_row_md + .paging_wrap {
	padding-top: 10px;
}
.paging_wrap div {
	display: inline-block;
	vertical-align: top;
}
.paging_left {
	margin-right: 17px;
}
.paging_right {
	margin-left: 17px;
}
.paging_number a {
	display: inline-block;
	margin-right: 8px; padding: 0 4px;
	min-width: 30px; height: 30px;
	color: #101424; font-size: 1.6rem; line-height: 30px; letter-spacing: -0.02em; 
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.paging_number a:last-child {
	margin-right: 0;
}
.paging_number a.on {
	color: #0f66ae; font-weight: 800;
	background: #f2f2f2;
}
.paging_wrap .page_con {
	display: inline-block;
	margin-right: 5px;
	width: 30px; height: 30px;
	font-size: 0; line-height: 0;
	background-color: #fff; background-repeat: no-repeat; background-position: center;
	border: 1px solid #d7d7d7;
}
.paging_wrap .page_con:last-child {
	margin-right: 0;
}
.paging_wrap .page_first {
	background-image: url(../../images/client/formstyle/page_first.png);
}
.paging_wrap .page_last {
	background-image: url(../../images/client/formstyle/page_last.png);
}
.paging_wrap .page_prev {
	background-image: url(../../images/client/formstyle/page_prev.png);
}
.paging_wrap .page_next {
	background-image: url(../../images/client/formstyle/page_next.png);
}

/* 첨부파일 */
.filedown_link {
	color: #11265e;
}

.attach_file_wrapper {
	position: relative;
	padding: 9px 15px 15px;
	background: #fff;
	border: 1px solid #d0d2d4;
}
.attach_file_wrapper strong {
	display: block;
	margin-bottom: 5px;
	font-weight: 600;
	font-size: 1.5rem;
}
.attach_file_box {
	display: inline-block;
	margin: 6px 3px 0 3px;
	width: 120px; height: 120px;
}
.attach_file_box input{
	display: none;
}
.attach_file_box .attach_file {
	/* 파일첨부 박스 */
	position: static;
	display: inline-block;
	padding: 65px 0 0 0;
	width: 100%; height: 100%;
	color: #333333; font-weight: 500; font-size: 1.5rem; text-align: center;
	background: #fff url(../../images/client/formstyle/icon_addfile.png) no-repeat 45px 29px;
	border: 3px dashed #d0ccc9;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.file_thumbnail {
	position: relative;
	overflow: hidden;
	display: inline-block;
	margin: 6px 3px 0 3px;
	width: 120px;
	background-color: #fff;
	border: 1px solid #d7d7d7;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.file_thumbnail a {
	display: block;
	width: 100%; 
}
.file_thumbnail .thumbnail_img {
	position: relative;
	width: 100%; height: 93px;
	overflow: hidden
}
.file_thumbnail .thumbnail_img img {
	position: absolute; top: 50%; left: 50%;
	width: 120%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.file_thumbnail a span {
	overflow: hidden;
	display: block;
	width: 100%; height: 25px;
	padding-left: 15px;
	background: #f2f2f2 url(../../images/client/formstyle/icon_clip.png) no-repeat 3px center;
	font-size: 1.3rem; line-height: 25px; white-space: nowrap;
	text-overflow: ellipsis;
}
.file_thumbnail .btn_del {
	position: absolute; top: 6px; right: 6px; z-index: 10;
}

/* 첨부파일 - 드래그용 */
.attachment_box .top {
	position: relative;
	margin-bottom: 2px;
	color: #717171; 
	background: #fbfbfb;
	border: 1px solid #d7d7d7;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.attachment_box .top .btn_round {
	margin: -1px 2px -1px -1px;
}
.attachment_box .check_row {
	position: absolute; top: 50%; right: 10px;
	margin: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.attachment_box .inner {
	position: relative; z-index: 1;
	padding: 9px;
	height: 290px;
	border: 1px solid #e1e1e1;
	overflow-y: auto;
}
.addfile_info {
	position: absolute; top: 50%; left: 50%; z-index: -1;
	display: inline-block;
	text-align: center;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.addfile_info dt {
	margin-bottom: 10px; padding-top: 65px;
	color: #858585; font-family: GyeonggiTitle, sans-serif; font-size: 2.4rem; letter-spacing: -0.05em; 
	background: url(../../images/client/formstyle/bg_noattachment.png) no-repeat top center;
	-webkit-transform: skew(-0.03deg);
	-moz-transform: skew(-0.03deg);
	-o-transform: skew(-0.03deg);
	transform: skew(-0.03deg);
}
.addfile_info dd span {
	display: inline-block;
	margin: 0 2px; padding: 0 7px;
	color: #7793a2; letter-spacing: -0.04em;
	background: #e7eff4;
	border-radius: 5px;
}
.file_added {
	position: relative;
	margin-bottom: 10px; padding: 7px 10px 7px 30px;
	background: #fbfbfb;
	border: 1px solid #e4e4e4;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: default;
}
.file_added:last-child {
	margin-bottom: 0;
}
.file_added::before {
	position: absolute; top: 50%; left: 7px;
	content: "";
	display: inline-block;
	margin-top: -8px;
	width: 16px; height: 16px;
	vertical-align: middle;
	background-repeat: no-repeat; background-position: center;
}
.file_added.video::before {
	background-image: url(../../images/client/formstyle/icon_video.png);
}
.file_added.image::before {
	background-image: url(../../images/client/formstyle/icon_image.png);
}
.file_added.document::before {
	height: 17px;
	background-image: url(../../images/client/formstyle/icon_document.png);
}
.file_added i {
	color: #949494; font-style: normal; vertical-align: top;
}
.file_added a {
	display: block;
	word-break: break-all; white-space: nowrap; text-overflow: ellipsis;
	overflow: hidden;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.file_added a:hover {
	color: #2c5eb1;
	text-decoration: underline; 
}
.file_added span {
	display: block;
	padding-right: 27px;
	word-break: break-all; white-space: nowrap; text-overflow: ellipsis;
	overflow: hidden;
}
.file_added span + .btn_del {
	position: absolute; top: 50%; right: 7px;
	display: inline-block;
	margin-top: -10px; margin-left: -10px;
	width: 20px; height: 20px;
	font-size: 0; line-height: 0; vertical-align: top;
	background: #ccc url(../../images/client/formstyle/btn_del.png) no-repeat center;
	border: none; 
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.file_added .btn_del:hover {
	background-color: #b8b8b8;
}

.file_added.file_deleting {
	background-color: #fdfdfd;
	border-color: #f4f4f4;
}
.file_added.file_deleting span {
	opacity: 0.4;
}
.file_added.file_deleting::before {
	opacity: 0.4;
}
.file_added.file_deleting .btn_del {
	background-color: #fa7014;
	background-image: url(../../images/client/formstyle/btn_undo.png);
	background-position: center 42%;
}
.file_added.file_deleting .btn_del:hover {
	background-color: #ea6106;
}
.attachment_box .bottom {
	position: relative;
	margin-top: 2px; padding: 10px;
	color: #717171; font-size: 14px; 
	background: #fbfbfb;
	border: 1px solid #d7d7d7;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.test_bar {
	overflow: hidden;
	width: 100%; height: 15px;
	margin-bottom: 10px;
	position: relative;
	background-color: #ececec;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.test_bar p {
	height: 15px;
	background: #b1cbea;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.attachment_box .test_bar {
	margin-bottom: 0;
}
.file_volume {
	margin-top: 3px; margin-right: 5px;
	font-size: 12px; line-height: 1; text-align: right;
}

/* 검색 */
.search_box {
	margin-bottom: 50px; padding: 30px;
	background-color: #f2f2f2;
}
.search_inner {
	position: relative;
	padding-right: 100px;
	background: #fff;
	border: 1px solid #d0d2d4;
}
.search_inner input[type="text"].form_style {
	width: 100%; height: 38px; 
	border: none;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}
.search_inner .btn_search {
	position: absolute; top: -1px; right: -1px; 
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}

.search_keyword {
	padding-left: 100px;
	overflow: hidden;
}
.search_keyword::after {
	content: "";
	display: none;
	clear: both;
}
.search_keyword strong {
	position: relative;
	display: block;
	float: left;
	margin-left: -100px;
	width: 100px;
	color: #034283; font-size: 1.5rem; text-align: center; line-height: 38px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: auto;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}
.search_keyword strong:after {
	position: absolute; right: 0;
	content: "|";
	color: #d0d2d4;
}

.search_lg_keyword {
	padding-left: 120px;
}
.search_lg_keyword strong {
	margin-left: -120px;
	width: 120px;
}

.search_xl_keyword {
	padding-left: 150px;
}
.search_xl_keyword strong {
	margin-left: -150px;
	width: 150px;
}

.search_select {
	padding-left: 120px;	
}
.search_select .select_form {
	position: relative;
	display: block;
	float: left;
	margin: 0; margin-left: -120px;
	width: 120px; height: 38px;
	color: #333e69; font-size: 1.5rem; font-weight: 500; letter-spacing: -0.03em; line-height: 38px; text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: auto;
	-webkit-transform: skew(-0.03deg);
	-moz-transform: skew(-0.03deg);
	-o-transform: skew(-0.03deg);
	transform: skew(-0.03deg);
	border: none;
	overflow: hidden;
}
.search_select .select_form label {
	padding: 0 24px 0 4px;
	font-weight: 500; line-height: inherit; text-align: center;
}
.search_select .select_form .select_custom {
	height: inherit;
}

.search_box .select_form {
	line-height: 38px;
}
.search_box .select_form label, .select_form .select_custom {
	line-height: inherit;
}

.search_box .select2-container .select2-choice {
	height: 40px;
}
.search_box .select2-container .select2-choice > .select2-chosen {
	font-weight: 400; line-height: 38px; 
}

.search_outer {
	position: relative;
	padding-right: 123px;
	background-color: #f2f2f2;
}
.search_outer .btn_refresh {
	position: absolute; top: 0; right: 0;
	width: 113px; height: 40px;
	font-size: 1.6rem; font-weight: 500; line-height: 38px;
}

.search_check {
	position: relative;
	padding-left: 100px;
	min-height: 40px;
	background: #fff;
	border: 1px solid #d0d2d4;
	overflow: hidden;
}
.search_check::after {
	content: "";
	display: block;
	clear: both;
}
.search_check strong {
	position: absolute; top: 50%; left: 0;
	display: block;
	width: 100px;
	color: #034283; font-size: 1.5rem; text-align: center; line-height: 38px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: auto;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.search_check strong:after {
	position: absolute; right: 0;
	content: "|";
	color: #d0d2d4;
}
.search_check .check_row_wrap {
	padding: 5px 15px;
}

/* 검색하단 좌우분할 */
.search_toggle_row {
	position: relative; 
	margin-bottom: 20px;
	height: 40px;
}
.search_toggle_row::after {
	content: ""; display: block; clear: both;
}
.searchtoggle_left {
	float: left;
	vertical-align: top;
}
.searchtoggle_right {
	float: right;
	vertical-align: top;
}
.searchtoggle_right .select_form {
	margin-top: 6px;
}
.searchtoggle_right .btn_round {
	margin-top: 6px; margin-left: 6px;
}
.searchtoggle_right .btn_round:first-child {
	margin-left: 0;
}
.searchtoggle_right .btn_programcard, .searchtoggle_right .btn_programlist {
	margin-right: 25px; margin-top: 11px;
}
.searchtoggle_right .btn_programcard:last-child, .searchtoggle_right .btn_programlist:last-child {
	margin-right: 0;
}
.search_toggle_row:after {
	display: block;
	content: "";
	clear: both;
}

.search_toggle_row.search_lg_row {
	margin-bottom: 12px;
	height: auto;
}
.search_toggle_row.search_lg_row .searchtoggle_left, .search_toggle_row.search_lg_row .searchtoggle_right {
	float: none;
}
.search_toggle_row.search_lg_row .searchtoggle_left {
	text-align: center;
}
.search_toggle_row.search_lg_row .searchtoggle_right {
	text-align: right;
}
.search_toggle_row.search_lg_row .searchtoggle_right .btn_programcard, .search_toggle_row.search_lg_row .searchtoggle_right .btn_programlist {
	margin-top: 20px;
}

/* 검색영역 - 토글버튼 */
/* .search_toggle_row {
	height: 40px;
	margin: 0.5em auto 1em; 
	position: relative;
}
.searchtoggle_left {
	float: left;
	vertical-align: top;
}
.searchtoggle_right {
	float: right;
	vertical-align: top;
}
.search_toggle_row:after {
	display: block;
	content: "";
	clear: both;
}
.btn_check_form {
	display: inline-block;
	font-size: 1.5rem; line-height: 35px; 
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	-webkit-transition: background 0.3s ease;
	-moz-transition: background 0.3s ease;
	-o-transition: background 0.3s ease;
	transition: background 0.3s ease;
}
.btn_check_form:hover {
	cursor: pointer;
}
.btn_check_form input {
	display: none;
}

.btn_likelist {
	padding: 0 0.8em 0 2.6em;
	color: #fff;
	background: #0aaccc url(../../images/client/sub/btn_likelist.png) no-repeat 0.8em center;
	background-size: 20px;
}
.btn_likelist:hover {
	background-color: #088ea9;
}
.btn_likelist.on {
	background-image: url(../../images/client/sub/btn_likelist_on.png);
}

.btn_like {
	display: inline-block;
	margin-top: 5px; padding-left: 26px;
	height: 23px;
	font-size: 1.07rem;
	background: rgba(0,0,0,0) url(../../images/client/sub/icon_like.png) no-repeat left center; background-size: 20px;
}
.btn_like.on {
	background-image: url(../../images/client/sub/icon_like_on.png);
}


.btn_recommend {
	background-image: url(../../images/client/sub/btn_recommend.png);
}
.btn_recommend.on{
	background-color: #f2b84b;
}
.searchtoggle_right .btn_calender {
	margin-right: 20px;
}

.btn_check {
	width: 25px; height: 30px;
}
.btn_check input {
	display: none;
}
.btn_check label {
	display: block;
	width: 100%; height: 100%;
	text-indent: -9999px;
	background: url(../../images/client/sub/icon_testselect.png) no-repeat center center;
	background-size: 100%;
}
.btn_check label:hover {
	cursor: pointer; 
}
.btn_check input:checked + label {
	background-image: url(../../images/client/sub/icon_testselect_on.png);
} */

/* 달력 */
.search_day {
	position: relative;
	display: inline-block;
	padding-left: 110px;
	width: 100%; height: 40px;
	border: 1px solid #d0d2d4;
	overflow: hidden;
}
.search_day strong {
	position: relative;
	display: block;
	float: left;
	margin-left: -110px;
	width: 110px; 
	color: #034283; font-size: 1.5rem; text-align: center; line-height: 38px;
	background: #fff;
}
.search_day strong:after {
	position: absolute; right: 0;
	content: "|";
	color: #d0d2d4;
}
.search_day input[type="text"].form_style {
	padding: 0 35px 0 14px;
	width: 100%; height: 38px;
	border: none;
}
.search_day .calendar_open {
	position: absolute; right: 9px; top: 9px;
	display: block;
	width: 21px; height: 17px;
	font-size: 0; line-height: 0;
	background: url(../../images/client/formstyle/icon_calendar_on.png) no-repeat center;
} 
.search_day .calendar_open[disabled] {
	background-image: url(../../images/client/formstyle/icon_calendar.png);
	cursor: default;
}

/* 기간검색 달력 */
.search_period {
	position: relative;
	/*margin: 0.2em 0;*/ padding-left: 101px;
	width: 100%; height: 35px;
	background: #fff;
	border: 1px solid #accfe1;
}
.search_period strong {
	position: relative;
	display: block;
	float: left;
	margin-left: -100px;
	width: 100px;
	font-weight: 600;
	text-align: center;
	line-height: 33px;
	color: #193296;
	background: #fff;
}
.search_period strong:after {
	position: absolute;
	right: 0;
	content: "|";
}
.search_period > div {
	display: inline-block;
}
.search_period .search_day {
	padding-left: 0;
	border: 0;
}
.search_period .form_style {
	width: 100%; 
}
.search_period input[type="text"].form_style {
	height: 33px;
}
.search_period .calendar_open {
	display: block;
	width: 20px; height: 22px;
	text-indent: -9999px;
	position: absolute; right: 8px; top: 8px;
	background: url(../../images/client/sub/icon_calender.png) no-repeat;
} 
.search_period input:focus ~ a {
	background: url(../../images/client/sub/icon_calender_on.png) no-repeat;
}
.search_period .calendar_open:focus {
	background-image: url(../../images/client/sub/icon_calender_on.png);
}

/* 기간 검색 영역 */
/*.search_label {
	display: block;
	margin: 3px 0 2px 0;
	font-size: 0.9rem; color: #289dd3; font-weight: bold;
}
#panel5 .search_label, #panel6 .search_label, #panel7 .search_label, #panel8 .search_label {
	color: #00427c;
}*/
.calendar_row{
	position: relative;
	font-size: 0;
}
.calendar_row .search_day {
	display: inline-block;
	width: 50%;
	font-size: 1.5rem;
}

@media screen and (max-width:1279px) {

	/* 탭 1279 */
	.tab_list a {
		min-width: 130px;
		font-size: 1.7rem;
	}

	.tabrow_list {
		width: 220px;
	}
	.tabrow_list li a {
		font-size: 1.7rem;
	}
	.tabrow_list li a span {
		padding: 0 25px;
	}
	.tabrow_cnt {
		padding: 30px;
	}



}
@media screen and (max-width:1079px) {


}
/* ================= hover ================= */
@media screen and (min-width:1025px) {
	
	/* 버튼 컬러 hover */
	.btn_default:hover {
		background-color: #24478c !important;
	}
	.btn_navy:hover {
		background-color: #121d50 !important;
	}
	.btn_red:hover {
		background-color: #bd4b53 !important;
	}
	.btn_gold:hover {
		background-color: #a68d5d !important;
	}
	.btn_bo_gray:hover {
		background-color: #f2f2f2 !important;
	}
	.btn_bo_blue:hover {
		background-color: #f1f6ff !important;
	}
	.btn_bo_navy:hover {
		background-color: #f2f8fe !important;
	}
	.btn_bo_red:hover {
		background-color: #fff5f6 !important;
	}
	.btn_disabled:hover {
		color: #898989 !important;
		background-color: #d7d7d7 !important;
		border-color: #d7d7d7 !important;
		cursor: default;
	}

	/* 버튼 종류 hover */
	.btn_more:hover {
		background: #c9e2f8;
	}
	.btn_search:hover::after {
		width: 29px;
		background: #034283;
	}
	.btn_edit:hover {
		background-color: #02305e;
	}
	.btn_search2:hover {
		background-color: #20236b;
	}

	/* 페이징 hover */
	.paging_number a:hover {
		color: #0f66ae; font-weight: 800;
		background: #f2f2f2;
	}

	/* 첨부파일 hover */
	.filedown_link:hover {
		text-decoration: underline;
	}

	/* 첨부파일 - 드래그용 hover */
	.file_link:hover {
		text-decoration: underline;
	}
	.file_upload label:hover {
		color: #12477c;
		background-image: url(../../images/client/formstyle/icon_upload_on.png);
		cursor: pointer;
	}
	.file_thumbnail.file_deleting .btn_del:hover {
		background-image: url(../../images/client/formstyle/btn_undo_on.png);
	}
	
}
/* ================= //hover ================= */
@media screen and (max-width:1024px) {

	/* 탭 1024 */
	.tab_list a {
		min-width: 110px;
	}

	.tab_list3 a {
		font-size: 1.4rem;
	}

	.tabrow_wrap {
		display: block;
	}
	.tabrow_list {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		width: 100%;
		border-bottom: 0;
	}
	.tabrow_list::after {
		content: ""; display: block; clear: both;
	}
	.tabrow_list li {
		float: left;
		width: 16.66%; height: auto;
	}
	.tabrow_list li a {
		font-size: 1.6rem;
		border-left: none;
		border-bottom: 1px solid #d0d2d4;
	}
	.tabrow_list li:first-child a {
		border-left: 1px solid #d0d2d4;
	}
	.tabrow_list li.on a {
		border-top: 4px solid #034283;
		border-right: 1px solid #d0d2d4;
		border-bottom: 1px solid #f2f2f2;
	}
	.tabrow_list li a span {
		left: 50%;
		width: 100%;
		text-align: center;
		-webkit-transform: translate(-50%,-50%);
		-moz-transform: translate(-50%,-50%);
		-o-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
	}

	/* 검색 1024 */
	.search_box .grid_row_sm .col_md_3 {
		margin-bottom: 9px;
	}
	
	/* 버튼 영역 1024 */
	.btn_rowposition .inner {
		top: -5px;
	}
	.btn_rowposition .section_tit_md + .inner {
		top: -5px;
	}
	.btn_rowposition .btn, .btn_rowposition .btn_round, .btn_rowposition .btn_circle {
		margin: 6px 3px;
	}
	.rowposition_lg .inner {
		position: static;
		margin-top: -11px; margin-bottom: 3px;
	}
	.rowposition_lg .btn:first-child, .rowposition_lg .btn_round:first-child, .rowposition_lg .btn_circle:first-child {
		margin-left: 0;
	}


}
@media screen and (max-width:768px) {
	
	/* form 공통 768 */
	.form_style {
		padding: 0 8px;
	}

	/* 탭 768 */
	.tab_list {
		margin-bottom: 20px;
	}
	.tab_list a {
		padding: 0 14px;
		min-width: 90px; height: 44px;
		font-size: 1.6rem;
	}
	.tab_list li.on::before {
		height: 4px;
	}

	.tabrow_list li a {
		min-height: 44px;
	}
	.tabrow_list li a span {
		padding: 0 2px;
		line-height: 1.3em;
	}
	.tabrow_cnt {
		padding: 25px;
	}

	/* 페이징 768 */
	.paging_wrap {
		padding-top: 18px;	
	}
	.grid_row_md + .paging_wrap {
		padding-top: 5px;
	}

	/* 검색 768 */
	.search_box {
		margin-bottom: 40px; padding: 20px;
	}

	/* 검색하단 좌우분할 768 */
	.search_toggle_row {
		margin-bottom: 10px;
		height: auto;
	}
	.searchtoggle_left {
		float: none;
		padding-bottom: 10px;
		width: 100%; 
		text-align: center;
	}
	.searchtoggle_right {
		float: none;
		width: 100%; padding-top: 4px;
		text-align: right;
	}
	.searchtoggle_left .check_col label, .searchtoggle_left .radio_col label {
		min-width: 60px; height: 28px;
		line-height: 28px;
	}

	.search_toggle_row.search_sm_row .searchtoggle_right {
		padding-top: 0;
	}
	.search_toggle_row.search_sm_row .searchtoggle_left {
		float: left;
		padding-bottom: 0;
		width: auto;
		text-align: left;
	}
	.search_toggle_row.search_sm_row .searchtoggle_left .total_count {
		margin-top: 6px;
	}
	
	/* 달력 768 */
	.search_day {
		padding-left: 80px;
	}
	.search_day strong {
		margin-left: -80px;
		width: 80px;
	}
	
	/* input - checkbox 768 */
	.check_row label {
		padding-left: 22px;
	}

	/* input - radio 768 */
	.radio_row label {
		padding-left: 22px;
		background-size: 18px;
	}
	
	/* label 768 */
	.label_new {
		width: 15px; height: 15px;
		line-height: 15px; font-size: 0.9rem;
	}
	
	/* 진로설계 tab 768 */
	.tab_plan li a {
		font-size: 1.5rem; word-break: keep-all;
	}
	
	/* input - numbering radio 768 */
	.radio_no_row {
		margin: 0 12px 6px 0;
	}
	.radio_no_row label span {
		width: 20px; height: 20px;
		font-size: 1.5rem;
		line-height: 16px;
	}

	/* 버튼 영역 768 */
	.btn_rowposition .inner {
		top: -6px;
	}
	.btn_rowposition .btn, .btn_rowposition .btn_round, .btn_rowposition .btn_circle {
		margin: 4px 2px;
	}
	.rowposition_lg .inner {
		margin-top: -9px; margin-bottom: 2px;
	}
	.rowposition_md .inner {
		position: static;
		margin-top: -9px; margin-bottom: 2px;
	}
	.rowposition_md .btn:first-child, .rowposition_md .btn_round:first-child, .rowposition_md .btn_circle:first-child {
		margin-left: 0;
	}
	.btn_rowposition .section_tit_md + .inner .btn_rowadd {
		margin-top: 14px; margin-right: 5px;
	}
	.btn_rowposition .section_tit_sm + .inner .btn_rowadd {
		margin-top: 14px; margin-right: 5px;
	}


	
}
@media screen and (max-width:480px) {
	
	/* 버튼 영역 480 */
	.rowposition_sm .inner {
		position: static;
		margin-top: -9px; margin-bottom: 2px;
	}
	.rowposition_sm .btn:first-child, .rowposition_sm .btn_round:first-child, .rowposition_sm .btn_circle:first-child {
		margin-left: 0;
	}

	/* 버튼 종류 480 */
	.btn_more {
		font-size: 1.6rem;
	}
	.btn_search::before {
		display: none;	
	}

	/* 탭 480 */
	.tab_list.tab_responsive {
		border-bottom: none;
	}
	.tab_list.tab_responsive li {
		width: 50%;
		border: 1px solid #d0ccc9;
	}
	.tab_list.tab_responsive li:nth-child(2n) {
		margin-left: -1px;
	}
	.tab_list.tab_responsive li:nth-child(2) ~ li {
		margin-top: -1px;
	}
	.tab_list.tab_responsive li.on::before, .tab_list.tab_responsive li.on::after {
		display: none;
	}
	.tab_list.tab_responsive li.on {
		position: relative; z-index: 1;
		border-color: #034283;
	}
	.tab_list.tab_responsive li.on a {
		color: #fff;
		background: #034283;
	}

	/* 페이징 480 */
	.paging_left {
		margin-right: 10px;
	}
	.paging_right {
		margin-left: 10px;
	}
	.paging_number a {
		margin-right: 0;
	}
	.paging_wrap .page_con {
		margin-right: 3px;
	}
	
	/* 첨부파일 - 드래그용 480 */
	.attachment_box .nocnt {
		font-size: 2rem;
	}

	/* 검색 480 */
	.search_box .grid_row_sm {
		margin-right: -0.16em; margin-left: -0.16em;
	}
	.search_box .grid_row_sm .grid_col {
		margin-bottom: 4px;
		border-left-width: 0.16em;
		border-right-width: 0.16em;
	}

	.search_inner {
		padding-right: 34px;
	}
	.search_inner .btn_search {
		padding-left: 0;
		width: 34px;
		font-size: 0; line-height: 0;
		background-position: left center;
	}
	
	.search_keyword {
		padding-left: 80px;
	}
	.search_keyword strong {
		margin-left: -80px;
		width: 80px;
	}
	
	.search_outer {
		padding-right: 48px;
	}
	.search_outer .btn_refresh {
		padding-left: 0;
		width: 44px;
		font-size: 0; line-height: 0;
		background: #fff url(../../images/client/formstyle/btn_refresh2.png) no-repeat center;
	}
	.search_select {
		padding-left: 80px;
	}
	.search_select .select_form {
		margin-left: -80px;
		width: 80px;
	}
	.search_select .select_form label {
		padding-right: 18px;
		background-position: right 4px center;
	}

	.search_check {
		padding: 10px;
	}
	.search_check strong {
		position: static; 
		display: block;
		margin-bottom: 2px;
		width: auto;
		line-height: 1.5em;; text-align: left;
		transform: none;
	}
	.search_check strong::after {
		display: none;
	}
	.search_check .check_row_wrap {
		padding: 5px 5px 0;
	}
	
}
@media screen and (max-width:320px) {

	/* 페이징 320 */
	.paging_wrap .page_con {
		margin-right: -1px;
	}

}