@charset "utf-8";

/* 팝업 공통 */
.pop_intro_txt {
	padding: 10px 0 10px 44px;
	font-size: 1.5rem; word-break: keep-all; 
	background: #f1f2ce url(../../images/client/sub/icon_infotext.png) no-repeat 10px 10px; background-size: 24px;
	border-radius: 10px;
}
.pop_thank_txt {
	padding: 10px 0;
	font-size: 1.5rem; word-break: keep-all;
	color: #0d65d9; text-align: center; font-weight: 600;
}

/* 공지사항 팝업 */
.pushpop_wrap  {
	width: 100%; height: 520px;
	padding-bottom: 40px;
	position: relative;
}
.push_header {
	padding: 10px 10px 0 10px;
	text-align: center; word-break: keep-all;
}
.push_header h1 {
	font-family: GyeonggiTitle, sans-serif; font-size: 1.8rem; font-weight: 600; letter-spacing: -0.05em;
	-webkit-transform: skew(-0.03deg);
	-moz-transform: skew(-0.03deg);
	-o-transform: skew(-0.03deg);
	transform: skew(-0.03deg);
}
.push_header h1 span {
	display: block;
	font-family: Notokr, sans-serif; font-size: 1.5rem; font-weight: 500; color: #999;
}
.push_container {
	padding: 10px;
}
.push_content {
	overflow-y: auto;
	height: 400px;
	padding: 15px;
	background-color: #fff;
	border: 1px solid #d7d7d7;
}
.pusupop_footer {
	position: relative;
	margin-top: -40px;
	height: 40px;
	background-color: #363636;
	color: #fff;
	z-index: 2;
}
.pusupop_footer p {
	position: absolute; top: 50%; right: 60px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.pusupop_footer p input {
	display: none;
}
.pusupop_footer p label {
	position: relative;
	display: block;
	padding-right: 25px;
	background: url(../../images/client/popup/push_check.png) no-repeat right center;
}
.pusupop_footer p label::before {
	position: absolute; bottom: 0; left: 0;
	content: "";
	display: block;
	width: 0; height: 0;
	background: #fff;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.pusupop_footer p input:checked + label {
	background-image: url(../../images/client/popup/push_check_on.png);
}
.pusupop_footer p input:checked + label::before {
	width: calc( 100% - 24px ); height: 1px;
}
.pusupop_footer p label:hover {
	cursor: pointer;
}
.pusupop_footer .push_close {
	position: absolute; top: 0; right: 0;
	display: inline-block;
	width: 40px; height: 40px;
	background: url(../../images/client/popup/btn_notice_close.png) no-repeat center;
	font-size: 0; line-height: 0;
	border-left : 1px solid #b7b7b7;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.pusupop_footer .push_close:hover {
	background-color: #202020;
}

/* 로그인 팝업 */
.login_wrap {
	position: relative;
	margin: 0 auto; padding-right: 475px;
	width: 950px; height: 600px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 0 4px 16px rgba(0,0,0,0.3);
	overflow: hidden;
}
.login_wrap::before {
	content: "";
	position: absolute; top: 0; right: 0;
	display: block;
	width: 50%; height: 100%;
	background: url(../../images/client/popup/bg_login.png) no-repeat center; background-size: cover;
}
.login_wrap .inner {
	padding: 70px 60px;
	height: 100%;
	background: #e5e5e5;
}
.login_wrap h1 {
	margin: 0 auto 60px;
	width: 320px;
}
.login_wrap h1 img {
	width: 100%;
}
.login_input {
	display: block;
	width: 100%; height: 50px;
	margin-bottom: 9px; padding: 0 20px; 
	color: #034283; font-size: 1.5rem; line-height: 48px; letter-spacing: -0.03em;
	background-color: #fff;
	border: 1px solid #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
input[type="text"].login_input {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.login_input::placeholder {
	color: #a8aaad !important; font-weight: 300;
	opacity: 1; /*firefox*/
}
/*Firefox*/
.login_input:-moz-input-placeholder {
	color: #a8aaad !important; font-weight: 300;
}
/*IE 10-11*/
.login_input:-ms-placeholder {
	color: #a8aaad !important; font-weight: 300;
}
.login_input:-ms-input-placeholder {
	color: #a8aaad !important; font-weight: 300;
}
/*Microsoft Edge*/
.login_input::-ms-placeholder {
	color: #a8aaad !important; font-weight: 300;
}
.login_input:focus {
	border-color: #034283; 
}
.login_id {
	background-image: url(../../images/client/popup/icon_id.png);
}
.login_pw {
	background-image: url(../../images/client/popup/icon_pw.png);
}
.id_save {
	color: #101424; font-size: 1.5rem; 
}
.btn_loginsubmit {
	display: block;
	margin-top: 33px;
	width: 100%; height: 60px;
	color: #fff; font-size: 1.7rem; font-weight: 500; line-height: 60px; text-align: center;
	background: #034283;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.login_wrap .relativelink_area {
	margin-top: 22px;
	font-size: 0; line-height: 0; text-align: center;
}
.login_wrap .relativelink_area a {
	position: relative;
	display: inline-block;
	padding: 0 15px;
	color: #8b8b8b; font-size: 1.4rem; line-height: 1.5em;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.login_wrap .relativelink_area a:first-child {
	padding-left: 0;
}
.login_wrap .relativelink_area a:last-child {
	padding-right: 0;
}
.login_wrap .relativelink_area a::after {
	content: "|";
	position: absolute; top: 0; right: 0;
	color: #cacaca; font-size: 1.3rem; line-height: inherit; vertical-align: middle;
}
.login_wrap .relativelink_area a:last-child::after {
	display: none;
}
.btn_loginclose {
	position: absolute; top: 20px; right: 20px;
	display: inline-block;
	width: 20px; height: 20px;
	font-size: 0; line-height: 0;
	background: url(../../images/client/popup/btn_login_close.png) no-repeat center;
	border: none; outline: none;
}
.login_wrap .photocopy_label {
	position: absolute; bottom: 20px; right: 180px;
	display: inline-block;
	width: 107px; height: 12px;
	font-size: 0; line-height: 0;
	background: url(../../images/client/popup/img_copyright.png) no-repeat center;
}

/* 서브페이지 팝업 */
.pop_wrapper {
	background: #fff;
	-webkit-box-shadow: 0 4px 14px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 4px 14px rgba(0,0,0,0.2);
	box-shadow: 0 4px 14px rgba(0,0,0,0.2);
	overflow: hidden;
}
.pop_xl_wrap {
	margin: 0 auto;
	width: 1100px;
}
.pop_lg_wrap {
	width: 850px;
	margin: 0 auto;
}
.pop_md_wrap {
	margin: 0 auto;
	width: 650px;
}
.pop_sm_wrap {
	margin: 0 auto;
	width: 500px;
}
.pop_xs_wrap {
	margin: 0 auto;
	width: 450px;
}
.pop_content {
	padding: 20px;
	min-height: 100px;
}
.pop_lg_content {
	max-height: 650px;
	overflow-y: auto;
}
.pop_md_content {
	max-height: 500px;
	overflow-y: auto;
}
.pop_sm_content {
	max-height: 400px;
	overflow-y: auto;
}
.pop_header {
	position: relative;
	display: flex;
	padding: 10px 60px 10px 20px;
	min-height: 60px;
	align-items: center;
	background: #034283;
}
.pop_header h2 {
	color: #fff; font-size: 2.2rem; font-weight: 500; line-height: 1.4em; letter-spacing: -0.05em;
}
.pop_header .pop_close {
	position: absolute; top: 50%; right: 20px;
	margin-top: -12px;
	width: 24px; height: 24px;
	font-size: 0; line-height: 0;
	background: url(../../images/client/popup/pop_close.png) center no-repeat;
}
.pop_footer {
	padding: 30px; 
	text-align: center;
}
.pop_footer button {
	margin: 0 2px;
}

/* 타이틀 */
.pop_content .section_tit {
	padding-left: 25px;
	font-size: 1.2rem;
	background-size: 18px;
}

/* 검색창 */
/* .pop_content .grid_content{
	width: 100%;
}
.pop_content .search_box {
	width: 100%;
	padding: 15px;
}
.pop_search_box .row2 {
	display: inline-block;
	width: 49%; margin-left: 2%;
}
.pop_search_box .row2:first-child {
	margin-left: 0;
}
.row2 .search_day {
	margin: 0;
}
.pop_search_box .row3 {
	display: inline-block;
	width: 32%; margin-left: 2%;
}
.pop_search_box .row3:first-child {
	margin-left: 0;
} */

/* 워크넷 팝업 */
.worknetinfo_wrap {
	margin: 20px auto 0;
	width: 86%;
	text-align: center; word-break: keep-all;
}
.worknetinfo_wrap p {
	margin-bottom: 20px;
	font-size: 16px; font-weight: bold; 
}
.worknetinfo_wrap ul {
	margin-bottom: 40px; padding: 16px 20px;
	text-align: left;
	border: 1px solid #d7d7d7;
	background: url('../../images/client/popup/bg_worknet_pop.jpg') no-repeat right 10px bottom 10px;
}
.worknetinfo_wrap ul li {
	margin-bottom: 4px;
	font-size: 1.6rem; font-weight: 600; color: #c01515; line-height: 1.6em;
}
.worknetinfo_wrap ul li:last-child {
	margin-bottom: 0;
}

/* 오프라인 상담 날짜 선택 */
.calendar {
	position: relative;
	padding: 0 10px;
	width: 100%;
}
.fc-view-container table {
	width: 100%;
}
.counsel_title {
	position: absolute; top: 45px;
	display: block;
	width: 55%;
	text-overflow: ellipsis; white-space: nowrap;
	overflow: hidden;
}
.counsel_title span {
	margin-right: 5px;
	color: #20a0e1;
}
.calender_topbox {
	position: absolute; top: 35px; right: 20px;
	display: table;
	width: auto;
}
.calender_topbox li {
	display: inline-block;
	margin-left: 10px;
	font-size: 1.5rem;
}
.calender_topbox li span {
	display: inline-block;
	margin-right: 5px;
	width: 12px; height: 12px;
	vertical-align: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.calender_topbox li:first-child {
	margin-left: 0;
}
.calender_topbox li:nth-child(1) span {
	background: #fa2046;
}
.calender_topbox li:nth-child(2) span {
	background: #0666be;
}
.bg {
	position: relative;
	margin: 30px 0 0;
	padding: 0 0 35px 0;
}
.bg ul {
	margin: 0 auto;
	width: 200px;
	text-align: center;
}
.bg ul li {
	display: inline-block;
}
.bg ul li .prev_m, .bg ul li .next_m {
	display: block;
	width: 28px; height: 28px;
	line-height: 20px; text-indent: -9999px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.bg ul li .prev_m {
	background: #f2f2f2 url(../../images/client/formstyle/icon_prevm_navy.png) no-repeat center;
}
.bg ul li .next_m {
	background: #f2f2f2 url(../../images/client/formstyle/icon_nextm_navy.png) no-repeat center;
}
.calendar .fc-event {
	color: #377f7b;
	background: #e6f8f7;
	border-color: #e6f8f7;
}
.calendar .bg .dib {
	display: inline-block;
	margin: 0 10px;
	text-align: center; line-height: 1em;
	font-weight: 600; font-size: 2.8rem; color: #3a3a3a;
}
.calendar.visit_advice.professor .stagebox .floatL .reserve {
	display: inline-block;
	width: 13px; height: 13px;
}
.stagebox {
	clear: both;
	padding: 20px 0;
	width: 100%;
}
.calendar.visit_advice.student .stagebox .floatL {
	font-weight: bold;
}
.fc-view,.fc-view > table {
	position: relative;	z-index: 1;
	margin-right: 1px;
	padding: 0 !important;
}
th.fc-widget-header {
	padding: 0 10px;
	height: 30px;
	line-height: 30px; text-align: left; color: #666666; text-align: center;
	background: #fbfbfb;
}
.fc-row .fc-content-skeleton td,
.fc-row .fc-helper-skeleton td {
	background: none;
	border-color: transparent;
	border-bottom: 0;
}
td.fc-day-number {
	text-indent: 5px;
}
.fc-view-container {
	position: relative;
}
.fc-day-grid-event {
	margin: 0;
}
tr:first-child > td > .fc-day-grid-event {
	margin-top: 0;
}
.fc-day-grid-event .fc-content {
	text-align: center;
}
.fc-day {
	text-align: right;
}
.fc-title {
	display: block;
	padding: 0 10px;
	width: 100%;
	text-align: left; font-size: 1.2rem;
}
.fc-row .fc-bg input[type="checkbox"] {
	margin: 2px 5px 0 0;
	width: 15px; height: 15px;
}
.fc-ltr .fc-basic-view .fc-day-number {
	padding: 5px;
	font-size: 1.6rem;
}
.pp_calenter_btnlist {
	margin-left: 50%; margin-bottom: -28px;
	width: 50%;
}
.fc-unthemed thead td span {
	float: right;
}
.fc-basic-view .fc-body .fc-row {
	min-height: 95px;
}
.fc-basic-view .fc-week-number, .fc-basic-view .fc-day-number {
	padding: 5px 2px;
}
.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-content, .fc-unthemed .fc-popover, .fc-unthemed .fc-list-view, .fc-unthemed .fc-list-heading td {
	border-color: #d6dadf;
}
th.fc-widget-header.fc-sat {
	color: #4491e8;
}
.fc-sat {
	color: #4491e8;
}
th.fc-widget-header.fc-sun {
	color: #ec5c62;
}
.fc-sun {
	color: #ec5c62;
}
.fc-unthemed td.fc-today {
	position: relative;
	color: #8fc73f;
	background-color: #fbfdf8;
	border-color: #8fc73f;
}
.fc-unthemed td.fc-today::after {
	position: absolute; bottom: 0; left: 0;
	content: "";
	display: inline-block;
	width: 100%; height: 1px;
	background-color: #8fc73f;
}
.fc-content-skeleton .fc-today::after {
	display: none !important;
}
.fc-other-month {
	color: #ababab;
	background-color: #f3f3f3;
}
.font_possible {
	color: #0666be;
}
.font_impossible {
	color: #fa2046;
}

/* 진로취업상담 상세 팝업 */
.statusinfo_toparea {
	position: relative;
	margin-bottom: 20px;
}
.statusinfo_left, .statusinfo_right {
	font-size: 0; line-height: 0;
}
.statusinfo_toparea p {
	display: inline-block;
	margin-right: 20px;
	color: #5c5c5c; font-size: 1.6rem;
}
.statusinfo_toparea p:last-child {
	margin-right: 0;
}
.statusinfo_toparea p strong, .statusinfo_toparea p span {
	font-weight: 600; line-height: inherit; vertical-align: 0;
}
.statusinfo_right {
	position: absolute; top: 0; right: 0;
}
.statusinfo_toparea .status_label.wait {
	color: #ff9230;
}
.statusinfo_toparea .status_label.done {
	color: #3a93e5;
}
.statusinfo_toparea .status_label.cancel {
	color: #7f7f7f;
}
.statusinfo_toparea .status_label.reject {
	color: #7f7f7f;
}
.counselreply_box {
	padding: 20px;
	background: #edf0f3;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}


/* ====================================================== */

/* 팀원 추가 팝업 */
.pop_teammember .pop_search_box .search_row {
	margin-top: 0; margin-bottom: -0.5em;
}
.pop_teammember .pop_search_box .search_row > div {
	margin-bottom: 0;
}
.pop_teammember .pop_search_box .grid_col:last-child {
	width: 75%;
}

/* 페이징 */
.pop_content .paging_wrap {
	padding-top: 20px;
}





/* 직업 상세정보 */
.levelcompare_box {
	padding: 15px;
	font-size: 0; line-height: 0;
}
.levelcompare_box>div {
	display: inline-block;
	width: 49%;
	font-size: 1.5rem; line-height: 1.5rem;
}
.levelcompare_box .tbl {
	margin-left: 2%;
}
.pattern_wrap {
	display: table;
	width: 100%;
	border: 1px solid #ddd;
}
.pattern_wrap>li {
	display: table-cell;
	width: 25%;
	text-align: center; vertical-align: top;
	border-left: 2px solid #ddd;
}
.pattern_wrap>li:first-child {
	border-left: 0;
}
.pattern_wrap>li strong {
	display: block;
	padding: 15px 0;
	font-size: 1.5rem; font-weight: 600;
	background-color: #f4eae2;
}
.pattern_wrap>li ul {
	padding: 8px;
}
.pattern_wrap>li ul li {
	display: block;
	padding-left: 40px; margin: 8px 0;
	position: relative;
}
.pattern_wrap>li ul li>p {
	width: 40px;
	position: absolute; left: 0px; top: 2px;
	font-size: 13px;
}
.pattern_wrap>li ul li div{
	overflow: hidden;
	width: 100%; height: 20px;
	position: relative;
	background-color: #ebebeb;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.pattern_wrap>li ul li div .pattern_bar {
	height: 20px;
	position: absolute; top: 0; left: 0;
	background-color: #f2b84b;
}
.pattern_wrap>li ul li div .pattern_bar_txt {
	position: relative;
	line-height: 20px; font-size: 12px;
}
.pp_updwon {
	display: inline-block;
	width: 9px; height: 14px;
	vertical-align: middle;
}
.up_arrow {
	background: url(../../images/client/sub/arrow_up.jpg)bottom center no-repeat;
}
.down_arrow {
	background: url(../../images/client/sub/arrow_down.jpg)bottom center no-repeat;
}

/* 롤모델 정보 */
.roleinfo_check {
	margin-bottom: 15px;
}
.roleinfo_check > strong {
	display: block;
	padding-top: 120px; margin-bottom: 30px;
	text-align: center; font-size: 1.2rem; font-weight: 600;
	background: url(../../images/client/sub/img_model.png) no-repeat center 20px;
}
.roleinfo_check .programpoint_list div{
	padding: 70px 0 10px 0;
	font-size: 1.3rem; text-align: center;
	background-position: center 0;
	border: 0;
}
.roleinfo_check .programpoint_list dd div strong {
	display: block;
	margin-right: 0;
}

/* 교과정보 추가 */
.addsubject_wrap .subject_listbox dl {
	min-height: auto;
	padding: 1em;
}
.addsubject_wrap .subject_listbox dl:hover {
	border: 1px solid #d93b3b;
	cursor: pointer;
}
.addsubject_wrap .subject_listbox dl.on {
	border: 2px solid #d93b3b;
}
.addsubject_wrap .subject_listbox dl dd {
	margin-top: 0.5em;
}
.addsubject_wrap .subject_listbox dl dd ul {
	min-height: auto;
}
.addsubject_wrap .point_none {
	min-height: auto;
}
.addsubject_wrap .subject_listbox .btn_addlike {
	top: 0.8em; right: 0.5em;
}
.pop_content .subjectpoint_list {
	min-width: 300px;
}
.subjectlist_tit {
	display: block;
	min-width: 300px;
	padding-bottom: 5px;
	font-weight: 600; color: #00427c; text-align: left;
}
.subject_select {
	display: inline-block;
	width: 35px; height: 35px;
}
.subject_select button {
	display: block;
	width: 100%; height: 100%;
	background: url(../../images/client/sub/icon_testselect.png) no-repeat;
	background-size: 100%;
}
.subject_addlist table tr.selected .subject_select button {
	background-image: url(../../images/client/sub/icon_testselect_on.png);
}

/* 비교과 추가 */
.addprogram_wrap .program_lisbox {
	padding: 10px 10px 10px 260px;
}
.addprogram_wrap .program_lisbox.on {
	border-color: #289dd3;
}
.addprogram_wrap .program_lisbox.on + .program_footer {
	border-color: #00427c;
	border-top: 2px dashed #d7d7d7;
}
.addprogram_wrap .previewimg_box {
	width: 240px; height: 180px;
	position: absolute; left: 10px; top: 10px;
}
.addprogram_wrap .program_infolist dt {
	height: auto;
	padding: 4px 10px;
	-webkit-line-clamp: 1;
}
.addprogram_wrap .team_label {
	right: auto; left: 190px; top: 20px; 
}
.addprogram_wrap .program_infolist dd {
	padding: 2px 10px;
}
.addprogram_wrap .program_lisbox .graph_wrap .graph_box p {
	padding-top: 10px; margin-bottom: 10px;
}
.addprogram_wrap .graph_wrap .graph_box img {
	width: auto; max-height: 160px;
}
.addprogram_wrap .program_lisbox .graph_wrap {
	left: 0;
}
.addprogram_wrap .program_footer .btn_check{
	position: absolute; top: 5px; right: 10px;
}
.addprogram_wrap .program_footer .btn_addlike {
	right: 40px;
}


/* 포트폴리오 공유하기 */
.qrimg_box {
	padding: 15px; margin-bottom: 20px;
	text-align: center;
}
.qrurl_text {
	width: 90%;
	margin: 0 auto; padding: 30px;
	word-break: break-all; font-weight: 600;
	border: 1px solid #c2cad2;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

/* 포트폴리오 출력하기 */
.resume_print {
	padding: 0 20px;
}
.resume_print .check_row {
	display: block;
	padding: 14px 10px;
	border-bottom: 1px solid #d7d7d7;
}

/* 포트폴리오 이력서 등록 */
.pop_content .resume_container {
	padding: 0;
	border: 0;
	background: #fff;
}
.pop_resumeedit .search_box {
	padding: 20px;
}
.pop_resumeedit .search_inner {
	padding-right: 0;
}
.pop_resumeedit .studentinfo_box {
	margin-top: 0; margin-bottom: 0;
}
.resumeedit_btnrow .check_row, .resumeedit_btnrow .btn_rowedit, .resumeedit_btnrow .btn_refresh3 {
	margin-top: 7px; margin-left: 16px;
	vertical-align: top;
}
.resumeedit_btnrow .check_row {
	margin-right: 0;
}
.pop_content .search_day {
	height: 34px;
}
.pop_content .search_day strong {
	line-height: 32px;
}
.pop_content .search_day input[type="text"].form_style {
	padding: 0 32px 0 8px;
	height: 32px;
}
.pop_content .search_day .calendar_open {
	top: 7px; right: 6px;
}
.pop_content input[type="text"].form_style {
	padding: 0 8px;
}
.pop_content textarea.form_style {
	padding: 6px 8px;
}
.pop_content .select_form label {
	padding-left: 8px;
}
.studentinfo_editbox .resumeimg .btn_attachment {
	position: absolute; bottom: 15px; left: 50%;
	display: block;
	width: 72px;
	-wbkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.studentinfo_editbox .attach_file {
	position: absolute; bottom: -40px; left: 15px;
}
.studentinfo_editbox .btn_del {
	position: absolute; top: 5px; right: 5px;
}

.btn_row {
	display: inline-block;
	font-size: 1.5rem; vertical-align: middle; line-height: 20px; 
	background-color: transparent;
}
.btn_row span {
	display: inline-block;
	margin-right: 6px;
	width: 20px; height: 20px;
	vertical-align: top;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.btn_row span {
	background-color: #fff; background-repeat: no-repeat; background-position: center; background-size: 12px;
	border: 1px solid #b7b7b7;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.btn_row_add span {
	background-image: url(../../images/client/sub/btn_row_add.png);
}
.btn_row_del span {
	background-image: url(../../images/client/sub/btn_row_del.png);
}
.resumeimg_edit {
	position: relative;
	display: flex;
	width: 120px; height: 150px;
	align-items: center; justify-content: center;
	border: 1px solid #ccc;
	overflow: hidden;
}
.resumeimg_edit .btn_del {
	position: absolute; top: 5px; right: 5px;
}
.resumeimg_edit .btn_attachimg {
	position: absolute; bottom: 8px; left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.resumeimg_edit .btn_attachimg label {
	width: 80px;
}




/* 포트폴리오 자기소개서 등록 */
.selfintroedit_box {
	position: relative;
	padding: 20px;
	border: 2px solid #d0d2d4;
}
.selfintroedit_tit {
	margin-bottom: 10px;
}
.selfintroedit_tit strong {
	display: block;
	margin-bottom: 12px;
	font-family: GyeonggiTitle, sans-serif; font-size: 1.6rem; line-height: 1em;
	-webkit-transform: rotate(-0.03deg);
	-moz-transform: rotate(-0.03deg);
	-o-transform: rotate(-0.03deg);
	transform: rotate(-0.03deg);
}
.selfintroedit_btnrow {
	position: absolute; top: 14px; right: 20px;
}
.selfintroedit_btnrow * {
	vertical-align: middle;
}
.selfintroedit_btnrow button {
	margin-left: 16px;
}
.selfintroedit_btnrow .check_row {
	margin-right: 0;
}
.selfintroedit_box input[type="text"].form_style {
	padding: 0 10px;
	height: 40px;
	line-height: 38px;
}
.selfintroedit_box textarea {
	margin-top: -1px; padding: 10px;
}
.selfintroedit_addbox {
	padding-top: 56px;
}
.selfintroedit_addbox textarea {
	margin-top: -1px; 
}

/* 포트폴리오 상세 */
.pop_content .resume_tit {
	background: #f2f2f2;
}
.resume_tit::after {
	display: none;
}


@media screen and (max-width:1279px) {
	
	/* 팝업 공통 1279 */
	.pop_xl_wrap{
		width: 94%;
	}
	
}
@media screen and (max-width:1079px) {

}
@media screen and (min-width:1025px) {

	/* 로그인 팝업 hover */
	.btn_loginsubmit:hover {
		background: #02305e;
	}
	.login_wrap .relativelink_area a:hover {
		color: #626161;
	}

	/* 오프라인 상담 날짜 선택 hover */
	.bg ul li .prev_m:hover {
		background-color: #00427c;
		background-image: url(../../images/client/formstyle/icon_prevm_white.png);
	}
	.bg ul li .next_m:hover {
		background-color: #00427c;
		background-image: url(../../images/client/formstyle/icon_nextm_white.png);
	}
}
@media screen and (max-width:1024px) {

	/* 로그인 팝업 1024 */
	.login_wrap {
		width: 500px;
		padding-right: 0;
		height: auto;
	}
	.login_wrap::before {
		display: none;
	}
	.login_wrap .photocopy_label {
		display: none;
	}
	.login_wrap .inner {
		height: auto;
	}
	.login_wrap h1 {
		margin: 0 auto 46px;
		width: 260px;
	}

	/* 서브페이지 팝업 1024 */
	.pop_lg_wrap {
		width: 94%;
		margin: 0 auto;
	}

}
@media screen and (max-width:768px) {
	
	/* login 팝업 768 */
	.login_box {
		padding: 30px;
		width: 90%;
		background-image: none;
	} 
	.login_box h1 {
		margin-bottom: 20px;
	}
	
	.login_box h1 img {
		width: 180px;
	}
	.login_box .pop_close {
		top: 14px; right: 14px;
	}
	.login_form .login_input {
		margin-bottom: 5px; padding-left: 40px;
		height: 40px;
		line-height: 40px;
		background-position: 15px center;
		background-size: 15px;
	}
	.id_save {
		margin: 4px 4px 24px;
	}
	.submit_login {
		line-height: 40px;
	}
	.login_leftbox > p img {
		width: 100px;
	}
	
	/* 팝업 공통 768 */
	.pop_md_wrap {
		width: 90%;
	}
	.pop_sm_wrap {
		width: 80%;
	}
	.pop_xs_wrap {
		width: 80%;
	}
	.pop_content {
		padding: 10px;
	}
	.pop_content {
		max-height: 400px;
		overflow-y: auto;
	}
	.pop_lg_content {
		max-height: 400px;
	}
	.pop_md_content {
		max-height: 400px;
	}
	.pop_sm_content {
		max-height: 400px;
	}
	.pop_header {
		padding: 10px;
		min-height: 50px;
	}
	.pop_header h2 {
		padding-right: 36px;
		font-size: 1.8rem; 
	}
	.pop_header .pop_close {
		right: 14px;
		margin-top: -10px;
		width: 20px; height: 20px;
		background-size: contain;
	}
	.pop_footer {
		padding: 15px;
	}
	
	/* 영역 공통 768 */
	.pop_content .section_marea {
		margin-bottom: 12%;
	}
	.pop_content .section_sarea {
		margin-bottom: 12%;
	}

	/* 오프라인 상담 날짜 선택 768 */
	.bg {
		margin-top: 20px; padding: 0 0 50px 0;
	}
	.calender_topbox {
		top: 50px;
	}

	/* 진로취업상담 상세 팝업 768 */
	.statusinfo_toparea {
		margin-top: 6px;
	}

	/* ====================================================== */
	
	
	/* 롤모델 정보 768 */
	.roleinfo_check .programpoint_list {
		display: table;
		width: 100%;
	}
	.roleinfo_check .programpoint_list dd {
		display: table-cell;
		width: 33.33%;
	}
	.roleinfo_check .programpoint_list div {
		padding: 50px 10px 10px;
		font-size: 1.5rem;
		background-size: 40px;
	}
	
	/* 이력서 등록 768 */
	/* .selfintroedit_wrap .btn_sidearea {
		margin-top: -28px;
	} */
	.studentinfo_box.studentinfo_editbox {
		padding: 0;
	}
	.studentinfo_box.studentinfo_editbox .resumeimg {
		position: relative; top: auto; left: auto;
		margin: 20px auto 10px;
	}
	.studentinfo_editbox .resumeimg .btn_attachment {
		bottom: 10px;
		width: 64px;
	}
	.studentinfo_box.studentinfo_editbox dl {
		padding: 0 20px 20px;
	}
	.studentinfo_box.studentinfo_editbox dl dt {
		margin-bottom: 5px;
		text-align: center;
	}
	
	/* 팀원 추가 팝업 768 */
	.pop_teammember .pop_search_box .search_row {
		margin-bottom: 0;
	}
	.pop_teammember .pop_search_box .search_row > div {
		margin-bottom: 6px;
	}
	.pop_teammember .pop_search_box .grid_col:last-child {
		margin-bottom: 0;	
		width: 100%;
	}
	
	/* 해시태그 검색 팝업 768 */
	.hashsearch_result {
		bottom: -10px; left: -10px;
		margin-top: 10px;
		width: calc(100% + 20px);
	}
	.hashsearch_result .section_tit_md {
		padding-left: 15px;
		font-size: 1.3rem;
	}
	.hashsearch_result .section_tit_sm {
		padding-left: 12px;
		font-size: 1.3rem;
	}
	.hashtag_select {
		padding-right: 60px;
	}

	
	
}
@media screen and (max-width:480px) {
	
	/* 공지사항 팝업 480 */
	.pusupop_footer p {
		right: auto; left: 10px;
	}
	.pusupop_footer p label {
		padding-right: 0; padding-left: 22px;
		background-position: left center;
	}
	.pusupop_footer p label::before {
		left: 22px; 
	}
	.pusupop_footer p input:checked + label::before {
		width: calc( 100% - 20px );
	}

	/* 로그인 팝업 480 */
	.login_wrap {
		width: 90%;
	}
	.login_wrap .inner {
		padding: 60px 10%;
	}
	.login_wrap h1 {
		margin-bottom: 40px;
		width: 80%;
	}
	.login_input {
		margin-bottom: 6px; padding: 0 16px;
		height: 44px;
		line-height: 42px;
	}
	.btn_loginsubmit {
		margin-top: 20px;
		height: 46px;
		line-height: 46px;
	}

	/* 검색창 480 */
	/* .pop_search_box {
		padding: 10px;
	}
	.pop_search_box .row2 {
		margin: 0;
		width: 100%;
	}
	.pop_search_box .row2:first-child {
		margin-bottom: 6px;
	}
	.pop_search_box .row3 {
		width: 100%;
		margin-top: 5px; margin-left: 0;
	} */

	/* 워크넷 팝업 480 */
	.worknetinfo_wrap {
		width: 90%;
	}

	/* 진로취업상담 상세 팝업 480 */
	.statusinfo_right {
		position: static;
		margin-bottom: 4px;
	}

	/* 포트폴리오 자기소개서 등록 480 */
	.selfintroedit_box {
		padding: 44px 12px 12px 12px;
	}
	.selfintroedit_btnrow {
		top: 8px; right: 14px;
	}
	.selfintroedit_btnrow button {
		margin-left: 12px;
	}
	
	

}
@media screen and (max-width:320px) {
	
	/* 로그인 팝업 320 */
	.login_wrap {
		width: 94%;
	}
	.login_wrap .inner {
		padding: 60px 6%;
	}

}