@charset "utf-8";

/*  scrollbar */
.mCSB_horizontal.mCSB_inside > .mCSB_container{
	margin-bottom: 8px;
}

/* 모바일에서 세로방향 터치불가 fix */
.mCustomScrollbar,
.mCustomScrollbar.mCS_touch_action,
.mCustomScrollbar.mCS_touch_action .mCS-aviva.mCSB_scrollTools {
	-ms-touch-action: auto;
	touch-action: auto;
}
.mCustomScrollBox {
	height: auto;
	-ms-touch-action: pan-x;
	touch-action: pan-x;
}
.mCustomScrollBox.mCSB_vertical_horizontal {
	-ms-touch-action: auto;
	touch-action: auto;
}
.mCustomScrollBox.mCSB_horizontal {
	-ms-touch-action: pan-y;
	touch-action: pan-y;
}
/*.mCustomScrollBox.mCSB_horizontal { touch-action: pan-y pinch-zoom; }*/

.tbl {
	position: relative;
}
.tbl table{
	width: 100%;
	text-align: center; font-size: 1.5rem;
	background-color: #fff;
	border-bottom: 1px solid #d0d2d4;
}
.tbl table thead th {
	padding: 8px;
	color: #232323; font-weight: 500; text-align: center; 
	background-color: #f2f2f2;
	border-top: 1px solid #d0d2d4;
	border-bottom: 1px solid #d0d2d4;
}
.tbl table tbody th, .tbl table tfoot th {
	padding: 8px;
	text-align: center;
	border-bottom: 1px solid #d0d2d4;
}
.tbl table tbody td, .tbl table tfoot td {
	padding: 9px;
	text-align: center;
	border-bottom: 1px solid #d0d2d4;
}

.tbl_col table {
	border-top: 2px solid #334458;
}
.tbl_col table thead th {
	padding: 9px 0;
	font-weight: 500;
	background: #f2f2f2;
	border: 1px solid #d0d2d4;
}
.tbl_col table th {
	border: 1px solid #d0d2d4;
}
.tbl_col table td {
	border: 1px solid #d0d2d4;
}
.tbl_col .bg_td {
	background: #f2f2f2;
}

.tbl_row table thead th {
	padding: 9px 0;
	font-weight: 500;
	background: #f2f2f2;
	border: 1px solid #d0d2d4;
}
.tbl_row table tbody th {
	font-weight: 500;
	background: #f2f2f2;
	border: 1px solid #d0d2d4;
}
.tbl_row table tbody td {
	text-align: left;
	border: 1px solid #d0d2d4;
}
.tbl_row .bg_td {
	background: #f2f2f2;
}

/* 워크넷 테이블 */
.tbl_border {
	padding-bottom: 1px;
}
.tbl_border table{
	border: 1px solid #d0d2d4;
}
.tbl_border table th {
	border: 1px solid #d0d2d4;
}
.tbl_border table td {
	border: 1px solid #d0d2d4;
}

/* 익명 멘토링 테이블 */
.tbl_line table {
	border-top: 2px solid #334458;
}


/* 테이블 링크 */
.td_append {
	display: table;
	width: auto;
	word-break: break-word;
	table-layout: fixed;
}
.td_append > a {
	display: table-cell;
	font-weight: inherit; word-break: break-word;
}
.td_append > a p {
	position: relative;
	display: block;
	display: -webkit-box;
	height: 22px;
	font-weight: inherit; text-overflow: ellipsis; word-break: break-all; 
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.td_append .td_appendicon {
	display: table-cell;
	font-size: 0; line-height: 0; vertical-align: top; white-space: nowrap;
}
.linked {
	position: relative; top: 3px;
	display: inline-block;
	margin-left: 5px;
	width: 14px; height: 14px;
	vertical-align: 0;
	background: url(../../images/client/formstyle/icon_td_linked.png) no-repeat center;
}
.filelinked {
	position: relative; top: 2px;
	display: inline-block;
	margin-left: 5px;
	width: 8px; height: 16px;
	vertical-align: 0;
	background: url(../../images/client/formstyle/icon_td_filelinked.png) no-repeat center;
}
.locked {
	position: relative; 
	display: inline-block;
	margin-left: 5px;
	width: 14px; height: 19px;
	vertical-align: 0;
	background: url(../../images/client/formstyle/icon_td_locked.png) no-repeat center;
}
.td_append a {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.td_append.td_reply a p {
	position: relative;
	padding-left: 12px;
}
.td_append.td_reply a p::before {
	content: "";
	position: absolute; top: 4px; left: 0;
	display: inline-block;
	width: 8px; height: 8px;
	border-left: 1px solid #403f3f;
	border-bottom: 1px solid #403f3f;
}

.td_selected {
	background: #f0f3fa !important;
}


/* 비교과 상세 테이블 */
.tbl_text tbody tr {
	border-top: 1px solid #cdcdcd;
	border-bottom: 1px solid #cdcdcd;
}
.tbl_text tbody tr th, .tbl_text tbody tr td {
	padding: 9px;
	text-align: left;
}

/* 교외활동 승인 테이블 */
/*.tbl_active {
	padding: 10px;
	border: 1px solid #a3bfd8;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.tbl_active table {
	border: none;
}
.tbl_active table tbody th {
	padding-right: 10px;
	text-align: right; font-weight: 600;
	background-color: #dbecf6;
}
.tbl_active table tbody td{
	text-align: left;
}*/

/* 교과활동 이수 테이블 */
.subject_addlist table tr.selected {
	background-color: #dbecf6;
}

/* 포트폴리오 희망취업스타일 */
.resume_container .tbl_col table th{
	text-align: center;
}
.resume_container .tbl_col table thead th {
	border-bottom-color: #a3bfd8;
}
.resume_container .tbl_col table td{
	text-align: center;
}



/* 가로 스크롤 테이블 */
.mCSB_container {
	width: 100% !important;
}
.scrollx_tbl_xs {
	width: 100%;
	overflow-x: auto;
}
.scrollx_tbl_xs .mCSB_container {
	min-width: 500px !important;
}
.scrollx_tbl_xs table{
	min-width: 500px;
}
.scrollx_tbl_sm {
	width: 100%;
	overflow-x: auto;
}
.scrollx_tbl_sm .mCSB_container {
	min-width: 600px !important;
}
.scrollx_tbl_sm table{
	width: 100%;
	min-width: 600px;
}
.scrollx_tbl_md{
	width: 100%;
	overflow-x: auto;
}
.scrollx_tbl_md .mCSB_container {
	min-width: 800px !important;
}
.scrollx_tbl_md table{
	min-width: 800px;
}
.scrollx_tbl_lg{
	width: 100%;
	overflow-x: auto;
}
.scrollx_tbl_lg .mCSB_container {
	min-width: 1000px !important;
}
.scrollx_tbl_lg table{
	min-width: 1000px;
}
.scrollx_tbl_xl{
	width: 100%;
	overflow-x: auto;
}
.scrollx_tbl_xl .mCSB_container {
	min-width: 1200px !important;
}
.scrollx_tbl_xl table{
	min-width: 1200px;
}
.scrollx_tbl_xxl{
	width: 100%;
	overflow-x: auto;
}
.scrollx_tbl_xxl table{
	min-width: 1600px;
}

.tbl_hover tbody tr:hover {
	background-color: #dbecf6;
	cursor: pointer;
}


.td_input {
	padding: 6px !important;
}
.tbl_fixed table {
	table-layout: fixed;
	word-break: break-all;
}


/*=================== hover ===================*/
@media screen and (min-width:1025px) {

	/* 테이블 링크 hover */
	.td_append a:hover {
		color: #034283;
	}
	.td_append a:hover p::after {
		content: "";
		position: absolute; bottom: 0; left: 0;
		display: block;
		width: 100%; height: 1px;
		background: #81a0c1;
	}


}
/*=================== //hover ===================*/
@media screen and (max-width:768px) {
	
	

}
