@charset "utf-8";

/* 로그인 */
.login-page, .register-page {
	background: url(../../images/admin/bg_login.jpg)center center no-repeat;
	background-size: cover;
}
.login-box, .register-box {
	overflow: hidden;
	margin: 0;
	position: absolute; top: 50%; left: 50%;
	background-color: #fff;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.login-logo, .register-logo {
	margin-bottom: 0; padding: 30px 0 0;
}
.login-logo a {
	display: block;
	margin: auto;
	width: 170px; height: 50px;
}
.login-logo img {
	height: 100%;
	vertical-align: top;
}
.login-box-body, .register-box-body {
	padding: 30px;
}
.login-box-body .glyphicon-user {
	display: block;
	width: 34px; height: 34px;
	position: absolute; top: 0; right: 0;
	line-height: 34px; text-align: center; color: #777;
	z-index: 2;
	pointer-events: none;
}
.login-box-body .form-control-feedback, .register-box-body .glyphicon-user {
	color: #777;
}
.form-control:focus {
	border-color: #ee2424;
}

.login-box-body .icheckbox_flat-red, .iradio_flat-red {
	margin-right: 5px;
}
.ad_login_txt {
	margin-top: 30px;
	font-size: 12px; color: #999; word-break: keep-all;
}

/* 에러페이지 */
.error-page {
	margin: 0 0;
	position: absolute; top: 20%; left: 50%;
	transform: translateX(-50%);
}
.error-page > .error-content {
	margin-left: 0;
}
.error-page > .error-content > h3 {
	margin-top: 0;
}
.error-page > .error-content p a {
	display: inline-block;
	margin-top: 10px;
	font-size: 16px; font-family: GyeonggiTitle, sans-serif; color: #3c8dbc; font-weight: 700;
	-webkit-transform: skew(-0.03deg);
	-moz-transform: skew(-0.03deg);
	-o-transform: skew(-0.03deg);
	transform: skew(-0.03deg);
}


/* 대시보드 */
.ad_dash_graph {
	overflow: hidden;
	width: 100%; min-height: 250px;
	position: relative;
}

/* 박스 */
.ad_section {
	margin-bottom: 30px;
}
.ad_section_s {
	margin-bottom: 20px;
}
.box {
	border-color: #ddd;
}
.box-header.with-border {
	border-color: #e1e1e1;
}
.box-header > .fa, .box-header > .glyphicon, .box-header > .ion, .box-header .box-title {
	font-size: 17px;
}
.box-header .box-title + .btn {
	margin: -3px 0;
}
.nav-tabs-custom > .header {
	margin: 0; padding: 10px;
	font-size: 16px; line-height: 1;
	font-family: GyeonggiTitle, sans-serif; font-weight: 700;
	-webkit-transform: skew(-0.03deg);
	-moz-transform: skew(-0.03deg);
	-o-transform: skew(-0.03deg);
	transform: skew(-0.03deg);
}
.nav-tabs-custom > .nav-tabs > li.active {
	border-top-color: #0d65d9;
}
.nav-tabs > li > a {
	line-height: 1.25;
}
.tab-content {
	position: relative;
}
.small-box h3 {
	margin: 10px;
	font-size: 28px;
}
.ad_dash_more {
	position: absolute; right: 10px; top: 7px;
	color: #999; font-size: 18px;
	z-index: 5;
}

/* 권한설정 */
.ad_manager_list {
	overflow-y: auto;
	height: 450px;
	padding: 5px;
	border: 1px solid #ddd;
}
.ad_manager_list_s {
	min-height: 300px;
}
.ad_manager_list_s1 {
	min-height: 340px;
}
.ad_btnlist_center {
	padding-top: 120px;
}
.ad_btnlist_center a {
	display: block;
	width: 37px; height: 37px;
	margin: 10px auto;
	text-align: center;
	background-position: center center;
	background-repeat: no-repeat;
}
.ad_btnlist_center a.add_list {
	background-image: url(../../images/admin/btn_addname.png);
}
.ad_btnlist_center a.add_list:hover {
	background-image: url(../../images/admin/btn_addname_on.png);
}
.ad_btnlist_center a.remove_list {
	background-image: url(../../images/admin/btn_minusname.png);
}
.ad_btnlist_center a.remove_list:hover {
	background-image: url(../../images/admin/btn_minusname_on.png);
}


/* 서브페이지 상단 네비게이션 */
.content-header>h2 {
	margin: 0;
}
.content-header > .breadcrumb {
	right: 15px;
	font-size: 14px;
}

/* 메뉴체계도 */
.ad_menutree_wrap {
	overflow-y: auto;
	height: 500px;
	padding: 10px;
	border: 1px solid #e1e1e1;
}
.ad_menuinfo_wrap {
	overflow-y: auto;
	height: 519px;
}

/* 지도교수 선택 */
.ad_name_row {
	display: inline-block;
	margin-left: 5px;
}

/* 통계 */
.invoice {
	margin: 0;
}
.ad_box {
	background: #fff;
}

/* 진단 임시저장 */
.ad_test_wrap {
	position: relative;
}
.ad_test_bar {
	width: 100%; height: 15px;
	margin-bottom: 10px;
	position: relative;
	background-color: #ececec;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.ad_test_bar p {
	height: 15px;
	background: #d1e0bb;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.ad_test_btnlist {
	text-align: center;
}
.ad_test_btnlist .btn {
	width: 35px; height: 35px;
	margin: 0 10px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.ad_test_wrap .btn_tempo {
	position: absolute; right: 90px; bottom: 0;
}
.ad_test_wrap .btn_testsave {
	position: absolute; right: 0; bottom: 0;
}

/* 동영상 변환 */
.fileconvert_wrap .tit {
	display: block;
	margin-left: 3px; margin-bottom: 3px;
}
.fileconvert_list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 2px; padding: 10px;
	align-items: center;
	background: #fbfbfb;
	border: 1px solid #d7d7d7;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.fileconvert_list:last-child {
	margin-bottom: 0;
}
.fileconvert_list > p {
	margin-right: 1%;
	width: 40%;
	line-height: 1em; white-space: nowrap; text-overflow: ellipsis;
	flex-shrink: 0;
	overflow: hidden;
}
.fileconvert_list .ad_test_bar {
	margin-bottom: 0;
}
.fileconvert_list .ad_test_bar {
	margin-right: 50px;
}
.ad_test_bar .progress_state {
	position: absolute; top: 50%; right: -50px; 
	width: 50px;
	font-size: 14px; text-align: center;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

/* fullcalendar */
.bg {
	height: 30px;
	margin-bottom: 15px;
}
.bg ul {
	display: table;
	width: auto; height: 30px;
	margin: 0 auto !important;
	float: none !important;
	text-align: center;
}
.bg ul li {
	display: table-cell;
	height: 30px;
	font-size: 24px;
}
.bg ul li .pre_m, .next_m {
	display: block;
	width: 30px; height: 30px;
	font-size: 24px; line-height: 30px; text-align: center;
	border: 1px solid #d7d7d7;
}
.bg ul li .pre_m {
	margin-right: 10px;
}
.bg ul li .next_m {
	margin-left: 10px;
}
.fc-view-container table {
	width: 100%;
}
.fc-row .fc-content-skeleton td, .fc-row .fc-helper-skeleton td {
	border-bottom: 0;
}
.fc .fc-row .fc-content-skeleton table, .fc .fc-row .fc-content-skeleton td, .fc .fc-row .fc-helper-skeleton td {
	padding: 5px;
}
.fc-title {
	width: 100%;
	display: block;
	font-size: 13px;
}
.fc-event {
	vertical-align: middle;
}
.pp_schedulelist {
	display: block;
	width: auto;
	color: #01ac50; text-align: center; line-height: 1em;
	cursor: pointer;
}
.pp_schedulelist_end {
	display: block;
	width: auto;
	color: #f46c5c; text-align: center; line-height: 1em;
}

/* C.A.T 통계화면 */
.ad_graph_wrap {
	overflow: hidden;
	min-height: 210px;
	margin-top: 26px;
	padding: 15px;
	border: 1px solid #ddd;
}
.ad_graphbar_wrap {
	width: 100%;
	position: relative;
}
.ad_graphbar_wrap ul {
	display: table;
	width: 100%;
}
.ad_graphbar_wrap ul li {
	display: table-cell;
	width: 20%; height: 30PX;
	text-indent: -9999px;
	border: 1px solid #ddd;
	border-top: 0;
	border-bottom: 0;
}
.ad_graphbar_wrap p {
	height: 20px;
	position: absolute; top: 5px; left: 0px;
}
.ad_graph_tit {
	display: table;
	width: 100%;
}
.ad_graph_tit li {
	display: table-cell;
	vertical-align: middle;
}
.ad_multigraph_wrap {
	padding-right: 20px;
}
.ad_multigraph_tbl {
	width: 100%;
}
.ad_multigraph_tbl table {
	width: 100%;
}
.ad_multigraph_tbl th {
	font-weight: 400; text-align: right; font-size: 13px;
}
.ad_multigraph_tit {
	width: 100%;
	margin-bottom: 15px;
	font-size: 0; line-height: 0;
}
.ad_multigraph_tit li {
	display: inline-block;
	width: 20%; height: 10px;
	position: relative;
	text-align: right;
	font-size: 11px; line-height: 1em;
}
.ad_multigraph_tit li p{
	position: absolute; top: 0; right: -15px;
}
.ad_multigraph {
	width: 100%; height: 30px;
	position: absolute; top: 0; left:0;
	font-size: 0; line-height: 0;
}
.ad_multigraph p {
	display: inline-block;
	position: relative;
}
.half_cell {
	background-image: url(../../images/admin/backslash.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

/* 공통활동 */
.box.border_box {
	border: 1px solid #e1e1e1;
	box-shadow: none;
}
.activity_list {
	padding-top: 20px;
	font-size: 0; line-height: 0; text-align: center;
}
.activity_list li {
	display: inline-block;
	margin-right: 20px; margin-bottom: 20px;
}
.activity_list li:last-child {
	margin-right: 0;
}
.activity_list li a {
	display: block;
	padding-top: 78px;
	width: 120px; height: 120px;
	color: #333; font-family: NanumSquare, sans-serif; font-size: 15px; font-weight: 600; line-height: 1.3em;
	background-color: #f4f2f0; background-repeat: no-repeat; background-position: center 16px;
	border: 3px solid #f4f2f0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-transform: skew(-0.03deg);
	-moz-transform: skew(-0.03deg);
	-o-transform: skew(-0.03deg);
	transform: skew(-0.03deg);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
/* 공지사항 */
.activity_list .lms08_ntf a {
	background-image: url(../../images/admin/lms08_ntf.png);
}
/* 강의영상 */
.activity_list .lms08_mov a {
	background-image: url(../../images/admin/lms08_mov.png);
}
/* 과제 */
.activity_list .lms08_tsk a {
	background-image: url(../../images/admin/lms08_tsk.png);
}
/* 강의자료 */
.activity_list .lms08_rfr a {
	background-image: url(../../images/admin/lms08_rfr.png);
}
/* 시험/퀴즈 */
.activity_list .lms08_exm a {
	background-image: url(../../images/admin/lms08_exm.png);
}
/* 위키토론 */
.activity_list .lms08_dsc a {
	background-image: url(../../images/admin/lms08_dsc.png);
}
/* 게시판 */
.activity_list .lms08_brd a {
	background-image: url(../../images/admin/lms08_brd.png);
}
/* Q&A */
.activity_list .lms08_qna a {
	background-image: url(../../images/admin/lms08_qna.png);
}
/* URL */
.activity_list .lms08_url a {
	background-image: url(../../images/admin/lms08_url.png);
}
/* 설문 */
.activity_list .lms08_svy a {
	background-image: url(../../images/admin/lms08_svy.png);
}
/* 교과 */
.activity_list .lms09_scr a {
	background-image: url(../../images/admin/lms09_scr.png);
	background-position: center 20px;
}
/* 비교과 */
.activity_list .lms09_ncr a {
	background-image: url(../../images/admin/lms09_ncr.png);
}
.activity_list li.on a, .activity_list li a:hover {
	border-color: #ece2d8;
}

.table .lms08_ntf::before, .table .lms08_mov::before, .table .lms08_tsk::before, .table .lms08_rfr::before, .table .lms08_exm::before, .table .lms08_dsc::before, .table .lms08_brd::before, .table .lms08_qna::before, .table .lms08_url::before, .table .lms08_svy::before, .table .lms09_scr::before, .table .lms09_ncr::before {
	content: "";
	display: inline-block;
	margin-right: 3px;
	vertical-align: middle;
	background-repeat: no-repeat; background-position: center;
}

/* 공지사항 */
.table .lms08_ntf::before {
	width: 27px; height: 19px;
	background-image: url(../../images/admin/lms08_ntf_sm.png);
}
/* 강의영상 */
.table .lms08_mov::before {
	width: 17px; height: 17px;
	background-image: url(../../images/admin/lms08_mov_sm.png);
}
/* 과제 */
.table .lms08_tsk::before {
	width: 19px; height: 19px;
	background-image: url(../../images/admin/lms08_tsk_sm.png);
}
/* 강의자료 */
.table .lms08_rfr::before {
	width: 17px; height: 19px;
	background-image: url(../../images/admin/lms08_rfr_sm.png);
}
/* 시험/퀴즈 */
.table .lms08_exm::before {
	width: 19px; height: 19px;
	background-image: url(../../images/admin/lms08_exm_sm.png);
}
/* 위키토론 */
.table .lms08_dsc::before {
	width: 27px; height: 18px;
	background-image: url(../../images/admin/lms08_dsc_sm.png);
}
/* 게시판 */
.table .lms08_brd::before {
	width: 15px; height: 18px;
	background-image: url(../../images/admin/lms08_brd_sm.png);
}
/* Q&A */
.table .lms08_qna::before {
	width: 18px; height: 18px;
	background-image: url(../../images/admin/lms08_qna_sm.png);
}
/* URL */
.table .lms08_url::before {
	width: 18px; height: 16px;
	background-image: url(../../images/admin/lms08_url_sm.png);
}
/* 설문 */
.table .lms08_svy::before {
	width: 32px; height: 19px;
	background-image: url(../../images/admin/lms08_svy_sm.png);
}
/* 교과 */
.table .lms09_scr::before {
	width: 13px; height: 19px;
	background-image: url(../../images/admin/lms09_scr_sm.png);
}
/* 비교과 */
.table .lms09_ncr::before {
	width: 14px; height: 19px;
	background-image: url(../../images/admin/lms09_ncr_sm.png);
}

.i_lock::before, .i_profile_gray::before, .i_profile_green::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
}
.i_lock::before {
	width: 12px; height: 16px;
	background-image: url(../../images/admin/icon_locked.png);
}
.i_profile_gray::before {
	margin-right: 5px;
	width: 20px; height: 20px;
	background-image: url(../../images/admin/icon_profile_gray.png);
}
.i_profile_green::before {
	margin-right: 5px;
	width: 20px; height: 20px;
	background-image: url(../../images/admin/icon_profile_green.png);
}

.label_alert {
	position: absolute; top: 18px; right: 23px;
	display: inline-block;
	padding: 0 4px;
	min-width: 20px; height: 20px;
	font-size: 13px; color: #fff; line-height: 20px; text-align: center;
	background: #fa7d01;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}


/* 설문 */
.survey_list dt {
	padding: 15px 0 10px 40px;
	font-size: 1.5rem; font-weight: 600;
}
.survey_list dt span {
	position: relative;
	display: inline-block;
	width: 30px; height: 30px;
	margin-left: -40px; margin-right: 10px;
	font-size: 1.8rem; color: #333; font-weight: 500;
	text-align: center; line-height: 26px;
	background-color: #f3f3f3;
	border: 2px solid #f3f3f3;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.survey_list dd {
	padding: 0 20px 20px 39px;
	border-bottom: 1px solid #d7d7d7;
}
.survey_list dd:last-child {
	border-bottom: none;
}
.survey_list dt.anw_right span {
	border-color: #f06c6c;
}
.survey_list dt.anw_wrong span::after {
	position: absolute; top: 14px; left: -4px;
	content: "";
	display: block;
	width: 36px; height: 2px;
	background: #f06c6c;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.survey_list .ad_input_row {
	padding-right: 15px;
}
.survey_list .ad_input_row.anw_right, .survey_list .ad_input_row.anw_wrong {
	position: relative;
	padding: 4px 15px 4px 14px;
}
.survey_list .ad_input_row.anw_right::before, .survey_list .ad_input_row.anw_wrong::before {
	position: absolute; top: 4px; left: 0;
	display: block;
	width: 15px;
	color: #0073b7; font-family: GyeonggiTitle, sans-serif;
	-webkit-transform: skew(-0.03deg);
	-moz-transform: skew(-0.03deg);
	-o-transform: skew(-0.03deg);
	transform: skew(-0.03deg);
}
.survey_list .ad_input_row.anw_right::before {
	content: "O";
}
.survey_list .ad_input_row.anw_wrong::before {
	content: "X";
}


/* 위키 상세 */
.contents_detail {
	margin-bottom: 10px;
	background: #fbfbfb;
	border: 1px solid #dadde4;
}
.contents_detail .tit {
	position: relative;
	padding: 10px;
	color: #979797; font-size: 1.5rem;
}
.contents_detail .tit p {
	margin-bottom: 8px;
	color: #3a3a3a; font-family: GyeonggiTitle, sans-serif; font-size: 17px; line-height: 1.4em; letter-spacing: -0.05em;
	-webkit-transform: skew(-0.03deg);
	-moz-transform: skew(-0.03deg);
	-o-transform: skew(-0.03deg);
	transform: skew(-0.03deg);
}
.contents_detail .tit > span {
	margin-right: 10px;
	font-size: 14px;
}
.editor_area {
	white-space: pre-line;
	overflow-x: auto;
}
.editor_area table {
	border-color: #ddd;
	border-style: solid;
}
.editor_area table[align="center"] {
	margin: 0 auto;
}
.editor_area table th {
	vertical-align: middle; text-align: center;
	border: 1px solid #ddd;
}
.editor_area table td {
	vertical-align: middle;
	border: 1px solid #ddd;
}

.contents_detail .editor_area {
	padding: 0 30px 30px 30px;
}
.comments_box {
	position: relative;
	padding: 10px;
	background: #e9edf0;
}
.comments_box > div {
	padding-bottom: 31px;
	background: #fff;
	border: 1px solid #c2cad2;
}
.comments_box .form-control {
	border: none;
}
.comments_box .btn {
	position: absolute; bottom: 10px; right: 10px;
}

.comments_area {
	margin-top: 15px; padding: 12px 15px;
	border: 1px solid #dadde4;
}
.comments_list {
	margin-bottom: 25px;
}
.comments_list:last-child {
	margin-bottom: 0;
}
.comments_list strong {
	display: block;
	margin-bottom: 5px;
}
.comments_list .writer {
	margin-right: 10px;
	color: #393636; font-weight: 400; vertical-align: middle;
}
.comments_list .writer::before {
	content: "";
	display: inline-block;
	width: 18px; height: 18px;
	vertical-align: middle;
	background-repeat: no-repeat; background-repeat: center; background-size: contain;
}
.i_profile_gray::before {
	background-image: url(../../images/client/sub/icon_profile_gray.png);
}
.i_profile_green::before {
	background-image: url(../../images/client/sub/icon_profile_green.png);
}
.comments_list .date {
	color: #979797; font-weight: 400; vertical-align: middle;
}
.comments {
	display: inline-block;
	margin-bottom: 5px; padding: 5px 12px;
	color: #393636; line-height: 1.6em;
	background: #ebeff3;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.comments + p {
	padding: 0 12px;
	font-size: 0; line-height: 0;
}
.comments + p a {
	position: relative;
	display: inline-block;
	margin-right: 10px;
	font-size: 14px; line-height: 1.7em;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.comments + p a:last-child {
	margin-right: 0;
}
.comments + p a::after {
	position: absolute; bottom: 0; left: 0;
	content: "";
	display: block;
	width: 0; height: 2px;
	background: #d2dce9;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.reply_box {
	position: relative;
	margin-top: 5px;
}
.reply_box input.form-control {
	padding-right: 75px;
}
.reply_box .btn {
	position: absolute; top: 0; right: 0;
	height: 34px;
}
.recomments_list {
	margin-top: 15px; padding-left: 35px;
	background: url(../../images/admin/bg_reply.png) no-repeat left top;
}
.recomments_list .reply_box {
	margin-left: -35px;
	width: calc(100% + 35px);
}

/* 비디오 */
.video_wrap {
	width: 640px; height: 400px;
}
.video_wrap .video-js {
	width: 100%; height: calc( 100% - 50px );
}
.video_wrap .video-js .vjs-big-play-button {
	position: absolute; top: 50%; left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

#controls {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 10px 12px;
	color: #fff;
	align-items: center;
	background: #0a0a0a;
}
#controls button:focus {
	outline: none;
}
#btnPlayPause {
	display: inline-block;
	margin-right: 10px;
	width: 30px; height: 30px;
	font-size: 0; line-height: 0; vertical-align: middle;
	background-color: rgba(0,0,0,0); background-repeat: no-repeat;
	border: 2px solid #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	flex-shrink: 0;
}
#controls .play {
	background-image: url(../../images/admin/icon_play.png);
	background-position: 60% center;
}
#controls .pause {
	background-image: url(../../images/admin/icon_pause.png);
	background-position: center;
}
#btnRewind {
	display: inline-block;
	margin-right: 15px;
	width: 24px; height: 29px;
	font-size: 0; line-height: 0; vertical-align: middle;
	background: rgba(0,0,0,0) url(../../images/admin/icon_rewind.png) no-repeat;
	flex-shrink: 0;
	border: none;
}
#id_currentTime {
	margin-right: 6px;
	vertical-align: middle;
}
#progress-bar {
	margin-right: 6px;
	width: 80%;
	vertical-align: middle;
	flex-grow: 1;
}
#volume-bar {
	margin-left: 25px; padding: 0;
	width: 10%;
	flex-shrink: 0;
}
#btnMute {
	display: inline-block;
	margin-left: 6px;
	width: 30px; height: 30px;
	font-size: 0; line-height: 0;
	background-repeat: no-repeat; background-position: center;
	background: url(../../images/admin/icon_mute.png) no-repeat center;
	border: 2px solid #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	flex-shrink: 0;
}
#controls .mute {
	background-image: url(../../images/admin/icon_mute.png);
}
#controls .unmute {
	background-image: url(../../images/admin/icon_unmute.png);
}

/* 데이터 미리보기 */
.datalist_box {
	border: 1px solid #ddd;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	overflow: hidden;
}
.datalist_box h5 {
	position: relative;
	margin: 0; padding: 10px 55px 10px 10px;
	font-size: 16px;
	background: #f4f4f4;
}
.datalist_box h5 a {
	position: absolute; top: 10px; right: 10px;
	color: #333; font-family: Notokr, sans-serif; font-size: 14px; font-weight: 400; text-decoration: underline;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.datalist_box h5 a:hover {
	color: #1c71a6;
}
.datalist_box div {
	padding: 5px 10px;
	border-bottom: 1px solid #ddd;
}
.datalist_box div:last-child {
	border-bottom: none;
}
.datalist_box .datalist_tit {
	display: block;
	margin-bottom: 3px;
	font-weight: 500;
}
.label_data::after {
	content: "|";
	margin: 0 5px;
	color: #999;
}
.datalist_box p {
	margin-top: 3px;

}
.datalist_box .nocnt_box {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	height: 159px;
	color: #acabab; align-items: center; justify-content: center; text-align: center;
}
.datalist_box div .nocnt_box {
	height: 69px;
}

/* 강의기간 검색 테이블 */
.input_duration > div {
	float: left;
	margin-right: 0.5%;
}
.input_duration > div:last-child {
	margin-right: 0;
}
.input_duration .date {
	width: 24%;
}
.input_duration .time {
	width: 22%;
}
.input_duration .time select {
	width: 42%;
}
.input_duration > span {
	float: left;
	display: block;
	width: 6%;
	text-align: center;
}

@media all and (max-width:1279px) {

	/* 강의기간 검색 테이블 1280 */
	.input_duration .time {
		width: 23%;
	}
	.input_duration .time select {
		width: 40%;
	}
	.input_duration > span {
		width: 4%;
	}

}

@media all and (max-width:1024px) {

	/* 강의기간 검색 테이블 1024 */
	.input_duration .date {
		width: 49%;
	}
	.input_duration .time {
		width: 50%;
	}
	.input_duration > span {
		width: 100%;
	}

	/* 비디오 1024 */
	.video_wrap {
		width: 100%;
	}
	.video_wrap .video-js {
		height: calc( 100% - 46px );
	}
	#controls {
		padding: 8px 10px;
	}
	#volume-bar, #btnMute {
		display: none;
	}

}

@media all and (max-width:991px) {
	.ad_btnlist_center1 {
		padding-top: 0; margin-bottom: 20px;
		text-align: center;
	}
	.ad_btnlist_center1 a {
		display: inline-block;
		width: 37px; height: 37px;
		margin: 0px 10px;
		transform: rotate(90deg)
	}

	/* 서브페이지 상단 네비게이션 991 */
	.content-header > .breadcrumb {
		right: 0;
		margin-top: 10px;
	}

	/* 공통활동 991 */
	.activity_list li {
		margin-right: 10px; margin-bottom: 10px;
	}
	.activity_list li a {
		padding-top: 54px;
		width: 90px; height: 90px;
		font-size: 13px;
		background-size: auto 35px; background-position: center 12px;
	}
	.label_alert {
		top: 10px; right: 15px;
		padding: 0 3px;
		min-width: 18px; height: 18px;
		line-height: 18px;
	}
	
}

@media all and (max-width:767px) {

	/* 에러페이지 */
	.error-page {
		margin: 20px auto 0 auto;
	}
	.error-page > .error-content > h3 {
		font-size: 18px;
	}
	.error-page > .error-content p {
		text-align: center;
	}

	/* 권한설정 */
	.ad_manager_list {
		height: auto;
	}
	.ad_btnlist_center {
		padding-top: 10px;
		text-align: center;
	}
	.ad_btnlist_center a {
		display: inline-block;
		width: 37px; height: 37px;
		margin: 0px 10px;
		transform: rotate(90deg)
	}

	/* 진단 임시저장 */
	.ad_test_wrap {
		text-align: center;
	}
	.ad_test_btnlist {
		margin-bottom: 5px;
	}
	.ad_test_wrap .btn_tempo {
		position: relative; right: auto;
	}
	.ad_test_wrap .btn_testsave {
		position: relative; right: auto;
	}

	/* 강의기간 검색 테이블 767 */
	.input_duration .date {
		margin-bottom: 5px;
		width: 100%;
	}
	.input_duration .time {
		width: 100%;
	}
	.input_duration > span {
		width: 100%;
	}

	/* 비디오 767 */
	.video_wrap {
		height: 300px;
	}
	
	/* 동영상 변환 767 */
	.fileconvert_list {
		display: block;
	}
	.fileconvert_list > p {
		margin-bottom: 8px;
		width: 100%;
		line-height: 1.2em; white-space: normal; 
		overflow: visible;
	}
	.fileconvert_list .ad_test_bar {
		margin-right: 40px;
		width: auto;
	}
	.ad_test_bar .progress_state {
		right: -40px;
		width: 40px;
	}
}


@media all and (max-width:480px) {

	.fixed .content-wrapper, .fixed .right-side {
		padding-top: 94px;
	}

	.content-header>h2 {
		font-size: 24px;
	}

	/* 박스 */
	.box-header > .fa, .box-header > .glyphicon, .box-header > .ion, .box-header .box-title {
		font-size: 16px;
	}
	.nav-tabs-custom > .header {
		font-size: 16px;
	}
	.nav-tabs > li > a {
		padding : 10px 8px;
	}
	.small-box > .inner {
		padding: 5px;
	}
	.small-box h3 {
		margin: 5px;
		font-size: 20px;
	}

	/* 공통활동 480 */
	.goto_box a {
		height: 64px;
	}

	/* 비디오 480 */
	.video_wrap {
		height: 240px;
	}

}

/* 접속형황기간 검색 테이블 */
.input_duration_ymd > div {
	float: left;
	margin-right: 0.5%;
}
.input_duration_ymd > div:last-child {
	margin-right: 0;
}
.input_duration_ymd .date {
	width: 46%;
}
.input_duration_ymd > span {
	float: left;
	display: block;
	width: 6%;
	text-align: center;
}

@media all and (max-width:1279px) {

	/* 강의기간 검색 테이블 1280 */
	.input_duration_ymd .time {
		width: 23%;
	}
	.input_duration_ymd .time select {
		width: 40%;
	}
	.input_duration_ymd > span {
		width: 4%;
	}

}

@media all and (max-width:1024px) {
	/* 강의기간 검색 테이블 767 */
	.input_duration_ymd .date {
		margin-bottom: 5px;
		width: 100%;
	}
	.input_duration_ymd > span {
		width: 100%;
	}
}
