@charset "utf-8";

/* header, footer, subpage 공통 네비게이션 ui */

/* 브라우저 버전 알림 */
.lt-ie11 #browser_alert {
	display: block;
}
#browser_alert {
	display: none;
	position: fixed; z-index: 2000;
	padding: 10px;
	width: 100%; 
	color: #fff; font-size: 14px; line-height: 1.5em; vertical-align: middle; text-align:center; 
	background-color: #db4c3b;
}
#browser_alert a {
	color: #f9c461;
}
.browser_alert_close {
	display: inline-block; 
	margin-top: -2px; margin-left: 10px; 
	width: 13px; height: 13px; 
	font-family: sans-serif; line-height: 1.5em; vertical-align: middle; text-indent: -9999px; 
	background: url(../../images/client/popup/icon_close_lightgray.png) no-repeat center; background-size: contain; 
	outline: none; border: none;
}

/* 퍼블리싱 알림 */
.zodiac_banner {
	position: fixed; bottom: 0; left: 0; z-index: 60;
	display: flex;	
	padding: 12px 0;
	width: 100%; min-height: 50px;
	justify-content: center; align-items: center;
	color: #f5f5f5; font-size: 1.8rem; word-break: keep-all;
	background: #1a1a1a;
	transition: 0.4s;
}
.zodiac_banner div {
	padding: 0 60px;
	width: 100%;
	text-align: center;
}
.zodiac_banner .btn_close {
	position: absolute; top: 50%; right: 20px;
	display: inline-block;
	width: 22px; height: 22px;
	font-size: 0; line-height: 0;
	background: url(../../images/client/popup/btn_banner_close.png) no-repeat center; background-size: contain;
	transform: translateY(-50%);
}

/* 로딩중 */
#loading {
	width: 100%; height: 100%;
	position: fixed; top: 0; bottom: 0;
	background: rgba(255,255,255,0.6);
	z-index: 1000;
}
#loading #loading_image{
	position: absolute; top: 50%; left: 50%;
	text-align: center;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
#loading #loading_image span {
	display: block;
	padding: 0px 5px;
	font-weight: bold; font-size: 1.2rem;
}

/* skip-nav */
.skip_nav a {
	position: absolute; top: -200px; left: 50%; z-index: 100;
	display: inline-block;
	padding: 0.8em 1.5em;
	color: #fff; font-size: 1.7rem; text-align: center;
	background-color: #650a2d;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 4px 10px rgba(0,0,0,0.5);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	outline: none;
}
.skip_nav a:focus {
	top: 0;
}

/* quick menu */
.quick_menu {
	position: fixed; top: 50%; right: 0; z-index: 50;
	padding: 40px 10px 0;
	background: #fff;
	border: 1px solid #d0ccc9;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.btn_quicknav {
	display: none;
}
.quick_menu h5 {
	position: absolute; top: 10px; left: -14px;
	display: inline-block;
	width: 100px; height: 30px;
	color: #fff; line-height: 30px; font-size: 1.5rem; text-align: center; letter-spacing: -0.03em;
	background: #98204e;
}
.quick_menu h5::before {
	position: absolute; top: 30px; left: 0;
	content: ""; 
	display: inline-block;
	width: 14px; height: 14px;
	background: url(../../images/client/common/bg_quickmenu.png) no-repeat center;
}
.quick_menu li {
	position: relative;
	border-bottom: 1px solid #d0ccc9;
}
.quick_menu li:last-child {
	border-bottom: none;
}
.quick_menu li::after {
	position: absolute; top: 50%; left: 50%;
	content: "";
	display: inline-block;
	margin-top: -30px; margin-left: -30px; 
	width: 60px; height: 60px;
	background-color: #d6e5ef;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	opacity: 0;
}
.quick_menu a {
	position: relative; z-index: 1; 
	display: block;
	padding: 54px 0 10px;
	color: #333; text-align: center;
	background-repeat: no-repeat; background-position: center 14px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.quick_menu1 a {
	background-image: url(../../images/client/common/icon_quickmenu1.png);
}
.quick_menu2 a {
	background-image: url(../../images/client/common/icon_quickmenu2.png);
}
.quick_menu3 a {
	background-image: url(../../images/client/common/icon_quickmenu3.png);
}
.quick_menu4 a {
	background-image: url(../../images/client/common/icon_quickmenu4.png);
}
.quick_menu5 a {
	background-image: url(../../images/client/common/icon_quickmenu5.png);
}
.quick_menu small {
	display: block;
	padding-bottom: 3px;
	color: #7d7d7d; font-size: 1.3rem; line-height: 1em; letter-spacing: -0.03em;
}


/* 에러페이지 */
.error_wrap {
	width: 100%; height: 100%; min-height: 768px;
	position: relative;
	background-color: #f1f1f1;
}
.error_box {
	width: 730px; height: auto;
	margin-left: -350px; margin-top: -95px;
	position: absolute; top: 50%; left: 50%;
	text-align: left; color: #727272;
}
.error_box img {
	display: block;
	width: 250px; height: auto;
	position: absolute; top: -10px; right: 0;
	opacity: 0.4;
}
.error_box strong {
	display: block;
	margin-bottom: 20px;
	font-size: 2.8rem; color: #464646;
}
.error_box p {
	margin-bottom: 20px;
	font-size: 1.7rem; line-height: 1.8em;
}
.error_box a {
	display: inline-block;
	padding: 10px 20px;
	font-size: 1.5rem; color: #fff;
	background: #727272;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.error_box a:hover {
	background-color: #454545;
}

/* 바디 설정 */
body { overflow: visible; }
body.on { overflow: hidden; }

/* 페이지 전체 영역 */
.page_wrap {
	position: relative;
	padding-top: 160px; 
	width: 100%; min-height: 100%;
	-webkit-transition: padding 0.3s;
	-moz-transition: padding 0.3s;
	-o-transition: padding 0.3s;
	transition: padding 0.3s;
	overflow: hidden;
}

/* header */
.header_link {
	height: 0;
	color: #ead0da; font-size: 0; line-height: 0; text-align: right;
	background: #844a60;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.header_link ul {
	display: none;
}
.header_link li {
	position: relative;
	display: inline-block;
	padding: 3px 15px;
	font-size: 1.4rem; line-height: 1em;
}
.header_link li:first-child {
	padding-left: 0;
}
.header_link li:last-child {
	padding-right: 0;
}
.header_link li::after {
	position: absolute; top: 5px; right: 0;
	content: "";
	display: inline-block;
	width: 1px; height: 10px;
	background: #d2a1b3;
}
.header_link li:last-child::after {
	display: none;
}
.header_link .downfile::after {
	content: "";
	display: inline-block;
	margin-left: 5px;
	width: 12px; height: 12px;
	background: url(../../images/client/sub/icon_downfile_lightpink.png) no-repeat center;
} 
.header_link.on {
	height: 20px;
}
.header_link.on ul {
	display: block;
}

/*.userinfo_outer {
	height: 0;
	text-align: right;
	background: #e7ebef;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.user_info {
	display: none;
	color: #656565; font-size: 0.9rem; line-height: 20px; vertical-align: top;
}
.user_info::before {
	content: "";
	display: inline-block;
	margin-right: 5px; margin-bottom: 3px;
	width: 16px; height: 16px;
	line-height: inherit; vertical-align: middle;
	background: url(../../images/client/common/icon_user.png) no-repeat center; background-size: contain;
}
.user_info span {
	line-height: inherit; vertical-align: top;
}
.userinfo_outer.on {
	height: 20px;
}
.userinfo_outer.on .user_info {
	display: inline-block;
}*/

.header_wrap {
	position: fixed; top: 0; left: 0; z-index: 30;
	width: 100%;
	background: #fff;
	box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
.header_top {
	position: relative; 
	padding: 25px 0;
	height: 90px;
	font-size: 0; line-height: 0; text-align: right;
}
.btn_homepage {
	position: absolute; left: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	height: 37px;
	padding: 0 23px;
	align-items: center;
	border: 1px solid #ccc;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
}
.btn_homepage img {
	width: 92px; height: 26px;
}
.header_logo {
	position: absolute; left: 50%; top: 50%;
	width: 200px;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.header_logo a {
	display: block;
}
.header_logo img {
	width: 100%;
}
.user_info {
	display: inline-block;
	margin-right: 22px; padding-left: 20px;
	font-size: 1.5rem; line-height: 37px; vertical-align: top;
	background: url(../../images/client/common/icon_user.png) no-repeat left center;
}
.user_info span {
	vertical-align: top; line-height: inherit;
}
.btn_log {
	display: inline-block;
	padding: 0 18px 0 42px;
	font-size: 1.5rem;
	color: #650a2d; line-height: 35px;
	background-color: #fff; background-repeat: no-repeat; background-size: 15px; background-position: 18px center;
	border: 1px solid #ccc;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.btn_login {
	background-image: url(../../images/client/common/icon_login.png);
}
.btn_logout {
	background-image: url(../../images/client/common/icon_logout.png);
}
/*.btn_admin {
	display: inline-block;
	padding: 0 15px;
	font-size: 1.5rem;
	color: #204845; line-height: 35px;
	border: 1px solid #ccc;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.btn_admin::before {
	content: "";
	display: inline-block;
	margin-top: -3px; margin-right: 10px;
	width: 20px; height: 20px;
	vertical-align: middle; 
	background: url(../../images/client/common/icon_admin.png) no-repeat center; background-size: 20px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}*/
.header_bottom {
	height: 50px;
	color: #535353;
	background: #fff;
	border-top: 1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
	-webkit-transition: left 0.3s;
	-moz-transition: left 0.3s;
	-o-transition: left 0.3s;
	transition: left 0.3s;
}
.header_bottom .grid_content {
	position: relative;
	padding-right: 54px;
}
.sitemap_outer {
	position: absolute; top: 0; right: 0;
	display: inline-block;
	padding: 10px 12px;
	background: #f4f4f4;	
	border-right: 1px solid #d7d7d7;
}
.btn_sitemap {
	position: relative;
	display: block;
	width: 30px; height: 30px;
	background: #d9d8d8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.btn_sitemap span {
	position: absolute; left: 50%;
	display: block;
	margin-left: -10px;
	width: 20px; height: 2px;
	background: #650a2d;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.btn_sitemap span:nth-child(1){
	top: 7px;
}
.btn_sitemap span:nth-child(2){
	top: 14px;
}
.btn_sitemap span:nth-child(3){
	top: 21px;
	width: 16px;
}
/*.btn_sitemap.on span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.btn_sitemap.on span:nth-child(2)::after {
	position: absolute; left: 50%;
	content: "";
	display: block;
	margin-left: -10px;
	width: 20px; height: 2px;
	background: #041a34;
	-webkit-transform: rotate(85deg);
	-moz-transform: rotate(85deg);
	-o-transform: rotate(85deg);
	transform: rotate(85deg);
}
.btn_sitemap.on span:nth-child(1), .btn_sitemap.on span:nth-child(3) {
	opacity: 0;
}*/

.gnb_list {
	font-size: 0; line-height: 0; text-align: right; 
}
.gnb_1depth {
	position: relative;
	display: inline-block;
	height: 50px;
	font-size: 1.5rem;  text-align: center;
	border-right: 1px solid #d7d7d7;
}
.gnb_1depth:first-child {
	border-left: 1px solid #d7d7d7;
}
.gnb_1depth a {
	display: block;
}
.gnb_1depth > a {
	position: relative;
	height: 100%;
}
.gnb_1depth > a > span {
	position: absolute; top: 50%; left: 0;
	padding: 0 5px;
	width: 100%;
	line-height: 1.2em; word-break: keep-all;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.gnb_2depth {
	display: none;
	position: absolute; top: 50px;
	width: 100%;
	background: #fff;
	border: 1px solid #844a60;
	box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
.gnb_2depth > li {
	position: relative;
}
.gnb_2depth a {
	padding: 10px 3px;
	color: #333; line-height: 1.3em; word-break: keep-all;
}
.gnb_2depth a span {
	display: inline-block;
	margin-bottom: 2px; margin-left: 4px;
	width: 12px; height: 12px;
	text-indent: -9999px; 
	background: url(../../images/client/common/icon_more_menu.png) no-repeat center;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.gnb_3depth {
	display: none;
	position: absolute; top: 0; right: -160px;
	width: 160px;
	background: #f2f2f2;
	border: 1px solid #844a60;
}
.gnb_bg {
	display: none;
	position: absolute; top: 65px; left: 0; z-index: -1;
	width: 100%;
	background: rgba(0,0,0,0.5);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

/* footer */
.footer_wrap {
	padding: 10px 0;
	color: #969696; text-align: center;
	background: #464646;
}
.footer_link {
	margin-bottom: 10px;
	font-size: 0; line-height: 0;
}
.footer_link li {
	display: inline-block;
	font-size: 1.5rem; 
}
.footer_link li::after {
	content: "/";
	margin-left: 10px; margin-right: 8px;
	color: #969696; font-size: 1.4rem; vertical-align: top;
}
.footer_link li:last-child::after {
	display: none;
}
.footer_link .privacy {
	color: #d5d5d5;
}
.footer_info li {
	line-height: 1.7em;
}
.move_top {
	position: fixed; bottom: 50px; right: 3%; z-index: -1;
	display: block;
	width: 60px; height: 60px;
	padding-top: 40px;
	color: #fff; font-size: 1rem; text-align: center; line-height: 1em;
	background: #77314c url(../../images/client/common/btn_top.png) no-repeat center 10px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	opacity: 0;
}
.move_top.on {
	z-index: 50;
	opacity: 1;
}

/* 서브페이지 전체 영역 */
.subcontent_wrap {
	position: relative;
	padding-bottom: 3em;
}

/* 서브페이지 - 상단 비주얼 */
.subpage_visual {
	height: 200px;
	background-size: cover;
	border-bottom: 1px solid #afc1da;
}
.visual1{
	background-image: url(../../images/client/sub/img_visual1.jpg);
}
.visual2{
	background-image: url(../../images/client/sub/img_visual2.jpg);
}
.visual3{
	background-image: url(../../images/client/sub/img_visual3.jpg);
}
.visual4{
	background-image: url(../../images/client/sub/img_visual4.jpg);
}
.visual5{
	background-image: url(../../images/client/sub/img_visual5.jpg);
}
.visual6{
	background-image: url(../../images/client/sub/img_visual6.jpg);
}
.visual7{
	background-image: url(../../images/client/sub/img_visual7.jpg);
}
.visual8{
	background-image: url(../../images/client/sub/img_visual8.jpg);
}
.visual9{
	background-image: url(../../images/client/sub/img_visual9.jpg);
}
.visual10{
	background-image: url(../../images/client/sub/img_visual10.jpg);
}
.subpage_visual .grid_content {
	position: relative;
	height: 100%;
}
.subpage_visual h2 {
	position: relative;
	width: 220px; height: 100%;
	background: rgba(33,16,7,0.5);
}
.subpage_visual h2 span {
	position: absolute; top: 50%; left: 0;
	padding: 0 5px;
	width: 100%;
	color: #fff; font-family: NanumSquare, sans-serif; font-size: 3rem; text-align: center;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

/* lnb */
.lnb_wrap {
	width: 100%; height: 45px;
	background-color: #f2f2f2;
}
.lnb_wrap.fixed_menu {
	position: fixed; top: 140px; z-index: 20;
	border-top: 0;
	box-shadow: 0 2px 15px rgba(0,0,0,0.2);
}
.lnb_list {
	width: 1260px;
	margin: 0 auto;
	font-size: 0; line-height: 0;
}
.lnb_list li {
	display: inline-block;
	height: auto;
	position: relative;
	vertical-align: top;
}
.lnb_list li a {
	display: block;
	padding: 0 1.2em;
	position: relative;
	color: #8f8a85; font-size: 1.5rem; font-weight: 500; line-height: 41px; 
	border-top: 2px solid rgba(0,0,0,0);
	border-bottom: 2px solid rgba(0,0,0,0);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.lnb_list > li.on > a  {
	color: #77314c; 
	border-top: 2px solid rgba(0,0,0,0);
	border-bottom: 2px solid #77314c;
}
.lnb_list a span {
	display: inline-block;
	margin-bottom: 2px; margin-left: 4px;
	width: 12px; height: 12px;
	text-indent: -9999px; 
	background: url(../../images/client/common/icon_more_menu.png) no-repeat center;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.lnb_list > li.on span {
	background-image: url(../../images/client/common/icon_more_menu_on.png);
}
.sub_lnb {
	display: none;
	position: absolute; left: 0; top: 43px; z-index: 50;	
	width: 180px;
	padding: 10px 0;
	background-color: #fff;
	border: 1px solid #844a60;
}
.sub_lnb li {
	display: block;
	height: 35px;
}
.sub_lnb li a {
	margin: 0; padding: 0 0 0 1.2em;
	color: #333; font-size: 1.5rem; font-weight: 500; line-height: 34px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

@-webkit-keyframes moveright {
	0% { background-position: 4px 2px; }
	100% { background-position: right 2px; }
}
@-moz-keyframes moveright {
	0% { background-position: 4px 2px; }
	100% { background-position: right 2px; }
}
@-o-keyframes moveright {
	0% { background-position: 4px 2px; }
	100% { background-position: right 2px; }
}
@keyframes moveright {
	0% { background-position: 4px 2px; }
	100% { background-position: right 2px; }
}

/* 교외활동 내 그래프 */
.multigraph {
	width: 100%; height: 30px;
	font-size: 0; line-height: 0;
}
.multigraph p {
	display: inline-block;
	position: relative;
}

/* ui guide */
.ui_tit {
	padding: 4px 10px;
	background: #d6e4f2;
}
.ui_box {
	padding: 10px;
	border: 1px solid #d6e4f2;
}
.ui_font_color {
	display: inline-block;
	width: 24px; height: 14px;
}


@media screen and (max-width:1279px) {
	
	/* lnb 1279 */
	.lnb_list {
		width: 96%;
	}
	
}

@media screen and (max-width: 1079px) {
	

	
	/* 메인 진단센터 */
	.main_test_list li {
		min-height: 120px !important;
	}
	.main_test_list li dl {
		width: 100% !important;
	}
	
	/* lnb 1079 */
	.lnb_list li a {
		padding: 0 0.8em;
	}
	
}
/*====================== hover ======================*/
@media screen and (min-width:1025px) {
	
	/* quick menu hover */
	.quick_menu li:hover::after {
		opacity: 1;
	}
	
	/* header hover */
	.header_link li a:hover {
		color: #fff;
	}
	.header_link .downfile:hover::after {
		background-image: url(../../images/client/sub/icon_downfile_white.png);
	}
	.btn_log:hover {
		color: #fff;
		background-color: #650a2d;
		border-color: #650a2d;
	}
	.btn_login:hover {
		background-image: url(../../images/client/common/icon_login_on.png);
	}
	.btn_logout:hover {
		background-image: url(../../images/client/common/icon_logout_on.png);
	}
	.gnb_2depth > li:hover > a {
		color: #844a60;
	}
	.gnb_2depth > li:hover > a span {
		background-image: url(../../images/client/common/icon_more_menu_on.png);
	}
	.gnb_3depth a:hover {
		color: #844a60;
	}
	
	/* footer hover */
	.move_top:hover {
		background-color: #5d2037;
	}
	
	/* lnb hover */
	.lnb_list > li:hover > a  {
		color: #77314c;
	}
	.lnb_list > li:hover span {
		background-image: url(../../images/client/common/icon_more_menu_on.png);
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	.sub_lnb li a:hover {
		color: #77314c;
	}
	
}
/*====================== //hover ======================*/
@media screen and (max-width:1024px) {

	/* page */
	.page_wrap {
		padding-top: 65px; 
	}
	
	/* quick menu 1024 */
	.quick_menu {
		top: auto; bottom: 50px; right: 28px;
		padding: 0;
		background: rgba(0,0,0,0);
		border: none;
		transform: none;
	}
	.quick_menu h5 {
		display: none;
	}
	.btn_quicknav {
		position: relative; z-index: 1;
		display: block;
		width: 50px; height: 50px;
		font-size: 0; line-height: 0;
		background: #77314c;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		box-shadow: 0 4px 10px rgba(0,0,0,0.3);
	}
	.btn_quicknav::after {
		position: relative; z-index: -1;
		content: "QUICK";
		color: #fff; font-size: 1.3rem; line-height: 50px;
	}
	.quick_menu ul {
		position: absolute; bottom: 50px; right: 0;
	}
	.quick_menu li {
		border: none;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
		opacity: 0;
	}
	.quick_menu li::after {
		display: none;
		left: auto; right: 0; z-index: 1;
		margin-left: 0; margin-top: -25px;
		width: 50px; height: 50px;
		background-color: #fff; background-repeat: no-repeat; background-position: center; background-size: 26px;
		box-shadow: 0 4px 10px rgba(0,0,0,0.3);
		opacity: 1;
	}
	.quick_menu1::after {
		background-image: url(../../images/client/common/icon_quickmenu1.png);
	}
	.quick_menu2::after {
		background-image: url(../../images/client/common/icon_quickmenu2.png);
	}
	.quick_menu3::after {
		background-image: url(../../images/client/common/icon_quickmenu3.png);
	}
	.quick_menu .quick_menu4::after {
		background-size: 24px;
		background-image: url(../../images/client/common/icon_quickmenu4.png);
	}
	.quick_menu5::after {
		background-image: url(../../images/client/common/icon_quickmenu5.png);
	}
	.quick_menu a {
		display: none;
		padding: 12px 0;
		background: none;
	}
	.quick_menu5 a {
		padding: 4px 0;
	}
	.quick_menu li span {
		display: inline-block;
		padding: 3px 0 3px 20px;
		width: 170px;
		text-align: left;
		background: #f2f2f2;	
		-webkit-border-radius: 24px;
		-moz-border-radius: 24px;
		border-radius: 24px;
		box-shadow: 0 2px 10px rgba(0,0,0,0.2);
	}
	.quick_menu.on .btn_quicknav {
		background-image: url(../../images/client/common/icon_quickmenu_close.png);
	}
	.quick_menu.on .btn_quicknav::after {
		display: none;
	}
	.quick_menu.on li {
		margin-bottom: 20px;
		opacity: 1;
	}
	/* 애니메이션 딜레이에 사용 */
	.quick_menu li.on::after {
		display: block;
	}
	.quick_menu li.on a {
		display: block;
	}
	
	/* header 1024 */
	.btn_homepage {
		position: static;
		padding: 0 4.5%;
		border: none;
		border-radius: 0;
	}
	.header_link {
		height: auto;
		color: #333; text-align: left;
		background: #f2efea;
	}
	.header_link ul {
		display: block;
	}
	.header_link li {
		display: block;
		padding: 0;
	}
	.header_link li::after {
		display: none;
	}
	.header_link a {
		display: block;
		padding: 0 5%;
		line-height: 35px;
	}
	.header_link .admin {
		background: #e3d9dd;
	}
	.header_link .admin::before {
		content: "";
		display: inline-block;
		margin-right: 5px;
		width: 20px; height: 20px;
		vertical-align: middle;
		background: url(../../images/client/common/icon_admin.png) no-repeat center; background-size: contain;
	}
	.header_link .downfile::after {
		background-image: url(../../images/client/sub/icon_downfile_purple.png);
	}
	
	.header_top {
		box-shadow: 0 2px 10px rgba(0,0,0,0.3);
	}
	.header_top_inner {
		display: none;
	}
	.header_top {
		padding: 10px;
		width: 100%; height: 65px;
		text-align: center;
	}
	.header_top.on {
		box-shadow: 0 2px 10px rgba(0,0,0,0.3);
	}
	.header_top.on {
		border-bottom: 1px solid #ccc;
	}
	.header_logo {
		position: static;
		display: inline-block;
		width: 160px;
		transform: translate(0);
	}
	.sitemap_outer {
		display: none;
	}
	.mobile_menubtn {
		position: absolute; left: 3%; top: 50%;
		display: block;
		width: 25px; height: 14px;
		background: #fff;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.mobile_menubtn span {
		display: block;
		width: 25px; height: 2px;
		margin: 0 auto 4px;
		background-color: #231f20;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	.mobile_menubtn span:last-child {
		margin-bottom: 0;
	}
	body.on .mobile_menubtn span:first-child, body.on .mobile_menubtn span:last-child {
		display: none;
	}
	body.on .mobile_menubtn span:nth-child(2){
		position: absolute; top: 50%; left: 50%; margin-left: -15px;
		width: 26px;
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	body.on .mobile_menubtn span:nth-child(2):after {
		content: "";
		position: absolute; left: 50%;
		margin-left: -13px;
		width: 26px; height: 2px;
		background: #231f20;
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	.btn_log {
		position: absolute; right: 3%; top: 50%;
		padding: 0;
		margin-top: -12px;
		width: 22px; height: 24px;
		text-indent: -9999px;
		background-size: contain; background-position: center;
		border: none;
		border-radius: 0;
	}
	.btn_login {
		background-image: url(../../images/client/common/icon_login_mobile.png);
	}
	.btn_logout {
		background-image: url(../../images/client/common/icon_logout_mobile.png);
	}
	
	.header_bottom {
		position: absolute; top: 65px; left: -100%;
		width: 80%; 
		color: #252121;
		background: #fff;
		overflow-y: scroll;
		-ms-overflow-style: none;
	}
	.header_bottom::-webkit-scrollbar {
		display: none;
	}
	body.on .header_bottom {
		left: 0;
	}
	.header_bottom .grid_content {
		padding-right: 0;
		width: 100%;
	}
	.gnb_1depth {
		width: 100%; height: auto;
		text-align: left;
		border-right: 0;
		border-bottom: 2px solid #fff;
	}
	.gnb_1depth:first-child {
		border-left: 0;
	}
	.gnb_1depth > a {
		padding: 0 5%;
		height: auto;
		color: #fff;
		background: #77314c;
	}
	.gnb_1depth > a > span {
		position: static;
		line-height: 50px;
		transform: translate(0);
	}
	.gnb_2depth {
		position: static;
		box-shadow: none;
		border: none;
	}
	.gnb_2depth > li {
		border-bottom: 1px solid #e6e2dc;
	}
	.gnb_2depth > li:last-child {
		border-bottom: 0;
	}
	.gnb_2depth a {
		position: relative;
		padding: 10px 7%;
		background: #fff;
	}
	.gnb_2depth a.on {
		color: #77314c; font-weight: 500;
	}
	.gnb_2depth a span {
		position: absolute; top: 50%; right: 3%;
		margin-bottom: 0; margin-left: 0; margin-top: -6px; 
	}
	.gnb_2depth a.on span {
		background-image: url(../../images/client/common/icon_more_menu_on.png);
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	.gnb_3depth {
		position: static;
		width: 100%;
		border: none;
	}
	.gnb_3depth a {
		position: relative;
		padding: 10px 9%;
		background: #f2efea;
	}
	.gnb_3depth a::before {
		content: "";
		display: inline-block;
		margin-right: 5px; margin-bottom: 5px;
		width: 10px; height: 1px;
		background: #7d7696;
	} 
	body.on {
		overflow: hidden;
	}
	body.on .gnb_bg {
		display: block;
	}
	
	/* footer 1024 */
	.move_top {
		right: 90px;
		width: 50px; height: 50px;
		font-size: 0; line-height: 0;
		background: rgba(0,0,0,0.5) url(../../images/client/common/btn_top_mobile.png) no-repeat center;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		box-shadow: 0 4px 10px rgba(0,0,0,0.3);
	}
	
	/* 서브페이지 - 상단 비주얼 */
	.subpage_visual {
		height: 120px;
	}
	.subpage_visual h2 span {
		font-size: 2.2rem;
	}
	
	/* lnb 1024 */
	.lnb_wrap {
		display: none;
	}
	
}
@media screen and (max-width:768px) {

	/* header 768 */
	.header_link li {
		font-size: 1.5rem;
	}
	.quick_menu {
		bottom: 30px; right: 22px; 
	}
	.quick_menu ul {
		padding-bottom: 5px;
	}
	.quick_menu.on li {
		margin-bottom: 15px;
	}
	
	/* footer 768 */
	.move_top {
		bottom: 30px; right: 82px;
	}
	
}
@media screen and (max-width:480px) {
	
	/* header 480 */
	.header_logo {
		width: 140px;
	}
	.quick_menu {
		bottom: 15px; right: 15px;
	}
	.btn_quicknav {
		width: 42px; height: 42px;
		background-size: 42px;
	}
	.btn_quicknav::after {
		font-size: 1.2rem; line-height: 42px;
	}
	.quick_menu ul {
		bottom: 42px; 
	}
	.quick_menu.on li {
		margin-bottom: 6px; 
	}
	.quick_menu li::after {
		margin-top: -21px;
		width: 42px; height: 42px;
		background-size: 20px;
	}
	.quick_menu a {
		padding: 10px 0;
	}
	.quick_menu5 a {
		padding: 2px 0;
	}
	.quick_menu li span {
		width: 150px;
	}
	
	/* footer 480 */
	.move_top {
		bottom: 15px; right: 65px;
		width: 42px; height: 42px;
		background-size: 42px;
	}
	
	/* 서브페이지 - 상단 비주얼 */
	.subpage_visual {
		height: 80px;
	}
	.subpage_visual h2 {
		width: 150px;
	}
	.subpage_visual h2 span {
		font-size: 2rem;
	}
	
}