@media print {
	@page {
		size: portrait;
		width: 21cm; height: 29.7cm;
	}
	* {
		/* 배경그래픽 표시 */
		-webkit-print-color-adjust: exact;
		print-color-adjust: exact;
	}
	div.page { 
		width: initial; min-height: initial; height: auto;
		margin: 0; padding: 0;
		box-shadow: initial; background: initial; border: none;
	}
	div.page table {
		font-size: 14px;
	}
}

.page {
	position: relative;
	margin: 50px auto; padding: 1cm;
	width: 21cm; min-height: 29.7cm;
	background: #fff;
	border: 1px solid #3a3a3a;
}
.page table {
	border-spacing:0;
}
.page table thead {
	display: table-row-group;
}
.page_break {
	page-break-inside: avoid;
	page-break-before: auto;
}


/* 핵심역량진단 결과 */
.page .testresult_info p {
	width: 70%;
}
.page .result_card .col_xl_6 {
	width: 100%;
}
.page .result_card .test_card h4 {
	padding: 30px 0;
}
.apexcharts-canvas .apexcharts-grid line {
	/* apexchart 출력시 테두리 제거 */
	display: none;
}









