@charset "utf-8";

/* magnific popup */
.image-source-link {
	color: #98C3D1; 
}
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	/* ideally, transition speed should match zoom duration */
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}
.mfp-with-zoom.mfp-ready .mfp-container {
	opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}
button.mfp-close {
	width: 24px; height: 24px;
	text-indent: -9999px;
	position: absolute; right: 20px; top: 20px;
	background: transparent url(../../images/client/popup/icon_close_bluegray.png) no-repeat; background-size: contain;
}
.mfp-image-holder .mfp-content {
	max-width: 100%;
}
.mfp-figure {
	background-color: transparent;
}
.mfp-figure figure {
	padding: 10px;
	background: #fff;
	overflow: auto;
}
img.mfp-img {
	width: auto; max-width: auto;
	padding: 0;
}
.mfp-figure::after {
	background-color: transparent;
	box-shadow: none;
}
.image_cousor {
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in;
}


/* 팝업 공통 */
.pop_intro_txt {
	padding: 10px 0 10px 44px;
	font-size: 1.5rem; word-break: keep-all; 
	background: #f1f2ce url(../../images/client/sub/icon_infotext.png) no-repeat 10px 10px; background-size: 24px;
	border-radius: 10px;
}
.pop_thank_txt {
	padding: 10px 0;
	font-size: 1.5rem; word-break: keep-all;
	color: #0d65d9; text-align: center; font-weight: 600;
}
.pop_info_box {
	padding: 20px;
	background: #f2f2f2;
	border-radius: 10px;
}

/* 공지사항 팝업 */
.pushpop_wrap  {
	width: 100%; height: 530px;
	padding-bottom: 50px;
	position: relative;
}
.push_header {
	padding: 10px 10px 0 10px;
	text-align: center; word-break: keep-all;
}
.push_header h1 {
	font-size: 1.7rem; font-weight: 600;
}
.push_header h1 span {
	display: block;
	font-size: 1.5rem; color: #999;
}
.push_container {
	padding: 10px;
}
.push_content {
	overflow-y: auto;
	height: 400px;
	padding: 15px;
	background-color: #fff;
	border: 1px solid #d7d7d7;
}
.pusupop_footer {
	padding: 10px; margin-top: -40px;
	position: relative;
	background-color: #77314c;
	color: #fff;
	z-index: 2;
}
.pusupop_footer p {
	display: inline-block;
}
.pusupop_footer p input {
	display: none;
}
.pusupop_footer p label {
	padding: 3px 0 3px 25px;
	background: url(../../images/client/common/icon_check.png) no-repeat left 5px;
}
.pusupop_footer p input:checked + label {
	background-image: url(../../images/client/common/icon_check_on.png);
}
.pusupop_footer p label:hover {
	cursor: pointer;
}
.pusupop_footer .push_close {
	position: absolute; top: 50%; right: 10px;
	display: inline-block;
	margin-top: -13px; padding: 0 8px;
	background-color: #727272;
	color: #fff; line-height: 26px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.pusupop_footer .push_close:hover {
	background-color: #464646;
}


/* 로드맵 알림 팝업 */
.loadmap_wrap {
	background-color: #fff;
}
.loadmap_wrap .push_header {
	text-align: left;
}
.loadmap_wrap .push_header h1 {
	line-height: 1.5em; color: #d93b3b; font-size: 1.3rem;
}
.loadmap_container {
	overflow-y: auto;
	height: 400px;
	padding: 0 10px 10px 10px;
}
.alaramprogram_list {
	padding: 5px 5px 5px 130px;
	position: relative;
	margin-top: 5px;
	border: 1px solid #d7d7d7;
}
.alaramprogram_list .previewimg_box {
	width: 120px; height: 80px;
	position: absolute; left: 5px;
}
.alaramprogram_list .previewimg_box a {
	height: 80px;
}
.alaramprogram_list .program_infolist dt {
	overflow: hidden;
	padding: 5px; height: 55px;
	margin-bottom: 0;
	-webkit-line-clamp: 1;
	display: block;
}
.alaramprogram_list .program_infolist dt a {
	overflow: hidden;
	display: block;
	width: 100%;
	white-space: nowrap; text-overflow: ellipsis;
}
.alaramprogram_list .program_infolist dt p span {
	display: inline-block;
	padding: 0 5px 0 0; margin-left: 5px;
	font-size: 0.9rem;
	background: url(../../images/client/sub/bar_block.jpg) no-repeat right 2px;
}
.alaramprogram_list .program_infolist dt p span:last-child {
	background: none;
}
.alaramprogram_list .program_infolist dt p span:first-child {
	margin-left: 0;
}
.alaramprogram_list .program_infolist dd {
	padding-left: 0;
}
.alaramprogram_list .program_label {
	min-width: 50px; min-height: 40px;
	font-size: 0.9rem;
}

/* login 팝업 */
.login_box {
	position: relative;
	margin: 0 auto; 
	width: 490px;
	font-size: 1.5rem; 
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0,0,0,0.3);
	overflow: hidden;
}
.login_inner {
	padding: 40px 70px;
	text-align: right;
	background: #fff;
}
.loginwelcome_txt {
	margin-bottom: 30px;
	color: #333; font-family: GmargketSans, sans-serif; font-size: 1.3rem; text-align: center; letter-spacing: -0.03em; word-break: keep-all;
	-webkit-transform: rotate(-0.03deg);
	-moz-transform: rotate(-0.03deg);
	-o-transform: rotate(-0.03deg);
	transform: rotate(-0.03deg);
}
.loginwelcome_txt strong {
	color: #98204e; font-weight: 600; vertical-align: 0;
}
.login_box h1 {
	margin: 0 auto 40px;
	width: 210px;	
}
.login_box h1 img {
	width: 100%;
}
.login_input {
	position: relative;
	margin-bottom: 10px;
	border: 1px solid #ccc;
}
.login_input label {
	position: absolute; left: 0; top: 0;
	display: inline-block;
	width: 110px;
	line-height: 38px; text-align: center;
}
.login_input label::after {
	position: absolute; right: 0;
	content: "|";
	color: #ccc;
}
.login_input input {
	display: block;
	padding: 0 10px 0 120px;
	width: 100%; height: 40px;
	font-size: inherit; line-height: 38px; text-align: left;
	border: none;
}
.login_id {
	margin-bottom: 4px;
}
.login_pw {
	margin-bottom: 16px;
}
.btn_login_submit {
	display: block;
	margin-bottom: 5px;
	width: 100%; height: 60px;
	color: #fff; letter-spacing: 0.1em; line-height: 60px;
	font-size: 2rem;
	background: #98204e;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.login_box .check_row {
	display: inline-block;
}
.login_box .check_row input:checked + label {
	background-image: url(../../images/client/popup/icon_check_on.png);
}
.login_footer {
	padding: 14px 70px;
	color: #f9f9f9; font-size: 1.3rem; font-weight: 300; word-break: keep-all;
	background: #555;
}
.login_footer > li {
	font-weight: inherit;
}
.login_footer > li::before {
	top: 10px;
	font-weight: inherit;
	background: #f5f5f5;
}
.btn_login_close {
	position: absolute; top: 15px; right: 15px;
	display: inline-block;
	width: 22px; height: 22px;
	text-indent: -9999px;
	background: url(../../images/client/popup/icon_pop_close.png) center no-repeat; background-size: contain;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}

/* 사이트맵 */
.sitemap_wrapper {
	overflow: hidden;
	width: 900px; height: auto;
	margin: 0 auto; padding: 25px;
	position: relative;
	background-color: #fff;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: 0 4px 10px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 4px 10px rgba(0,0,0,0.3);
	-o-box-shadow: 0 4px 10px rgba(0,0,0,0.3);
	box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
.sitemap_wrapper h1 {
	padding-left: 45px;
	font-weight: 600; font-size: 2.1rem; color: #6c645e;
	background: url(../../images/client/common/icon_sitemap.png) no-repeat left center;
}
.sitemap_list {
	display: inline-block;
	width: 20.5%;
	margin-left: 6%; margin-top: 15px;
	vertical-align: top;
}

.sitemap_list:first-child {
	margin-left: 0;
}
.sitemap_list:nth-child(4n+1) {
	margin-left: 0;
}
.sitemap_list h2{
	padding: 10px 0;
	color: #6c645e; font-size: 1.7rem; font-weight: 500;
	background-repeat: no-repeat;
	background-position: 99% center;
	border-bottom: 2px solid #734d5c;
}
.sitemap_list ul {
	padding-top: 5px;
}
.sitemap_list li a {
	display: block;
	padding: 5px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.sitemap_list li li a {
	padding: 3px 3px 3px 30px;
}
.sitemap_list li li a::before {
	content: "—";
	display: inline-block;
	margin-right: 5px; margin-left: -20px; 
	line-height: 1.2em; vertical-align: top;
}
.sitemap_wrapper .pop_close{
	position: absolute; top: 35px; right: 30px;
	margin-top: -11px;
	width: 22px; height: 22px;
	text-indent: -9999px;
	background: url(../../images/client/popup/icon_pop_close.png)center center no-repeat; background-size: contain;
	-webkit-transition: background 0.3s ease;
	-moz-transition: background 0.3s ease;
	-o-transition: background 0.3s ease;
	-ms-transition: background 0.3s ease;
	transition: background 0.3s ease;
}

/* 서브페이지 팝업 */
.pop_wrapper{
	padding-bottom: 10px;
	overflow: hidden;
	background: #fff;
	-webkit-box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
	box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}
.pop_lg_wrap{
	width: 940px;
	margin: 0 auto;
}
.pop_md_wrap {
	margin: 0 auto; 
	width: 750px;
}
.pop_sm_wrap{
	width: 600px;
	margin: 0 auto;
}
.pop_xs_wrap{
	width: 520px;
	margin: 0 auto;
}
.pop_content{
	padding: 15px;
	min-height: 100px;
}
.pop_lg_content{
	max-height: 650px;
	overflow-y: auto;
}
.pop_md_content{
	max-height: 500px;
	overflow-y: auto;
}
.pop_sm_content{
	max-height: 400px;
	overflow-y: auto;
}
.pop_header{
	position: relative;
	height: 70px;
	position: relative;
	border-top: 4px solid #92234e;
	border-bottom: 1px solid #d0ccc9;
}
.pop_header h2 {
	position: absolute; top: 50%; left: 0;
	padding: 0 50px 0 20px;
	width: 100%;
	color: #333; font-size: 2rem; font-weight: 600; line-height: 1.2em;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.pop_close{
	position: absolute; top: 50%; right: 20px;
	margin-top: -11px;
	width: 22px; height: 22px;
	text-indent: -9999px;
	background: url(../../images/client/popup/icon_pop_close.png)center center no-repeat; background-size: contain;
	-webkit-transition: background 0.3s ease;
	-moz-transition: background 0.3s ease;
	-o-transition: background 0.3s ease;
	-ms-transition: background 0.3s ease;
	transition: background 0.3s ease;
}
.pop_footer{
	/*margin-top: 10px;*/ margin-bottom: -10px; padding: 17px; 
	text-align: center;
	border-top: 1px solid #d0ccc9;
}
.pop_footer button {
	margin: 0 2px;
}

/* 영역 공통 */
.pop_content .section_area {
	margin-bottom: 3%;
}

/* 타이틀 */
.pop_content .section_tit {
	padding-left: 25px;
	font-size: 1.2rem;
	background-size: 18px;
}

/* 검색창 */
.pop_content .search_box {
	margin-bottom: 20px; padding: 20px;
}
.pop_content .search_box.row2 {
	padding: 20px 20px 8px;
}
.pop_content .search_toggle_row {
	margin: 0.5em auto;
	height: 35px;
}

/* 팀원 추가 팝업 */
.pop_teammember .pop_search_box .search_row {
	margin-top: 0; margin-bottom: -0.5em;
}
.pop_teammember .pop_search_box .search_row > div {
	margin-bottom: 0;
}
.pop_teammember .pop_search_box .grid_col:last-child {
	width: 75%;
}

/* 페이징 */
.pop_content .paging_wrap {
	padding-top: 20px;
}

/* 직업 상세정보 */
.levelcompare_box {
	padding: 15px;
	font-size: 0; line-height: 0;
}
.levelcompare_box>div {
	display: inline-block;
	width: 49%;
	font-size: 1.5rem; line-height: 1.5rem;
}
.levelcompare_box .tbl {
	margin-left: 2%;
}

.pp_updwon {
	display: inline-block;
	width: 9px; height: 14px;
	vertical-align: middle;
}
.up_arrow {
	background: url(../../images/client/sub/arrow_up.jpg)bottom center no-repeat;
}
.down_arrow {
	background: url(../../images/client/sub/arrow_down.jpg)bottom center no-repeat;
}

/* 롤모델 정보 */
.roleinfo_check {
	margin-bottom: 15px;
}
.roleinfo_check > strong {
	display: block;
	padding-top: 120px; margin-bottom: 30px;
	text-align: center; font-size: 1.2rem; font-weight: 600;
	background: url(../../images/client/sub/img_model.png) no-repeat center 20px;
}

/* 교과정보 추가 */
.addsubject_wrap .subject_listbox dl {
	min-height: auto;
	padding: 1em;
}
.addsubject_wrap .subject_listbox dl:hover {
	border: 1px solid #d93b3b;
	cursor: pointer;
}
.addsubject_wrap .subject_listbox dl.on {
	border: 2px solid #d93b3b;
}
.addsubject_wrap .subject_listbox dl dd {
	margin-top: 0.5em;
}
.addsubject_wrap .subject_listbox dl dd ul {
	min-height: auto;
}
.addsubject_wrap .point_none {
	min-height: auto;
}
.addsubject_wrap .subject_listbox .btn_addlike {
	top: 0.8em; right: 0.5em;
}
.pop_content .subjectpoint_list {
	min-width: 300px;
}
.subjectlist_tit {
	display: block;
	min-width: 300px;
	padding-bottom: 5px;
	font-weight: 600; color: #00427c; text-align: left;
}
.subject_select {
	display: inline-block;
	width: 35px; height: 35px;
}
.subject_select button {
	display: block;
	width: 100%; height: 100%;
	background: url(../../images/client/sub/icon_testselect.png) no-repeat;
	background-size: 100%;
}
.subject_addlist table tr.selected .subject_select button {
	background-image: url(../../images/client/sub/icon_testselect_on.png);
}

/* 비교과 추가 */
.addprogram_wrap .program_lisbox {
	padding: 10px 10px 45px 260px;
}
.addprogram_wrap .program_lisbox.on {
	border-color: #006886;
}
.addprogram_wrap .program_lisbox.on + .program_footer {
	border-top: 1px dashed #d7d7d7;
}
.addprogram_wrap .previewimg_box {
	width: 240px; height: 180px;
	position: absolute; left: 10px; top: 10px;
}
.addprogram_wrap .previewimg_box a {
	height: 100%;
}
.addprogram_wrap .program_infolist dt {
	height: auto;
	padding: 4px 10px;
	-webkit-line-clamp: 1;
}
.addprogram_wrap .program_label {
	right: auto; left: 15px; top: 15px; 
}
.addprogram_wrap .team_label {
	right: auto; left: 185px; top: 15px; 
	width: 62px;
}
.addprogram_wrap .team_team {
	padding-left: 38px;
}
.addprogram_wrap .program_infolist dd {
	margin: 2px 0;
}
.addprogram_wrap .program_lisbox .graph_wrap {
	left: 0;
	height: 200px;
}
.addprogram_wrap .program_lisbox .graph_wrap .graph_box p {
	padding-top: 10px; margin-bottom: 10px;
}
.addprogram_wrap .graph_wrap .graph_box img {
	width: auto; max-height: 160px;
}
.addprogram_wrap .program_footer .btn_check{
	position: absolute; top: 5px; right: 10px;
}
.addprogram_wrap .program_footer .btn_addlike {
	right: 40px;
}

/* 교수상담시간  */
.pop_counsel {
	position: relative;
	padding: 0 10px 10px 10px;
}
.pop_counsel_top {
	position: relative; z-index: 10;
	height: 86px;
}
.date_paging {
	position: absolute; top: 50%; left: 50%;
	text-align: center; 
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.date_page_con {
	display: inline-block;
	padding: 0 16px;
	width: 12px; height: 26px;
	text-indent: -9999px;
	background: url(../../images/client/popup/icon_date_prev.png) no-repeat center;
}
.date_next {
	background-image: url(../../images/client/popup/icon_date_next.png);
}
.date_current {
	position: relative;
	display: inline-block; 
}
.date_current strong {
	display: inline-block;
	padding: 4px 16px;
	cursor: default;
}
.date_current2 strong {
	font-size: 1.5rem;
}
.date_selectbox {
	display: none;
	position: absolute; 
	border: 1px solid #d3dadc;
	border-top: 2px solid #0aaccc;
} 
.date_selectbox li a {
	display: block;
	width: 60px;
	line-height: 22px;
	background: #fff;
	cursor: default;
}
.date_current2 .date_selectbox {
	left: 8px;
}
.date_info {
	position: absolute; top: 0; right: 0;
	padding: 4px 0;
}
.date_info li span {
	margin: 0 auto; 
	width: 26px; height: 26px;
	background-size: 26px;
}
.counsel_possible {
	display: inline-block;
	width: 34px; height: 34px;
	background: url(../../images/client/popup/icon_counsel_possible.png) no-repeat center;
	background-size: 34px;
}
.counsel_possible:hover {
	background-image: url(../../images/client/popup/icon_counsel_possible_on.png);
	cursor: pointer;
}
.counsel_impossible {
	display: inline-block;
	width: 34px; height: 34px;
	background: url(../../images/client/popup/icon_counsel_impossible.png) no-repeat center;
	background-size: 34px;
}
.counsel_full {
	display: inline-block;
	width: 34px; height: 34px;
	background: url(../../images/client/popup/icon_counsel_full.png) no-repeat center;
	background-size: 34px;
}
.pop_counsel_bottom.tbl {
	position: static;
}
.pop_counsel_bottom tbody tr td span {
	display: inline-block;
	cursor: default;
}

/* 학생생활상담센터 상담시간 및 상담사 지정 */
.date_info .book {
	display: inline-block;
	margin-right: 4px;
	width: 12px; height: 12px;
	-wenkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.book_possible {
	background: #0aaccc;
	-webkit-transition: background 0.3s ease;
	-moz-transition: background 0.3s ease;
	-o-transition: background 0.3s ease;
	transition: background 0.3s ease;
}
.book_impossible {
	background: #fb7bbd;
}
.book_full {
	background: #909090;
}
.pop_counsel_bottom table tbody td {
	padding: 4px;
}
.book_possible, .book_impossible, .book_full {
	display: inline-block;
	margin: 0 1px 2px 1px; padding: 1px 6px;
	color: #fff; line-height: 1.3rem;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.pop_counsel_bottom .book_possible:hover {
	background: #088ea9;
}




/* 포트폴리오 공유하기 */
.qrimg_box {
	padding: 15px; margin-bottom: 20px;
	text-align: center;
}
.qrurl_text {
	width: 90%;
	margin: 0 auto; padding: 20px;
	word-break: break-all;
	border: 1px solid #d7d7d7;
}

/* 포트폴리오 출력하기 */
.resume_print {
	padding: 0 20px;
}
.resume_print .check_row {
	display: block;
	padding: 14px 10px;
	border-bottom: 1px solid #d7d7d7;
}

/* 포트폴리오 이력서 등록 */
.pop_content .resume_container {
	padding: 0;
	background: none;
	border: 0;
}
.pop_content .resume_container h5 {
	margin-bottom: 0;
}
.title_label {
	display: block;
	padding: 2px;
	font-weight: 600;
}
.search_box .title_label {
	margin-top: -5px; margin-bottom: 5px;
}
.pop_lg_wrap .attach_file_wrapper {
	padding: 15px 20px 20px;
}
.pop_content .resume_container input[type="text"].form_style {
	height: 35px;
	line-height: 33px;
	/*border-color: #dce1eb;*/
}
.pop_content .resume_container .search_day input[type="text"].form_style {
	height: 33px;
}
.pop_content .resume_container .search_day {
	height: 35px;
}
.pop_content .search_day .calendar_open {
	top: 7px;
}
.studentinfo_box.studentinfo_editbox {
	border-color: #d0ccc9;
}
.studentinfo_box.studentinfo_editbox .resumeimg {
	border-color: #d0ccc9;
}
.studentinfo_box.studentinfo_editbox dl dd {
	padding-left: 85px;
	width: 100%;
}
.studentinfo_box.studentinfo_editbox dl dd strong {
	margin-left: -85px; margin-right: 10px; padding-left: 0;
	width: 75px;
}
.pop_content .resume_container .tbl table thead th, .pop_content .resume_container .tbl table thead td, .pop_content .resume_container .tbl table tbody th, .pop_content .resume_container .tbl table tbody td {
	border-left: 0;
	border-right: 0;
}
.studentinfo_editbox .resumeimg {
	top: 20px; bottom: auto;
}
.studentinfo_editbox .attach_file {
	position: absolute; bottom: -40px; left: 50%;
	width: 100%;
	text-align: center;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.studentinfo_editbox .btn_del {
	position: absolute; top: 5px; right: 5px;
}
.edit_input {
	display: inline-block;
	width: 98%;
}
.edit_input input {
	text-align: center;
}
.edit_hp1 {
	width: 70px;
}
.edit_hp2, .edit_hp3 {
	width: 90px;
}
.edit_mail1, .edit_mail2 {
	width: 128px;
}
.edit_zipcode {
	width: 100px;
	vertical-align: middle;
}
.edit_address {
	display: block;
	width: 100%;
	margin-top: 5px;
	text-align: left !important;
}
.studentinfo_editbox_wrap ~ div h5 {
	padding: 5px 0px 5px 10px;
	background: #f2f0ee;
}
.resumeedit_btnrow .check_row {
	margin: 0 10px 0 0; 
	vertical-align: top;
}
.resumeedit_btnrow .check_row label {
	display: inline-block;
	padding: 0 0 1px 25px;
	height: 20px;
	line-height: 20px;
	background-position: left center; background-size: auto 20px;
}
.btn_resumeedit {
	margin-right: 10px;
	font-size: 1.5rem; line-height: 20px;
	background-color: transparent;
}
.btn_resumeedit span {
	display: inline-block;
	width: 20px; height: 20px;
	margin-right: 5px;
	font-size: 1.7rem; line-height: 18px; text-align: center; vertical-align: top;
	background: #fff;
	border: 1px solid #b7b7b7;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.resumerow_add span {
	color: #0477bf;
}
.resumerow_add:hover {
	color: #0477bf; 
}
.resumerow_del span {
	color: #b7b7b7; font-size: 2.2rem; line-height: 13px;
}
.resumerow_del:hover {
	color: #0477bf; 
}
.resumeedit_btnrow {
	margin-top: -33px; padding-top: 6px;
	height: 33px;
	text-align: right;
}
.selfintroedit_wrap article {
	padding: 15px !important;
	position: relative;
}
.resumeedit_tit p {
	font-size: 1.5rem;
}
.selfintroedit_wrap .resumeedit_btnrow {
	position: relative;
	margin-top: -10px; margin-bottom: 5px;
	text-align: right;
}
.selfintroedit_wrap .resumeedit_tit + .resumeedit_btnrow {
	position: absolute; top: 6px; right: 10px;
	margin-top: 0;
}
.selfintroedit_wrap article div .form_style{
	margin-bottom: 5px;
}
.resume_commu_filelist {
	position: relative;
}
.resume_commu_filelist .attach_file {
	display: inline-block;
	position: absolute; top: 10px; right: 10px;
}

/* 교외활동 */
.activeday_wrap {
	margin-bottom: 10px;
	position: relative;
}
.activeday_wrap ul {
	display: table;
	width: auto;
}
.activeday_wrap ul li {
	display: table-cell;
	padding-left: 15px;
	background: url(../../images/client/sub/bar_block.jpg) no-repeat 5px 3px;
}
.activeday_wrap ul li:first-child {
	padding-left: 0;
	background: none;
}
.activeday_wrap ul li strong {
	display: inline-block;
	margin-right: 3px;
	font-weight: 600; vertical-align: bottom;
}
.active_status {
	position: absolute; right: 0; top: 0;
	font-weight: 600;
}
.active_status strong {
	display: inline-block;
	margin-right: 5px;
	font-weight: 600;
}
.active_status span {
	font-weight: 600;
}
.reject_text {
	padding: 20px;
	font-size: 1.5rem; line-height: 1.5em;
	background-color: #edf0f3;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

/* 워크넷 팝업 */
.worknet_pop {
	width: 100%;
}
.worknet_pop_box {
	position: relative;
	margin: 0 auto; padding: 80px 54px 0;
	width: 600px; height: 400px;
	text-align: center;
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.6);
	-moz-box-shadow: 0 2px 10px rgba(0,0,0,0.6);
	-o-box-shadow: 0 2px 10px rgba(0,0,0,0.6);
	box-shadow: 0 2px 10px rgba(0,0,0,0.6);
}
.worknet_pop_box p:first-child {
	margin-bottom: 20px;
	font-size: 16px; font-weight: bold; 
}
.worknet_pop_box ul {
	padding: 12px 18px;
	width: 490px; 
	text-align: left;
	border: 1px solid #d7d7d7;
	background: url('../../images/client/popup/bg_worknet_pop.jpg') no-repeat 376px 40px;
}
.worknet_pop_box ul li {
	font-size: 16px; font-weight: bold; color: #c01515; line-height: 26px;;
}
.worknet_pop_box p:last-of-type {
	margin-top: 5px; margin-bottom: 25px;
	text-align: left;
}
.worknet_pop_box .pop_close {
	position: absolute; top: 24px; right: 26px;
	margin-top: 0;
}

/* 독서인증 공지사항 */
.pop_content .bbs_header {
	padding: 5px 10px 10px;
	border: none;
}
.pop_content .cnt_title {
	margin-bottom: 10px;
	font-size: 2rem;
}
.pop_content .cnt_title span {
	font-weight: inherit; vertical-align: top;
}
.pop_content .bbs_header .fix_list {
	margin-right: 6px;
	vertical-align: top;
}

/* 추천도서 목록 */
.pop_content .infotop_box {
	margin-bottom: 20px;
}
.read_status {
	display: inline-block;
	width: 30px; height: 23px;
	font-size: 0; line-height: 0;
	background: url(../../images/client/sub/icon_reading_off.png) no-repeat center;
}
.read_status.on {
	background-image: url(../../images/client/sub/icon_reading_on.png);
}



@media screen and (max-width:1279px) {

}
@media screen and (max-width:1080px) {

}
@media screen and (min-width:1025px) {
	
	/* 팝업 공통 hover */
	.pop_close:hover{
		background-image: url(../../images/client/popup/icon_pop_close_on.png);
	}
	
	/* login 팝업 hover */
	.btn_login_submit:hover{
		background: #891e47;
	}
	.login_box .check_row > label:hover {
		color: #7d746c;
	}
	
	/* 사이트맵 hover */
	.sitemap_wrapper .pop_close:hover{
		background-image: url(../../images/client/popup/icon_pop_close_on.png);
	}
	.sitemap_list li a:hover {
		background-color: #f2efea;
	}
	
}
@media screen and (max-width:1024px) {
	/* 팝업 공통 1024 */
	.pop_lg_wrap {
		width: 94%;
		margin: 0 auto;
	}

}
@media screen and (max-width:768px) {
	
	/* 팝업 공통 768 */
	.pop_md_wrap{
		width: 90%;
		margin: 0 auto;
	}
	.pop_sm_wrap{
		width: 80%;
		margin: 0 auto;
	}
	.pop_xs_wrap{
		width: 80%;
		margin: 0 auto;
	}
	.pop_content{
		padding: 10px;
	}
	.pop_content{
		max-height: 400px;
		overflow-y: auto;
	}
	.pop_lg_content{
		max-height: 400px;
	}
	.pop_md_content{
		max-height: 400px;
	}
	.pop_sm_content{
		max-height: 400px;
	}
	.pop_header{
		height: 55px;
		padding: 0px 10px;
	}
	.pop_header h2 {
		padding-left: 15px; padding-right: 40px;
		font-size: 16px; 
	}
	.pop_header .pop_close{
		width: 20px; height: 20px;
		margin-top: -10px;
		right: 10px;
		background-size: contain;
	}
	.pop_footer {
		/*margin-top: 0;*/ padding: 12px 0;
		text-align: center;
	}
	
	/* login 팝업 768 */
	.login_box {
		width: 70%;
	}
	.login_inner {
		padding: 30px;
	}
	.btn_login_submit {
		height: 50px;
		line-height: 50px;
	}
	.login_footer {
		padding: 14px 30px;
	}
	.login_footer > li::before {
		top: 8px;
	}
	
	/* 검색창 768 */
	.pop_content .searchtoggle_left {
		text-align: left;
		border-bottom: none;
	}
	.pop_content .searchtoggle_left .total_count {
		padding-top: 15px; padding-left: 5px;
	}
	.pop_content .search_box.row2 {
		padding: 20px 20px 12px;
	}
	
	/* 교수상담시간 */
	.pop_counsel {
		padding: 0 10px 10px 10px;
	}
	.pop_counsel_top {
		height: auto;
	}
	.date_paging {
		position: static;
		margin: 20px 0 12px;
		transform: translate(0);
	}
	.date_current strong {
		padding: 4px 10px;
	}
	.date_selectbox li a {
		width: 44px;
	}
	.date_page_con {
		padding: 0 10px;
		width: 10px; height: 23px;
		background-size: 10px auto;
	}
	.date_info {
		position: static;
		padding: 0;
		text-align: right;
	}
	.date_info li {
		display: inline-block;
	}
	
	/* 이력서 등록 768 */
	.studentinfo_box.studentinfo_editbox {
		padding: 20px 0 0 0;
	}
	.studentinfo_box.studentinfo_editbox .resumeimg {
		position: relative; left: 50%; top: 0;
		margin-left: -60px; margin-bottom: 40px; 
	}
	.studentinfo_editbox .attach_file {
		bottom: -32px;
		border-radius: 0;
	}
	.studentinfo_box.studentinfo_editbox dl {
		padding: 0 20px 15px;
	}
	.studentinfo_box.studentinfo_editbox dl dt {
		margin-bottom: 20px;
		text-align: center;
	}
	
	/* 팀원 추가 팝업 768 */
	/*.pop_teammember .pop_search_box .search_row {
		margin-bottom: 0;
	}
	.pop_teammember .pop_search_box .search_row > div {
		margin-bottom: 6px;
	}
	.pop_teammember .pop_search_box .grid_col:last-child {
		margin-bottom: 0;	
		width: 100%;
	}*/
	
	/* 비교과활동 이수 계획 추가 팝업 768 */
	.searchtoggle_left {
		padding-bottom: 7px;
	}
	.addprogram_wrap .program_lisbox {
		padding: 10px 10px 45px 10px;
	}
	.addprogram_wrap .program_label {
		left: 16px; top: 16px; 
	}
	.addprogram_wrap .team_label {
		left: auto; right: 16px; top: 16px;
	}
	.addprogram_wrap .previewimg_box {
		position: static;
		width: 100%;
	}
	.addprogram_wrap .program_lisbox .graph_wrap {
		height: 378px;
	}
	
	/* 독서인증 공지사항 768 */
	.pop_content .cnt_title {
		font-size: 1.8rem;
	}
	.pop_content .bbs_header .fix_list {
		width: 28px; height: 26px;
	}
	
	/* 추천도서 목록 768 */
	.pop_content .infotop_box {
		margin-bottom: 15px; 
	}
	
}
@media screen and (max-width:480px) {
	
	/* 팝업 공통 480 */
	.pop_info_box {
		padding: 15px;
	}
	
	/* login 팝업 480 */
	.login_box {
		width: 90%;
	}
	.login_inner {
		padding: 25px 8%;
	}
	.loginwelcome_txt {
		margin-bottom: 25px;
	}
	.login_box h1 {
		margin-bottom: 34px;
		width: 180px;
	}
	.login_id {
		margin-bottom: 5px;
	}
	.login_pw {
		margin-bottom: 12px;
	}
	.login_input label {
		width: 80px;
	}
	.login_input input {
		padding-left: 90px;
	}
	.btn_login_submit {
		margin-bottom: 3px;
		font-size: 1.8rem;
	}
	.login_footer {
		padding: 14px 8%;
	}
	
	/* 검색창 480 */
	.pop_content .search_box {
		margin: 20px 0; padding: 0;
		background: rgba(0,0,0,0);
	}
	.pop_content .search_box.row2 {
		padding: 0;
	}
	.pop_content .search_text {
		padding-right: 45px;
	}
	.pop_content .search_text .btn_search {
		width: 45px;
	}
	
	/* paging 480 */
	.paging_wrap a.pre_page {
		margin-right: 10px;
	}
	.paging_wrap a.next_page {
		margin-left: 10px;
	}
	
	/* 이력서 등록 480 */
	.pop_lg_wrap .attach_file_wrapper {
		padding: 10px 15px 15px;
	}
	.studentinfo_box.studentinfo_editbox dl {
		padding: 0 10px 10px;
	}
	.studentinfo_box.studentinfo_editbox dl dd {
		padding: 8px;
	}
	.studentinfo_box.studentinfo_editbox dl dd strong {
		display: block;
		margin-left: 0; margin-bottom: 5px; padding-left: 10px;
		width: 100%;
		text-align: left;
		background: none;
	}
	.studentinfo_box.studentinfo_editbox dl dd strong::after {
		top: 3px; right: auto; left: 0; 
		content: "";
		display: block;
		width: 2px; height: 14px;
		background: #77314c;
	} 
	.edit_hp1 {
		width: 50px;
	}
	.edit_mail1, .edit_mail2 {
		width: 117px;
	}
	
	/* 추천도서 목록 480 */
	.pop_content .infotop_box {
		padding: 50px 10px 10px;
	}
	.pop_content .section_tit_md + .search_box {
		margin: 10px 0 20px;
	}
	
	

}