@charset "utf-8";

/*  scrollbar */
.mCSB_horizontal.mCSB_inside > .mCSB_container{
	margin-bottom: 8px;
}

/* 모바일에서 세로방향 터치불가 fix */
.mCustomScrollbar,
.mCustomScrollbar.mCS_touch_action,
.mCustomScrollbar.mCS_touch_action .mCS-aviva.mCSB_scrollTools {
	-ms-touch-action: auto;
	touch-action: auto;
}
.mCustomScrollBox {
	height: auto;
	-ms-touch-action: pan-x;
	touch-action: pan-x;
}
.mCustomScrollBox.mCSB_vertical_horizontal {
	-ms-touch-action: auto;
	touch-action: auto;
}
.mCustomScrollBox.mCSB_horizontal {
	-ms-touch-action: pan-y;
	touch-action: pan-y;
}

.tbl {
	position: relative;
}
.tbl table{
	width: 100%;
	text-align: center; font-size: 1.5rem;
	background-color: #fff;
	border-bottom: 1px solid #d0ccc9;
}
.tbl table thead th {
	padding: 8px;
	text-align: center; font-weight: 500;
	background-color: #f2f0ee;
}
.tbl table tbody th, .tbl table tfoot th {
	padding: 8px;
	text-align: center;
}
.tbl table tbody td, .tbl table tfoot td {
	padding: 8px;
	text-align: center;
}

.tbl_col table {
	border-top: 2px solid #77314c;
	border-bottom: 0;
}
.tbl_col table thead th {
	padding: 12px 0;
	background: #f2f0ee;
}
.tbl_col table thead th:first-child {
	border-left: none;
}
.tbl_col table thead th:last-child {
	border-right: none;
}
.tbl_col table tbody th:first-child, .tbl_col table tbody td:first-child, .tbl_col table tfoot th:first-child, .tbl_col table tfoot td:first-child {
	border-left: none;
}
.tbl_col table tbody td:last-child, .tbl_col table tfoot td:last-child {
	border-right: none;
}
.tbl_col table th {
	border: 1px solid #d0ccc9;
}
.tbl_col table td {
	border: 1px solid #d0ccc9;
}
.tbl_col table tfoot th, .tbl_col table tfoot td {
	padding: 12px 0;
	background: #f2f0ee;
}
.tbl_col .bg_td {
	background: #f2f0ee;
}

.tbl_rowcol table{
	border-top: 2px solid #77314c;
	border-bottom: 0;
}
.tbl_rowcol table thead th{
	padding: 12px 0;
	background: #f2f0ee;
	border-bottom: 1px solid #d0ccc9;
}
.tbl_rowcol tbody tr th{
	font-weight: 500;
	background-color: #f2f0ee;
	border-bottom: 1px solid #d0ccc9;
}
.tbl_rowcol tbody tr td {
	border: 1px solid #d0ccc9;
}
.tbl_rowcol tbody tr td:first-child {
	border-left: 0;
}
.tbl_rowcol tbody tr td:last-child {
	border-right: 0;
}
.tbl_rowcol .bg_td {
	background: #f2f0ee;
}

.tbl_row thead th {
	border: 1px solid #d0ccc9;
}
.tbl_row tbody tr th{
	font-weight: 500;
	background-color: #f2f0ee;
	border: 1px solid #d0ccc9;
}
.tbl_row tbody tr td {
	text-align: left;
	border: 1px solid #d0ccc9;
}
.tbl_row tfoot tr th{
	font-weight: 500;
	background-color: #f2f0ee;
	border: 1px solid #d0ccc9;
}
.tbl_row tfoot tr td {
	text-align: left;
	border: 1px solid #d0ccc9;
}
.tbl_row .bg_td {
	background: #f2f0ee;
}

/* 에디터 테이블 (기본 테이블) - 공지사항 */
.tbl_editor {
	overflow: hidden; overflow-x: auto;
}
.tbl_editor table {
	border-color: #ddd;
	border-style: solid;
}
.tbl_editor table[align="center"] {
	margin: 0 auto;
}
.tbl_editor table th {
	vertical-align: middle; text-align: center;
	border: 1px solid #ddd;
}
.tbl_editor table td {
	vertical-align: middle;
	border: 1px solid #ddd;
}

/* 채용정보 상세내용 테이블 */
.tbl_text table{
	border: none;
}
/*.tbl_text table tbody tr {
	border-bottom: 1px solid #d0ccc9;
}*/
.tbl_text table tbody tr:last-child {
	border-bottom: none;
}
.tbl_text table tbody th {
	text-align: left; font-weight: 500;
}
.tbl_text table tbody td {
	text-align: left;
}

/* 테이블 레이아웃 외 */
.td_input {
	padding: 5px !important;
}
.td_sum strong {
	color: #333; font-weight: 500; line-height: inherit; vertical-align: top;
}
.td_sum strong::after {
	margin: 0 20px;
	content: "|";
	color: #d0ccc9;
}
.tbl_fixed table {
	table-layout: fixed;
	word-break: break-all;
}


/* 워크넷 진단 내 테이블 */
.tbl_border table{
	border: 1px solid #d0ccc9;
}
.tbl_border table th {
	border: 1px solid #d0ccc9;
}
.tbl_border table td {
	border: 1px solid #d0ccc9;
}


/* 가로 스크롤 테이블 */
.mCSB_container {
	width: 100% !important;
}
.scrollx_tbl_xs {
	width: 100%;
	overflow-x: auto;
}
.scrollx_tbl_xs .mCSB_container {
	min-width: 500px !important;
}
.scrollx_tbl_xs table{
	min-width: 500px;
}
.scrollx_tbl_sm {
	width: 100%;
	overflow-x: auto;
}
.scrollx_tbl_sm .mCSB_container {
	min-width: 600px !important;
}
.scrollx_tbl_sm table{
	width: 100%;
	min-width: 600px;
}
.scrollx_tbl_md{
	width: 100%;
	overflow-x: auto;
}
.scrollx_tbl_md .mCSB_container {
	min-width: 800px !important;
}
.scrollx_tbl_md table{
	min-width: 800px;
}
.scrollx_tbl_lg{
	width: 100%;
	overflow-x: auto;
}
.scrollx_tbl_lg .mCSB_container {
	min-width: 1000px !important;
}
.scrollx_tbl_lg table{
	min-width: 1000px;
}
.scrollx_tbl_xl{
	width: 100%;
	overflow-x: auto;
}
.scrollx_tbl_xl .mCSB_container {
	min-width: 1200px !important;
}
.scrollx_tbl_xl table{
	min-width: 1200px;
}
.scrollx_tbl_xxl{
	width: 100%;
	overflow-x: auto;
}
.scrollx_tbl_xxl table{
	min-width: 1600px;
}


@media screen and (max-width:1024px){
	
	/* 반응형 테이블 1024 */
	.tbl_lg_responsive table {
		table-layout: auto;
	}
	.tbl_lg_responsive table col {
		width: 100% !important;
	}
	.tbl_lg_responsive table thead th {
		display: none;
	}
	.tbl_lg_responsive table tbody tr {
		border-top: 1px solid #d0ccc9;
		border-bottom: 1px solid #d0ccc9;
	}
	.tbl_lg_responsive table tbody th {
		display: block;
		padding: 5px;
		background: #f2f0ee;
		border-right: none;
	}
	.tbl_lg_responsive table tbody td {
		position: relative;
		display: block;
		padding: 5px 5px 5px 7em !important; 
		text-align: left !important;
		border: none;
	}
	.tbl_lg_responsive table tbody td:last-child {
		border-bottom: none;
	}
	.tbl_lg_responsive table td::before {
		position: absolute; left: 0;
		content: attr(data-th);
		display: inline-block;
		margin-right: 0.5em; padding: 0 4px;
		width: 6.5em;
		font-weight: 500; line-height: 1.2em; text-align: center;
		border-right: 1px solid #d0ccc9;
	}
	.tbl_lg_responsive table tfoot th, .tbl_lg_responsive table tfoot td {
		padding: 5px;
		background: #eadfd3;
	} 
	.tbl_lg_responsive .ellipsis {
		white-space: normal;
	}
	
}
@media screen and (max-width:768px) {
	
	/* 반응형 테이블 768 */
	.tbl_md_responsive table {
		table-layout: auto;
	}
	.tbl_md_responsive table col {
		width: 100% !important;
	}
	.tbl_md_responsive table thead th {
		display: none;
	}
	.tbl_md_responsive table tbody tr {
		border-top: 1px solid #d0ccc9;
		border-bottom: 1px solid #d0ccc9;
	}
	.tbl_md_responsive table tbody th {
		display: block;
		padding: 5px;
		background: #f2f0ee;
		border-right: none;
	}
	.tbl_md_responsive table tbody td {
		position: relative;
		display: block;
		padding: 5px 5px 5px 7em !important; 
		text-align: left !important;
		border: none;
	}
	.tbl_md_responsive table tbody td:last-child {
		border-bottom: none;
	}
	.tbl_md_responsive table td::before {
		position: absolute; left: 0;
		content: attr(data-th);
		display: inline-block;
		margin-right: 0.5em; padding: 0 4px;
		width: 6.5em;
		font-weight: 500; text-align: center;
		border-right: 1px solid #d0ccc9;
	}
	.tbl_md_responsive table tfoot th, .tbl_md_responsive table tfoot td {
		padding: 5px;
		background: #eadfd3;
	} 
	.tbl_md_responsive .ellipsis {
		white-space: normal;
	}
	
	
}
@media screen and (max-width:480px) {
	
	/* 반응형 테이블 480 */
	.tbl_sm_responsive table {
		table-layout: auto;
	}
	.tbl_sm_responsive table col {
		width: 100% !important;
	}
	.tbl_sm_responsive table thead th {
		display: none;
	}
	.tbl_sm_responsive table tbody tr {
		border-top: 1px solid #d0ccc9;
		border-bottom: 1px solid #d0ccc9;
	}
	.tbl_sm_responsive table tbody th {
		display: block;
		padding: 5px;
		background: #f2f0ee;
		border-right: none;
	}
	.tbl_sm_responsive table tbody td {
		position: relative;
		display: block;
		padding: 5px 5px 5px 7em !important; 
		text-align: left !important;
		border: none;
	}
	.tbl_sm_responsive table tbody td:last-child {
		border-bottom: none;
	}
	.tbl_sm_responsive table td::before {
		position: absolute; left: 0;
		content: attr(data-th);
		display: inline-block;
		margin-right: 0.5em; padding: 0 4px;
		width: 6.5em;
		font-weight: 500; text-align: center;
		border-right: 1px solid #d0ccc9;
	}
	.tbl_sm_responsive table tfoot th, .tbl_sm_responsive table tfoot td {
		padding: 5px;
		background: #eadfd3;
	} 
	.tbl_sm_responsive .ellipsis {
		white-space: normal;
	}
	
}