@charset "utf-8";
/* CSS Document */
.pc{ display: block; }
.pc_tab{ display: block; }
.tab{ display: none; }
.tab_mobile{ display: none; }
.mobile{ display: none; }
.smobile{ display: none; }
.pc_tbl{ display: table-cell; }

.grid_content {
	overflow: hidden;
	width: 1200px;
	/*padding: 0 30px;*/
	margin: 0 auto;
}

/*.grid_col {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-background-clip: padding-box !important;
	-webkit-background-clip: padding-box !important;
	background-clip: padding-box !important;
	margin-bottom: 15px;
}*/

.grid_content>[class*=col] {
	position: relative;
	float: left;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}

.grid_row {
	overflow: hidden;
	margin-left: -0.5em;
	margin-right: -0.5em;
}
.grid_row:after {
	content: ""; display: block; clear: both;
}
.grid_row>[class*=col] {
	float: left;
}

.grid_col {
	margin-bottom: 12px;
	border: 0px solid rgba(0, 0, 0, 0);
	border-left-width: 0.5em;
	border-right-width: 0.5em;
	background-clip: padding-box !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-background-clip: padding-box !important;
	-webkit-background-clip: padding-box !important;
}

.col_p_1 {
	width: 8.33333333%;
}

.col_p_1_1 {
	width: 14.285%;
}

.col_p_2 {
	width: 16.66666667%;
}

.col_p_3 {
	width: 25.0%;
}

.col_p_4 {
	width: 33.33333333%;
}

.col_p_5 {
	width: 41.66666667%;
}

.col_p_6 {
	width: 50.0%;
}

.col_p_7 {
	width: 58.33333333%;
}

.col_p_8 {
	width: 66.66666667%;
}

.col_p_9 {
	width: 75.0%;
}

.col_p_10 {
	width: 83.33333333%;
}

.col_p_11 {
	width: 91.66666667%;
}

.col_p_12 {
	width: 100%;
}

/* PC 작은사이즈 */
@media only screen and (max-width:1279px) {
	
	.grid_content {
		width: 98%;
	}
	
	.col_ps_1 {
		width: 16.66%;
	}
	.col_ps_2 {
		width: 33.33%;
	}
	.col_ps_3 {
		width: 50%;
	}
	.col_ps_4 {
		width: 66.65%;
	}
	.col_ps_5 {
		width: 83.32%;
	}
	.col_ps_6 {
		width: 100%;
	}
}

/* 태블릿 */
@media only screen and (max-width:1024px) {
	
	.pc{ display: none; }
	.pc_tab{ display: block; }
	.tab{ display: block; }
	.tab_mobile{ display: block; }
	.mobile{ display: none; }
	.smobile{ display: none; }
	.pc_tbl{ display: none; }
	
	.grid_content {
		width: 94%;
		padding: 0;
	}
	.grid_content>[class*=col] {
		padding-right: 5px;
		padding-left: 5px;
	}
	/*.grid_col {
		margin-bottom: 5px;
		padding-right: 5px;
		padding-left: 5px;
	}*/
	.grid_row {
		margin-left: -5px;
		margin-right: -5px;
	}

	.col_t_1 {
		width: 16.66%;
	}
	.col_t_1_1 {
		width: 20%;
	}
	.col_t_2 {
		width: 33.33%;
	}
	.col_t_3 {
		width: 50%;
	}
	.col_t_4 {
		width: 66.65%;
	}
	.col_t_5 {
		width: 83.32%;
	}
	.col_t_6 {
		width: 100%;
	}
}

/* 모바일 */
@media only screen and (max-width:767px) {
	
	.pc{ display: none; }
	.pc_tab{ display: none; }
	.tab{ display: none; }
	.tab_mobile{ display: block; }
	.mobile{ display: block; }
	.smobile{ display: none; }
	.pc_tbl{ display: none; }
	
	.grid_content {
		width: 96%;
		padding-right: 0; padding-left: 0;
	}
	.grid_content>[class*=col] {
		padding-right: 5px;
		padding-left: 5px;
	}
	/*.grid_col {
		margin-bottom: 10px;
		padding-right: 5px;
		padding-left: 5px;
	}*/
	.grid_row {
		margin-left: -5px;
		margin-right: -5px;
	}
	
	.col_m_1 {
		width: 50%;
	}
	.col_m_2 {
		width: 100%;
	}
}

@media only screen and (max-width:479px) {
	
	.pc{ display: none; }
	.pc_tab{ display: none; }
	.tab{ display: none; }
	.tab_mobile{ display: block; }
	.mobile{ display: none; }
	.smobile{ display: block; }
	.pc_tbl{ display: none; }
	
	.col_xs_1 {
		width: 50%;
	}
	.col_xs_2 {
		width: 100%;
	}
	
}