@charset "utf-8";

@font-face {
	font-family: 'Notokr';
	font-style: normal;
	font-weight: 300;
	src: url('../../fonts/notokr-light.eot');
	src: url('../../fonts/notokr-light.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/notokr-light.woff2') format('woff2'),
		url('../../fonts/notokr-light.woff') format('woff'),
		url('../../fonts/notokr-light.ttf') format('truetype');
}
@font-face {
	font-family: 'Notokr';
	font-style: normal;
	font-weight: 400;
	src: url('../../fonts/notokr-regular.eot');
	src: url('../../fonts/notokr-regular.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/notokr-regular.woff2') format('woff2'),
		url('../../fonts/notokr-regular.woff') format('woff'),
		url('../../fonts/notokr-regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Notokr';
	font-style: normal;
	font-weight: 500;
	src: url('../../fonts/notokr-medium.eot');
	src: url('../../fonts/notokr-medium.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/notokr-medium.woff2') format('woff2'),
		url('../../fonts/notokr-medium.woff') format('woff'),
		url('../../fonts/notokr-medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Notokr';
	font-style: normal;
	font-weight: 600;
	src: url('../../fonts/notokr-bold.eot');
	src: url('../../fonts/notokr-bold.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/notokr-bold.woff2') format('woff2'),
		url('../../fonts/notokr-bold.woff') format('woff'),
		url('../../fonts/notokr-bold.ttf') format('truetype');
}

@font-face {
	font-family: 'GyeonggiTitle';
	font-style: normal;
	font-weight: 500;
	src: url('../../fonts/GyeonggiTitleM.eot');
	src: url('../../fonts/GyeonggiTitleM.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/GyeonggiTitleM.woff2') format('woff2'),
		url('../../fonts/GyeonggiTitleM.woff') format('woff'),
		url('../../fonts/GyeonggiTitleM.ttf') format('truetype');
}
@font-face {
	font-family: 'GyeonggiTitle';
	font-style: normal;
	font-weight: 600;
	src: url('../../fonts/GyeonggiTitleB.eot');
	src: url('../../fonts/GyeonggiTitleB.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/GyeonggiTitleB.woff2') format('woff2'),
		url('../../fonts/GyeonggiTitleB.woff') format('woff'),
		url('../../fonts/GyeonggiTitleB.ttf') format('truetype');
}


html,body{
	height: auto; min-height: 100%;
	/*color:#323232;*/ color: #222; font-family: Notokr, 'Apple SD Gothic Neo', Arial, Tahoma, sans-serif; font-size: 13px; font-weight: 400;
	/*-webkit-font-smoothing: antialiased;*/
}
body {
	min-width: 320px;
	-ms-overflow-style: scrollbar;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	font-family: GyeonggiTitle, 'Apple SD Gothic Neo', Arial, Tahoma, sans-serif; letter-spacing: -0.05em; color: #535353;
	-webkit-transform: skew(-0.03deg);
	-moz-transform: skew(-0.03deg);
	-o-transform: skew(-0.03deg);
	transform: skew(-0.03deg);
}
ul, ol, li {
	padding: 0; margin: 0;
	list-style: none;
}
a {
	color: inherit;
}
a:active, a:focus {
	color: inherit;
}
p {
	margin: 0;
}
label {
	margin-bottom: 0;
	font-weight: normal;
}
textarea {
	resize: none;
}
input[type="text"]::-ms-clear{
	display: none;
}
a:hover, a:active, a:focus {
	color: #2177c6;
}
/* 브라우저 알림 */
#ad_iever_upgradeinfo {
	display: none;
	position:fixed;
	z-index:2000; width:100%; padding:10px; 
	text-align:center; background-color:#db4c3b;
}
#ad_iever_upgradeinfo div{
	width: 100%;
	margin: 0 auto;
	color:#fff;
}
#ad_iever_upgradeinfo div a {
	color:#f9c461;
}
.lt-ie11 #ad_iever_upgradeinfo {
	display: block;
}

/* header */
.main-header  {
	position: fixed; 
	width: 100%; height: 40px;
}
.main-header h1 {
	position: relative; 
	margin: 0; padding: 30px 0;
	width: 230px;
	background: #fff;
	/*background: linear-gradient(rgba(255,255,255,1) 80%, rgba(255,255,255,0.5) 90%, rgba(255,255,255,0));*/
	float: left;
}
.main-header .logo {
	display: block;
	height: 42px;
	text-align: center;
}
.main-header .logo .logo-lg {
	display: block;
	height: 100%;
}
.main-header .logo .logo-lg img {
	height: 100%;
	vertical-align: top;
}
.sidebar-mini.sidebar-collapse .main-header h1 {
	width: auto;
}
.sidebar-mini.sidebar-collapse .main-header .logo {
	padding-left: 0;
}
.sidebar-mini.sidebar-collapse .main-header .logo .logo-mini {
	text-align: center;
	background: #fff;
}
.sidebar-mini.sidebar-collapse .main-header .logo .logo-mini img{
	width: 30px;
	margin-left: 15px;
}
.main-header .sidebar-toggle:before {
	display: none;
}
.main-header .sidebar-toggle {
	display: block;
	margin: 12px 15px; padding: 0;
	width: 24px; height: 16px;
}
.main-header .sidebar-toggle span {
	display: block;
	margin-bottom: 5px;
	width: 24px; height: 2px;
	background: #fff;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.main-header .sidebar-toggle span:nth-child(3) {
	margin-bottom: 0;
}
/*
.sidebar-mini.sidebar-collapse .sidebar-toggle span:nth-child(1) {
	position: relative; top: 2px; left: 12px;
	width: 12px;
	transform: rotate(45deg);
}
.sidebar-mini.sidebar-collapse .sidebar-toggle span:nth-child(3) {
	position: relative; top: -2px; left: 12px;
	width: 12px;
	transform: rotate(-45deg);
}
*/
.navbar-nav {
	padding-right: 6px;
}
.navbar-nav > li > .btn_login, .navbar-nav > li > .btn_logout {
	margin: 6px 3px; padding: 0 20px;
	height: 28px;
	font-size: 15px; line-height: 28px;
	background: #1764c6;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.navbar-nav > li > .btn_login:hover, .navbar-nav > li > .btn_logout:hover {
	background: #1f7aef;
}
.navbar-nav > li > .btn_login::before, .navbar-nav > li > .btn_logout::before {
	content: "";
	display: inline-block;
	margin-right: 6px; margin-bottom: 1px;
	width: 16px; height: 18px;
	vertical-align: middle;
	background-repeat: no-repeat; background-position: center;
}
.btn_login::before {
	background-image: url(../../images/admin/btn_login.png);
}
.btn_logout::before {
	background-image: url(../../images/admin/btn_logout.png);
}
.navbar-nav > li > .btn_clientpage {
	margin: 6px 3px; padding: 0 20px;
	height: 28px;
	line-height: 28px;
	background: #1764c6;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.navbar-nav > li > .btn_clientpage:hover {
	background: #1f7aef;
}
.navbar-nav > li > .btn_clientpage::before {
	display: inline-block;
	margin-right: 2px; margin-top: 1px;
	font-size: 17px; vertical-align: top;
}

.content-header>h2 {
	margin: 0;
	font-size: 24px;
}
.content-header > .breadcrumb {
	float: none;
	position: absolute;
	top: 12px;
}

/* tnb */
.main-header .navbar {
	min-height: 40px; height: 40px;
	background-color: #094ca1;
	box-shadow: inset 5px 0 15px -15px rgb(10 20 42 / 20%);
}
.pp_username a:hover, .pp_username a:focus {
	color: #fff !important;
	background: #094ca1 !important;
	text-decoration: underline !important;
	cursor: pointer;
}

.navbar-nav > li > a {
	margin-right: 15px; padding: 0;
	height: 40px;
	color: #fff; line-height: 40px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.navbar-nav > li > a:hover {
	color: #fff;
	background-color: #074176;
}
.navbar-nav > li > a:focus {
	color: #fff;
	background-color: #074176;
}
.navbar-nav > .pp_username > a::before {
	display: inline-block;
	margin-top: 1px;
	font-size: 16px; vertical-align: top;
}
[class^="ri-"], [class*=" ri-"] {
	font-family: Notokr, 'Apple SD Gothic Neo', Arial, Tahoma, sans-serif !important;
}
[class^="ri-"]::before, [class*=" ri-"]::before {
	font-family: 'remixicon' !important;
}

.ad_user_txt {
	font-size: 14px;
}
.ad_footer_logo {
	margin-top: -5px;
}

.main-sidebar {
	padding-top: 100px;
	overflow-y: auto;
	/* 파이어폭스 */
	scrollbar-width: thin;
	scrollbar-color: rgba(57,130,226,0.2)  rgba(0,0,0,0.1);
}
.main-sidebar::-webkit-scrollbar {
	width: 4px; 
	background: #fff;
}
.main-sidebar::-webkit-scrollbar-track {
	background: rgba(0,0,0,0.1);
}
.main-sidebar::-webkit-scrollbar-thumb {
	background: rgba(57,130,226,0.2);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.main-sidebar::-webkit-scrollbar-thumb:hover {
	background: rgba(57,130,226,0.4);
}

/* gnb */
.main-sidebar{
	box-shadow: 0 5px 15px rgba(10,20,42,0.2);
}
.main-sidebar {
	height: 100%;
}
.main-sidebar .mCSB_scrollTools {
	width: 8px;
}
.main-sidebar .mCS-dark-thin.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background-color: rgba(9,76,161,0.4);
}
:not(.sidebar-mini-expand-feature).sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right),
:not(.sidebar-mini-expand-feature).sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
	width: 200px;
}

.sidebar-expanded-on-hover .main-sidebar {
	background-color: #fff;
	box-shadow: 3px 0 8px rgba(0, 0, 0, 0.125);
}

.sidebar-menu {
	padding: 10px;
	white-space: normal; word-break: keep-all;
}
.sidebar-menu a {
	color: #222; font-family: inherit; font-size: 14px; font-weight: inherit;
}
.sidebar-menu > li {
	margin-bottom: 10px;
	color: #323232; font-family: NotoKr, sans-serif; 
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	overflow: hidden;
}
.sidebar-menu > li > a {
	padding: 3px 10px;
}
.sidebar-menu > li > a::before {
	display: inline-block;
	margin-top: -2px; margin-right: 6px;
	color: #c2c4bf; font-size: 20px; vertical-align: middle;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.sidebar-menu > li:hover > a {
	color: #05326c; font-weight: 500;
	background: #edf3fb;
}
/*.sidebar-menu li a:focus {
	color: #05326c; font-weight: 500;
}*/
.sidebar-menu > li:hover > a::before {
	color: #3982e2; font-weight: 400;
}
.sidebar-menu li > a > .pull-right-container {
	position: static;
	margin-left: 5px;
}
.sidebar-menu > li > a > i {
	margin-right: 6px;
	font-size: 20px; vertical-align: middle;
}
.treeview_toggle > a::after {
	content: "";
	display: inline-block;
	margin-left: 4px;
	width: 13px; height: 13px;
	vertical-align: middle;
	background: url(../../images/admin/icon_treeviewtoggle.png) no-repeat center; background-size: contain;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.treeview_toggle.menu-open > a::after {
	background-image: url(../../images/admin/icon_treeviewtoggle_on.png);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.sidebar-menu > li.menu-open {
	background: #edf3fb;
}
.sidebar-menu > li.menu-open > a:hover {
	border-radius: 0;
}
.sidebar-menu > li.menu-open > a {
	color: #05326c; font-weight: 500;
}
.sidebar-menu > li.menu-open > a::before {
	color: #3982e2; 
}

.treeview-menu {
	padding-left: 18px;
}
.sidebar-menu > li:hover > .treeview-menu {
	background: #edf3fb;
}
.treeview-menu > li {
	border-left: 1px solid #b8c3ce;
}
.treeview-menu > li:last-child {
	position: relative;
	border-left: none;
}
.treeview-menu > li:last-child::after {
	position: absolute; top: 0; left: 0;
	content: "";
	display: block;
	width: 10px; height: 17px;
	border-left: 1px solid #b8c3ce;
	border-bottom: 1px solid #b8c3ce;
}
.treeview-menu > li .fa-angle-right {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.treeview-menu > li.menu-open .fa-angle-right {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
.treeview-menu > li > a {
	padding-left: 12px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.treeview-menu > li > a:hover, .treeview-menu > li.menu-open > a {
	color: #1764c6; font-weight: 400; text-decoration: underline; 
}
.treeview-menu > li > a:hover::after, .treeview-menu > li.menu-open > a::after {
	background-image: url(../../images/admin/icon_treeviewtoggle_on.png);
}
.treeview-menu .treeview-menu {
	padding-left: 16px;
}
.treeview-menu .treeview-menu > li.menu-open > a:hover {
	color: #1764c6;
}
.main-sidebar .mCSB_inside > .mCSB_container {
	margin-right: 3px;
}

.sidebar-mini.sidebar-collapse .sidebar-menu > li > a {
	padding: 3px 0; font-size: 0; text-align: center;
}
.sidebar-mini.sidebar-collapse .sidebar-menu > li > a::before {
	margin-right: 0;
}
.sidebar-mini.sidebar-collapse .main-sidebar .mCSB_inside > .mCSB_container {
	margin-right: 0;
}


/* gnb user info */
.user-panel {
	padding: 10px 15px;
}
.user-panel > .info {
	padding-left: 15px; padding-right: 0;
}
.user-panel > .info > p {
	overflow: hidden;
	width: 150px;
	color: #222; font-size: 14px; font-weight: 500; white-space: nowrap; text-overflow: ellipsis;
}
.user-panel > .info > span {
	font-size: 12px;
	font-weight: 400;
	color: #a8a8a8;
}
.user-panel > .info > span .fa-calendar:before {
	content: "";
	display: inline-block;
	width: 16px; height: 14px;
	vertical-align: bottom;
	background: url(../../images/admin/icon_calendar.png) no-repeat center;
}

/* content */
.content {
	padding: 10px;
}
.content-wrapper {
	margin-top: 40px;
	background: #fbfbfb;
}
.fixed .content-wrapper, .fixed .right-side {
	padding-top: 0;
}

/* footer */
.main-footer .copyright {
	color: #d2d2d2; font-weight: 500;
}
.main-footer .copyright a {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.main-footer .copyright a:hover {
	color: #4d7317;
}
.pp_footer_logo {
	margin-top: -10px; 
	width: 170px;
}
.pp_footer_logo img {
	width: 100%;
}

/* 탑버튼 */
.back-to-top {
	display:none;
	position: fixed; bottom: 20px; right: 30px;
	cursor: pointer;
}

/* 로딩 */
#loading {
	display: none;
	width: 100%; height: 100%;
	position: absolute; top: 0; left: 0;
	text-align: center;
	background-color: rgba(255,255,255,0.5);
	z-index: 9999;
}
#loading_image {  
	display: block;
	margin: 0 auto;
	margin-top: -50px; margin-left: -33px;
	position: absolute; top: 50%; left: 50%;
}
#loading_image span{
	display: inline-block;
	margin-top: 10px;
	font-weight: 600; font-size: 18px;
}

@media (max-width: 991px) {
	.navbar-custom-menu .navbar-nav > li > a {
		padding-top: 0; padding-bottom: 0;
		color: #fff; line-height: 40px;
	}
	.navbar-custom-menu .navbar-nav > li > .btn_login, .navbar-custom-menu .navbar-nav > li > .btn_logout {
		line-height: 28px;
	}
	.navbar-custom-menu .navbar-nav > li > .btn_clientpage {
		padding: 0 20px;
		line-height: 30px;
	}
	.navbar-custom-menu .navbar-nav > li > .btn_log {
		padding: 0 20px;
		line-height: 26px;
	}
	.navbar-nav > .pp_username > a > i {
		left: -8px;
	}
	.content-header > .breadcrumb {
		position: relative; top: 0;
	}
}

@media only screen and (max-width:767px) {
	
	/* 레이아웃 */
	.content-wrapper {
		margin-top: 94px;
	}
	.main-header {
		height: 94px;
	}
	.main-header h1 {
		padding: 7px 0;
		width: 100%; 
		background: #fff;
		float: none;
	}
	.main-header .logo {
		margin: 0 auto;
		height: 40px;
	}
	.navbar-custom-menu .navbar-nav > li > .btn_login, .navbar-custom-menu .navbar-nav > li > .btn_logout, .navbar-custom-menu .navbar-nav > li > .btn_clientpage {
		padding: 0 8px;
		font-size: 0;
	}
	.navbar-nav > li > .btn_login::before, .navbar-nav > li > .btn_logout::before, .navbar-nav > li > .btn_clientpage::before {
		margin-right: 0;
	}
	.main-sidebar {
		padding-top: 94px;
	}
	.fixed .content-wrapper {
		margin-left: 0;
	}
	
	
	/*.main-header h1 {
		background-color: #fff;
	}
	.main-header .navbar {
		min-height: 40px;
	}
	
	.main-header .navbar .nav > li > a {
		padding: 12px 20px 7px 20px;
		font-size: 24px; line-height: 1em;
	}
	.main-header .navbar .sidebar-toggle {
		padding: 10px 20px;
		font-size: 24px; line-height: 1em;
	}*/
	
	/*.main-header .navbar .nav > li > .pp_client_link {
		padding: 10px 14px 7px 14px;
	}*/
	
}