@charset "utf-8";

/*  scrollbar */
.mCSB_horizontal.mCSB_inside > .mCSB_container{
	margin-bottom: 8px;
}

/* 모바일에서 세로방향 터치불가 fix */
.mCustomScrollbar,
.mCustomScrollbar.mCS_touch_action,
.mCustomScrollbar.mCS_touch_action .mCS-aviva.mCSB_scrollTools {
	-ms-touch-action: auto;
	touch-action: auto;
}
.mCustomScrollBox {
	-ms-touch-action: pan-x;
	touch-action: pan-x;
}
.mCustomScrollBox.mCSB_vertical_horizontal {
	-ms-touch-action: auto;
	touch-action: auto;
}
.mCustomScrollBox.mCSB_horizontal {
	-ms-touch-action: pan-y;
	touch-action: pan-y;
}

/* 브라우저 버전 알림 */
.lt-ie11 #browser_alert {
	display: block;
}
#browser_alert {
	display: none;
	position: fixed; z-index: 2000;
	padding: 10px;
	width: 100%; 
	color: #fff; font-size: 14px; line-height: 1.5em; vertical-align: middle; text-align:center; 
	background-color: #db4c3b;
}
#browser_alert a {
	color: #f9c461;
}
.browser_alert_close {
	display: inline-block; 
	margin-top: -2px; margin-left: 10px; 
	width: 13px; height: 13px; 
	font-family: sans-serif; line-height: 1.5em; vertical-align: middle; text-indent: -9999px; 
	background: url(../../images/admin/btn_close.png) no-repeat center; background-size: contain; 
	outline: none; border: none;
}


/* 텍스트 */
.ad_basic_txt {
	padding: 3px 0;
}
.ad_tip_txt {
	margin-bottom: 10px;
	font-size: 13px;
}
.ad_tip_txt span {
	margin-right: 5px;
}

/* 타이틀 */
.box-title{
	font-size: 16px;
}
.box-body .box-title {
	margin: 2px 0 12px; 
}
.ad_stit {
	padding-left: 15px; margin-top: 0;
	font-size: 15px;
}
.ad_stit span {
	display: inline-block;
	margin-left: -15px; margin-right: 5px;
	width: 5px; height: 5px;
	vertical-align: middle;
	background-color: #becd00;
}

/* 링크 */
.link_view {
	color: #337ab7;
}
.link_view i{
	margin-right: 5px; vertical-align: middle;
}
.link_file {
	color: #337ab7;
}
.link_file i{
	margin-right: 5px; vertical-align: middle;
}
.link_del {
	color: #e85c65;
	background: none;
	border: none;
}
.link_del:hover {
	color: #bd4b53;
}
.link_del i {
	display: inline-block;
	font-size: 15px; vertical-align: baseline;
}
.link_file_del {
	display: inline-block;
	width: 100px; height: 100px;
	padding: 3px 5px; margin-top: 5px;
	position: relative;
	vertical-align: top;
	background-color: #f4f4f4;
	border: 1px solid #ddd;
}
.link_file_del:hover {
	background-color: #e1e1e1;
}
.link_file_del a {
	overflow: hidden;
	display: block;
	padding-top: 75px;
	font-size: 11px; line-height: 1.2em;
	white-space: nowrap; text-overflow: ellipsis;
	background: url(../../images/admin/icon_file.png) 55% 10px no-repeat;
	background-size: 50px;
}
.link_file_del button {
	position: absolute;  top: 0; right: 0;
}

.file_thumbnail {
	display: inline-block;
	width: 100px;
	height: 100px;
	padding: 3px 5px;
	margin-top: 5px;
	position: relative;
	vertical-align: top;
	background-color: #f4f4f4;
	border: 1px solid #ddd;
}
.file_thumbnail .thumbnail_img {
	position: relative;
	width: 100%;
	height: 70px;
	overflow: hidden;
}
.file_thumbnail .thumbnail_img img {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 120%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.file_thumbnail a span {
	overflow: hidden;
	display: block;
	margin: 5px 0;
	color: #337ab7; font-size: 11px;
	white-space: nowrap; text-overflow: ellipsis;
}
.file_thumbnail button {
	position: absolute;  top: 0; right: 0;
}


/* tip box */
.tip_box1 {
	padding: 10px 10px 10px 44px;
	font-size: 13px;
	word-break: keep-all;
	background: #faf4e1 url(../../images/admin/icon_tipbox1.png) no-repeat 10px 10px;
	background-size: 24px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.tip_box2 {
	padding: 10px 10px 10px 44px;
	font-size: 13px;
	word-break: keep-all;
	background: #e4eff7 url(../../images/admin/icon_tipbox2.png) no-repeat 10px 10px;
	background-size: 24px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/* add list */
.add_list_box {
	padding: 10px 10px 4px 10px;
	font-size: 0;
	background: #f5f5f5;
	border-radius: 4px !important;
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
}
.add_list {
	position: relative;
	display: inline-block;
	margin: 0 4px 6px 0; padding: 4px 26px 4px 10px;
	width: 150px;
	color: #333; font-size: 12px; word-break: break-all;
	background: #fff;
	border: 1px solid #e1e1e1;
	border-radius: 20px;
}
.add_list button {
	position: absolute; top: 50%; right: 6px;
	padding: 0;
	width: 16px; height: 16px;
	font-size: 0; line-height: 0;
	background: url(../../images/admin/btn_del.png) no-repeat center;
	border: 0; outline: none;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}


/* loading */
.graph_box {
	position: relative;
}
.graph_box img {
	width: auto; max-width: 100%; height: auto;
}
.graph_box .boxloading {
	width: 100%; height: 100%;
	position: absolute; top: 0; left: 0;
	background: rgba(255,255,255,0.8);
}
.graph_box .boxloading img {
	width: 80px; max-width: 80%; height: 80px;
	position: absolute; top: 50%; left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* btn */
.btn_row {
	padding: 5px 0;
	position: relative;
}

.btn-xs, .btn-group-xs > .btn {
	padding: 2px 6px;
}
.btn-sm, .btn-group-sm > .btn {
	padding: 5px 9px;
	min-width: 66px;
}
.btn-md, .btn-group-md > .btn {
	padding: 6px 11px;
	min-width: 77px;
}
.btn-lg, .btn-group-lg > .btn {
	padding: 7px 13px;
	min-width: 96px;
}

.btn_arrow_circle {
	padding: 0;
	width: 22px; height: 22px;
	color: #fff; line-height: 1;
	background: #b4b4b4;
	border: none;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.btn_arrow_circle:hover, .btn_arrow_circle:focus, .btn_arrow_circle:active:focus {
	color: #fff;
	background: #8b8b8b;
	border: none;
	outline: none;
}

.btn_switch {
	position: relative;
	width: 32px; height: 12px;
	font-size: 0; line-height: 0;
	background: #e6e5e5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
	border: none;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.btn_switch:hover, .btn_switch:active, .btn_switch:focus {
	outline: none !important; 
}
.btn_switch::after {
	content: "";
	position: absolute; top: -2px; left: 0; 
	display: inline-block;
	width: 16px; height: 16px;
	background: #fff;
	border: 1px solid #ccc;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.btn_switch.on {
	background: #26509d;
}
.btn_switch.on::after {
	left: 16px;
	background: #fff;
	border: 1px solid #26509d;
}

.btn_switch2 {
	position: relative;
	width: 44px; height: 22px;
	background: #f5f5f5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
	border: none;
}
.btn_switch2::after {
	content: "";
	position: absolute; top: 3px; left: 3px; z-index: 1;
	display: inline-block;
	width: 16px; height: 16px;
	background: #d3d2d2;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.btn_switch2.on::after {
	left: 25px;
	background: #6b81aa;
}
.btn_switch2:hover, .btn_switch2:active, .btn_switch2:focus {
	outline: none !important; 
}
.btn_switch2 span {
	position: absolute; top: 10px;
	content: "";
	font-size: 0; line-height: 0;
}
.btn_switch2 .switch_on {
	left: 9px;
	width: 10px; height: 2px;
	background: #6b81aa;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.btn_switch2 .switch_on::after {
	position: absolute; top: -3px; left: -1px;  
	content: "";
	width: 4px; height: 2px;
	background: #6b81aa;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.btn_switch2 .switch_off {
	right: 7px;
	width: 10px; height: 2px;
	background: #ee5b5b;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.btn_switch2 .switch_off::after {
	position: absolute; top: 0; left: 0;  
	content: "";
	width: 10px; height: 2px;
	background: #ee5b5b;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}


.sort_btn {
	display: block;
	width: 32px;
	margin: 0 auto;
}
.sort_btn button{
	display: inline-block;
	padding: 0 2px;
	font-size: 9px; line-height: 1em; vertical-align: middle;
	border: 0; background: none;
}
.sort_btn button:hover {
	color: #ee2424;
}

/* user 배경색 클래스 추가 */
.bg-user01 {
	color: #fff !important;
	background: #5f7ca0 !important;
}
.bg-user02 {
	color: #fff !important;
	background: #6a6896 !important;
}
.bg-user03 {
	color: #fff !important;
	background: #659095 !important;
}
.bg-user04 {
	color: #fff !important;
	background: #b2b491 !important;
}

/* 부트스트랩  4.0 버젼 스타일 추가 */
.btn-secondary {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}

.btn-secondary:hover {
	color: #fff;
	background-color: #5a6268;
	border-color: #545b62;
}

.btn-secondary:focus, .btn-secondary.focus {
	box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-secondary.disabled, .btn-secondary:disabled {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
	color: #fff;
	background-color: #545b62;
	border-color: #4e555b;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}
.btn-light {
	color: #212529;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}

.btn-light:hover {
	color: #212529;
	background-color: #e2e6ea;
	border-color: #dae0e5;
}

.btn-light:focus, .btn-light.focus {
	box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-light.disabled, .btn-light:disabled {
	color: #212529;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}

.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active,
.show > .btn-light.dropdown-toggle {
	color: #212529;
	background-color: #dae0e5;
	border-color: #d3d9df;
}

.btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-light.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-dark {
	color: #fff;
	background-color: #343a40;
	border-color: #343a40;
}

.btn-dark:hover {
	color: #fff;
	background-color: #23272b;
	border-color: #1d2124;
}

.btn-dark:focus, .btn-dark.focus {
	box-shadow: 0 0 0 0.1rem rgba(52, 58, 64, 0.5);
}

.btn-dark.disabled, .btn-dark:disabled {
	color: #fff;
	background-color: #343a40;
	border-color: #343a40;
}

.btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active,
.show > .btn-dark.dropdown-toggle {
	color: #fff;
	background-color: #1d2124;
	border-color: #171a1d;
}

.btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-dark.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.1rem rgba(52, 58, 64, 0.5);
}

.btn {
	-webkit-transition: background 0.3s ease; 
	-moz-transition: background 0.3s ease; 
	-o-transition: background 0.3s ease; 
	transition: background 0.3s ease; 
}
.btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover {
	background: #034283;
	border-color: #034283;
}
.btn-primary:hover, .btn-primary.hover, .btn-primary:focus, .btn-primary:active  {
	background: #02305e;
	border-color: #02305e;
}
.btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover  {
	background: #3364c4;
	border-color: #3364c4;
}
.btn-success:hover, .btn-success.hover, .btn-success:focus, .btn-success:active {
	background: #24478c;
	border-color: #24478c;
}
.btn-info, .btn-info.disabled:hover, .btn-info[disabled]:hover  {
	background: #c5a86f;
	border-color: #c5a86f;
}
.btn-info:hover, .btn-info.hover, .btn-info:focus, .btn-info:active  {
	background: #a68d5d;
	border-color: #a68d5d;
}
.btn-danger, .btn-danger.disabled:hover, .btn-danger[disabled]:hover  {
	background: #e85c65;
	border-color: #e85c65;
}
.btn-danger:hover, .btn-danger.hover, .btn-danger:focus, .btn-danger:active  {
	background: #bd4b53;
	border-color: #bd4b53;
}
.btn-warning, .btn-warning.disabled:hover, .btn-warning[disabled]:hover  {
	background: #ffba4d;
	border-color: #ffba4d;
}
.btn-warning:hover, .btn-warning.hover, .btn-warning:focus, .btn-warning:active  {
	background: #fdaa27;
	border-color: #fdaa27;
}

.btn-outline-primary, .btn-outline-primary.disabled:hover, .btn-outline-primary[disabled]:hover {
	color: #034283;
	background-color: #fff;
	background-image: none;
	border-color: #034283;
}

.btn-outline-primary:hover, .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
	color: #034283;
	background-color: #eef5fc;
	border-color: #034283;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
	box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
	background-color: #fff;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.5);
}

.btn-outline-secondary, .btn-outline-secondary.disabled:hover, .btn-outline-secondary[disabled]:hover {
	color: #787878;
	background-color: #fff;
	background-image: none;
	border-color: #b7b7b7;
}

.btn-outline-secondary:hover, .btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
	color: #787878;
	background-color: #f2f2f2;
	border-color: #b7b7b7;
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
	box-shadow: 0 0 0 0.1rem rgba(108, 117, 125, 0.5);
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
	color: #787878;
	background-color: #fff;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.1rem rgba(108, 117, 125, 0.5);
}

.btn-outline-success, .btn-outline-success.disabled:hover, .btn-outline-success[disabled]:hover {
	color: #3364c4;
	background-color: #fff;
	background-image: none;
	border-color: #3364c4;
}

.btn-outline-success:hover, .btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
	color: #3364c4;
	background-color: #f1f5fe;
	border-color: #3364c4;
}

.btn-outline-success:focus, .btn-outline-success.focus {
	box-shadow: 0 0 0 0.1rem rgba(40, 167, 69, 0.5);
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
	background-color: #fff;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.1rem rgba(40, 167, 69, 0.5);
}

.btn-outline-info, .btn-outline-info.disabled:hover, .btn-outline-info[disabled]:hover {
	color: #a68d5d;
	background-color: #fff;
	background-image: none;
	border-color: #a68d5d;
}

.btn-outline-info:hover, .btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active,
.show > .btn-outline-info.dropdown-toggle {
	color: #a68d5d;
	background-color: #fffaf0;
	border-color: #a68d5d;
}

.btn-outline-info:focus, .btn-outline-info.focus {
	box-shadow: 0 0 0 0.1rem rgba(23, 162, 184, 0.5);
}

.btn-outline-info.disabled, .btn-outline-info:disabled {
	background-color: #fff;
}

.btn-outline-info:not(:disabled):not(.disabled):active:focus, .btn-outline-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-info.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.1rem rgba(23, 162, 184, 0.5);
}

.btn-outline-warning, .btn-outline-warning.disabled:hover, .btn-outline-warning[disabled]:hover {
	color: #f39c12;
	background-color: #fff;
	background-image: none;
	border-color: #e08e0b;
}

.btn-outline-warning:hover, .btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:not(:disabled):not(.disabled).active,
.show > .btn-outline-warning.dropdown-toggle {
	color: #212529;
	background-color: #f39c12;
	border-color: #e08e0b;
}

.btn-outline-warning:focus, .btn-outline-warning.focus {
	box-shadow: 0 0 0 0.1rem rgba(255, 193, 7, 0.5);
}

.btn-outline-warning.disabled, .btn-outline-warning:disabled {
	color: #f39c12;
	background-color: #fff;
}

.btn-outline-warning:not(:disabled):not(.disabled):active:focus, .btn-outline-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-warning.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.1rem rgba(255, 193, 7, 0.5);
}


.btn-outline-danger, .btn-outline-danger.disabled:hover, .btn-outline-danger[disabled]:hover {
	color: #e85c65;
	background-color: #fff;
	background-image: none;
	border-color: #e85c65;
}

.btn-outline-danger:hover, .btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active,
.show > .btn-outline-danger.dropdown-toggle {
	color: #e85c65;
	background-color: #fff5f6;
	border-color: #e85c65;
}

.btn-outline-danger:focus, .btn-outline-danger.focus {
	box-shadow: 0 0 0 0.1rem rgba(220, 53, 69, 0.5);
}

.btn-outline-danger.disabled, .btn-outline-danger:disabled {
	color: #e85c65;
	background-color: #fff;
}

.btn-outline-danger:not(:disabled):not(.disabled):active:focus, .btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-danger.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.1rem rgba(220, 53, 69, 0.5);
}

.btn-outline-light, .btn-outline-light.disabled:hover, .btn-outline-light[disabled]:hover {
	color: #f8f9fa;
	background-color: #fff;
	background-image: none;
	border-color: #f8f9fa;
}

.btn-outline-light:hover, .btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active,
.show > .btn-outline-light.dropdown-toggle {
	color: #212529;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}

.btn-outline-light:focus, .btn-outline-light.focus {
	box-shadow: 0 0 0 0.1rem rgba(248, 249, 250, 0.5);
}

.btn-outline-light.disabled, .btn-outline-light:disabled {
	color: #f8f9fa;
	background-color: #fff;
}

.btn-outline-light:not(:disabled):not(.disabled):active:focus, .btn-outline-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-light.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.1rem rgba(248, 249, 250, 0.5);
}

.btn-outline-dark, .btn-outline-dark.disabled:hover, .btn-outline-dark[disabled]:hover {
	color: #343a40;
	background-color: #fff;
	background-image: none;
	border-color: #343a40;
}

.btn-outline-dark:hover, .btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active,
.show > .btn-outline-dark.dropdown-toggle {
	color: #343a40;
	background-color: #f1f2f3;
	border-color: #343a40;
}

.btn-outline-dark:focus, .btn-outline-dark.focus {
	box-shadow: 0 0 0 0.1rem rgba(52, 58, 64, 0.5);
}

.btn-outline-dark.disabled, .btn-outline-dark:disabled {
	color: #343a40;
	background-color: #fff;
}

.btn-outline-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-dark.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}


/* form */
.form-control {
	padding: 6px 8px;
	border-color: #d7d7d7;
}
.form-control[name="datepicker"] {
	font-size: 12px;
}

/* form 파일추가 */
.btn_form {
	/*width: 90px;*/
	text-align: center; font-size: 13px;  color: #fff;
}
.btn_form i {
	margin-right: 5px;
	font-size: 14px; vertical-align: middle;
}
.btn_form:hover {
	color: #fff;
}
.ad_file_row {
	padding-right: 90px;
	position: relative;
}
.btn_file:hover {
	color: #fff;
}
.ad_file_row .btn_file {
	height: 100%;
	position: absolute; right: 0; top: 0;
	border-radius: 0;
}

/* input 삭제 버튼 */
.removable_input {
	position: relative;
}
.removable_input button {
	position: absolute; top: 50%; right: 8px;
	padding: 0;
	width: 18px; height: 18px;
	font-family: Arial; color: #fff; line-height: 18px;
	background: #dd4b39;
	border: 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.removable_input input {
	padding-right: 30px;
}

/* form 서치박스 */
.ad_search_row {
	padding-right: 80px;
	position: relative;
}
.btn_search:hover {
	color: #fff;
}
.ad_search_row .btn_search {
	width: 80px; height: 100%;
	position: absolute; right: 0; top: 0;
	border-radius: 0;
}

.ad_search_row.search_group {
	padding: 5px 5px 5px 110px;
	background-color: #f1f1f1;
	border: 1px solid #ddd;
}
.ad_search_row.search_group select {
	float: left;
	width: 100px;
	margin-left: -105px;
}
.ad_search_row.search_group:after {
	display: block;
	content: "";
	width: 0; height: 0;
	clear: both;
}
.ad_search_row.search_group input {
	padding-right: 90px;
}
.ad_search_row.search_group button {
	height: 34px;
	top: 5px; right: 5px;
}
.ad_search_row.search_group button.btn-sm {
	height: 30px;
	padding: 2px 10px;
}

.ad_search_row2 {
	padding-right: 80px;
	position: relative;
}
.ad_search_row2 .btn_search {
	width: 80px; height: 100%;
	position: absolute; right: 0; top: 0;
	border-radius: 0;
}

.ad_search_row2.search_group {
	padding-left: 105px;
}
.ad_search_row2.search_group select {
	float: left;
	width: 100px;
	margin-left: -105px;
}
.ad_search_row2.search_group:after {
	display: block;
	content: "";
	width: 0; height: 0;
	clear: both;
}
.ad_search_row2.search_group input {
	padding-right: 90px;
}
.ad_search_row2.search_group button {
	height: 34px;
	top: 0px; right: 0px;
}
.ad_search_row2.search_group button.btn-sm {
	height: 30px;
	padding: 2px 5px;
}

/* select2 스타일 변경 */
.select2-container {
	display: block;
}
.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.select2-container .select2-choice {
	height: 34px;
	background-image: none;
	border-color: #d7d7d7;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.select2-container .select2-choice > .select2-chosen {
	height: 34px;
	line-height: 30px;
}
.select2-container .select2-choice .select2-arrow {
	border-color: #d7d7d7;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}


/* 체크박스,라디오 */
.ad_input_row{
	display: inline-block;
	padding: 4px 3px; line-height: 1.2em;
	vertical-align: middle;
}
.check{
	position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:1px; 
	width:1px; 
	margin:-1px;
}
.check + label.check_label {
	padding-left:18px;
	height:15px; 
	display:block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	background-image:url(../../images/admin/icon_checkbox.jpg);
	vertical-align:middle;
	cursor:pointer;
}
.check:checked + label.check_label {
	background-position: 0 -15px;
}
.check:disabled + label.check_label {
	color: #999;
	background-image:url(../../images/admin/icon_checkbox_disable.jpg);
	cursor: default;
}
.check:disabled:checked + label.check_label {
	background-position: 0 -15px;
}

.radio{
	position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:1px; 
	width:1px; 
	margin:-1px; 
}
.radio + label.radio_label {
	padding-left:18px;
	height:15px; 
	display: block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	background-image:url(../../images/admin/icon_radio.jpg);
	vertical-align:middle;
	cursor:pointer;
}
.radio:checked + label.radio_label {
	background-position: 0 -15px;
}
.radio:disabled + label.radio_label {
	color: #999;
	background-image:url(../../images/admin/icon_radio_disable.jpg);
	cursor: default;
}
.radio:disabled:checked + label.radio_label {
	background-position: 0 -15px;
}
.radio.disabled_colored:disabled + label.radio_label {
	color: #333;
}
.radio.disabled_colored:disabled:checked + label.radio_label {
	background-image:url(../../images/admin/icon_radio.jpg);
}

/* tab */
.nav-tabs-custom > .nav-tabs {
	border-color: #e1e1e1;
}
.nav-tabs-custom > .nav-tabs > li.active > a {
	border-color: #e1e1e1;
}

.ad_tablist {
	display: table;
	width: auto; 
	margin-bottom: 20px;
	background: #fff;
}
.ad_tablist li {
	display: table-cell;
}
.ad_tablist li a {
	display: block;
	padding: 10px 15px;
	color: #929292;
}
.ad_tablist li a:hover {
	color: #999;
}
.ad_tablist .active a, .ad_tablist .active a:hover {
	margin-bottom: -1px;
	color: #034283 !important; font-weight: 500;
	border: 1px solid #e1e1e1;
	border-top: 3px solid #034283;
	border-bottom-color: #fff;
}
.ad_tablist .active a:hover {
	color: inherit;
	cursor: default;
}

.ad_showtab, .ad_shapetab {
	display: table;
	width: auto;
	margin-bottom: 15px;
	font-size: 15px; line-height: 1.5em;
}
.ad_showtab li, .ad_shapetab li {
	display: table-cell;
}
.ad_showtab li a, .ad_shapetab li a {
	display: block;
	min-width: 90px;
	padding: 8px 15px;
	text-align: center;
	background-color: #e7eaed;
	border: 1px solid #ddd;
}
.ad_showtab li a.on, .ad_shapetab li a.on {
	color: #fff;
	background-color: #005aab;
}
.showtab_toparea {
	position: relative;
}
.showtab_toparea .btn_area {
	position: absolute; top: 0; right: 0;
}
.showtab_toparea .btn_area .btn-sm {
	margin-top: 5px;
}

/* dot */
.dot_rec {
	display: inline-block;
	width: 4px; height: 4px;
	margin-left: 3px;
	vertical-align: middle;
	background-color: #ef4a34;
}


.input-xs {
	height: 22px;
	padding: 2px 8px;
	line-height: 22px; font-size: 12px;
}

/* 페이징 네비게이션 */
.pagination {
	margin: 10px 0;
	font-size: 0; line-height: 0;
}
.pagination > li {
	display: inline-block;
	vertical-align: middle;
}
.pagination > li > a {
	display: block;
	margin: 0 4px; padding: 0 4px;
	min-width: 20px; height: 20px;
	color: #7b7f82; font-size: 14px; line-height: 20px;
	background-color: #fff;
	border: none;
	-webkit-transition: background 0.2s;
	-moz-transition: background 0.2s;
	-o-transition: background 0.2s;
	transition: background 0.2s;
}
.pagination > li.active > a, .pagination > li > a:hover, .pagination > li.active > a:hover {
	color: #3c65c3; font-weight: 700;
	background-color: #f2f2f2;
}
.pagination > li.first > a, .pagination > li.last > a, .pagination > li.previous > a, .pagination > li.next > a {
	margin: 0;
	width: 24px; height: 24px;
	font-size: 0; line-height: 22px;
	background-repeat: no-repeat; background-position: center; background-size: contain;
	border: 1px solid #d7d7d7;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.pagination > li.first > a {
	margin-right: 5px;
	background-image: url(../../images/admin/icon_paging_first.png);
}
.pagination > li.last > a {
	margin-left: 5px;
	background-image: url(../../images/admin/icon_paging_last.png);
}
.pagination > li.previous > a {
	margin-right: 12px;
	background-image: url(../../images/admin/icon_paging_prev.png);
}
.pagination > li.next > a {
	margin-left: 12px;
	background-image: url(../../images/admin/icon_paging_next.png);
}
.pagination > li > a:focus, .pagination > li.first > a:hover, .pagination > li.last > a:hover, .pagination > li.previous > a:hover, .pagination > li.next > a:hover {
	background-color: #fff;
}
div.dataTables_wrapper div.dataTables_paginate {
	text-align: center !important;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
	margin: 14px 0 !important;
}

/* fullcalendar */
.fc-toolbar h2 {
	font-size: 20px;
}
.fc-toolbar.fc-header-toolbar {
	padding: 0; margin-bottom: 5px;
	position: relative;
}
.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
	font-size: 14px;
}

.ad_calender_topbox {
	height: 30px;
	margin-top: 10px;
	position: relative;
}
.ad_calender_topbox ul{
	display: table;
	width: auto;
}
.ad_calender_topbox li{
	display: inline-block;
	margin-left: 10px;
	line-height: 18px; font-size: 13px;
}
.ad_calender_topbox li span {
	display: block; float: left;
	width: 20px; height: 18px;
	margin-right: 5px;
}
.ad_calender_topbox li:first-child{
	margin-left: 0px;
}
.ad_calender_topbox li:nth-child(1) span{
	background: #f46c5c;
}
.ad_calender_topbox li:nth-child(2) span{
	background: #0bc45f;
}
.ad_calender_topbox .btn {
	float: right;
}

.btn_fcadd {
	width: 15px;
}
.calenter_check {
	width: 15px; height: 15px;
}

/* flexbox */
.ad_flexbox_lg, .ad_flexbox_md, .ad_flexbox_sm, .ad_flexbox_xs {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.ad_flexbox {
	margin-bottom: 20px;
}
.ad_flexbox > div {
	height: 100%;
}
.ad_flexbox .ad_counsel_rate .nav-tabs-custom {
	box-shadow: none;
}

/* summernote */
.note-editor.panel {
	margin-bottom: 0;
}

/* flex input */
.fl_group {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.fl_group * {
	min-width: 0;
}
.fl_fixed {
	flex-shrink: 0;
}
.fl_fluid {
	flex: 1;
}

/* input 에러텍스트 (플러그인) */
.error {
	display: block;
	margin-top: 2px; padding-left: 2px;
	color: #f64f2e !important; font-family: Notokr, sans-serif; font-size: 12px; text-align: left;
}

/* 첨부파일 */
.attachment_box .top {
	position: relative;
	margin-bottom: 2px;
	color: #717171; font-size: 14px; 
	background: #fbfbfb;
	border: 1px solid #d7d7d7;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.attachment_box .top .btn {
	margin: -1px 2px -1px -1px;
}
.attachment_box .ad_input_row {
	position: absolute; top: 50%; right: 10px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.attachment_box .inner {
	position: relative; z-index: 1;
	padding: 9px;
	height: 150px;
	border: 1px solid #e1e1e1;
	overflow-y: auto;
}
.addfile_info {
	position: absolute; top: 50%; left: 50%; z-index: -1;
	display: inline-block;
	padding-top: 65px;
	color: #858585; font-family: GyeonggiTitle, sans-serif; font-size: 24px; letter-spacing: -0.05em; text-align: center;
	background: url(../../images/admin/bg_noattachment.png) no-repeat top center;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.addfile_info dd span {
	display: inline-block;
	padding: 0 7px;
	color: #7793a2; font-size: 14px; letter-spacing: -0.04em;
	background: #e7eff4;
	border-radius: 5px;
}
.file_added {
	position: relative;
	margin-bottom: 10px; padding: 7px 10px 7px 30px;
	background: #fbfbfb;
	border: 1px solid #e4e4e4;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: default;
}
.file_added:last-child {
	margin-bottom: 0;
}
.file_added::before {
	position: absolute; top: 50%; left: 7px;
	content: "";
	display: inline-block;
	margin-top: -8px;
	width: 16px; height: 16px;
	vertical-align: middle;
	background-repeat: no-repeat; background-position: center;
}
.file_added.video::before {
	background-image: url(../../images/admin/icon_video.png);
}
.file_added.image::before {
	background-image: url(../../images/admin/icon_image.png);
}
.file_added.document::before {
	height: 17px;
	background-image: url(../../images/admin/icon_document.png);
}
.file_added i {
	color: #949494; font-style: normal; vertical-align: top;
}
.file_added a {
	display: block;
	word-break: break-all; white-space: nowrap; text-overflow: ellipsis;
	overflow: hidden;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.file_added a:hover {
	color: #2c5eb1;
	text-decoration: underline; 
}
.file_added span {
	display: block;
	padding-right: 27px;
	word-break: break-all; white-space: nowrap; text-overflow: ellipsis;
	overflow: hidden;
}
.file_added span + .btn_del {
	position: absolute; top: 50%; right: 7px;
	display: inline-block;
	margin-top: -10px; margin-left: -10px;
	width: 20px; height: 20px;
	font-size: 0; line-height: 0; vertical-align: top;
	background: #cccccc url(../../images/admin/btn_del2.png) no-repeat center;
	border: none; 
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.file_added .btn_del:hover {
	background-color: #b8b8b8;
}

.file_added.file_deleting {
	background-color: #fdfdfd;
	border-color: #f4f4f4;
}
.file_added.file_deleting span {
	opacity: 0.4;
}
.file_added.file_deleting::before {
	opacity: 0.4;
}
.file_added.file_deleting .btn_del {
	background-color: #fa7014;
	background-image: url(../../images/admin/btn_undo.png);
	background-position: center 42%;
}
.file_added.file_deleting .btn_del:hover {
	background-color: #ea6106;
}
.attachment_box .bottom {
	position: relative;
	margin-top: 2px; padding: 10px;
	color: #717171; font-size: 14px; 
	background: #fbfbfb;
	border: 1px solid #d7d7d7;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.attachment_box .ad_test_bar {
	margin-bottom: 0;
}
.file_volume {
	margin-top: 3px; margin-right: 5px;
	font-size: 12px; line-height: 1; text-align: right;
}
.date_added span {
	padding-right: 135px;
}
.date_added .date {
	position: absolute; top: 50%; right: 10px;
	padding: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.date_edited span {
	padding-right: 160px;
}
.date_edited .date {
	right: 35px;
}

/* 동영상 변환 */
.fileconvert_wrap .tit {
	display: block;
	margin-left: 3px; margin-bottom: 3px;
}
.fileconvert_list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 2px; padding: 10px;
	align-items: center;
	background: #fbfbfb;
	border: 1px solid #d7d7d7;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.fileconvert_list:last-child {
	margin-bottom: 0;
}
.fileconvert_list > p {
	margin-right: 1%;
	width: 40%;
	line-height: 1em; white-space: nowrap; text-overflow: ellipsis;
	flex-shrink: 0;
	overflow: hidden;
}
.fileconvert_list .ad_test_bar {
	margin-bottom: 0; margin-right: 50px;
	overflow: visible;
}
.ad_test_bar .progress_state {
	position: absolute; top: 50%; right: -50px; 
	width: 50px;
	font-size: 14px; text-align: center;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

/* summernote */
.note-editor.panel {
	margin-bottom: 0;
}

@media all and (max-width:1279px) {
	
	/* flexbox */
	.ad_flexbox_lg {
		display: block;
	}
	
}

@media all and (max-width:1200px) {
	/* flexbox */
	.ad_flexbox_md {
		display: block;
	}
}

@media all and (max-width:1024px) {
	
	/* form 서치박스 */
	.ad_search_row {
		padding-right: 0;
	}
	.ad_search_row .btn_search {
		display: block;
		margin: 5px auto;
		position: relative; top: auto; bottom: auto; right: auto;
	}
	.ad_search_row.search_group {
		padding: 5px;
	}
	.ad_search_row.search_group select {
		float: none;
		width: 100%;
		margin-left: 0px; margin-bottom: 5px;
	}
	.ad_search_row.search_group input {
		padding-right: 90px;
	}
	.ad_search_row.search_group button {
		height: 34px;
		top: 5px; right: 5px;
	}
	.ad_search_row.search_group button.btn-sm {
		height: 30px;
		padding: 2px 10px;
	}
	
	.ad_search_row2 {
		padding-right: 0;
	}
	.ad_search_row2 .btn_search {
		display: block;
		margin: 5px auto;
		position: relative; top: auto; bottom: auto; right: auto;
	}
	.ad_search_row2.search_group {
		padding: 5px;
	}
	.ad_search_row2.search_group select {
		float: none;
		width: 100%;
		margin-left: 0px; margin-bottom: 5px;
	}
	.ad_search_row2.search_group input {
		padding-right: 90px;
	}
	.ad_search_row2.search_group button {
		height: 34px;
		top: 5px; right: 5px;
	}
	.ad_search_row2.search_group button.btn-sm {
		height: 30px;
		padding: 2px 10px;
	}
	
	/* loading */
	.graph_box .boxloading img {
		width: 60px; height: 60px;
	}
	
	
	
}

@media all and (max-width:992px) {
	/* flexbox */
	.ad_flexbox_sm {
		display: block;
	}
}

@media all and (max-width:767px) {
	
	/* 페이징 네비게이션 767 */
	.pagination > li > a {
		margin: 0 5px;
	}
	.pagination > li.first > a, .pagination > li.last > a, .pagination > li.previous > a, .pagination > li.next > a {
		width: 25px; height: 25px;
	}
	.pagination > li.first > a {
		margin-right: 3px;
	}
	.pagination > li.last > a {
		margin-left: 3px;
	}
	.pagination > li.previous > a {
		margin-right: 10px;
	}
	.pagination > li.next > a {
		margin-left: 10px;
	}
	
	/* flexbox */
	.ad_flexbox_xs {
		display: block;
	}

	/* 동영상 변환 767 */
	.fileconvert_list {
		display: block;
	}
	.fileconvert_list > p {
		margin-bottom: 8px;
		width: 100%;
		line-height: 1.2em; white-space: normal; 
		overflow: visible;
	}
	.fileconvert_list .ad_test_bar {
		margin-right: 40px;
		width: auto;
	}
	.ad_test_bar .progress_state {
		right: -40px;
		width: 40px;
	}
	
	
}

@media all and (max-width:480px) {
	
	/* flex input 480 */
	.fl_rpgroup {
		display: block;
	}
	.fl_rpgroup .fl_fixed {
		margin-left: 0 !important; margin-right: 0 !important; margin-bottom: 5px;
	}
	
}

/* 별점 */
/* .star_rating { */
/* 	display: table; */
/* 	width: auto; */
/* 	padding: 5px 10px; margin-bottom: 5px; */
/* 	font-size: 0; line-height: 0; */
/* 	background-color: #f9f7f5; */
/* 	border: 1px solid #cdc9c6; */
/* 	border-radius: 30px; */
/* 	-webkit-border-radius: 30px; */
/* 	-moz-border-radius: 30px; */
/* } */
/* .star_rating span { */
/* 	display: inline-block; */
/* 	margin-left: 8px; */
/* 	font-size: 15px; letter-spacing: 0; color: #999999; */
/* 	line-height: 1em; */
/* } */
.star_rating span:hover{
	cursor: pointer;
}
.star_rating span:first-child {
	margin-left: 0;
}
.star_rating span.on {
	color: #bba078;
}


